<% # container for a single doc -%>
<div class="document">
    <% if entry.nil? %>
    <p>Error: couldn't retrieve model object from database.</p>
    <% else %>
    <dl class="document-metadata document-show-heading dl-horizontal dl-invert">
        <dt></dt><dd class="h4"><%= link_to entry.public_id, entry_path(entry) %></dd>
    </dl>
    <% if !entry.approved %>
        <div class="panel panel-warning">
            <div class="panel-heading">Warning: This record is not yet approved and may not conform to standards for data structure or accuracy.</div>
        </div>
    <% end %>
    <dl class="document-metadata dl-horizontal dl-invert">
        <% manuscripts_str = render partial: "shared/entry_manuscripts", locals: { entry: entry } %>
        <% if manuscripts_str.present? %>
        <dt></dt>
        <dd>
            <%= manuscripts_str %>
        </dd>
        <% end %>

      <dt>Source</dt>
      <dd>
            <%= link_to entry.source.display_value, source_path(entry.source) %> (<%= entry.source.source_type.display_name %>)
        </dd>

        <% if entry.catalog_or_lot_number.present? %>
      <dt>Cat./Lot #</dt>
      <dd><%= entry.catalog_or_lot_number %></dd>
        <% end %>

        <% if entry.institution.present? %>
      <dt>Institution/Collection</dt>
      <dd><%= entry.institution %></dd>
        <% end %>
        
        <% if (sale = entry.get_sale).present? %>

          <% if (selling_agent = sale.get_selling_agent).present? %>
          <dt>Selling Agent</dt>
          <dd><a href="<%= agent_path(selling_agent.agent) %>"><%= selling_agent.agent.name %></a></dd>
          <% end %>

          <% if (seller_or_holder = sale.get_seller_or_holder).present? %>
          <dt>Seller</dt>
          <dd><a href="<%= agent_path(seller_or_holder.agent) %>"><%= seller_or_holder.agent.name %></a></dd>
          <% end %>

          <% if (buyer = sale.get_buyer).present? %>
          <dt>Buyer</dt>
          <dd><a href="<%= agent_path(buyer.agent) %>"><%= buyer.agent.name %></a></dd>
          <% end %>

        <% end %>

        <% if entry.entry_titles.length > 0 %>
      <dt>Titles</dt>
        <dd>
        <% entry.entry_titles.each do |entry_title| %>
          <%= entry_title.title %> <% if entry_title.common_title.present? %>[<%= entry_title.common_title %>]<% end %><br/>
        <% end %>
        </dd>
        <% end %>

        <% if entry.entry_authors.length > 0 %>
        <dt>Authors</dt>
        <dd>
        <% entry.entry_authors.each do |entry_author| %>
          <% if entry_author.observed_name.present? %>
            <%= entry_author.observed_name %>
            <% if entry_author.role %>(<%= entry_author.role %>)<% end %>
            <% if entry_author.author %>
            (<%= link_to entry_author.author.name, name_path(entry_author.author) %>)
            <% end %>
          <% elsif entry_author.author %>
            <%= link_to entry_author.author.name, name_path(entry_author.author) %>
            <% if entry_author.role %>(<%= entry_author.role %>)<% end %>
          <% end %>
          <br/>
        <% end %>
        </dd>
        <% end %>

        <% if entry.entry_dates.length > 0 %>
        <dt>Dates</dt>
        <dd>
        <% entry.entry_dates.each do |entry_date| %>
          <%= entry_date.display_value %><br/>
        <% end %>
        </dd>
        <% end %>

        <% if entry.entry_places.length > 0 %>
        <dt>Places</dt>
        <dd>
        <% entry.entry_places.each do |entry_place| %>
          <%= entry_place.display_value %><br/>
        <% end %>
        </dd>
        <% end %>

        <% if entry.folios.present? %>
        <dt>Folios</dt>
        <dd>
            <%= entry.folios %>
        </dd>
        <% end %>

        <% if (provenance_count = entry.provenance.length) > 0 %>
        <dt>Provenance Info</dt>
        <dd>
            This entry has <%= provenance_count %> provenance records involving:<br/>
            <% entry.unique_provenance_agents.each do |unique_provenance_agent| %>
                <% if unique_provenance_agent[:agent].present? %>
                <a href="<%= url_for unique_provenance_agent[:agent] %>"><%= unique_provenance_agent[:agent] %></a>
                <% else %>
                  <%= unique_provenance_agent[:name] %>
                <% end %>
                <br/>
            <% end %>
        </dd>
        <% end %>

        <dt></dt>
        <dd><%= link_to "View complete record...", entry_path(entry) %></dd>
    </dl>
    <% end %>

</div>