<% content_for :breadcrumbs do %>
    <li class="breadcrumb list-group-item active">
      <a href="/bookmarks">Bookmarks</a>
    </li>
<% end %>

<div class="row">
  <div class="col-sm-8">
    <h2 class="h2">My Bookmarks
    </h2>
    <p>This page shows the <b>Entries</b>, <b>Sources</b>, <b>Manuscript Records</b>, and <b>Name Authority Records</b> you have bookmarked. You can tag records with keywords by clicking on the "Add Tag" button at the bottom of each Bookmark display. Your tags will also appear in your dashboard for easy retrieval of tagged records.</p>
    <h5>How to create a Bookmark:</h5>
    <ol>
      <li>
        Click the Bookmark icon where it appears in an <b>Entry</b>, <b>Source</b>, <b>Manuscript Record</b>, or <b>Name Authority Record</b>.
      </li>
      <li>
        To view your bookmarks, click the <b>Bookmarks</b> icon in the top-horizontal navigation bar. You must be logged in to view your bookmarks.
      </li>
    </ol>
  </div>
  <div class="col-sm-4 text-right">
    <div class="form-inline clearfix navbar-form">
      <h3>Filter By Tag</h3>
      <span class="input-group">
        <input type="text" class="form-control" name="tag-search" placeholder="Filter By Tag..." size=12 ng-model="tagSearch" ng-keyup="$event.keyCode == 13 && searchTag(tagSearch)">
        <a href="" class="input-group-addon" ng-click="searchTag('')"><span>Clear</span></a>
      </span>
    </div>
  </div>
</div>
<% @bookmarks_sorted.each do |category, bookmarks| %>
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading" data-toggle='collapse' href='#<%= category %>_bookmarks'>
        <span class='h3'><%= category.pluralize %> <span class="caret"></span></span>
      </div>
      <div class="panel-body collapse in" id="<%= category %>_bookmarks">
        <% bookmarks.each do |bookmark| %>
          <p>
            <% details = bookmark.document.bookmark_details %>
            <% details.each do |key, value| %>
              <dl class="document-metadata dl-invert dl-horizontal">
                <dt><%= key %></dt>
                <dd><%= value %></dd>
              </dl>
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>