<% name = @name %>
<% bookmark = @bookmark %>
<% if name == "Entry" %>
  <% entry = Entry.find(bookmark[:document_id]) %>
  <%= render partial: "bookmarks/show_entry", locals: {entry: entry} %>
<% elsif name == "Name" %>
  <% nm = Name.find(bookmark[:document_id]) %>
  <%= render partial: "shared/name_main", locals: {name: nm} %>
<% elsif name == "Source" %>
  <% src = Source.find(bookmark[:document_id]) %>
  <%= render partial: "sources/source_details", locals: {source: src, abbreviate: true} %>
<% elsif name == "Manuscript" %>
  <% manuscript = Manuscript.find(bookmark[:document_id]) %>
  <%= render partial: "bookmarks/show_manuscript", locals: {manuscript: manuscript} %>
<% else %>
  <%= bookmark[:show] %></p>
<% end %>