<%= form_tag({:controller => "activities", :action => "index"}, :method => "get") do %>
<br>
<div class="row">
    <div class="col-sm-10">
        <div class="form-inline">
            <div class="form-group">
                <%= text_field 'users[username]', "", class: 'form-control', placeholder: 'Username...',value: (params[:users][:username] if params[:users] ) %>            
                <%= select_tag :event, options_for_select([['Action', ''], ['Edit', 'update'], ['Add', 'create'], ['Delete', 'destroy']], params[:event]), class: 'form-control', placeholder: 'Event' %>
                <%= select_tag :item_type, options_for_select([['Type', ''], 'Entry', 'Name', 'Source', 'Language', 'Place', 'Manuscript', 'DericciGame'], params[:item_type]), class: 'form-control', placeholder: 'Record Type'%>
                <%= date_field :start_date, "", class: 'form-control', value: params[:start_date] || (Date.today - 100.years).to_s %> to 
                <%= date_field :end_date, "", class: 'form-control', value: params[:end_date] || (Date.today + 1.day).to_s %>            
            </div>
        </div>
    </div>
    <div class="col-sm-2 text-right">
        <div class="input-group">
            <%= submit_tag "Filter", class: 'form-control' %>
            <span class="input-group-btn">
                <%= link_to "Clear", activities_path, class: "btn btn-warning" %>
            </span>
        </div>
    </div>
</div>
<br>
<% end %>

<%= render partial: "activities/summary", locals: {summary: @summary} %>

<div class="row">
    <div class="col-sm-12 text-center">
        <ul class="pagination">
            <% first = [@page - 3, 2].max %>
            <% last = [@page + 3, @num_pages].min %>
            <li class="<%= 'active' if @page == 1 %>"><%= link_to "First", params.merge(:page => 1) %></li>
            <% if @page > 4 %>
                <li><a class="disabled text-muted">...</a></li>
            <% end %>
            <% (last - first).times do |i| %>
                <li class="<%= first + i == @page ? 'active' : '' %>">
                    <%= link_to first + i, params.merge(:page => first + i) %>
                </li>
            <% end %>
            <% if @page < @num_pages - 3 %>
                <li><a class="disabled text-muted">...</a></li>
            <% end %>
            <li class="<%= 'active' if @page == @num_pages %>"><%= link_to "Last", params.merge(:page => @num_pages) %></li>
        </ul>
    </div>
</div>

<ul id='activity' class='list-group list-group-no-border'>
    <%= render partial: "activities/list" %>
</ul>