<nav class="thredded--navigation">
  <ul class="thredded--user-navigation<%= ' thredded--user-navigation-standalone' if Thredded.standalone_layout? %>">
    <% if signed_in? && Thredded.standalone_layout? %>
      <li class="thredded--user-navigation--profile thredded--user-navigation--item">
        <%= link_to thredded_current_user.thredded_display_name, user_path(thredded_current_user) %>
      </li>
    <% end %>


    <% if Thredded.standalone_layout? %>
      <%= render 'thredded/shared/nav/standalone' %>
    <% end %>
  </ul>
  <% if content_for? :thredded_main_navigation %>
    <%= render partial: 'dashboard/header' %>
    <%= yield :thredded_main_navigation %>
  <% else %>
    <div class="thredded--main-navigation">
      <% if current_user %>
        <%= render partial: 'dashboard/header' %>
      <% end %>
      <div class="row thredded-nav">
        <div class="col-sm-4">
          <%= yield :thredded_breadcrumbs %>
        </div>
        <div class="col-sm-4 text-center">          
          <%= render 'thredded/shared/nav/moderation' %>
          <a href="#code" data-target="#code" data-toggle="modal" class="btn btn-default"><span class="glyphicon glyphicon-question-sign"></span></a>
          <div class="modal fade" id="code">
            <div class="modal-dialog modal-lg ">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="text-center">Welcome to the SDBM Forum!</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute; top: 10px; right: 10px;"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-left">
                  <p>This space promotes collaboration and conversation between all SDBM users. By using the SDBM Forum, you agree that you have read and will follow this Code of Conduct. The SDBM staff reserves the right to suspend or terminate membership in this community for anyone who violates these rules.</p>
                  <p><strong>Use this Forum to:</strong></p>
                  <ul>
                    <li>Ask for technical help</li>
                    <li>Submit research queries to the user community</li>
                    <li>Promote your SDBM-related research</li>
                    <li>Read the latest news and announcements about the SDBM</li>
                  </ul>
                  <p><strong>Forum Code of Conduct</strong></p>
                  <ul>
                    <li>Be respectful at all times.</li>
                    <li>Do not post any defamatory, abusive, profane, threatening, offensive, or illegal content.</li>
                    <li>Do not attack or insult other users when participating in the Forum. Comments are meant to enhance data and stimulate conversation. They are not meant for personal arguments.</li>
                    <li>Use caution when making contributions. Posts are available for the world to see, and are subject to libel, slander, and antitrust laws.</li>
                    <li>Do not post any sensitive information, or information that could impact your privacy.</li>
                    <li>Users who post spam will have their posts removed and their user accounts suspended.</li>
                    <li>Posts should not include images or videos, or any content other than text.</li>
                    <li>Do not copy or plagiarize other users’ posts without crediting the user.</li>
                    <li>In the Help Messageboard, create a new topic when you need help. Do not post your question in existing threads created by other SDBM users. If you don’t post a new question, your question may not be answered.</li>
                    <li>Follow all other SDBM user policies as described in the SDBM User Agreement.</li>
                  </ul>
                  <p><strong>Contact Information</strong></p>
                  <p>If you have any questions or concerns or need further information, please contact us by email at <a href="mailto:sdbm@upenn.edu">sdbm@upenn.edu</a> or call Lynn Ransom, Project Director, @ 215-898-7851.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 text-right">
          <%= render 'thredded/search/form', messageboard: messageboard_or_nil %>
        </div>
      </div>
    </div>
  <% end %>
</nav>
