    </ul>
  </div>
</div>
<div class="panel panel-default show-tools">
  <div class="panel-heading">
    <span class='h4'>Manage</span>
  </div>
  <div class="panel-body">
    <ul class="nav">
      <li><%= link_to "Entries", entries_path %></li>
      <li><%= link_to "Sources", sources_path %></li>
      <li><%= link_to "Manuscripts", manuscripts_path %></li>
      <li><%= link_to "Comments", comments_path %></li>
    <% if current_user.role != "contributor" %>
      <li><%= link_to "Names", names_path %></li>
      <% if current_user.role == 'admin' %>
        <li><%= link_to "Places", places_path %></li>
        <li><%= link_to "Languages", languages_path %></li>
        <li><%= link_to "Users", accounts_path %></li>
        <li><%= link_to "Pages & Tooltips", pages_path %></li>
      <% end %>
    <% end %>
  </ul>
</div>
