    </ul>
  </div>
</div>
<div class="panel panel-default show-tools">
  <div class="panel-heading">
    <span class='h4'>Manage</span>
  </div>
  <div class="panel-body">
    <ul class="nav">
      <li>
        <%= link_to(entries_path) do %>
        <span class="glyphicon glyphicon-th"></span> Entries
        <% end %>
      </li>
      <li>
        <%= link_to(sources_path) do %>
        <span class="glyphicon glyphicon-th-large"></span> Sources
        <% end %>
      </li>
      <li>
        <%= link_to(manuscripts_path) do %>
        <span class="glyphicon glyphicon-th"></span> Manuscripts
        <% end %>
      </li>
      <li>
        <%= link_to(comments_path) do %>
        <span class="glyphicon glyphicon-th-large"></span> Comments
        <% end %>
      </li>
      <% if can? :manage, Name %>
      <li>
        <%= link_to(names_path) do %>
        <span class="glyphicon glyphicon-th"></span> Names
        <% end %>
      </li>
      <% end %>      
      <% if can? :manage, Place %>
      <li>
        <%= link_to(places_path) do %>
        <span class="glyphicon glyphicon-th-large"></span> Places
        <% end %>
      </li>
      <% end %>
      <% if can? :manage, Language %>      
      <li>
        <%= link_to(languages_path) do %>
        <span class="glyphicon glyphicon-th"></span> Languages
        <% end %>
      </li>
      <% end %>
      <% if can? :manage, User %> 
      <li>
        <%= link_to(accounts_path) do %>
        <span class="glyphicon glyphicon-th-large"></span> Users
        <% end %>
      </li>
      <% end %>
      <% if can? :manage, Page %> 
      <li>
        <%= link_to(pages_path) do %>
        <span class="glyphicon glyphicon-tasks"></span> Pages & Tooltips
        <% end %>
      </li>
      <% end %>