<% content_for :control_tools do %>
    <%= render partial: 'control_tools' %>
<% end %>

<%= stylesheet_link_tag "extras", media: "all" %>
<% @page_title = "Dashboard - " + application_name %>

<%= render partial: "header" %>

<div class="row">
    <div class="col-sm-12">
        <div class="tab-content">
            <div id="my_activity" class="tab-pane fade in active">
                <% if (drafts = current_user.entries.where(draft: true)).count > 0 %>
                    <%= render partial: "drafts", locals: {drafts: drafts} %>
                <% end %>
                <%= render partial: "my_entries" %>
                <%= render partial: "my_sources" %>                        
                <%= render partial: "my_manuscripts" %>                
            </div>
        </div>
    </div>
</div>