<h2>Welcome, <%= current_user.username %>!</h2>

<p class="lead">This is your dashboard page, from which you can do some Very Useful Things.</p>

<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">Stuff you can do</div>
            <div class="panel-body">
                <p><a href="<%= new_entry_path %>">Enter new records</a></p>
                <p><a href="<%= admin_search_path %>">Admin search interface</a></p>
                <p><a href="<%= reports_path %>">Reports</a></p>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">Manage other data</div>
            <div class="panel-body">
                <p><a href="#TODO">Manage Sources (TODO)</a></p>
                <p><a href="#TODO">Manage Names (TODO)</a></p>
                <p><a href="<%= languages_path %>">Manage Languages</a></p>
                <p><a href="<%= places_path %>">Manage Places</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">Entries You've Contributed</div>
            <div class="panel-body">
                <% num_entries = current_user.entries.count %>
                <% if num_entries > 0 %>
                <% num_entries_to_show = 5 %>
                <% entries = current_user.entries.most_recent(num_entries_to_show) %>
                <p>You've contributed <%= num_entries %> entries to date. The last <%= entries.count %> entries you created:</p>

                <table class="table">
                    <% entries.each do |entry| %>
                    <tr class="row">
                        <td class="col-sm-10"><a href="<%= entry_path(entry) %>"><%= entry.public_id %></a>: <%= entry.entry_titles.map(&:title).join("; ") %>
                          <% if !entry.approved %><em>(pending approval)</em><% end %>
                        </td>
                        <td class="col-sm-2"><a href="<%= edit_entry_path(entry) %>">edit</a></td>
                    </tr>
                    <% end %>
                </table>

                <% else %>

                <p>You haven't contributed any entries yet.</p>
                <% end %>
            </div>
        </div>

        <% num_sources = current_user.sources.count %>
        <% if num_sources > 0 %>
        <% num_sources_to_show = 5 %>
        <% sources = current_user.sources.most_recent(num_sources_to_show) %>
        <div class="panel panel-default">
            <div class="panel-heading">Sources You've Contributed</div>
            <div class="panel-body">
                  <p>You've contributed <%= num_sources %> sources to date. The last <%= sources.count %> sources you created:</p>

                  <table class="table">
                      <% for source in sources %>
                      <tr class="row">
                          <td class="col-sm-9"><a href="<%= source_path(source) %>"><%= source.public_id %></a>: <%= source.display_value %></td>
                          <td class="col-sm-1"><a href="<%= edit_source_path(source) %>">edit</a></td>
                          <td class="col-sm-2"><a href="<%= new_entry_path(source_id: source) %>">add an entry</a></td>
                      </tr>
                      <% end %>
                  </table>
            </div>
        </div>
        <% end %>
    </div>
</div>
    

