<% @page_title = "Dashboard - " + application_name %>

<% is_contributor = current_user.role == 'contributor' %>
<% possessive = is_contributor ? "Your" : "" %>

<h1>
    Welcome, <%= link_to current_user.username, profile_path(current_user.username) %>!
    <small class='text-info'>(<%= current_user.role %>)</small>
</h1>

<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-heading">Data Entry Tasks</div>
            <div class="panel-body">
                <p><a href="<%= new_entry_path %>">Add New Entry</a></p>
                <p><a href="<%= entries_path %>">Manage <%= possessive %> Entries</a>
                    <% if can? :manage, Entry %>
                        <% if (unapproved_count = Entry.where(approved: false).count) > 0 %>
                            <br/>(<span style="color: red;"><%= unapproved_count %> unapproved</span>)
                        <% end %>
                    <% end %>
                </p>
                <p><a href="<%= sources_path %>">Manage <%= possessive %> Sources</a>
                    <%= render partial: "unreviewed_count", locals: { model_class: Source } %>
                </p>
                <p><a href="<%= manuscripts_path %>">Manage <%= possessive %> Manuscripts</a>
                    <%= render partial: "unreviewed_count", locals: { model_class: Manuscript } %>
                </p>
                <p><a href="<%= comments_path %>">Manage <%= possessive %> Comments</a>
                    <%= render partial: "unreviewed_count", locals: { model_class: Comment } %>
                </p>
            </div>
        </div>
        <% if can?(:manage, EntryManuscript) || can?(:manage, Name) || can?(:manage, Language) || can?(:manage, Place) || can?(:manage, User) %>
        <div class="panel panel-default">
            <div class="panel-heading">Admin</div>
            <div class="panel-body">
                <p><a href="<%= entry_manuscripts_path %>">Manage Links</a>
                    <%= render partial: "unreviewed_count", locals: { model_class: EntryManuscript } %>
                </p>
                <p><a href="<%= names_path %>">Manage Names</a>
                    <%= render partial: "unreviewed_count", locals: { model_class: Name } %>
                </p>
                <p><a href="<%= languages_path %>">Manage Languages</a>
                    <%= render partial: "unreviewed_count", locals: { model_class: Language } %>
                </p>
                <p><a href="<%= places_path %>">Manage Places</a>
                    <%= render partial: "unreviewed_count", locals: { model_class: Place } %>
                </p>
                <% if can? :manage, User %>
                <p><a href="<%= accounts_path %>">Manage Users</a>
                    <%= render partial: "unreviewed_count", locals: { model_class: User } %>
                </p>
                <% end %>

                <p><a href="<%= activities_path %>">Recent Activity</a></p>
            </div>
        </div>
        <% end %>
        <div class="panel panel-default">
            <div class="panel-heading">Help</div>
            <div class="panel-body">
                <p><a href="/static/docs/sdbm_data_model_explanation.pdf">New Data Model Explanations (PDF)</a></p>
                <p><a href="/static/docs/sdbm_data_definitions.pdf">Data Definitions (PDF)</a></p>
                <p><a href="/static/docs/sdbm_user_manual.pdf">User Manual (PDF)</a></p>
                <p><a href="https://www.youtube.com/channel/UCsVZp-1724xPIW8MwIdKoyg">Video Tutorials</a></p>
                <p>Questions or comments, email us at <a href="mailto:sdbm@pobox.upenn.edu">sdbm@upenn.edu</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading">Entries You've Contributed</div>
            <div class="panel-body">
                <% num_entries = current_user.entries.count %>
                <% num_entries_needing_approval = current_user.entries.where(approved: false).count %>
                <% if num_entries > 0 %>
                <% num_entries_to_show = 5 %>
                <% entries = current_user.entries.most_recent(num_entries_to_show) %>
                <p>You've contributed <a href="<%= entries_path %>"><%= num_entries %> entries</a> to date<% if num_entries_needing_approval > 0 %> (<%= num_entries_needing_approval %> of them <%= num_entries_needing_approval > 1 ? "are" : "is" %> not yet approved)<% end %>. The last <%= entries.count %> entries you created:</p>

                <table class="table">
                    <% entries.each do |entry| %>
                    <tr class="row">
                        <td class="col-sm-11">
                            <!--
                            <% if entry.approved %><a href="<%= entry_path(entry) %>"><%= entry.public_id %></a><% else %><%= entry.public_id %><% end %>:
                            <%= entry.display_value %>
                            JIRA(sdbm-176) -->
                            <a href="<%= entry_path(entry) %>"><%= entry.public_id %></a>:
                            <% if !entry.approved %><em>(pending approval)</em><% end %>
                            <%= entry.display_value %>
                        </td>
                        <td class="col-sm-1"><a href="<%= edit_entry_path(entry) %>">edit</a></td>
                    </tr>
                    <% end %>
                    <% if num_entries > 5 %>
                    <tr class="row">
                        <td class="col-sm-11">
                            <a href="<%= entries_path %>">View more...</a>
                        </td>
                        <td class="col-sm-1"></td>
                    </tr>
                    <% end %>
                </table>

                <% else %>

                <p>You haven't contributed any entries yet.</p>
                <% end %>
            </div>
        </div>

        <% num_sources = current_user.sources.count %>
        <% if num_sources > 0 %>
        <% num_sources_to_show = 5 %>
        <% sources = current_user.sources.most_recent(num_sources_to_show) %>
        <div class="panel panel-default">
            <div class="panel-heading">Sources You've Contributed</div>
            <div class="panel-body">
                  <p>You've contributed <%= num_sources %> sources to date. The last <%= sources.count %> sources you created:</p>

                  <table class="table">
                      <% sources.each do |source| %>
                      <tr class="row">
                          <td class="col-sm-9"><a href="<%= source_path(source) %>"><%= source.public_id %></a>: <%= source.display_value %></td>
                          <td class="col-sm-1"><a href="<%= edit_source_path(source) %>">edit</a></td>
                          <td class="col-sm-2"><a href="<%= new_entry_path(source_id: source) %>">add an entry</a></td>
                      </tr>
                      <% end %>
                  </table>
            </div>
        </div>
        <% end %>

        <% comments = Comment.with_entries_belonging_to(current_user).limit(5) %>
        <% if comments.count > 0 %>
        <div class="panel panel-default">
            <div class="panel-heading">Comments on Your Activity</div><!-- fix me: rename... maybe? -->
            <div class="panel-body">
                  <table class="table">
                      <% comments.each do |comment| %>
                      <% entry = comment.entry %>
                      <tr class="row">
                          <td class="col-sm-12">
                              <a href="<%= url_for entry %>"><%= entry.public_id %></a>: <%= entry.display_value %><br/>
                              <div style="margin-left: 3em;">
                                  <a href="<%= profile_path comment.created_by.username %>"><%= comment.created_by %></a> posted a comment on <%= comment.created_at.to_formatted_s(:date_and_time) %>:<br/>
                                  <%= comment.comment.truncate(80) %>
                              </div>
                          </td>
                      </tr>
                      <% end %>
                  </table>
            </div>
        </div>
        <% end %>
        <!-- recent activity -->
        <% @activities = Activity.where(user_id: current_user.id).last(10).reverse %>
        <% if @activities && @activities.count > 0 %>
            <div class="panel panel-default">
                <div class="panel-heading">Your Recent Activity</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <%= render partial: "activities/more" %>                       
                    </ul>
                    <div class="text-center"><%= link_to "See More...", activities_path('users[username][]' => current_user.username) %></div>
                </div>
            </div>
        <% end %>
    </div>
</div>
    

