<%# Partial used to display name details for both Names generically and Agents (which are Names) %>

<% content_for :breadcrumbs do %>
    <% if can? :manage, User %>
        <li class=" ">
            <a href="/accounts">Manage Accounts</a>
        </li>
    <% else %>
        <li class="breadcrumb">
            <a href="/community">Community</a>
        </li>
    <% end %>
        <li class="  active"><a href=""><%= @user %></a></li>
<% end %>

<% if can? :manage, User %>
<% content_for :control_tools do %>
    <% if user_signed_in? %>
        <% if can?(:edit, @user) %>
            <li class="edit_name">
                <a href="<%= edit_account_path(@user) %>">Edit User: <%= @user.username %></a>
            </li>
        <% end %>
    <% end %>
<% end %>
<% end %>


<div class="row">
    <div class="col-sm-4">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-4">
                        <div class="panel panel-default text-center" style="margin: 0px;">
                            <div class="panel-body"><span class="glyphicon glyphicon-user"></span></div>
                        </div>
                    </div>
                    <div class="col-xs-8">
                        <%= render partial: "shared/username_with_profile_link", locals: {user: @user} %><br>
                        <span class="text-muted">User Level: <em><%= @user.role %></em></span>
                    </div>
                </div>
            </div>
        </div>

        <p class="text-info"><%= @display[:email] %></p>
        <p class="text-muted"><%= @display[:biography] %></p>
        <strong><%= @display[:institution] %></strong>
        <div class='text-center text-muted' style="border-top: 1px solid #ddd; margin-top: 8px; padding-top: 8px;">
            <span class="glyphicon glyphicon-time"></span> Last Active <%= @display[:last_seen] %>
        </div>

    </div>
    <div class="col-sm-8">
        <ul class="ajax-tabs nav nav-tabs custom-tabs">
            <li class='active'><a data-toggle='tab' href="#contributions">Contributions</a></li>
            <li><a data-toggle='tab' href="#activity" href="">Activity</a></li>
        </ul>

        <div class="tab-content">
            <div id="activity" class="tab-pane fade">
                <%= render partial: "activities/show_all", locals: {collapsed: true} %>
            </div>
            <div class="tab-pane fade in active" id="contributions">
                <%= render partial: "tiles", locals: {records: @user.entries.last(10).reverse } %>
            </div>
        </div>
    </div>
</div>