
<h1><%= @user.username %></h1>

<p>(TODO: this is the public profile page for users, which will show
gamified statistics, the user's role, and other public info.)</p>
    
<p>Role: <%= @user.role.capitalize %></p>

<p>Email: <% if @user.email_is_public %><%= mail_to @user.email %><% else %>(Private)<% end %></p>

<% if @user.bio.present? %>
<p>Bio: <%= @user.bio %></p>
<% end %>

<p>This user has contributed:</p>

<ul>
    <li><%= Source.where(created_by: @user).count %> sources</li>
    <li><%= Entry.where(created_by: @user).count %> entries</li>
    <li><%= EntryComment.where(created_by: @user).count %> comments</li>
    <li>etc.
</ul>
