
<h1>User Profile</h1>

<dl class="dl-horizontal dl-invert">
    <dt>Username</dt>
    <dd>
        <%= @user.username %>
    </dd>
    <dt>Name</dt>
    <dd>
        <%= @user.fullname || "(None)" %>
    </dd>
    <dt>Role</dt>
    <dd>
        <%= @user.role.capitalize %>
    </dd>
    <dt>Email</dt>
    <dd>
        <% if @user.email_is_public %><%= mail_to @user.email %><% else %>(Private)<% end %>
    </dd>
    <dt>Bio</dt>
    <dd>
        <%= @user.bio || "N/A" %>
    </dd>
    <dt>Contributions</dt>
    <dd>
        <%= Source.where(created_by: @user).count %> sources<br/>
        <a href="<%= search_advanced_url(created_by: @user.to_s) %>"><%= Entry.where(created_by: @user).count %> entries</a><br/>
        <%= Comment.where(created_by: @user).count %> comments
        <% if (num_corrections = Comment.where(created_by: @user, is_correction: true)).count > 0 %>
            (<%= num_corrections %> of which are corrections to entries)
        <% end %><br/>
        </ul>
    </dd>
</dl>
