<%# Partial used to display name details for both Names generically and Agents (which are Names) %>
<div class="row">
    <% if current_user.role == 'admin' %>
    <div class="col-sm-3">
        <div class="panel panel-default show-tools">
            <div class="panel-heading">
                Tools
            </div>
            <div class="panel-body">
                <ul class="nav">
                    <% if user_signed_in? %>
                        <% if can?(:edit, @user) %>
                            <li class="edit_name">
                                <a href="<%= edit_account_path(@user) %>">Edit User Account</a>
                            </li>
                        <% end %>
                        <li><%= link_to 'Go to Listing', accounts_path %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <% end %>
    <div class="col-sm-<%= current_user.role == 'admin' ? 9 : 12 %>">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class='h1'><%= @user.username %>
                    <small>(<%= @user.role.humanize %>)</small>
                    <span class='glyphicon glyphicon-user pull-right <%= "text-success" if @online %>' title='User is <%= @online ? "online" : "offline" %>'></span>
                </span>
                <br>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="/private_messages/new?user_id=<%= @user.id %>" title="Send Message">
                            Send Private Message
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                    </div>
                    <div class="col-sm-6 text-right">
                        <span class="pull-right">Last Active: <strong><%= @display[:last_seen] %></strong></span>
                    </div>
                </div>
                </span> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="well"><span class="h4"><strong>Full Name:</strong></span> <%= @display[:fullname] %></div>
            </div>
            <div class="col-sm-7">
                <div class="well"><span class="h4"><strong>Email:</strong></span> <%= @display[:email] %></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <h4 class="h4"><strong>Biography:</strong></h4>
                    <p><%= @display[:biography] %></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <div class="well"><span class="h4"><strong>Affiliated Institution:</strong></span> <%= @display[:institution] %></div>
            </div>
            <div class="col-sm-5">
                <div class="well">
                    <span class="h4"><strong>Contributions:</strong> 
                        <span class="label label-source">
                            <a href="<%= sources_path({created_by: @display[:username]}) %>">
                                <%= SDBMSS::Util.to_many(@display[:sources_created], "source") %>
                            </a>
                        </span>
                        <span class="label label-entry">
                            <a href="<%= search_advanced_path(created_by: @display[:username]) %>">
                                <%= SDBMSS::Util.to_many(@display[:entries_created], "entry") %>
                            </a>
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="h3"><strong>Recent Activity:</strong></span>
                </div>
                <div class="panel-body">
                    <ul id='activity' class='list-group'>
                        <%= render partial: "activities/more" %>
                    </ul>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <a href="<%= activities_path('users[username][]' => @display[:username]) %>" >See More...</a>
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <ul class="list-group">
            
          </ul>
        </div>

    </div>

</div>