<% if source.id %>
<div class="panel panel-default show-tools">
    <div class="panel-heading">
        Tools
    </div>
    <div class="panel-body">
        <ul class="nav">
            <li>
                <a onclick="addBookmark(<%= source.id %>, 'Source');" class="bookmark-link" in_bookmarks="/sources/<%= source.id %>"><span class="glyphicon glyphicon-bookmark"></span></a>
            </li>
            <% if user_signed_in? %>
                <li><%= render partial: "nav/watch", locals: {watchable: source } %></li>
                <% if can?(:edit, source) %> 
                    <li>
                        <a href="<%= merge_source_path(source_id: source) %>" class="<%= source.source_type.id == 8 ? 'disabled text-muted' : '' %>">Merge this source</a>
                    </li>
                <% end %>
            <% end %>
        </ul>
    </div>
</div>
<% end %>