<% content_for :head do %>
<%= stylesheet_link_tag "extras", media: "all" %>
<%= javascript_include_tag "extras" %>
<% end %>

<% content_for :breadcrumbs do %>
<% @model = @source %>
  <%= render partial: "manage_models/breadcrumbs", locals: {edit: true} %>
<% end %>

<% content_for :control_tools do %>
    <%= render partial: "tools", locals: {source: @source, edit: true} %>
    <% if @source.id %>
    <li class="divider"></li>
    <li>
        <%= link_to(new_entry_path(source_id: @source)) do %>
          <span class="glyphicon glyphicon-plus"></span> Add Entry From <%= @source.public_id %>
        <% end %>
    </li>
    <% end %>
<% end %>

<% if @source.persisted? %>
    <% @page_title = "Edit #{@source.public_id} - " + application_name %>
<% else %>
    <% @page_title = "Create new source - " + application_name %>
<% end %>

<% if @source.persisted? %>
<input type="hidden" id="source_id" value="<%= @source.id %>" />
<% end %>
<% if !params[:create_entry].nil? %>
<input type="hidden" id="create_entry" value="1" />
<% end %>

<% if params[:source_type] %>
    <span ng-init="source.source_type=<%= params[:source_type] %>"></span>
<% end %>

<form id="source-form" name="form" class="form-horizontal sdbmss-form" autocomplete="off" ng-controller="SourceCtrl" novalidate data-ng-cloak>

    <div class="row">
        <div class="col-sm-12 text-center">
            <legend>{{ getPageTitle() }}</legend>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <p><strong>Always</strong> check the tooltips to find out the correct type and format of the data to be entered in a field. Tooltips are accessed by clicking on the <span class="tooltip-icon">?</span> icon next to the field label.</p>

            <p>Your data entry will be reviewed by SDBM staff for approval. If there are problems with your data entry, we will be in touch to discuss how to better enter your data to ensure greater accessibility and use by other users.</p>

            <div ng-show="!source.source_type.name">
                <p>A source is the origin of information for an entry. Sources can include auction and sale catalogs, collection catalogs, published or unpublished inventories, censuses, an individual (you or someone else) who has made direct observations about a manuscript(s), etc. From the dropdown menu, select one of six Source Types (see definitions below) that best describes your source.</p>
            </div>
            <div ng-show="source.source_type.name">
                <p ng-show="source.source_type.name == 'auction_catalog'">Use this type for auction or sale catalogs for a specific sale event. For online-only auctions (such as eBay) or sale events, use the SOURCE TYPE: Online-only Auction or Bookseller Website.</p>
                <p ng-show="source.source_type.name == 'collection_catalog'">Use for published catalogs of institutional or private individual collections.</p>
                <p ng-show="source.source_type.name == 'online'">Use this type for online-only auctions, such as eBay, or for bookseller websites providing non-dated sale lists. This field is intended for information found only online and not referring to a specific, dated sale.</p>
                <p ng-show="source.source_type.name == 'observation'">
                    Use this type when recording data acquired via direct personal observation or indirect knowledge of a manuscript. It is mandatory that you understand the SDBM data model before creating a Personal Observation. Please review the instructional content, located within the <b><span class="glyphicon glyphicon-question-sign"></span> Help</b> menu at the top of the screen, before creating your entry.
                </p>
                <p ng-show="source.source_type.name == 'other_published'">Use this type for any other published source not applicable to the previous SOURCE TYPES (e.g., an inventory published in a journal article).</p>
                <p ng-show="source.source_type.name == 'unpublished'">Use for any unpublished data sources (e.g. in-house finding aids or inventories, personal communications via email, etc).</p>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="source_type" class="col-sm-2 control-label"><span sdbm-tooltip="source_type">Source Type</span></label>
        <div class="col-sm-5">
            <select class="form-control" id="source_type" ng-model="source.source_type" ng-change="sourceTypeChange()" ng-options="option as option.display_name for option in optionsSourceType" ng-disabled="true">
                <option value="">Select One</option>
            </select>
        </div>
    </div>
    
    <div class="row" >
        <div class="col-sm-12">
            <div ng-show="!showFields()">
                
                <p><b>Personal Observation</b>:  Use this type when recording data acquired via direct personal observation or indirect knowledge of a manuscript. It is mandatory that you understand the SDBM data model before creating a Personal Observation. Please review the instructional content, located within the <b><span class="glyphicon glyphicon-question-sign"></span> Help</b> menu at the top of the screen, before creating your entry.</p>

                <p><b>Auction/Dealer Catalog</b>: Use for auction or sale catalogs for a specific sale event. For online-only auctions (such as eBay) or sale events, use the SOURCE TYPE: Online-only Auction or Bookseller Website.</p>

                <p><b>Collection Catalog</b>: Use for published catalogs of institutional or private individual collections.</p>

                <p><b>Online-only Auction or Bookseller Website</b>: Use
                    for online-only auctions, such as eBay, or for
                    bookseller websites providing non-dated sale
                    lists. This field is intended for information found
                    only online and not referring to a specific, dated
                    sale. When the data source is an online version of a
                    print catalog (e.g. a pdf), use the SOURCE TYPE:
                    Auction/Dealer Catalog.</p>


                <p><b>Other Published Source</b>: Use for any other
                    published source not applicable to the previous SOURCE TYPES (e.g., an
                    inventory published in a journal article).</p>

                <p><b>Unpublished Source</b>: Use for any unpublished data sources (e.g. in-house finding aids or inventories, personal communications via email, etc).</p>
                
                <p>Not sure what your source type is? Email us at <a href="mailto:sdbm@pobox.upenn.edu">sdbm@upenn.edu</a>.</p>
            </div>
        </div>
    </div>

    <div class="source-fields-container" ng-show="showFields()">

        <div class="form-group row" ng-show="source.source_type.name != 'online' && source.source_type.name != 'unpublished'">
            <label for="source_date" class="col-sm-2 control-label">
                <span sdbm-tooltip="source_date">
                    {{ source.source_type.name == 'observation' ? "Observation Date" : "Source Date" }} 
                </span>
            </label>
            <div class="col-sm-5">
                <input type="text" class="form-control" placeholder="YYYY-MM-DD" name="source_date" id="source_date" ng-model="source.date" ng-pattern="/(^[0-9]{4}$)|(^[0-9]{4}-[0-9]{2}$)|(^[0-9]{4}-[0-9]{2}-[0-9]{2}$)/" />
            </div>
            <div class="col-sm-5" ng-show="form.source_date.$error.pattern">
                <span style="color: PaleVioletRed;">Date must be YYYY-MM-DD, YYYY-MM or YYYY</span>
            </div>
        </div>

        <div class="auction-source-container" ng-if="source.source_type.name == 'auction_catalog'">

            <div class="form-group row">
                <label for="cat_title" class="col-sm-2 control-label"><span sdbm-tooltip="source_publication_title">Publication Title</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="title" ng-model="source.title" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">
                  <span><span sdbm-tooltip="source_selling_agent">Selling Agent(s)</span></span>  
                  <div class="add-link-container">
                    <a a id="add_source_agent" class="clickable" data-ng-click="addRecord(source.source_agents)" title="Add">
                      Add new <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </div>
                </label>
                <div ui-sortable="sortableOptions" ng-model="source.source_agents" class='col-sm-5'>
                    <div class="input-block form-group" ng-repeat="source_agent in source.source_agents | filter:activeRecords">
                        <div class="remove-link-container">
                          <a class="clickable" data-ng-click="removeRecord(source.source_agents, source_agent)" title="Remove">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </div>
                        <a id="find_source_agent_name_authority_{{ $index }}" ng-show='source_agent.agent.id == undefined' class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', source_agent, 'selling_agent', 'is_provenance_agent')">Find or Create Authority Name</a>
                        <div id="show_selling_agent_name_authority_0" ng-if='source_agent.agent != undefined && source_agent.agent.id != undefined' class="well well-sm well-name-authority">
                            <a class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(source_agent, 'agent')"></a>
                            {{ source_agent.agent.name }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- I added this to support catalogs whose entire contents are the sale of a single person; but per 10/30 meeting, Lynn says we don't need this -->
            <!--
            <div class="form-group row">
                <label for="institution" class="col-sm-2 control-label">Seller</label>
                <div class="col-sm-6">
                </div>
            </div>
            -->

        </div>

        <div class="auction-source-container" ng-if="source.source_type.name == 'online'">
            <div class="form-group row">
                <label for="cat_title" class="col-sm-2 control-label"><span sdbm-tooltip="source_website_name">Website Name</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="title" ng-model="source.title" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">
                  <span><span sdbm-tooltip="source_selling_agent">Selling Agent(s)</span></span>  
                  <div class="add-link-container">
                    <a a id="add_source_agent" class="clickable" data-ng-click="addRecord(source.source_agents)" title="Add">
                      Add new <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </div>
                </label>
                <div ui-sortable="sortableOptions" ng-model="source.source_agents" class='col-sm-5'>
                    <div class="input-block form-group" ng-repeat="source_agent in source.source_agents | filter:activeRecords">
                        <div class="remove-link-container">
                          <a class="clickable" data-ng-click="removeRecord(source.source_agents, source_agent)" title="Remove">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </div>
                        <a id="find_source_agent_name_authority_{{ $index }}" ng-show='source_agent.agent.id == undefined' class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', source_agent, 'selling_agent', 'is_provenance_agent')">Find or Create Authority Name</a>
                        <div id="show_selling_agent_name_authority_0" ng-if='source_agent.agent != undefined && source_agent.agent.id != undefined' class="well well-sm well-name-authority">
                            <a class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(source_agent, 'agent')"></a>
                            {{ source_agent.agent.name }}
                        </div>                            
                    </div>
                </div>
            </div>
        </div>
        
        <div class="auction-source-container" ng-if="source.source_type.name == 'collection_catalog'">

            <div class="form-group row">
                <label class="col-sm-2 control-label">
                  <span><span sdbm-tooltip="source_institution">Institution/Collection(s)</span></span>  
                  <div class="add-link-container">
                    <a a id="add_source_agent" class="clickable" data-ng-click="addRecord(source.source_agents)" title="Add">
                      Add new <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </div>
                </label>
                <div ui-sortable="sortableOptions" ng-model="source.source_agents" class='col-sm-5'>
                    <div class="input-block form-group" ng-repeat="source_agent in source.source_agents | filter:activeRecords">
                        <div class="remove-link-container">
                          <a class="clickable" data-ng-click="removeRecord(source.source_agents, source_agent)" title="Remove">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </div>                           
                        <a id="find_source_agent_name_authority_{{ $index }}" ng-show='source_agent.agent.id == undefined' class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', source_agent, 'institution', 'is_provenance_agent')">Find or Create Authority Name</a>
                        <div id="show_selling_agent_name_authority_0" ng-if='source_agent.agent != undefined && source_agent.agent.id != undefined' class="well well-sm well-name-authority">
                            <a class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(source_agent, 'agent')"></a>
                            {{ source_agent.agent.name }}
                        </div>                           
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="cat_title" class="col-sm-2 control-label"><span sdbm-tooltip="source_publication_title">Publication Title</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="title" ng-model="source.title" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="cat_author" class="col-sm-2 control-label"><span sdbm-tooltip="source_publication_author">Publication Author</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="author" ng-model="source.author">
                </div>
            </div>

        </div>

        <div class="auction-source-container" ng-if="source.source_type.name == 'observation'">

            <div class="form-group row" ng-init="user = '<%= current_user.to_s %>'">
                <label for="cat_author" class="col-sm-2 control-label"><span sdbm-tooltip="source_observer">Observer</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="author" ng-model="source.author" ng-init="user && !source.author ? source.author = user : ''" value="<%= current_user.to_s %>" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="cat_title" class="col-sm-2 control-label"><span sdbm-tooltip="source_publication_title">Title</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="title" ng-model="source.title">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label">
                  <span><span sdbm-tooltip="source_institution">Institution(s)</span></span>  
                  <div class="add-link-container">
                    <a a id="add_source_agent" class="clickable" data-ng-click="addRecord(source.source_agents)" title="Add">
                      Add new <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </div>
                </label>
                <div ui-sortable="sortableOptions" ng-model="source.source_agents" class='col-sm-5'>
                    <div class="input-block form-group row" ng-repeat="source_agent in source.source_agents | filter:activeRecords">
                        <div class="remove-link-container">
                          <a class="clickable" data-ng-click="removeRecord(source.source_agents, source_agent)" title="Remove">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </div>                         
                        <a id="find_source_agent_name_authority_{{ $index }}" ng-show='source_agent.agent.id == undefined' class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', source_agent, 'institution', 'is_provenance_agent')">Find or Create Authority Name</a>
                        <div id="show_selling_agent_name_authority_0" ng-if='source_agent.agent != undefined && source_agent.agent.id != undefined' class="well well-sm well-name-authority">
                            <a class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(source_agent, 'agent')"></a>
                            {{ source_agent.agent.name }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        
        <div class="other-published-container" ng-if="source.source_type.name == 'other_published'">

            <div class="form-group row">
                <label for="cat_title" class="col-sm-2 control-label"><span sdbm-tooltip="source_publication_title">Publication Title</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="title" ng-model="source.title" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="cat_author" class="col-sm-2 control-label"><span sdbm-tooltip="source_publication_author">Publication Author</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="author" ng-model="source.author">
                </div>
            </div>

        </div>

        <div class="auction-source-container" ng-if="source.source_type.name == 'unpublished'">

            <div class="form-group row">
                <label class="col-sm-2 control-label">
                  <span><span sdbm-tooltip="source_institution">Institution/Collection(s)</span></span>  
                  <div class="add-link-container">
                    <a a id="add_source_agent" class="clickable" data-ng-click="addRecord(source.source_agents)" title="Add">
                      Add new <span class="glyphicon glyphicon-plus"></span>
                    </a>
                  </div>
                </label>
                <div ui-sortable="sortableOptions" ng-model="source.source_agents" class='col-sm-5'>
                    <div class="input-block form-group" ng-repeat="source_agent in source.source_agents | filter:activeRecords">
                        <div class="remove-link-container">
                          <a class="clickable" data-ng-click="removeRecord(source.source_agents, source_agent)" title="Remove">
                            <span class="glyphicon glyphicon-remove"></span>
                          </a>
                        </div>                                                   
                        <a id="find_source_agent_name_authority_{{ $index }}" ng-show='source_agent.agent.id == undefined' class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', source_agent, 'institution', 'is_provenance_agent')">Find or Create Authority Name</a>
                        <div id="show_selling_agent_name_authority_0" ng-if='source_agent.agent != undefined && source_agent.agent.id != undefined' class="well well-sm well-name-authority">
                            <a class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(source_agent, 'agent')"></a>
                            {{ source_agent.agent.name }}
                        </div>                            
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="cat_title" class="col-sm-2 control-label"><span sdbm-tooltip="source_source_name">Source Name</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="title" ng-model="source.title" required>
                </div>
            </div>

            <div class="form-group row">
                <label for="cat_author" class="col-sm-2 control-label"><span sdbm-tooltip="source_author_creator">Author/Creator</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="author" ng-model="source.author">
                </div>
            </div>

        </div>

<!--        <div class="form-group row">
            <label for="whether_mss" class="col-sm-2 control-label"><span sdbm-tooltip="source_has_manuscripts">Has Manuscripts</span></label>
            <div class="col-sm-3">
                <select class="form-control" name="whether_mss" id="whether_mss" ng-model="source.whether_mss">
                    <%= options_for_select(Source::HAS_MANUSCRIPT_TYPES) %>
                </select>
            </div>-->

        <div class="form-group row" ng-if="source.id">
            <label for="status" class="col-sm-2 control-label"><span sdbm-tooltip="source_status">Status</span></label>
            <div class="col-sm-3">
                <select class="form-control" name="status" id="status" ng-model="source.status" >
                    <%= options_for_select(Source::STATUS_TYPES) %>
			    </select>
            </div>
        </div>

        <div ng-if="source.source_type.name != 'observation'">

            <div class="row">
                <div class="col-sm-12 text-center">
                    <legend>Where did you see this source?</legend>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p>Complete as many fields as possible. This data gives other users the ability to consult your source and provides an audit trail to ensure quality of data entry.</p>
                </div>
            </div>

            <div class="form-group row">
                <label for="location" class="col-sm-2 control-label"><span sdbm-tooltip="source_location_type">Location Type</span></label>
                <div class="col-sm-3">
                    <select class="form-control" id="medium" ng-model="source.medium" ng-options="option[0] as option[1] for option in optionsMedium" ng-disabled="source.source_type.name == 'online'">
                        <option value="">Select One</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label for="city" class="col-sm-2 control-label"><span sdbm-tooltip="source_date_accessed">Date Accessed</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" name="date_accessed" id="date_accessed" ng-model="source.date_accessed" ng-pattern="/(^[0-9]{4}$)|(^[0-9]{4}-[0-9]{2}$)|(^[0-9]{4}-[0-9]{2}-[0-9]{2}$)/"/>
                </div>
                <div class="col-sm-7" ng-show="form.date_accessed.$error.pattern">
                    <span style="color: PaleVioletRed;">Date must be YYYY-MM-DD, YYYY-MM or YYYY</span>
                </div>
            </div>

            <div class="form-group row" ng-show="source.medium != 'internet' && source.medium != 'personal_communication'">
                <label for="city" class="col-sm-2 control-label">
                    <span sdbm-tooltip="source_institution_location_seen" ng-show="source.medium != 'private_collection'">Institution</span>
                    <span sdbm-tooltip="source_institution_location_seen" ng-show="source.medium == 'private_collection'">Collection</span>
                </label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="location_institution" id="location_institution" ng-model="source.location_institution" />
                </div>
            </div>

            <div class="form-group row" ng-show="source.medium != 'internet'">
                <label for="city" class="col-sm-2 control-label"><span sdbm-tooltip="source_location_seen">Location (City, Country)</span></label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="location" id="location" ng-model="source.location" />
                </div>
            </div>
                    
            <div class="form-group row" ng-show="source.source_type.name != 'observation'">
                <label for="location" class="col-sm-2 control-label"><span sdbm-tooltip="source_link">Online Link / Call Num.</span></label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" name="link" id="link" ng-model="source.link" />
                </div>
            </div>

        </div>
        
         <div class="row">
            <div class="col-sm-12 text-center">
                <legend>Other Info</legend>
            </div>
        </div>

        <div class="form-group row">
            <label for="editorial_comments" class="col-sm-2 control-label">
                <span sdbm-tooltip="source_comments">Other Info</span>
            </label>
            <div class="col-sm-9">
                <textarea class="form-control" id="comments" data-ng-model="source.other_info"></textarea>
            </div>
        </div>


        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="form.$invalid || currentlySaving">Save</button>
            <% if @source && @source.id %>
                <a class="btn btn-warning" href="<%= source_path(@source) %>">Cancel</a>
            <% end %>
            <div ng-show="currentlySaving" style="display: inline;">
                <img id="spinner" alt="working..." src="<%= asset_path "spinner.gif" %>" style="margin-left: 10px; margin-right: 10px;"/> Working, please wait...
            </div>
          </div>
        </div>
    </div>


    <% if Rails.env.development? %>
        <br/><br/>
        <br/><br/>
        <a href="#" data-ng-click="debug()">DEBUG: Print model to console</a>
    <% end %>

</form>

<script type="text/ng-template" id="similarSources.html">
    <div class="modal-header">
        <h3 class="modal-title">Warning: similar sources found!</h3>
    </div>
    <div class="modal-body form-horizontal">

        <p>There already exist sources in the database similar to the
        one you are trying to create. Click an existing source below
        to use it, or confirm that you really want to create your
        source.</p>

        <p style="margin-left: 2em;">
            <div ng-repeat="source in similarSources"><a ng-click="sdbmutil.redirectToEntryCreatePage(source.id)" href="#">SDBM_SOURCE_{{ source.id }} - {{ source.display_value }}</a></div>
        </p>

        <button class="btn btn-primary" ng-click="confirmCreate()">Create my new source anyway</button>
        <button class="btn btn-warning" ng-click="cancelCreate()">Cancel</button>

    </div>
</script>

<script type="text/ng-template" id="postSourceSave.html">
    <div class="modal-header">
        <h3 class="modal-title">Successfully saved Source record</h3>
    </div>
    <div class="modal-body form-horizontal">
        <% if Rails.configuration.sdbmss_show_testing_message %>
            <p style="color: red">
                Please remember that this system is in development;
                the data you enter and changes you make will NOT be
                retained after the test period.
            </p>
        <% end %>

        <p>What do you want to do now?</p>

        <p style="margin-left: 2em;">

            <a ng-click="sdbmutil.redirectToEntryCreatePage(source.id)" href="#">Add entries for this source</a><br/><br/>

            <a ng-click="sdbmutil.redirectToSourceEditPage(source.id)" href="#">Return to editing this source</a><br/><br/>
            
            <a href="/dashboard">Return to my dashboard</a>

        </p>

    </div>
</script>

<%= render "shared/create_entity_with_name" %>
<%= render "shared/create_name" %>
<%= render "shared/select_name_authority" %>