<% content_for :breadcrumbs do %>
    <% @model = @source %>
    <%= render partial: "manage_models/breadcrumbs" %>
<% end %>

<div class="col-sm-12">
    <div class='panel panel-info'>
        <div class='panel-heading'>
            <h3 class='h3'>Merge <%= @source.public_id %> &#10132; <%= @target.present? ? @target.public_id : "???" %></h3>
        </div>
    </div>
</div>

<div class="col-sm-5">
        <% if @target.present? %>
            <%= render partial: "sources/edit", locals: { source: @source, index: 0 } %>
        <% else %>
            <div class="panel-body"><%= render partial: "sources/source_details", locals: {source: @source} %></div>
        <% end %>
</div>
<%= form_tag(request.path, method: :post, class: "form-horizontal sdbmss-form") do %>
<div class='col-sm-2 text-center'>
    <% if @target %>
    <div class="">
        <div class="panel-body text-center">
            <input type="hidden" name="confirm" value="yes"/>
            <input type="hidden" name="target_id" value="<%= @target.id %>"/>
            <div><span class="h3">Confirm</span></div>
            <p>Are you sure? <strong><%= @source.public_id %></strong> will be <strong class="text-danger">deleted.</strong></p>
            <button class="btn btn-primary">Yes</button>
            <a class="btn btn-warning" href="<%= merge_source_path(@source) %>">Cancel</a>
        </div>
    </div>
    <span class="glyphicon glyphicon-arrow-right chevron"></span>
    <!--<%= image_tag 'right-arrow.png', class: 'img img-responsive chevron' %>-->
    <div class="">
        <div class="panel-body text-center">
            <%= link_to "Swap Sources", merge_source_path(@target, :target_id => @source.id), class: 'btn btn-info' %>
        </div>
    </div>
    <% end %>
</div>
<!-- form tag for collecting the results of the merge request -->
<div class="col-sm-5">
    <% if @target_id.present? && @target.present? %>
        <%= render partial: "sources/edit", locals: { source: @target, index: 1 } %>
    <% else %>
        <% if @target_id.present? %>
            <div class='panel panel-danger'>
            <% if @warning.present? %>
                <div class="panel-heading"><%= @warning %></div>
            <% else %>
                <div class="panel-heading">Could not find record #<%= @target_id %></div>
            <% end %>
            </div>
        <% end %>
        <div class="text-center form-inline">
        <%= form_tag(request.path, method: :get, class: "form-horizontal form-inline sdbmss-form text-center") do %>
                <label class="control-label">Find by unique ID</label>
                <button class="btn btn-primary">Select</button>
                <input type="text" name="target_id" class="form-control" placeholder="Enter Source ID here..."></p>
        <% end %>
        </div>
        <% if @similar.present? %>
        <div class="table-responsive">
            <table class='table table-striped'>
              <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>Source Agent</th>
                    <th>Date</th>
                    <th>Entries</th>
                </tr>
              </thead>
              <tbody>
                <% @similar.each do |src| %>
                    <% if src.id != @source.id %>
                    <tr>
                        <td><a class='btn btn-primary' href="<%= source_path(id: @source.id)%>/merge?target_id=<%= src.id %>">Select</a></td>
                        <td><%= link_to src.id, source_path(src.id) %></td>
                        <td><%= src.source_agents[0].agent.name if src.source_agents.count > 0 %></td>
                        <td><%= format_fuzzy_date(src.date) %></td>
                        <td><a href="<%= search_advanced_path(source: src.public_id) %>"><%= src.entries.approved_only.count %> entries</a></td>
                    </tr>
                    <% end %>
                <% end %>
              </tbody>
            </table>
        </div>
        <% else %>
            <b>No suggested names found, use manual search above.</b>
        <% end %>
    <% end %>
</div>
<% end %>
