<style>
    .list-group-item {
        border: none;
    }
    .from {
        text-decoration: line-through;
    }
</style>
<div class="row">
<% if @target.present? %>
<%= form_tag(request.path, method: :post, class: "form-horizontal sdbmss-form") do %>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span class="h2">
                            <small>merge </small>
                            <span class="text-warning"><%= @source.public_id %></span>
                            <small> into</small>
                            <%= @target.public_id %>
                        </span>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-9">
                        <div><b>Confirm</b></div>
                        <p>Are you sure you want to do this? <%= @source.public_id %> will be marked as deleted and its fields cleared out.</p>
                    </div>
                    <input type="hidden" name="confirm" value="yes"/>
                    <input type="hidden" name="target_id" value="<%= @target.id %>"/>
                    <div class="col-sm-3 text-right">
                        <button id="submit" class="btn btn-primary">Yes</button>
                        <a class="btn btn-warning" href="<%= sources_path %>">Cancel</a>
                        <%= link_to "Swap", merge_source_path(@target, :target_id => @source.id), class: 'btn btn-info' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="h3 text-warning"><%= @source.public_id %></span>
                <span class="badge pull-right"><%= @source.entries_count %> entries</span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <% @details.each do |f| %>
                        <li class="list-group-item field">
                            <div class="h3 list-group-item-heading">
                                <%= f.to_s.humanize %>
                                <% if @s_details[f][2] %>
                                    <span class="overwrite btn btn-xs btn-default"><span class="glyphicon glyphicon-import"></span></span>
                                <% end %>                            </div>
                            <div class="list-group-item-body from text-warning" type='<%= f.to_s %>'>
                                <%= @s_details[f][0] || "(blank)" %>
                                <%= hidden_field_tag f, @s_details[f][1] %>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="h3"><%= @target.public_id %></span>
                <span class="badge pull-right"><%= @target.entries_count %> entries</span>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <% @details.each do |f| %>
                        <li class="list-group-item field">
                            <div class="h3 list-group-item-heading">
                                <%= f.to_s.humanize %>
                                <!-- fix me: cancel button here -->
                            </div>
                            <div class="list-group-item-body to" type='<%= f.to_s %>'><%= @t_details[f][0] || "(blank)" %></div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
        <!--
        <ul class="list-group">
            <% @details.each do |f| %>
                <li class="list-group-item field">
                    <h3 class="list-group-item-heading text-center"><%= f.to_s.humanize %>
                        <% if @s_details[f][2] %>
                            <span class="overwrite btn btn-xs btn-default"><span class="glyphicon glyphicon-import"></span></span>
                        <% end %>
                    </h3>
                    <div class="row">
                        <div class="col-sm-6 text-right text-warning from">
                            <%= @s_details[f][0] || "(blank)" %>
                            <%= hidden_field_tag f, @s_details[f][1] %>
                        </div>
                        <div class="col-sm-6 to">
                            <%= @t_details[f][0] || "(blank)" %>                        
                        </div>
                    </div>
                </li>
            <% end %>
        </ul>-->
<% end %>
<% else %>
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading"><%= @source.public_id %></div>
            <div class="panel-body"><%= render partial: "source_details", locals: { source: @source, details: @details } %></div>
        </div>
    </div>
    <div class="col-sm-6">    
        <% if @target_id.present? %>
            <div class='panel panel-danger'>
            <% if @warning.present? %>
                <div class="panel-heading"><%= @warning %></div>
            <% else %>
                <div class="panel-heading">Could not find record #<%= @target_id %></div>
            <% end %>
            </div>
        <% end %>
        <%= form_tag(request.path, method: :get, class: "form-horizontal sdbmss-form") do %>
            <div class="row">
                <label class="col-sm-3 control-label">By Unique Id: </label>
                <div class="col-sm-6">
                    <input type="text" name="target_id" class="form-control"></p>
                </div>
                <div class="col-sm-3">
                    <button class="btn btn-primary">Select</button>
                </div>
            </div>
        <% end %>
        <div class='panel panel-default'>
            <% if @similar.present? %>
                <div class='panel-heading'><b>Suggestions</b></div>
                <table class='table table-striped'>
                    <thead>
                        <tr>
                            <th>Merge</th>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Date</th>
                            <th>Entries</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @similar.each do |src| %>
                            <% if src.id != @source.id %>
                            <tr>
                                <td><a class='btn btn-primary' href="<%= source_path(id: @source.id)%>/merge?target_id=<%= src.id %>">Select</a></td>
                                <td><%= src.id %></td>
                                <td><%= src.title %></td>
                                <td><%= format_fuzzy_date(src.date) %></td>
                                <td><a href="<%= search_advanced_path(source: src.public_id) %>"><%= src.entries.approved_only.count %> entries</a></td>
                            </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            <% else %>
                <h3>No suggested sources found, use manual search above.</h3>
            <% end %>
        </div>
    </div>
<% end %>
</div>
<script type='text/javascript'>
$(document).ready( function () {
  /*  $('.field').each( function (i, f) {
        var f = $(f);
        var from = f.find('.from');
        var to = f.find('.to');
        f.find('.overwrite').click(function (e) {
            to.hide().html(from.html()).addClass("text-success").fadeIn("slow");
            to.closest('.list-group-item').animate({'background-color': "#EEFFEE"})
        });
    });*/
    $(".overwrite").click (function (e) {
        var o = $(this);
        var f = o.closest('.field');
        var from = f.find('.from');
        var to = $('.to[type=' + from.attr('type') + ']');
        to.hide().html(from.html()).addClass("text-success").fadeIn("slow");
        to.closest('.list-group-item').animate({'background-color': "#EEFFEE"})
    });
    $("#submit").click( function (e) {
        $(".from > input").remove();
    });
});
</script>