<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default show-tools">
            <div class="panel-heading">
                Tools
            </div>
            <div class="panel-body">
                <ul class="nav">
                    <% if user_signed_in? %>
                    <li class="edit_source">
                        <a href="<%= edit_source_path(@source.id) %>">Edit this source</a>
                    </li>
                    <li class="edit_source">
                        <a href="<%= new_entry_path(source_id: @source) %>">Add entry for this Source</a>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        
        <div class="row">
            <div class="col-sm-12">
                <h1><%= @source.public_id %></h1>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-12" colspan="2"><b>Source Details</b></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="col-sm-2 text-right record-label">Type</td>
                    <td class="col-sm-10">
                        <%= @source.get_source_type_for_display %>
                    </td>
                </tr>

                <tr>
                    <td class="col-sm-2 text-right record-label">Date</td>
                    <td class="col-sm-10">
                        <%= format_fuzzy_date(@source.date) %>
                    </td>
                </tr>

                <tr>
                    <td class="col-sm-2 text-right record-label">Title</td>
                    <td class="col-sm-10">
                        <%= @source.title %>
                    </td>
                </tr>

                <% if (institution = @source.get_institution).present? %>
                <tr>
                    <td class="col-sm-2 text-right record-label">Institution</td>
                    <td class="col-sm-10">
                        <a href="<%= url_for institution.agent %>"><%= institution.agent.name %></a>
                    </td>
                </tr>
                <% end %>

                <% if (selling_agent = @source.get_selling_agent).present? %>
                <tr>
                    <td class="col-sm-2 text-right record-label">Selling Agent</td>
                    <td class="col-sm-10">
                        <a href="<%= url_for selling_agent.agent %>"><%= selling_agent.agent.name %></a>
                    </td>
                </tr>
                <% end %>

                <% if (seller_or_holder = @source.get_seller_or_holder).present? %>
                <tr>
                    <td class="col-sm-2 text-right record-label">Seller</td>
                    <td class="col-sm-10">
                        <a href="<%= url_for seller_or_holder.agent %>"><%= seller_or_holder.agent.name %></a>
                    </td>
                </tr>
                <% end %>

                <tr>
                    <td class="col-sm-2 text-right record-label">Contains Manuscripts</td>
                    <td class="col-sm-10">
                        <%= @source.whether_mss||"Unknown" %>
                    </td>
                </tr>

                <tr>
                    <td class="col-sm-2 text-right record-label"># Entries</td>
                    <td class="col-sm-10">
                        This source has <a href="<%= search_by_facet_value('source', @source.display_value) %>"><%= @source.entries.count %> entries</a> in the database.
                    </td>
                </tr>

            </tbody>
        </table>

        <% if @source.medium || @source.date_accessed || @source.institution || @source.location || @source.link %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-12" colspan="2"><b>Location</b></th>
                </tr>
            </thead>
            <tbody>
                <% if @source.medium %>
                <tr>
                    <td class="col-sm-2 text-right record-label"></td>
                    <td class="col-sm-10">
                        <%= @source.medium %>
                    </td>
                </tr>
                <% end %>

                <% if @source.date_accessed %>
                <tr>
                    <td class="col-sm-2 text-right record-label">Date Accessed</td>
                    <td class="col-sm-10">
                        <%= @source.date_accessed %>
                    </td>
                </tr>
                <% end %>
                
                <% if @source.location_institution %>
                <tr>
                    <td class="col-sm-2 text-right record-label">Institution</td>
                    <td class="col-sm-10">
                        <%= @source.location_institution %>
                    </td>
                </tr>
                <% end %>

                <% if @source.location %>
                <tr>
                    <td class="col-sm-2 text-right record-label">City, Country</td>
                    <td class="col-sm-10">
                        <%= @source.location %>
                    </td>
                </tr>
                <% end %>

                <% if @source.link %>
                <tr>
                    <td class="col-sm-2 text-right record-label">Online Link/<br/>Call No.</td>
                    <td class="col-sm-10">
                        <a href="<%= @source.link %>"><%= @source.link %></a>
                    </td>
                </tr>
                <% end %>

            </tbody>
        </table>
        <% end %>

        <table class="table table-striped">
            <thead>
                <tr> <th class="col-sm-12" colspan="2"><b>About This Source Record</b></th>
                </tr>
            </thead>
            <tbody>

                <% if @source.created_by %>
                <tr>
                    <td class="col-sm-2 text-right record-label">Created By</td>
                    <td class="col-sm-10">
                        <%= @source.created_by.username %>
                    </td>
                </tr>
                <% end %>

                <% if @source.status %>
                <tr>
                    <td class="col-sm-2 text-right record-label">Status</td>
                    <td class="col-sm-10">
                        <%= @source.status||"Unknown" %>
                    </td>
                </tr>
                <% end %>

            </tbody>
        </table>

    </div>

</div>
