<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default show-tools">
            <div class="panel-heading">
                Tools
            </div>
            <div class="panel-body">
                <ul class="nav">
                    <% if user_signed_in? %>
                        <% if can?(:edit, @source) %>
                            <li class="edit_source">
                                <a href="<%= edit_source_path(@source.id) %>">Edit this source</a>
                            </li>
                        <% end %>
                    <li class="edit_source">
                        <a href="<%= new_entry_path(source_id: @source) %>">Add entry for this Source</a>
                    </li>
                        <% if can?(:edit, @source) %> 
                            <li>
                                <a href="<%= merge_source_path(source_id: @source) %>">Merge this source</a>
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1><%= @source.public_id %></h1>
            </div>
            <%= render partial: "source_details", locals: { source: @source, details: @details } %>
        </div>
        
    </div>

</div>
