<% content_for :breadcrumbs do %>
    <% if can? :manage, User %>
        <li class=" ">
            <a href="/accounts">Manage Accounts</a>
        </li>
    <% else %>
        <li class="breadcrumb">
            <a href="/community">Community</a>
        </li>
    <% end %>
    <li class=" "><a href="/profiles/<%= current_user.username %>">My Profile</a></li>
    <li class="  active"><a href="">Edit My Account</a></li>
<% end %>

<% @page_title = "Edit My Profile - " + application_name %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">
      <span class="glyphicon glyphicon-cog"></span>
      Account Settings
    </h1>
    <p class='text-left text-muted'>Please provide some information about yourself to help us and other
        users get to know you. Your profile information will be accessible to
        other users from your user name as it appears in entries, manuscript
        records, or comments that you have created or responded to. You can also choose what Notifications on your activity 
        you will receive and set them to be received by email or through the SDBM application, or both.</p>
  </div>
  <div class="col-sm-12 text-center">
    <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#profile-settings">Profile</a></li>
      <li><a data-toggle="tab" href="#account-settings">Password</a></li>
      <li><a data-toggle="tab" href="#notification-settings">Notifications</a></li>
    </ul>
  </div>
  <div class="col-sm-12">
    <div class="tab-content">
      <div class="tab-pane fade active in" id='profile-settings'>              
        <div class="field form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="field form-group">
            <label>
                <%= f.check_box :email_is_public, autofocus: true %> My email address is publicly visible 
            </label>
        </div>

        <div class="field form-group">
            <%= f.label :fullname, "Full Name (as you want it to appear to other users)" %>
            <%= f.text_field :fullname, autofocus: true, class: "form-control" %>
        </div>

        <div class="field form-group">
            <%= f.label :institutional_affiliation, "Institutional affiliation (if any)" %>
            <%= f.text_field :institutional_affiliation, class: "form-control" %>
        </div>
       <div class="field form-group">
          <%= f.label :bio, "Tell us something about yourself and your interests in becoming a member of the New SDBM user-community (this info will be visible to other users):" %>
          <%= f.text_area :bio, rows: 5, autocomplete: "off", class: "form-control" %>
        </div>
      </div>
      <div class="tab-pane fade" id='account-settings'>
        <div class="h3 text-center">Change Password</div>
        <p>
          <div class="field form-group">
            <%= f.label :current_password %>
            <%= f.password_field :current_password, autocomplete: "off", class: "form-control" %>
          </div>
          
          <div class="field form-group">
            <%= f.label :new_password %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="field form-group">
            <%= f.label :confirm_new_password %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
        </p>      
      </div>
      <div class="tab-pane fade" id='notification-settings'>
        <div class="form-inline">
        <div class='h3 text-center'>Notification Settings</div>
        <%= f.fields_for :notification_setting do |notification_f| %>
            <%= notification_f.hidden_field :user_id %>
            <table class="table table-hover text-center">
              <thead class="bg-info">
                <tr>
                  <th></th>
                  <th class='text-center text-info'>Notify Me</th>
                  <th class='text-center text-success'>Email Me</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label class='control-label'>On Update To My Watched Records</label><br>
                    <span class="text-muted">Note: Records you create are 'watched' by default</span>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :on_update, class: 'form-control' %>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :email_on_update, class: 'form-control' %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class='control-label'>On Comment To My Watched Records</label><br>
                    <span class="text-muted">Note: Records you create are 'watched' by default</span>                    
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :on_comment, class: 'form-control'  %>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :email_on_comment, class: 'form-control'  %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class='control-label'>On Reply To My Comments</label><br>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :on_reply, class: 'form-control'  %>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :email_on_reply, class: 'form-control'  %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class='control-label'>On Private Message</label><br>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :on_message, class: 'form-control'  %>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :email_on_message, class: 'form-control'  %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class='control-label'>On Group Invite</label><br>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :on_group, class: 'form-control'  %>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :email_on_group, class: 'form-control'  %>
                  </td>
                </tr>
                <% if resource.role == 'admin' %>
                <tr>
                  <td>
                    <label class='control-label'>On New User Registration</label><br>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :on_new_user, class: 'form-control'  %>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :email_on_new_user, class: 'form-control'  %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class='control-label'>On Any Comment</label><br>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :on_all_comment, class: 'form-control'  %>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :email_on_all_comment, class: 'form-control'  %>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class='control-label'>On Forum Post</label><br>
                    <span class="text-muted">When someone posts to a forum topic you are following.</span>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :on_forum_post, class: 'form-control'  %>
                  </td>
                  <td class=''>
                    <%= notification_f.check_box :email_on_forum_post, class: 'form-control'  %>
                  </td>
                </tr>
                <% end %>
              </tbody>
            </table>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

  <%= devise_error_messages! %>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  
<div class="col-sm-12 text-center">
  <div class="form-inline">
  <div class="field form-group">
    <%= f.submit "Confirm Changes", class: "btn btn-primary" %>
  </div>
</div>


<% end %>

<%# disable for now %>
<% if false %>
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-cancel" %></p>
<% end %>

