<%= form_tag('/comments') do %>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= hidden_field_tag 'commentable_id', record.id %>
      <%= hidden_field_tag 'commentable_type', record.model_name %>
      <%= text_area_tag 'comment', '', class: "form-control", rows: 5, placeholder: "Begin your comment here..." %>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-12 text-right">
      <%= submit_tag 'Post', class: 'btn btn-default' %>
    </div>
  </div>
<% end %>