<% if user_signed_in? && defined?(record) %>
  <%= render partial: "comments/form", locals: { record: record } %>
<% end %>
<% comments.each do |comment| %>
  <div class="panel-default panel panel-comment" id="comment_<%= comment.id %>" name="comment_<%= comment.id %>">
    <div class="panel-body comment">
      <% if comment.deleted %>
        <div class="row">
          <div class="col-sm-12">
            <p class="text-muted">This comment has been deleted.</p>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-xs-5">
            <%= render partial: "shared/username_with_profile_link", locals: { user: comment.created_by } %><br/>
          </div>
          <div class="col-xs-2 text-center">
            <% if current_user %>
              <% if (r = current_user.ratings.where(ratable_type: "Comment", ratable_id: comment.id).first) %>
                <%= render partial: "ratings/delete", locals: {rating: r } %>
              <% else %>
                <%= render partial: "ratings/create", locals: {ratable: comment } %>
              <% end %>
            <% end %>
          </div>
          <div class="col-xs-5 text-right">
            <%= comment.created_at.to_formatted_s(:date_and_time) %>
          </div>
          <div class="col-sm-12 comment-toggle">
            <%= sanitize simple_format(comment.comment), tags: %w(code b i br strong em a), attributes: %w(href) %>
          </div>
          <div class="comment-controls">
            <% if can? :edit, comment %>
              <%= link_to(comment_path(comment, format: 'html'),  method: :delete, data: { confirm: 'Are you sure?' }) do %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
              <a onclick="$('#comment_<%= comment.id %> .comment-toggle').toggleClass('hide');" class='comment-toggle'>
                <span class="glyphicon glyphicon-edit"></span>
              </a><br>  
            <% end %>
          </div>
          <% if can? :edit, comment %>
            <div class="col-sm-12">
              <%= render partial: "comments/edit_form", locals: {comment: comment} %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="panel-footer">
      <!-- can only reply to a non-deleted comment -->
      <% comment.replies.each do |reply| %>
        <div class="row panel-comment" id="reply_<%= reply.id %>" style="border-bottom: 1px solid #ddd; margin-bottom: 5px; padding-bottom: 5px;">
          <% if reply.deleted %>
            <div class="col-sm-12">
              <p class="text-muted">This reply has been deleted.</p>
            </div>
          <% else %>
            <div class="col-sm-6">
              <%= render partial: "shared/username_with_profile_link", locals: { user: reply.created_by } %><br/>
            </div>
            <div class="col-sm-6 text-right">
              <%= reply.created_at.to_formatted_s(:date_and_time) %>
            </div>
            <div class="col-sm-12 reply-toggle">
              <p><%= sanitize simple_format(reply.reply), tags: %w(code b i br strong em a), attributes: %w(href) %></p>
            </div>
            <div class="comment-controls">
              <% if can? :edit, reply %>
              <%= link_to(reply_path(reply, format: 'html'),  method: :delete, format: 'json', data: { confirm: 'Are you sure?' }) do %>
                <span class="glyphicon glyphicon-remove"></span>
              <% end %>
              <a onclick="$('#reply_<%= reply.id %> .reply-toggle').toggleClass('hide');">
                <span class="glyphicon glyphicon-edit"></span></a>
              <% end %>
            </div>

            <%= form_tag reply_path(reply), :method => 'put', :class => 'reply-toggle hide' do %>
              <div class="col-sm-12 form form-inline">
                <div class="input-group textarea-group">
                  <%= text_area_tag :reply, reply.reply, class: 'form-control', rows: 1, placeholder: "Begin your reply here..." %>            
                  <div class="input-group-btn textarea-group-btn">
                    <%= submit_tag 'Confirm', class: 'btn btn-default' %>
                    <a onclick="$('#reply_<%= reply.id %> .reply-toggle').toggleClass('hide');" href="" class='btn btn-default'>Cancel</a>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
      <% if !comment.deleted %>
        <div class="row collapse add-reply-toggle in text-center">
           <div class="col-sm-12"><a href="#comment_<%= comment.id %> .add-reply-toggle" data-toggle="collapse">Add a reply...</a></div>
         </div> 
        <div class="add-reply-toggle row collapse form form-inline">
          <div class="col-sm-12">
          <%= form_tag('/replies') do %>
            <div class="input-group textarea-group">
              <%= hidden_field_tag :comment_id, comment.id %>
              <%= text_area_tag :reply, '', class: 'form-control', rows: 1, placeholder: "Begin your reply here..." %>
              <div class="input-group-btn textarea-group-btn">
                <%= submit_tag 'Add Reply', class: 'btn btn-default textarea-btn' %>
                <a href="#comment_<%= comment.id %> .add-reply-toggle" data-toggle="collapse" class='btn btn-default textarea-btn'>Cancel</a>            
              </div>
            </div>
          <% end %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-sm-12 text-center">
            <p class="text-muted">You cannot reply to a deleted comment.</p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>