<div class="row">
  <div class="col-sm-12">
    <%= render partial: "pages/partial", locals: {page_name: "Exports Instructions" } %>
  </div>
  <div class="col-sm-12">
    <ul class="list-group">
      <% if File.exists?("public/static/docs/dump.sql.zip") %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-6 text-left">
            <strong>MYSQL DUMP</strong> <span class="text-muted">dump.sql.zip</span>
          </div>
          <div class="col-sm-6 text-right">            
            <%= link_to("static/docs/dump.sql.zip", class: 'btn btn-default btn-sm') do %>
              <span class="glyphicon glyphicon-download"></span> Download
            <% end %>
          </div>
        </div>
      </li>
      <% end %>
      <hr></hr>
      <% if File.exists?("public/static/docs/output.ttl.gz") %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-6 text-left">
            <strong>RDF Dataset (.ttl)</strong> <span class="text-muted">output.ttl.gz</span>
          </div>
          <div class="col-sm-6 text-right">            
            <%= link_to("static/docs/output.ttl.gz", class: 'btn btn-default btn-sm') do %>
              <span class="glyphicon glyphicon-download"></span> Download
            <% end %>
          </div>
        </div>
      </li>
      <% end %>
      <% if File.exists?("public/static/docs/dump.sql.gz") %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-sm-6 text-left">
            <strong>MYSQL DUMP</strong> <span class="text-muted">dump.sql.gz</span>
          </div>
          <div class="col-sm-6 text-right">            
            <%= link_to("static/docs/dump.sql.gz", class: 'btn btn-default btn-sm') do %>
              <span class="glyphicon glyphicon-download"></span> Download
            <% end %>
          </div>
        </div>
      </li>
      <% end %>
    <% ["entries", "names", "places", "languages", "sources"].each do |model| %>
      <% if File.exists?("public/static/docs/#{model}.csv.zip") %>
      <li class="list-group-item">
        <div class="row">
        <div class="col-sm-6 text-left"><strong><%= model.humanize %></strong> <span class="text-muted"><%= File.mtime("public/static/docs/#{model}.csv.zip").to_formatted_s(:long) %> csv dump</span></div>
        <div class="col-sm-6 text-right">
          <%= link_to("static/docs/#{model}.csv.zip", class: 'btn btn-default btn-sm') do %>
            <span class="glyphicon glyphicon-download"></span> Download
          <% end %>
        </span>
        </div>
      </li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <ul class="list-group">
      <% if @downloads.count <= 0 %>
        <li class='list-group-item'>You have no downloads available.</li>
      <% end %>
      <% @downloads.each do |d| %>
        <li class="list-group-item <%= d.status.to_i <= 0 ? 'list-group-item-warning' : ''%><%= d.status.to_i == 2 ? 'disabled' : '' %>">
          <div class="row">
            <div class="col-sm-3">
              <span class="h4">
                <%= link_to(download_path(d)) do %>
                  <%= d.filename %>
                <% end %>
              </span>
            </div>
            <div class="col-sm-3">
              <span class="h4">
                <%= link_to(download_path(d)) do %>
                  <span class="glyphicon glyphicon-floppy-save"></span>
                <% end %>
                <%= link_to(delete_download_path(d), data: {:confirm => 'Are you sure?'}, class: "delete-download") do %>
                  <span class="glyphicon glyphicon-trash"></span>
                <% end %>
              </span>
            </div>
            <div class="col-sm-3 text-center">
              <%= d.created_at.to_formatted_s(:long) %>
            </div>
            <div class="col-sm-3 text-center">
              <span class="text-danger">Expires: <%= (d.created_at + 1.days).to_formatted_s(:long) %></span>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>