<nav id="entry_breadcrumbs">
<ul class="nav list-group breadcrumbs">
  <% if source || @source_id %>
  <li class="list-group-item breadcrumb">
    <a href="#identify_source">
      <% if @source_id %>
        SDBM_SOURCE_<%= @source_id %>
      <% else %>
        <%= source.public_id %>
      <% end %>
    </a>
  </li>
  <% else %>
  <li class="list-group-item breadcrumb active">
    <a href="#identify_source">Identify Source
    </a>
  </li>
  <% end %>
  <li class="list-group-item breadcrumb <%= !source ? 'active' : 'disabled'%>">
    <a href="#transaction_information">Transaction Information
    </a>
  </li>
  <li class="list-group-item breadcrumb <%= !source ? '' : 'disabled'%>">
    <a href="#manuscript_details">Manuscript Details
    </a>
  </li>
  <li class="list-group-item breadcrumb <%= !source ? '' : 'disabled'%>">
    <a href="#provenance_information">Provenance Information
    </a>
  </li>
</ul>
</nav>