<% content_for :head do %>
<%= stylesheet_link_tag "extras", media: "all" %>

<style type="text/css">

.section {
  padding: 10px 0px !important;
}
.section .h4 {
  margin-left: -5px;
}

.col-sm-1-and-half {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 12.5%;
    position: relative;
    min-height: 1px;
 }

.col-sm-2-and-half {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 20.8335%;
    position: relative;
    min-height: 1px;
 }

.col-sm-3-and-half {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 29.1669%;
    position: relative;
    min-height: 1px;
 }

.col-sm-4-and-half {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 37.5%;
    position: relative;
    min-height: 1px;
 }

.col-sm-9-and-half {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 79.1673%;
    position: relative;
    min-height: 1px;
 }

 .btn-prov-date {
  position: absolute;
  left: -2px;
  line-height: 3.857143;
  padding: 6px 1px;
  background-color: pink;
  border-color: #d18995;
}
.prov-date {
  margin-bottom: 5px;
}
 
legend {
  text-align: center;
  font-variant: small-caps;
}

label.col-sm-1-and-half {
    padding-right: 0;
 }

label.col-sm-2-and-half {
    padding-right: 0;
 }
 
</style>

<% end %>

<% content_for :breadcrumbs do %>
  <%= render partial: "catalog/breadcrumbs", locals: {edit: true} %>
<% end %>

<% if (@entry.source && can?(:edit, @entry.source)) || @entry.id %>
<% content_for :control_tools do %>
        <ul class="nav">
            <% if @entry.source && can?(:edit, @entry.source) %>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/sources/<%= @entry.source.id %>/edit" target="_blank">Edit source <%= @entry.source.public_id %></a></li>
            <% end %>
            <% if @entry.id %>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/entries/<%= @entry.id %>/history" target="_blank">View history</a></li>
              <li role="presentation"><a href="/linkingtool/entry/<%= @entry.id %>" target="_blank">Linking Tool for <%= @entry.public_id %></a></li>
            <% end %>
        </ul>
<% end %>
<% end %>

<% content_for :add_entry do %>
    <li>
        <%= link_to "Add a New Entry", new_entry_path %>
        <%= link_to "Add A New Entry for this Source", new_entry_path(source_id: @entry.source) %>
        <% if @entry.manuscript %>
        <%= link_to "Create A Personal Observation for this Manuscript", new_source_path({create_entry: 1, manuscript_id: @entry.manuscript.id, source_type: 4}) %>
        <% end %>
    </li>
<% end %>

<% if @entry.persisted? %>
    <% @page_title = "Edit #{@entry.public_id} - " + application_name %>
<% else %>
    <% @page_title = "Create new entry - " + application_name %>
<% end %>

<% if @entry.persisted? %>
<input type="hidden" id="entry_id" value="<%= @entry.id %>" />
<% end %>
<% if @source_id %>
<input type="hidden" id="source_id" value="<%= @source_id %>" />
<% end %>

<form id="entry-form" name="entryForm" class="form-horizontal sdbmss-form" autocomplete="off" data-ng-controller="EntryCtrl" data-ng-cloak>
    <fieldset>

    <div class="row">
      <div class="col-sm-12">
        <legend>{{ pageTitle }}</legend>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-11 text-right">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">

          <p>
              <span ng-show="edit">You can make edits to your entries in the
              data fields below.</span>
              <span ng-show="!edit">Please fill in as much information as
              possible from the record you are documenting. No fields
              are mandatory.</span>
          </p>

          <p>Remember that entries reflect data given in the <b>Source</b>, not necessarily the reality of what the manuscript is.
              <b>DO NOT CORRECT THE SOURCE'S INFORMATION, EVEN IF YOU THINK IT'S WRONG.</b> Known errors in
              the Source should be preserved but can be noted in the
              <b>Comments</b> at the bottom of the page. If you believe the
              Source description is in error, create a new <b>Personal
                  Observation</b> entry to record the information you believe to be correct.
          </p>
          
          <div ng-show="entry.deprecated" style="color:red; font-weight: bold;">
              This entry has been deprecated; you cannot make changes to it. <span ng-show="entry.superceded_by_id">SDBM_{{ entry.superceded_by_id }} supercedes this entry.</span>
          </div>

          <div ng-show="badData.length > 0" style="color:red; font-weight: bold;">
              WARNING: Bad data found in fields that can't be displayed in dropdowns: 
              <span ng-repeat="badDataItem in badData">{{ badDataItem }}</span>. Saving the record on this page may cause data loss.
          </div>
      </div>
    </div>

    <%= render partial: "edit_buttons" %>

  <div id="identify_source">
    <div class="row">
      <div class="col-sm-12">
        <legend>Source</legend>
      </div>
    </div>
    
    <div class="row" ng-if="!entry.source">
      <div class="col-sm-12 text-center"><a ng-click="selectSourceModal(entry, null)" class="btn btn-default" id="select_source">Select/Create a Source</a></div>
    </div>

    <div class="source-info" id="selectSource" ng-if="selecting_source" data-ng-controller="SelectSourceCtrl" ng-init="source_type = selecting_source_type; source_id = old_source_id">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="h3">Search for new Source </span>
          <a href="" class="btn btn-warning pull-right" data-ng-click="cancelSelectSource()">Cancel</a>
        </div>
        <div class="panel-body">
          <%= render partial: "source_selection_form", :locals => {utility: "edit"} %>
        </div>
      </div>
    </div>

    <div class="source-info" ng-if="entry.source">
      <div class="source-container">
          <div class="form-group row">
              <label class="col-sm-2 control-label">Source</label>
              <div class="col-sm-7 label-alignment source-name">
                  <a href="/sources/{{ entry.source.id }}">SDBM_SOURCE_{{ entry.source.id }}</a> - {{ entry.source.display_value }} ({{ entry.source.source_type.display_name }})
              </div>
              <div class="col-sm-3">
                <a href="" class="btn btn-danger" ng-if="entry.source.source_type_id != 8" ng-click="selectSourceModal(entry, entry.source.source_type.display_name );">Change Source</a>
                <span class="list-group-item list-group-item-warning" ng-if="entry.source.source_type_id == 8">You can't change the source of a Provenance Observation</span>
              </div>
          </div>
      </div>

      <div class="row form-group" ng-if="entry.source.source_type_id != 8">
        <label for="cat_lot_no" class="col-sm-2 control-label">
            <span ng-show="entry.source.source_type.name != 'online'" sdbm-tooltip="entry_cat_lot_no">Cat. or Lot #</span>
            <span ng-show="entry.source.source_type.name == 'online'" sdbm-tooltip="entry_listing_id">Listing ID</span>
        </label>
        <div class="col-sm-2">
          <input type="text" class="form-control" id="cat_lot_no" placeholder="" ng-model="entry.catalog_or_lot_number" sdbm-cat-lot-no-check="">
        </div>
        <div class="col-sm-5 label-alignment">
            <span id="cat_lot_no_warning" style="color: red;"></span>
        </div>
      </div>

      <div class="row form-group" ng-show="entry.source.source_type.entries_have_institution_field">
        <label for="cat_lot_no" class="col-sm-2 control-label"><span sdbm-tooltip="entry_institution">Institution/Collection</span></label>
        <div class="col-sm-5">

            <a id="find_institution_name_authority_0" ng-if='entry.institution.id == undefined' ng-init="entry.institution = {id: null}" class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', entry.institution, 'is_provenance_agent')">Find or Create Authority Name</a>
            <div id='show_institution_name_authority_0' ng-if='entry.institution != undefined && entry.institution.id != undefined' class="well well-sm well-name-authority">
              <a id='remove_institution_name_authority_0' class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(entry, 'institution')"></a>
              {{ entry.institution.name }}
            </div>

            <!--<input id="institution" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="entry.institution" sdbm-autocomplete-modal-controller="CreateNameModalCtrl" sdbm-autocomplete-modal-template="createName.html"/>-->
        </div>
      </div>
  </div>

      <fieldset class="transaction-information-container" ng-disabled="!entry.source" id="transaction_information">

          <div class="row">
              <div class="col-sm-12">
                  <legend>Transaction Information</legend>
              </div>
          </div>

          <div class="form-group row">
              <label class="col-sm-2 control-label">This entry is</label>
              <div class="col-sm-3">
                  <select class="form-control" id="transaction_type" ng-model="entry.transaction_type" ng-options="option[0] as option[1] for option in optionsTransactionType" ng-disabled="transactionTypeDisabled()"></select>
              </div>
          </div>

          <div ng-show="entry.transaction_type == 'sale'">

              <div class="form-group row">
                  <label for="sold" class="col-sm-2 control-label"><span sdbm-tooltip="entry_sold">Sold</span></label>
                  <div class="col-sm-2">
                      <select class="form-control" id="sale_sold" ng-model="entry.sale.sold" ng-options="option[0] as option[1] for option in optionsSold">
                          <option value=""></option>
                      </select>
                  </div>
                  <div ng-show="entry.sale.sold == 'Yes'">
                      <label for="sold" class="col-sm-4 control-label">Date Sold</span></label>
                      <div class="col-sm-3">
                          <input type="text" class="form-control" id="sale_date" ng-model="entry.sale.date">
                      </div>
                  </div>
              </div>
              
              <div class="form-group row">
                  <label for="price" class="col-sm-2 control-label"><span sdbm-tooltip="entry_price">Price</span></label>
                  <div class="col-sm-2" ng-class="{ 'has-error': !entryForm['sale_price'].$valid }">
                      <input type="text" class="form-control" id="sale_price" name="sale_price" ng-pattern="/^[0-9,\.]*$/" ng-model="entry.sale.price">
                  </div>
                  <label for="currency" class="col-sm-1 control-label"><span sdbm-tooltip="entry_currency">Currency</span></label>
                  <div class="col-sm-1">
                      <select name="currency" id="sale_currency" class="form-control" ng-model="entry.sale.currency" ng-options="option[0] as option[1] for option in optionsCurrency">
                          <option value=""></option>
                      </select>
                  </div>
                  <label for="other-currency" class="col-sm-2 control-label"><span sdbm-tooltip="entry_other_currency">Other Currency</span></label>
                  <div class="col-sm-3">
                      <input type="text" class="form-control" id="other-currency" ng-model="entry.sale.other_currency">
                  </div>
              </div>

          </div>


          <div ng-show="entry.transaction_type == 'sale' || entry.transaction_type == 'gift'">
          
              <div class="form-inline row section">
                  <div class="col-sm-12">
                    <span class='h4'>Sale Agent(s)</span>
                    <span class="add-link-container">
                      <a a id="add_sale_agent" class="clickable" data-ng-click="addRecord(entry.sale.sale_agents)" title="Add">
                        Add new <span class="glyphicon glyphicon-plus"></span>
                      </a>
                    </span>                  
                  </div>
                  <div ui-sortable="sortableOptions" ng-model="entry.sale.sale_agents" class='col-sm-12'>
                    <div class="row input-block" data-ng-repeat="sale_agent in entry.sale.sale_agents | filter: activeRecords">
                      <div class="remove-link-container">
                        <a class="clickable" data-ng-click="removeRecord(entry.sale.sale_agents, sale_agent)" title="Remove">
                          <span class="glyphicon glyphicon-remove"></span>
                        </a>
                      </div>
                      <div class="col-sm-12">
                        <span class='control-label' sdbm-tooltip="entry_sale_agent">Authority Name</span>
                        <a id='find_sale_agent_name_authority_{{ $index }}' ng-if='sale_agent.agent.id == undefined' ng-init="sale_agent.agent = {id: null}" class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', sale_agent.agent, 'is_provenance_agent')">Find or Create Authority Name</a>
                        <div id='show_selling_agent_name_authority_0' ng-if='sale_agent.agent != undefined && sale_agent.agent.id != undefined' class="form-control well well-sm well-name-authority">
                          <a id='remove_selling_agent_name_authority_0' class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(sale_agent, 'agent')"></a>
                          <a href="/names/{{ sale_agent.agent.id }}" target="_blank"><span id="sale_agent_{{ $index }}">{{ sale_agent.agent.name }}</span></a>
                        </div>
                        <span id="sale_selling_agent_certainty_flags" class="btn btn-default certainty-flag clickable" sdbm-certainty-flags="sale_agent"><span class="glyphicon"></span></span>
                        
                        <span class='control-label' sdbm-tooltip="entry_sale_agent_role">Role</span>
                        <select id="sale_agent_role_{{ $index }}" name="sale_agent_role" class="form-control" ng-model="sale_agent.role" ng-options="option[0] as option[1] for option in optionsSaleAgentRole" required='required'>
                          <option value=""></option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>

          </div>
          
      </div>
    </fieldset>

<fieldset id="manuscript_details" ng-disabled="!entry.source">
    <div class="row">
      <div class="col-sm-12">
        <legend>Manuscript Details</legend>
      </div>
    </div>

  <div class='form-inline row section'>
    <div class="col-sm-12">
      <span class='h4'>Text Title(s)</span>
      <span class="add-link-container">
        <a id="add_title" class="clickable" data-ng-click="addRecord(entry.entry_titles);" title="Add">
          <span class="glyphicon glyphicon-plus"></span>
          add new
        </a>
      </span>
    </div>
    <div ui-sortable="sortableOptions" ng-model="entry.entry_titles" class='col-sm-12'>
      <div class="row input-block" data-ng-repeat="entry_title in entry.entry_titles | filter: activeRecords | orderBy: 'order'">
        <div class="remove-link-container">
          <a id="delete_title_{{ $index }}" class="clickable" data-ng-click="removeRecord(entry.entry_titles, entry_title)" title="Remove">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
          <div class="col-sm-12">
            <span class='control-label' sdbm-tooltip="entry_title_as_recorded">As Recorded</span>
            <span class="input-group">
                <input maxlength="255" id="title_{{ $index }}" type="text" class="form-control" data-ng-model="entry_title.title">
                <div id="title_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_title"><span class="glyphicon"></span></div>
            </span>
            <span class="control-label" sdbm-tooltip="entry_common_title">Standard Title</span>
            <input input maxlength="255" id="common_title_{{ $index }}" type="text" class="form-control" data-ng-model="entry_title.common_title">
          </div>
      </div>
    </div>
  </div>

  <div class="form-inline row entry-author-group section">
    <div class="col-sm-12">
      <span class='h4'>Author(s)</span>
      <span class="add-link-container">
        <a id="add_author" class="clickable" data-ng-click="addRecord(entry.entry_authors)" title="Add">
          <span class="glyphicon glyphicon-plus"></span>
          add new
        </a>
      </span>
    </div>
    <div ui-sortable="sortableOptions" ng-model="entry.entry_authors" class='col-sm-12'>
      <div class='row input-block' data-ng-repeat="entry_author in entry.entry_authors | filter: activeRecords">
        <div class="remove-link-container">
          <a class="clickable" data-ng-click="removeRecord(entry.entry_authors, entry_author)" title="Remove">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
        <div class="col-sm-12">
            <span class='control-label' sdbm-tooltip="entry_author_as_recorded">As Recorded</span>
            <input input maxlength="255" id="author_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="entry_author.observed_name">
            
            <span class='control-label' sdbm-tooltip="entry_author">Authority Name</span>
            <a id="find_author_name_authority_{{ $index }}" ng-if='entry_author.author.id == undefined' ng-init="entry_author.author = {id: null}" class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', entry_author.author, 'is_author', entry_author.observed_name)">Find or Create Authority Name</a>
            <span ng-if='entry_author.author != undefined && entry_author.author.id != undefined' class="well well-sm well-name-authority form-control">
              <a id="remove_author_name_authority_{{ $index }}" class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(entry_author, 'author')"></a>
              <a href="/names/{{ entry_author.author.id }}" target="_blank">{{ entry_author.author.name }}</a>
            </span>
            <span class='text-danger name-authority-warning' encourage-name-authority encourage-name-authority-model="entry_author" encourage-name-authority-name="author"></span>
            <span id="author_certainty_flags_{{ $index }}" class="btn btn-default certainty-flag clickable" sdbm-certainty-flags="entry_author"><span class="glyphicon"></span></span>
            
            <span class='control-label' sdbm-tooltip="entry_author_role">Role</span>
            <select id="author_role_{{ $index }}" name="author_role" class="form-control" ng-model="entry_author.role" ng-options="option[0] as option[1] for option in optionsAuthorRole">
              <option value=""></option>
            </select>
        </div>
      </div>
    </div>
  </div>

  <div class='form-inline row section'>
    <div class="col-sm-12">
      <span class="h4">
        Date(s)
      </span>
      <span class="add-link-container">
        <a id="add_date" class="clickable" data-ng-click="addRecord(entry.entry_dates)" title="Add">
          <span class="glyphicon glyphicon-plus"></span>
          add new
        </a>
      </span>
    </div>
    <div ui-sortable="sortableOptions" ng-model="entry.entry_dates" class='pull-right col-sm-12'>
      <div class="row input-block" data-ng-repeat="entry_date in entry.entry_dates | filter: activeRecords">
        <div class="remove-link-container">
          <a class="clickable" data-ng-click="removeRecord(entry.entry_dates, entry_date)" title="Remove">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
        <div class="col-sm-12">
          <span class='control-label' sdbm-tooltip="entry_date_as_recorded">As Recorded</span>
          <div class="input-group">
              <input id="date_observed_date_{{ $index }}" type="text" class="form-control" data-ng-model="entry_date.observed_date" sdbm-approximate-date-string="date_normalized_start_{{ $index }}, date_normalized_end_{{ $index }}" sdbm-approximate-date-string-url="/entry_dates/parse_observed_date.json">
              <div id="entry_date_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_date"><span class="glyphicon"></span></div>
          </div>
          <span class='control-label' sdbm-tooltip="entry_date_for_search">Range for Search</span>
          <span ng-class="{ 'has-error': !entryForm['date_normalized_start_' + $index].$valid }">
              <input id="date_normalized_start_{{ $index }}" name="date_normalized_start_{{ $index }}" type="text" class="form-control" placeholder="YYYY" ng-pattern="/^[0-9\-]*$/" data-ng-model="entry_date.date_normalized_start">
          </span>
          to
          <span ng-class="{ 'has-error': !entryForm['date_normalized_end_' + $index].$valid }">
              <input id="date_normalized_end_{{ $index }}" name="date_normalized_end_{{ $index }}" type="text" class="form-control" placeholder="YYYY" ng-pattern="/^[0-9\-]*$/" data-ng-model="entry_date.date_normalized_end">
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-inline row entry-artist-group section">
    <div class="col-sm-12">
      <span class='h4'>Artist(s)</span>
      <span class="add-link-container">
        <a id="add_artist" class="clickable" data-ng-click="addRecord(entry.entry_artists)" title="Add">
          <span class="glyphicon glyphicon-plus"></span>
          add new
        </a>
      </span>
    </div>
    <div ui-sortable="sortableOptions" ng-model="entry.entry_artists" class='col-sm-12'>
      <div class='row input-block' data-ng-repeat="entry_artist in entry.entry_artists | filter: activeRecords">
        <div class="remove-link-container">
          <a class="clickable" data-ng-click="removeRecord(entry.entry_artists, entry_artist)" title="Remove">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
        <div class="col-sm-12">
          <span class='control-label' sdbm-tooltip="entry_artist_as_recorded">As Recorded</span>
          <input input maxlength="255" id="artist_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="entry_artist.observed_name">
          
          <span class='control-label' sdbm-tooltip="entry_artist">Authority Name</span>
          <a id="find_artist_name_authority_{{ $index }}" ng-if='entry_artist.artist.id == undefined' ng-init="entry_artist.artist = {id: null}" class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', entry_artist.artist, 'is_artist', entry_artist.observed_name)">Find or Create Authority Name</a>
          <div ng-if='entry_artist.artist != undefined && entry_artist.artist.id != undefined' class="form-control well well-sm well-name-authority">
            <a id="remove_artist_name_authority_{{ $index }}" class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(entry_artist, 'artist')"></a>
            <a href="/names/{{ entry_artist.artist.id }}" target="_blank">{{ entry_artist.artist.name }}</a>
          </div>
          <span class='text-danger name-authority-warning' encourage-name-authority encourage-name-authority-model="entry_artist" encourage-name-authority-name="artist"></span>
          <span id="artist_certainty_flags_{{ $index }}" class="btn btn-default certainty-flag clickable" sdbm-certainty-flags="entry_artist"><span class="glyphicon"></span></span>
          
          <span class='control-label' sdbm-tooltip="entry_artist_role">Role</span>
          <select id="artist_role_{{ $index }}" name="artist_role" class="form-control" ng-model="entry_artist.role" ng-options="option[0] as option[1] for option in optionsArtistRole">
            <option value=""></option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="form-inline row entry-scribe-group section">
    <div class="col-sm-12">
      <span class='h4'>Scribe(s)</span>
      <span class="add-link-container">
        <a id="add_scribe" class="clickable" data-ng-click="addRecord(entry.entry_scribes)" title="Add">
          <span class="glyphicon glyphicon-plus"></span>
          add new
        </a>
      </span>
    </div>
    <div ui-sortable="sortableOptions" ng-model="entry.entry_scribes" class='col-sm-12'>
      <div class='row input-block' data-ng-repeat="entry_scribe in entry.entry_scribes | filter: activeRecords">
        <div class="remove-link-container">
          <a class="clickable" data-ng-click="removeRecord(entry.entry_scribes, entry_scribe)" title="Remove">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
        <div class="col-sm-12">
          <span class='control-label' sdbm-tooltip="entry_scribe_as_recorded">As Recorded</span>
          <input input maxlength="255" id="scribe_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="entry_scribe.observed_name">
          
          <span class='control-label' sdbm-tooltip="entry_scribe">Authority Name</span>
          <a id="find_scribe_name_authority_{{ $index }}" ng-if='entry_scribe.scribe.id == undefined' ng-init="entry_scribe.scribe = {id: null}" class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', entry_scribe.scribe, 'is_scribe', entry_scribe.observed_name)">Find or Create Authority Name</a>
          <div ng-if='entry_scribe.scribe != undefined && entry_scribe.scribe.id != undefined' class="form-control well well-sm well-name-authority">
            <a id="remove_scribe_name_authority_{{ $index }}" class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(entry_scribe, 'scribe')"></a>
            <a href="/names/{{ entry_scribe.scribe.id }}" target="_blank">{{ entry_scribe.scribe.name }}</a>
          </div>
          <span class='text-danger name-authority-warning' encourage-name-authority encourage-name-authority-model="entry_scribe" encourage-name-authority-name="scribe"></span>
          <span id="scribe_certainty_flags_{{ $index }}" class="btn btn-default certainty-flag clickable" sdbm-certainty-flags="entry_scribe"><span class="glyphicon"></span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-inline row section">
    <div class="col-sm-12">
      <span class='h4'>Place(s)</span>
      <span class="add-link-container">
        <a a id="add_place" class="clickable" data-ng-click="addRecord(entry.entry_places)" title="Add">
          <span class="glyphicon glyphicon-plus"></span>
          add new
        </a>
      </span>
    </div>
    <div ui-sortable="sortableOptions" ng-model="entry.entry_places" class='col-sm-12'>
      <div class="row input-block" data-ng-repeat="entry_place in entry.entry_places | filter: activeRecords">
        <div class="remove-link-container">
          <a class="clickable" data-ng-click="removeRecord(entry.entry_places, entry_place)" title="Remove">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
          <div class="col-sm-12">
            <span class='control-label' sdbm-tooltip="entry_place">As Recorded</span>
            <input input maxlength="255" id="place_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="entry_place.observed_name">
            
            <span class='control-label' sdbm-tooltip="entry_place">Authority Name</span>
            <a id="find_place_name_authority_{{ $index }}" ng-if='entry_place.place.id == undefined' ng-init="entry_place.place = {id: null}" class="btn btn-add-name" ng-click="selectNameAuthorityModal('places', entry_place.place, 'place', entry_place.observed_name)">Find or Create Authority Name</a>
            <div ng-if='entry_place.place != undefined && entry_place.place.id != undefined' class="form-control well well-sm well-name-authority">
              <a class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(entry_place, 'place')"></a>
              <a href="/places/{{ entry_place.place.id }}" target="_blank">{{ entry_place.place.name }}</a>
            </div>
            <span class='text-danger name-authority-warning' encourage-name-authority encourage-name-authority-model="entry_place" encourage-name-authority-name="place"></span>
            <span id="place_certainty_flags_{{ $index }}" class="btn btn-default certainty-flag clickable" sdbm-certainty-flags="entry_place"><span class="glyphicon"></span></span>
          </div>
      </div>
    </div>
  </div>

  <div class="form-inline row section">
    <div class="col-sm-12">
      <span class='h4'>Language(s)</span>
      <span class="add-link-container">
        <a id="add_language" class="clickable" data-ng-click="addRecord(entry.entry_languages)" title="Add">
          <span class="glyphicon glyphicon-plus"></span>
          add new
        </a>
      </span>
    </div>        
    <div ui-sortable="sortableOptions" ng-model="entry.entry_languages" class='col-sm-12'>
      <div class="row input-block" data-ng-repeat="entry_language in entry.entry_languages | filter: activeRecords">
        <div class="remove-link-container">
          <a class="clickable" data-ng-click="removeRecord(entry.entry_languages, entry_language)" title="Remove">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
        <div class="col-sm-12">
          <span class='control-label' sdbm-tooltip="entry_language">Language</span>
          <a id="find_language_name_authority_{{ $index }}" ng-if='entry_language.language.id == undefined' ng-init="entry_language.language = {id: null}" class="btn btn-add-name" ng-click="selectNameAuthorityModal('languages', entry_language.language, 'language')">Find or Create Authority Name</a>
          <div ng-if='entry_language.language != undefined && entry_language.language.id != undefined' class="form-control well well-sm well-name-authority">
            <a class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(entry_language, 'language')"></a>
            <a href="/languages/{{ entry_language.language.id }}" target="_blank">{{ entry_language.language.name }}</a>
          </div>
          <span id="language_certainty_flags_{{ $index }}" class="btn btn-default certainty-flag clickable" sdbm-certainty-flags="entry_language"><span class="glyphicon"></span></span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-inline row section">
    <div class="col-sm-12">
      <span class="h4">
        Material(s)
      </span>
      <span class="add-link-container">
        <a a id="add_material" class="clickable" data-ng-click="addRecord(entry.entry_materials)" title="Add">
          <span class="glyphicon glyphicon-plus"></span>
          add new
        </a>
      </span>
    </div>
    <div ui-sortable="sortableOptions" ng-model="entry.entry_materials" class='col-sm-12'>
      <div class="row input-block" data-ng-repeat="entry_material in entry.entry_materials | filter: activeRecords">
        <div class="remove-link-container">
          <a class="clickable" data-ng-click="removeRecord(entry.entry_materials, entry_material)" title="Remove">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
        <div class="col-sm-12">
          <span sdbm-tooltip="entry_material">Material</span>
          <div class="input-group">
              <select ng-model="entry_material.material" id="material_{{ $index }}" class="form-control">
                <option value="{{material.value}}" ng-repeat="material in optionsMaterial" ng-selected="entry_material.material == material.value">{{ material.label }}</option>
              </select>
              <div id="material_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_scribe"><span class="glyphicon"></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="form-inline row section">
    <div class="col-sm-12">
      <span class='h4'>Use(s)</span>
      <span class="add-link-container">
        <a a id="add_use" class="clickable" data-ng-click="addRecord(entry.entry_uses)" title="Add">
          <span class="glyphicon glyphicon-plus"></span>
          add new
        </a>
      </span>
    </div>
    <div ui-sortable="sortableOptions" ng-model="entry.entry_uses" class='col-sm-12'>
      <div class="row input-block" data-ng-repeat="entry_use in entry.entry_uses | filter: activeRecords">
        <div class="remove-link-container">
          <a class="clickable" data-ng-click="removeRecord(entry.entry_uses, entry_use)" title="Remove">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
        <div class="col-sm-12">
          <span class='control-label' sdbm-tooltip="entry_use">Use</span>
          <input maxlength="255" id="use_{{ $index }}" type="text" class="form-control" data-ng-model="entry_use.use">
        </div>              
      </div>
    </div>
  </div>

    <!-- numerical fields, in half-width column -->

  <div class="row section">
    
    <div class="col-sm-6">
      <h4 class="h4">Other</h4>
      <label for="binding" class="control-label" style="text-align: left;">
          <span sdbm-tooltip="entry_binding">Binding</span>
      </label>
      <textarea class="form-control" id="manuscript_binding" rows="2" data-ng-model="entry.manuscript_binding"/></textarea>
    
      <label for="link" class="control-label" style="text-align: left;">
          <span sdbm-tooltip="entry_link">URL Link</span>
      </label>
      <input type="text" class="form-control" id="manuscript_link" data-ng-model="entry.manuscript_link">
    
      <label for="other_info" class="control-label" style="text-align: left;">
          <span sdbm-tooltip="entry_other_info">Other Info</span>
      </label>
      <textarea class="form-control" id="other_info" rows="2" data-ng-model="entry.other_info"></textarea>
    </div>

    <div class="col-sm-3">
      <h4 class="h4 text-center">Numerical Information</h4>
      
      <div class="row">
        <label for="folios" class="control-label col-xs-6"><span sdbm-tooltip="entry_folios">Folios</span></label>
        <div class="col-xs-6">
          <input ng-class="{ 'has-error': !entryForm['folios'].$valid }" type="text" class="form-control" id="folios" name="folios" ng-pattern="/^[0-9]*$/" data-ng-model="entry.folios">
        </div>
        
        <label for="lines" class="control-label col-xs-6"><span sdbm-tooltip="entry_lines">Lines</span></label>
        <div class="col-xs-6">
          <input  ng-class="{ 'has-error': !entryForm['num_lines'].$valid }" type="text" class="form-control" id="num_lines" name="num_lines" ng-pattern="/^[0-9]*$/" data-ng-model="entry.num_lines">
        </div>
        
        <label for="columns" class="control-label col-xs-6"><span sdbm-tooltip="entry_columns">Columns</span></label>
        <div class="col-xs-6">
          <input ng-class="{ 'has-error': !entryForm['num_columns'].$valid }" type="text" class="form-control" id="num_columns" name="num_columns" ng-pattern="/^[0-9]*$/" data-ng-model="entry.num_columns">
        </div>
        
        <label for="height" class="control-label col-xs-6"><span sdbm-tooltip="entry_height">Height (mm)</span></label>
        <div class="col-xs-6">
          <input ng-class="{ 'has-error': !entryForm['height'].$valid }" type="text" class="form-control" id="height" name="height" ng-pattern="/^[0-9]*$/" data-ng-model="entry.height">
        </div>

        <label for="width" class="control-label col-xs-6"><span sdbm-tooltip="entry_width">Width (mm)</span></label>
        <div class="col-xs-6">
          <input ng-class="{ 'has-error': !entryForm['width'].$valid }" type="text" class="form-control" id="width" name="width" ng-pattern="/^[0-9]*$/" data-ng-model="entry.width">
        </div>
        
        <label for="alt_size" class="control-label col-xs-6"><span sdbm-tooltip="entry_alt_size">Alt Size</span></label>
        <div class="col-xs-6">
          <select name="alt_size" id="alt_size" class="form-control" data-ng-model="entry.alt_size" ng-options="option[0] as option[1] for option in optionsAltSize">
              <option value=""></option>                
          </select>
        </div>
      </div>
    </div>

    <div class="col-sm-3">

      <h4 class="h4 text-center">Initials</h4>

      <div class="row">
        <label for="initials_historiated" class="control-label col-xs-6"><span sdbm-tooltip="entry_initials_historiated">Historiated</span></label>
        <div class="col-xs-6">
          <input ng-class="{ 'has-error': !entryForm['initials_historiated'].$valid }" type="text" class="form-control" id="initials_historiated" name="initials_historiated" ng-pattern="/^[0-9]*$/" data-ng-model="entry.initials_historiated">
        </div>

        <label for="initials_decorated" class="control-label col-xs-6"><span sdbm-tooltip="entry_initials_decorated">Decorated</span></label>
        <div class="col-xs-6">
          <input ng-class="{ 'has-error': !entryForm['initials_decorated'].$valid }" type="text" class="form-control" id="initials_decorated" name="initials_decorated" ng-pattern="/^[0-9]*$/" data-ng-model="entry.initials_decorated">
        </div>
      </div>
    
      <h4 class="h4 text-center">Miniatures</h4>
    
      <div class="row">
        <label for="min_fl" class="control-label col-xs-6"><span sdbm-tooltip="entry_min_fl">Full-Page</span></label>
        <div class="col-xs-6">
          <input ng-class="{ 'has-error': !entryForm['miniatures_fullpage'].$valid }" type="text" class="form-control" id="miniatures_fullpage" name="miniatures_fullpage" ng-pattern="/^[0-9]*$/" data-ng-model="entry.miniatures_fullpage">
        </div>

        <label for="min_lg" class="control-label col-xs-6"><span sdbm-tooltip="entry_min_lg">Large</span></label>
        <div class="col-xs-6">
          <input ng-class="{ 'has-error': !entryForm['miniatures_large'].$valid }" type="text" class="form-control" id="miniatures_large" name="miniatures_large" ng-pattern="/^[0-9]*$/" data-ng-model="entry.miniatures_large">
        </div>

        <label for="min_sm" class="control-label col-xs-6"><span sdbm-tooltip="entry_min_sm">Small</span></label>
        <div class="col-xs-6">
          <input type="text" ng-class="{ 'has-error': !entryForm['miniatures_small'].$valid }" class="form-control" id="miniatures_small" name="miniatures_small" ng-pattern="/^[0-9]*$/" data-ng-model="entry.miniatures_small">
        </div>

        <label for="min_un" class="control-label col-xs-6"><span sdbm-tooltip="entry_min_un">Unspecified</span></label>
        <div class="col-xs-6">
          <input type="text" ng-class="{ 'has-error': !entryForm['miniatures_unspec_size'].$valid }" class="form-control" id="miniatures_unspec_size" name="miniatures_unspec_size" ng-pattern="/^[0-9]*$/" data-ng-model="entry.miniatures_unspec_size">
        </div>
      </div>
    </div>

  </div>

</fieldset>

<fieldset id="provenance_information" ng-disabled="!entry.source">
  <div class="row">
    <div class="col-sm-12">
      <legend>Provenance Information</legend>
    </div>
  </div>

    <!-- beginning of providence section -->

  <div class='row section'>
    <div class='col-sm-12'>
      <span class='h4' sdbm-tooltip="provenance">Agent(s)</span>
      <span class="add-link-container">
        <a id="add_provenance" class="clickable" data-ng-click="addRecord(entry.provenance)" title="Add">
          <span class="glyphicon glyphicon-plus"></span>
          add new
        </a>
      </span>
    </div>
    
    <div ui-sortable="sortableOptions" ng-model="entry.provenance" class='col-sm-12'>
      <div class="input-block provenance-block row" data-ng-repeat="prov in entry.provenance | filter: activeRecords">
        <div class="remove-link-container">
          <a class="clickable" data-ng-click="removeRecord(entry.provenance, prov)" title="Remove">
            <span class="glyphicon glyphicon-remove"></span>
          </a>
        </div>
        <div class="col-sm-12">
          <div class="row provenance-row">
            <div class="col-sm-12 form-inline ">
              <label sdbm-tooltip="entry_provenance_agent_as_recorded" class='control-label'>Agent Name as Recorded</label>
              <input input maxlength="255" id="provenance_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="prov.observed_name">
              
              <span class='control-label' sdbm-tooltip="entry_provenance_agent">Authority Name</span>
              <a id='find_provenance_name_authority_{{ $index }}' ng-if='prov.provenance_agent.id == undefined' ng-init="prov.provenance_agent = {id: null}" class="btn btn-add-name" ng-click="selectNameAuthorityModal('names', prov.provenance_agent, 'is_provenance_agent', prov.observed_name)">Find or Create Authority Name</a>
              <div ng-if='prov.provenance_agent != undefined && prov.provenance_agent.id != undefined' class="form-control well well-sm well-name-authority">
                <a class="glyphicon glyphicon-remove" ng-click="removeNameAuthority(prov, 'provenance_agent')"></a>
                <a href="/names/{{ prov.provenance_agent.id }}" target="_blank">{{ prov.provenance_agent.name }}</a>

              </div>
              <span id="provenance_certainty_flags_{{ $index }}" class="btn btn-default certainty-flag clickable" sdbm-certainty-flags="prov"><span class="glyphicon"></span></span>
              <span class='text-danger name-authority-warning' encourage-name-authority encourage-name-authority-model="prov" encourage-name-authority-name="provenance_agent"></span>
              
              <label for="" class="control-label">
                <input class='directly_transfered' id="provenance_direct_transfer_{{ $index }}" type="checkbox" ng-model="prov.direct_transfer" ng-click="lockProvenance($event)"/>
              <span sdbm-tooltip="entry_provenance_direct_transfer">Direct Transfer to Next</span></label>
            </div>
          </div>

          <div class="row provenance-row">
            <div class="col-sm-1"><label for="" class="control-label h4">Date(s)</label></div>
            <div class="col-sm-11 form-inline">
              <a href="" class="" ng-click="addProvenanceDate(prov);" id="add_provenance_date_{{ $index }}" style="margin-right: 25px; line-height: 35px">
                <span class="glyphicon glyphicon-plus"></span>
                Click to add new <strong>Date as Recorded</strong>
              </a>
              <span class="text-muted">Range For Search:</span>
              <input id="provenance_start_date_{{ $index }}" type="text" class="form-control" ng-model="prov.start_date_normalized_start" placeholder="YYYY-MM-DD" ng-pattern="/(^[0-9]{4}$)|(^[0-9]{4}-[0-9]{2}$)|(^[0-9]{4}-[0-9]{2}-[0-9]{2}$)/" ng-disabled="prov.dates[0].date == undefined" size=7>
              to  
              <input id="provenance_end_date_{{ $index }}" type="text" class="form-control" ng-model="prov.end_date_normalized_end" placeholder="YYYY-MM-DD" ng-pattern="/(^[0-9]{4}$)|(^[0-9]{4}-[0-9]{2}$)|(^[0-9]{4}-[0-9]{2}-[0-9]{2}$)/" ng-disabled="prov.dates[0].date == undefined" size=7>
            </div>
            <div class="col-sm-12" style="padding: 2px 0px;"></div>
            <div class="col-sm-3 prov-date" ng-repeat="dt in prov.dates">
              <div class="input-group">
                <span class="input-group-btn">
                  <span class="btn btn-warning" ng-click="removeProvenanceDate(prov, dt);">
                    <span class="glyphicon glyphicon-remove"></span>
                  </span>
                </span>
                <input type="text" class="form-control" ng-model="dt.date" ng-blur="updateProvenanceDateRange(prov, dt)" size=10 id="provenance_{{ $parent.$index }}_recorded_date_{{ $index }}">
                <select name="" id="" class="form-control" ng-model="dt.type" ng-blur="updateProvenanceDateRange(prov, dt)" ng-options="opt for opt in getProvenanceDateOptions(prov, dt)" ng-init="dt.type = dt.type || getProvenanceDateOptions(prov, dt)[0]">
                </select>
              </div>
            </div>
          </div>

          <div class="row provenance-row" style="border-bottom: none;">
            <div class="col-sm-1">
              <label for="" class="control-label" style="text-align: left;"><span sdbm-tooltip="entry_provenance_evidence">Evidence:</span></label>
            </div>
            <div class="col-sm-11">
              <textarea id="provenance_comment_{{ $index }}" class="form-control" rows="1" id="comment" ng-model="prov.comment" placeholder="Enter additional evidence here..."></textarea>
            </div>
          </div>
        
        </div>

      </div>
    </div>
  </div>
</fieldset>

    <!-- end of provenance section -->

    <div ng-show="entry.created_by">
        <div class="row">
            <div class="col-sm-12">
                <legend>About This Entry Record</legend>
            </div>
        </div>

        <div class="form-group row">
            <label for="link" class="col-sm-2 control-label">
                Created
            </label>
            <div class="col-sm-9 label-alignment">
                by {{ entry.created_by }} on {{ entry.created_at }}
            </div>
        </div>

    </div>

    <%= render partial: "edit_buttons" %>

    <div class="spacer-40px"/>

    </fieldset>

  <% if Rails.env.development? %>
  <br/><br/>
  <a href="#" data-ng-click="debug()">DEBUG: Print model to console</a>
  <% end %>

</form>

<script type="text/ng-template" id="postEntrySave.html">
    <div class="modal-header">
        <h3 class="modal-title">Successfully saved Entry record</h3>
    </div>
    <div class="modal-body form-horizontal">
        <% if Rails.configuration.sdbmss_show_testing_message %>
            <p style="color: red">
                Please remember that this system is in development;
                the data you enter and changes you make will NOT be
                retained after the test period.
            </p>
        <% end %>

        <p>What <strong class='text-success'>action</strong> would you like to take?</p>

        <p style="margin-left: 2em;">

            <a ng-click="sdbmutil.redirectToEntryCreatePage(entry.source.id)" href="#">Add another entry from this source.</a><br/><br/>

            <a href="/dashboard">Take a break from entering this source; return to my <strong class='text-info'>dashboard</strong></a><br/><br/>

            <a ng-click="markSourceAsEntered()" href="#">The source is <strong>completely entered</strong>; return to my <strong class='text-info'>dashboard</strong></a><br/><br/>

            <a href="/?commit=Search&op=AND&search_field=advanced&source=SDBM_SOURCE_{{ entry.source.id }}&utf8=%E2%9C%93">Go to other entries for this Source</a><br><br>

            <span ng-show="!entry.manuscript_id"><a ng-click="sdbmutil.redirectToFindOrCreateManuscriptForEntryPage(entry.id)" href="#">Go to the <strong class='text-primary'>Linking Tool</strong> for this entry.</a><br/><br/></span>

<!--            <span ng-show="entry.manuscript_id"><a ng-click="sdbmutil.redirectToManuscriptEditPage(entry.manuscript_id)" href="#">No, but let me manage the entries for SDBM_MS_{{ entry.manuscript_id }}</a><br/><br/></span>-->

            <a href="/entries/{{ entry.id }}">View this entry</a><br/><br/>

        </p>

    </div>
</script>

<script type="text/ng-template" id="similarSources.html">
    <div class="modal-header">
        <h3 class="modal-title">Warning: similar sources found!</h3>
    </div>
    <div class="modal-body form-horizontal">

        <p>There already exist sources in the database similar to the
        one you are trying to create. Click an existing source below
        to use it, or confirm that you really want to create your
        source.</p>

        <p style="margin-left: 2em;">
            <div ng-repeat="source in similarSources"><a ng-click="sdbmutil.redirectToEntryCreatePage(source.id)" href="#">SDBM_SOURCE_{{ source.id }} - {{ source.display_value }}</a></div>
        </p>

        <button class="btn btn-primary" ng-click="confirmCreate()">Create my new source anyway</button>
        <button class="btn btn-warning" ng-click="cancelCreate()">Cancel</button>

    </div>
</script>

<%= render "shared/create_entity_with_name" %>
<%= render "shared/create_name" %>
<%= render "shared/select_name_authority" %>
<%= render "shared/select_model_authority" %>
<%= render "shared/select_source" %>
<%= render "shared/create_source" %>