<% content_for :head do %>
<%= stylesheet_link_tag "extras", media: "all" %>
<%= javascript_include_tag "extras" %>
<% end %>

<% if @entry.persisted? %>
<input type="hidden" id="entry_id" value="<%= @entry.id %>" />
<% end %>
<% if @source_id %>
<input type="hidden" id="source_id" value="<%= @source_id %>" />
<% end %>

<div class="form-horizontal sdbmss-form" data-ng-controller="EntryCtrl">
  <fieldset>

    <div class="row">
      <div class="col-sm-12">
        <legend>{{ pageTitle }}</legend>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-11 text-right">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">
          <p>Please fill in as much information as possible from the record you are documenting. You can click on the field labels to get help. Known errors in the data should be preserved, but noted in the Comments at the bottom of the page.</p>

          <div ng-show="badData.length > 0" style="color:red; font-weight: bold;">
              WARNING: Bad data found in fields that can't be displayed in dropdowns: 
              <span ng-repeat="badDataItem in badData">{{ badDataItem }}</span>. Saving the record on this page may cause data loss.
          </div>
      </div>
      <div class="col-sm-2 text-right">
          <div class="dropdown">
              <button class="btn btn-default" type="button" id="actionsMenu" data-toggle="dropdown" aria-expanded="true">
                  Actions
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="actionsMenu">
                  <li role="presentation" ng-show="entry.id"><a role="menuitem" tabindex="-1" href="#" ng-click="sdbmutil.redirectToEntryViewPage(entry.id)">Go to public page for SDBM_{{ entry.id }}</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="sdbmutil.redirectToSourceEditPage(entry.source.id)">Edit source SDBM_SOURCE_{{ entry.source.id }}</a></li>
                  <li role="presentation" ng-show="entry.manuscript_id"><a role="menuitem" tabindex="-1" href="#" ng-click="sdbmutil.redirectToManuscriptEditPage(entry.manuscript_id)">Manage entries for SDBM_MS_{{ entry.manuscript_id }}</a></li>
                  <li role="presentation" ng-show="entry.id && !entry.manuscript_id"><a role="menuitem" tabindex="-1" href="#" ng-click="sdbmutil.redirectToCreateManuscriptForEntryPage(entry.id)">Create a manuscript record for this entry</a></li>
              </ul>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <legend>Source</legend>
      </div>
    </div>

    <div class="find-source-container">
        <div class="form-group row">
            <label class="col-sm-2 control-label">Source</label>
            <div class="col-sm-8 label-alignment">
                {{ entry.source.date }} - {{ entry.source.title }}
            </div>
        </div>
    </div>

    <div class="row form-group">
      <label for="cat_lot_no" class="col-sm-2 control-label"><span sdbm-tooltip="cat_lot_no">Cat. or Lot #</span></label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="cat_lot_no" placeholder="" ng-model="entry.catalog_or_lot_number">
      </div>
    </div>

    <div class="row form-group" ng-show="entry.source.entries_have_institution">
      <label for="cat_lot_no" class="col-sm-2 control-label"><span sdbm-tooltip="institution">Institution/Collection</span></label>
      <div class="col-sm-5">
          <input id="institution" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="entry.institution" sdbm-autocomplete-modal-controller="CreateNameModalCtrl"/>
      </div>
    </div>

    <div class="transaction-information-container" ng-show="entry.source.entries_have_a_transaction">

        <div class="row">
            <div class="col-sm-12">
                <legend>Transaction Information</legend>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 control-label"><span sdbm-tooltip="seller">Selling Agent</span></label>
            <div class="col-sm-5">
                <div class="input-group">
                    <input id="transaction_selling_agent" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="entry.transaction.selling_agent.agent" sdbm-autocomplete-modal-controller="CreateNameModalCtrl"/>
                    <div id="transaction_selling_agent_certainty_flags" class="input-group-addon clickable" sdbm-certainty-flags="entry.transaction.selling_agent"><span class="glyphicon"></span></div>
                </div>
            </div>
            <label class="col-sm-1 control-label"><span sdbm-tooltip="seller2">Seller</span></label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input id="transaction_seller" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="entry.transaction.seller_or_holder.agent" sdbm-autocomplete-modal-controller="CreateNameModalCtrl"/>
                    <div id="transaction_seller_certainty_flags" class="input-group-addon clickable" sdbm-certainty-flags="entry.transaction.seller_or_holder"><span class="glyphicon"></span></div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 control-label"><span sdbm-tooltip="buyer">Buyer</span></label>
            <div class="col-sm-5">
                <div class="input-group">
                    <input id="transaction_buyer" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="entry.transaction.buyer.agent" sdbm-autocomplete-modal-controller="CreateNameModalCtrl"/>
                    <div id="transaction_buyer_certainty_flags" class="input-group-addon clickable" sdbm-certainty-flags="entry.transaction.buyer"><span class="glyphicon"></span></div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="sold" class="col-sm-2 control-label"><span sdbm-tooltip="sold">Sold</span></label>
            <div class="col-sm-2">
                <select class="form-control" id="transaction_sold" ng-model="entry.transaction.sold" ng-options="option[0] as option[1] for option in optionsSold"></select>
            </div>
            <div ng-show="entry.transaction.sold == 'Yes'">
                <label for="sold" class="col-sm-4 control-label"><span sdbm-tooltip="sold">Date Sold</span></label>
                <div class="col-sm-3">
                    <input type="text" class="form-control" id="transaction_date" ng-model="entry.transaction.start_date">
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="price" class="col-sm-2 control-label"><span sdbm-tooltip="price">Price</span></label>
            <div class="col-sm-2">
                <input type="text" class="form-control" id="transaction_price" ng-model="entry.transaction.price">
            </div>
            <label for="currency" class="col-sm-1 control-label"><span sdbm-tooltip="currency">Currency</span></label>
            <div class="col-sm-1">
                <select name="currency" id="transaction_currency" class="form-control" ng-model="entry.transaction.currency" ng-options="option[0] as option[1] for option in optionsCurrency"></select>
            </div>
            <label for="other-currency" class="col-sm-2 control-label"><span sdbm-tooltip="otherCurrency">Other Currency</span></label>
            <div class="col-sm-3">
                <input type="text" class="form-control" id="other-currency" ng-model="entry.transaction.other_currency">
            </div>
        </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <legend>Manuscript Details</legend>
      </div>
    </div>

    <div class="form-group row" data-ng-repeat="entry_title in entry.entry_titles">
        <label class="col-sm-2 control-label">
            <div class="add-link-container"><a id="add_title_{{ $index }}" class="clickable" data-ng-click="addRecord(entry.entry_titles); addRecord(entry.entry_authors)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_titles, entry_title)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
            <span sdbm-tooltip="title">Title</span>
      </label>
      <div class="col-sm-5">
          <div class="input-group">
              <input id="title_{{ $index }}" type="text" class="form-control" data-ng-model="entry_title.title">
              <div id="title_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_title"><span class="glyphicon"></span></div>
          </div>
      </div>
      <label class="col-sm-1 control-label">
          <span sdbm-tooltip="title">CommonTitle</span>
      </label>
      <div class="col-sm-4">
        <input id="common_title_{{ $index }}" type="text" class="form-control" data-ng-model="entry_title.common_title">
      </div>
    </div>

    <div data-ng-repeat="entry_author in entry.entry_authors">
    <div class="form-group row entry-author-group">
        <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_authors)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_authors, entry_author)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
            <span sdbm-tooltip="authorVariant">Author As Recorded</span>
        </label>
      <div class="col-sm-5">
          <input id="author_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="entry_author.observed_name">
      </div>
      <label class="col-sm-1 control-label">
          <span sdbm-tooltip="author">Author</span>
      </label>
      <div class="col-sm-4">
          <div class="input-group">
              <input id="author_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{ "type": "is_author" }' sdbm-autocomplete-model="entry_author.author" sdbm-autocomplete-modal-controller="CreateNameModalCtrl"/>
              <div id="author_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_author"><span class="glyphicon"></span></div>
          </div>
      </div>
    </div>
    <div class="form-group row entry-author-group">
      <label class="col-sm-2 control-label">
          <span sdbm-tooltip="role">Role</span>
      </label>
      <div class="col-sm-1">
          <select id="author_role_{{ $index }}" name="author_role" class="form-control" ng-model="entry_author.role" ng-options="option[0] as option[1] for option in optionsAuthorRole"></select>
      </div>
    </div>
    </div>

    <div class="form-group row" data-ng-repeat="entry_date in entry.entry_dates">
      <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_dates)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_dates, entry_date)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
            <span sdbm-tooltip="year">Year</span>
      </label>
      <div class="col-sm-2">
        <input id="date_{{ $index }}" type="text" class="form-control" data-ng-model="entry_date.date">
      </div>
      <div class="col-sm-3"></div>
      <label class="col-sm-1 control-label">
          <span sdbm-tooltip="circa">Circa</span>
      </label>
      <div class="col-sm-3">
          <select id="circa_{{ $index }}" name="circa" class="form-control" ng-model="entry_date.circa" ng-options="option[0] as option[1] for option in optionsCirca"></select>
      </div>
    </div>

    <div class="form-group row" data-ng-repeat="entry_artist in entry.entry_artists">
      
      <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_artists)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_artists, entry_artist)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
            <span sdbm-tooltip="artist">Artist As Recorded</span>            
      </label>
      <div class="col-sm-5">
          <input id="artist_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="entry_artist.observed_name">
      </div>
      <label class="col-sm-1 control-label">
            <span sdbm-tooltip="artist">Artist</span>
      </label>
      <div class="col-sm-4">
          <div class="input-group">
              <input id="artist_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{ "type": "is_artist" }' sdbm-autocomplete-model="entry_artist.artist" sdbm-autocomplete-modal-controller="CreateNameModalCtrl"/>
              <div id="artist_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_artist"><span class="glyphicon"></span></div>
          </div>          
      </div>

    </div>

    <div class="form-group row" data-ng-repeat="entry_scribe in entry.entry_scribes">
      
      <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_scribes)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_scribes, entry_scribe)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
          <span sdbm-tooltip="scribe">Scribe As Recorded</span>
      </label>
      <div class="col-sm-5">
          <input id="scribe_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="entry_scribe.observed_name">
      </div>
      <label class="col-sm-1 control-label">
            <span sdbm-tooltip="scribe">Scribe</span>
      </label>
      <div class="col-sm-4">
          <div class="input-group">
              <input id="scribe_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{ "type": "is_scribe" }' sdbm-autocomplete-model="entry_scribe.scribe" sdbm-autocomplete-modal-controller="CreateNameModalCtrl"/>
              <div id="scribe_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_scribe"><span class="glyphicon"></span></div>
          </div>
      </div>

    </div>

    <div class="form-group row" data-ng-repeat="entry_language in entry.entry_languages">
      
      <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_languages)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_languages, entry_language)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
          <span sdbm-tooltip="language">Language</span>
      </label>
      <div class="col-sm-5">
          <div class="input-group">
              <input id="language_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/languages/search.json" sdbm-autocomplete-model="entry_language.language" sdbm-autocomplete-modal-controller="CreateLanguageModalCtrl"/>
              <div id="language_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_language"><span class="glyphicon"></span></div>
          </div>
      </div>
    </div>

    <div class="form-group row" data-ng-repeat="entry_material in entry.entry_materials">
      
      <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_materials)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_materials, entry_material)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
          <span sdbm-tooltip="material">Material</span>
      </label>
      <div class="col-sm-5">
          <div class="input-group">
              <input id="material_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="optionsMaterial" sdbm-autocomplete-model="entry_material.material" sdbm-autocomplete-assign-value-attr="true" sdbm-autocomplete-min-length="0" />
              <div id="material_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_scribe"><span class="glyphicon"></span></div>
          </div>
      </div>
    </div>

    <div class="form-group row" data-ng-repeat="entry_place in entry.entry_places">
      
      <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_places)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_places, entry_place)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
          <span sdbm-tooltip="place">Place</span>
      </label>
      <div class="col-sm-5">
          <div class="input-group">
              <input id="place_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/places/search.json" sdbm-autocomplete-model="entry_place.place" sdbm-autocomplete-modal-controller="CreatePlaceModalCtrl"/>
              <div id="place_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_place"><span class="glyphicon"></span></div>
          </div>
      </div>
    </div>

    <div class="form-group row" data-ng-repeat="entry_use in entry.entry_uses">
      
      <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_uses)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_uses, entry_use)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
          <span sdbm-tooltip="manuscript_use">Use</span>
      </label>
      <div class="col-sm-9">
        <input id="use_{{ $index }}" type="text" class="form-control" data-ng-model="entry_use.use">
      </div>
    </div>

    <div class="form-group row">
        <label for="folios" class="col-sm-2 control-label">
            <span sdbm-tooltip="folios">Folios</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="folios" data-ng-model="entry.folios">
        </div>
        <label for="lines" class="col-sm-1 control-label">
            <span sdbm-tooltip="lines">Lines</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="num_lines" data-ng-model="entry.num_lines">
        </div>
        <label for="columns" class="col-sm-1 control-label">
            <span sdbm-tooltip="columns">Columns</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="num_columns" data-ng-model="entry.num_columns">
        </div>
    </div>

    <div class="form-group row">
        <label for="height" class="col-sm-2 control-label">
            <span sdbm-tooltip="height">Height (mm)</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="height" data-ng-model="entry.height">
        </div>
        <label for="width" class="col-sm-1 control-label">
            <span sdbm-tooltip="width">Width (mm)</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="width" data-ng-model="entry.width">
        </div>
        <label for="alt_size" class="col-sm-1 control-label">
            <span sdbm-tooltip="?">Alt Size</span>
        </label>
        <div class="col-sm-3">
            <select name="alt_size" id="alt_size" class="form-control" data-ng-model="entry.alt_size" ng-options="option[0] as option[1] for option in optionsAltSize"></select>
        </div>
    </div>

    <div class="form-group row">
        <label for="min_fl" class="col-sm-2 control-label">
            <span sdbm-tooltip="min_fl">Miniatures Full-Page</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="miniatures_fullpage" data-ng-model="entry.miniatures_fullpage">
        </div>
        <label for="min_lg" class="col-sm-1 control-label">
            <span sdbm-tooltip="min_lg">Large</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="miniatures_large" data-ng-model="entry.miniatures_large">
        </div>
        <label for="min_sm" class="col-sm-1 control-label">
            <span sdbm-tooltip="min_sm">Small</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="miniatures_small" data-ng-model="entry.miniatures_small">
        </div>
        <label for="min_un" class="col-sm-1 control-label">
            <span sdbm-tooltip="min_un">Unspecified</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="miniatures_unspec_size" data-ng-model="entry.miniatures_unspec_size">
        </div>
    </div>

    <div class="form-group row">
        <label for="initials_historiated" class="col-sm-2 control-label">
            <span sdbm-tooltip="h_init">Initials Historiated</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="initials_historiated" data-ng-model="entry.initials_historiated">
        </div>
        <label for="initials_decorated" class="col-sm-1 control-label">
            <span sdbm-tooltip="d_init">Decorated</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="initials_decorated" data-ng-model="entry.initials_decorated">
        </div>
    </div>

    <div class="form-group row">
      <label for="binding" class="col-sm-2 control-label">
          <span sdbm-tooltip="binding">Binding</span>
      </label>
      <div class="col-sm-9">
        <textarea class="form-control" id="manuscript_binding" rows="2" data-ng-model="entry.manuscript_binding"/></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label for="link" class="col-sm-2 control-label">
          <span sdbm-tooltip="link">URL Link</span>
      </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="manuscript_link" data-ng-model="entry.manuscript_link">
      </div>
    </div>

    <div class="form-group row">
      <label for="other_info" class="col-sm-2 control-label">
          <span sdbm-tooltip="comments">Other information</span>
      </label>
      <div class="col-sm-9">
        <textarea class="form-control" id="other_info" rows="3" data-ng-model="entry.other_info"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <legend>Provenance Information</legend>
      </div>
    </div>

    <div class="provenance-group-container" data-ng-repeat="prov in entry.provenance">

    <div class="form-group row">
        <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.provenance)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.provenance, prov)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
            Start Date
        </label>
      <div class="col-sm-2">
        <input id="provenance_start_date_{{ $index }}" type="text" class="form-control" ng-model="prov.start_date">
      </div>
      <div class="col-sm-2"></div>
      <label class="col-sm-2 control-label">End Date</label>
      <div class="col-sm-2">
        <input id="provenance_end_date_{{ $index }}" type="text" class="form-control" ng-model="prov.end_date">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 control-label">Selling Agent</label>
      <div class="col-sm-5">
          <div class="input-group">
              <input id="provenance_selling_agent_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="prov.selling_agent.agent" sdbm-autocomplete-modal-controller="CreateNameModalCtrl"/>
              <div id="provenance_selling_agent_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="prov.selling_agent"><span class="glyphicon"></span></div>
          </div>
      </div>
      <label class="col-sm-1 control-label">As Recorded</label>
      <div class="col-sm-4">
          <input id="provenance_selling_agent_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="prov.selling_agent.observed_name">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 control-label">Holder</label>
      <div class="col-sm-5">
          <div class="input-group">
              <input id="provenance_seller_or_holder_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="prov.seller_or_holder.agent" sdbm-autocomplete-modal-controller="CreateNameModalCtrl"/>
              <div id="provenance_seller_or_holder_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="prov.seller_or_holder"><span class="glyphicon"></span></div>
          </div>
      </div>
      <label class="col-sm-1 control-label">As Recorded</label>
      <div class="col-sm-4">
          <input id="provenance_seller_or_holder_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="prov.seller_or_holder.observed_name">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 control-label">Buyer</label>
      <div class="col-sm-5">
          <div class="input-group">
              <input id="provenance_buyer_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="prov.buyer.agent" sdbm-autocomplete-modal-controller="CreateNameModalCtrl"/>
              <div id="provenance_buyer_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="prov.buyer"><span class="glyphicon"></span></div>
          </div>
      </div>
      <label class="col-sm-1 control-label">As Recorded</label>
      <div class="col-sm-4">
          <input id="provenance_buyer_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="prov.buyer.observed_name">
      </div>
    </div>

    <div class="form-group row">

      <label class="col-sm-2 control-label">
          <span sdbm-tooltip="provenance">Evidence</span>
      </label>
      <div class="col-sm-10">
        <textarea id="provenance_comment_{{ $index }}" class="form-control" rows="2" id="comment" ng-model="prov.comment"></textarea>
      </div>
    </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <legend>Editorial Notes</legend>
      </div>
    </div>
    
    <div class="row" ng-repeat="entry_comment in entry.entry_comments"> 
        <label class="col-sm-2 control-label">
            <span>by {{ entry_comment.created_by }}</span>
        </label>
        <div class="col-sm-9">
            {{ entry_comment.comment||"(none)" }}
        </div>
    </div>

    <div class="form-group row">
      <label for="editorial_comments" class="col-sm-2 control-label">
          <span sdbm-tooltip="entry">Add Comment</span>
      </label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="4" id="comment" data-ng-model="entry.new_comment"></textarea>
      </div>
    </div>

    <div class="row" style="padding-top: 20px;">
      <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button class="btn btn-primary" ng-click="save()" ng-disabled="currentlySaving">Save</button>
            <a class="btn btn-warning" href="/dashboard">Cancel</a>
        </div>
    </div>

  </fieldset>

  <br/><br/>
  <a href="#" data-ng-click="debug()">DEBUG: Print model to console</a>

</div>

<script type="text/ng-template" id="postEntrySave.html">
    <div class="modal-header">
        <h3 class="modal-title">Successfully saved Entry record</h3>
    </div>
    <div class="modal-body form-horizontal">
        
        <p>Would you like to add another Entry for this Source?</p>

        <p style="margin-left: 2em;">

            <a ng-click="sdbmutil.redirectToEntryCreatePage(entry.source.id)" href="#">Yes</a><br/><br/>

            <a href="/dashboard">Not right now. I'll enter the rest later</a><br/><br/>

            <a ng-click="markSourceAsEntered()" href="#">No, there are no more manuscripts to enter from this source</a><br/><br/>

            <a ng-click="sdbmutil.redirectToEntryEditPage(entry.id)" href="#">Return to editing this entry</a><br/><br/>

        </p>

    </div>
</script>

<%= render "shared/create_entity_with_name" %>

<%= render "shared/inference_flags" %>
