<% content_for :head do %>
<%= stylesheet_link_tag "extras", media: "all" %>
<%= javascript_include_tag "extras" %>

<style>

.col-sm-1-and-half {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 12.5%;
    position: relative;
    min-height: 1px;
 }

.col-sm-2-and-half {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 20.8335%;
    position: relative;
    min-height: 1px;
 }

.col-sm-3-and-half {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 29.1669%;
    position: relative;
    min-height: 1px;
 }

.col-sm-4-and-half {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 37.5%;
    position: relative;
    min-height: 1px;
 }

.col-sm-9-and-half {
    padding-left: 10px;
    padding-right: 10px;
    float: left;
    width: 79.1673%;
    position: relative;
    min-height: 1px;
 }
 
label.col-sm-1-and-half {
    padding-right: 0;
 }

label.col-sm-2-and-half {
    padding-right: 0;
 }
 
</style>

<% end %>

<% if @entry.persisted? %>
    <% @page_title = "Edit #{@entry.public_id} - " + application_name %>
<% else %>
    <% @page_title = "Create new entry - " + application_name %>
<% end %>

<% if @entry.persisted? %>
<input type="hidden" id="entry_id" value="<%= @entry.id %>" />
<% end %>
<% if @source_id %>
<input type="hidden" id="source_id" value="<%= @source_id %>" />
<% end %>

<form id="entry-form" class="form-horizontal sdbmss-form" autocomplete="off" data-ng-controller="EntryCtrl">
    <fieldset>

    <div class="row">
      <div class="col-sm-12">
        <legend>{{ pageTitle }}</legend>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-11 text-right">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-2 col-sm-8">

          <p ng-show="!edit">Please fill in as much information as
              possible from the record you are documenting. No fields
              are mandatory. Click on a <b>data field label</b>
              to open a pop-up window containing definitions and data
              standards for that field. Click on the "+ x" to the left
              of a data field to add or remove multiple values.
              Depending on the type of <b>transaction</b>
              you select, the available data fields will change.
          </p>

          <p ng-show="edit">You can make edits to your entries in the
              data fields below. Click on a <b>data field</b>
              label to open a pop-up window containing definitions and
              data standards for that field. Depending on the type of
              <b>transaction</b> you select, the available data fields will
              change.
          </p>

          <p>Remember that entries reflect what the <b>source</b>
              provides, not necessarily the reality of what the <b>manuscript</b>
              is. You should not try to correct a source. Known errors in
              the data should be preserved but can be noted in the
              <b>Comments</b> at the bottom of the page. If you believe the
              source description is in error, create a new <b>Personal
                  Observation</b> entry. If there is not already a <b>Manuscript
                  Record</b> created, you will be asked to create this record.
          </p>

          <div ng-show="edit">
              <p>Use the Action dropdown menu to navigate to related pages.</p>
          </div>
          
          <div ng-show="badData.length > 0" style="color:red; font-weight: bold;">
              WARNING: Bad data found in fields that can't be displayed in dropdowns: 
              <span ng-repeat="badDataItem in badData">{{ badDataItem }}</span>. Saving the record on this page may cause data loss.
          </div>
      </div>
      <div class="col-sm-2 text-right">
          <div class="dropdown">
              <button class="btn btn-default" type="button" id="actionsMenu" data-toggle="dropdown" aria-expanded="true">
                  Actions
                  <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="actionsMenu">
                  <li role="presentation" ng-show="entry.id"><a role="menuitem" tabindex="-1" href="#" ng-click="sdbmutil.redirectToEntryViewPage(entry.id)">Go to public page for SDBM_{{ entry.id }}</a></li>
                  <li role="presentation" ng-show="entry.id"><a role="menuitem" tabindex="-1" href="#" ng-click="sdbmutil.redirectToEntryHistoryPage(entry.id)">View history for SDBM_{{ entry.id }}</a></li>
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="#" ng-click="sdbmutil.redirectToSourceEditPage(entry.source.id)">Edit source SDBM_SOURCE_{{ entry.source.id }}</a></li>
                  <li role="presentation" ng-show="entry.manuscript_id"><a role="menuitem" tabindex="-1" href="#" ng-click="sdbmutil.redirectToManuscriptEditPage(entry.manuscript_id)">Manage entries for SDBM_MS_{{ entry.manuscript_id }}</a></li>
                  <li role="presentation" ng-show="entry.id && !entry.manuscript_id"><a role="menuitem" tabindex="-1" href="#" ng-click="sdbmutil.redirectToFindOrCreateManuscriptForEntryPage(entry.id)">Create a manuscript record or link for this entry</a></li>
              </ul>
          </div>
      </div>
    </div>

    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button class="btn btn-primary save-button" ng-click="save()" ng-disabled="currentlySaving">Save</button>
            <a class="btn btn-warning" href="/dashboard">Cancel</a>
        </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <legend>Source</legend>
      </div>
    </div>

    <div class="source-container">
        <div class="form-group row">
            <label class="col-sm-2 control-label">Source</label>
            <div class="col-sm-8 label-alignment source-name">
                {{ entry.source.display_value }} ({{ entry.source.source_type.display_name }})
            </div>
        </div>
    </div>

    <div class="row form-group">
      <label for="cat_lot_no" class="col-sm-2 control-label"><span sdbm-tooltip="entry_cat_lot_no">Cat. or Lot #</span></label>
      <div class="col-sm-2">
        <input type="text" class="form-control" id="cat_lot_no" placeholder="" ng-model="entry.catalog_or_lot_number">
      </div>
    </div>

    <div class="row form-group" ng-show="entry.source.source_type.entries_have_institution_field">
      <label for="cat_lot_no" class="col-sm-2 control-label"><span sdbm-tooltip="entry_institution">Institution/Collection</span></label>
      <div class="col-sm-5">
          <input id="institution" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="entry.institution" sdbm-autocomplete-modal-controller="CreateNameModalCtrl" sdbm-autocomplete-modal-template="createName.html"/>
      </div>
    </div>

    <div class="transaction-information-container">

        <div class="row">
            <div class="col-sm-12">
                <legend>Transaction Information</legend>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 control-label">This entry is</label>
            <div class="col-sm-3">
                <select class="form-control" id="transaction_type" ng-model="entry.transaction_type" ng-options="option[0] as option[1] for option in optionsTransactionType" ng-disabled="transactionTypeDisabled()"></select>
            </div>
        </div>

        <div ng-show="entry.transaction_type == 'sale' || entry.transaction_type == 'gift'">
        
            <div class="form-group row">
                <label class="col-sm-2 control-label"><span sdbm-tooltip="entry_selling_agent">Selling Agent</span></label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input id="transaction_selling_agent" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="entry.transaction.selling_agent.agent" sdbm-autocomplete-modal-controller="CreateNameModalCtrl" sdbm-autocomplete-modal-template="createName.html"/>
                        <div id="transaction_selling_agent_certainty_flags" class="input-group-addon clickable" sdbm-certainty-flags="entry.transaction.selling_agent"><span class="glyphicon"></span></div>
                    </div>
                </div>
                <label class="col-sm-1 control-label"><span sdbm-tooltip="entry_seller">Seller</span></label>
                <div class="col-sm-4">
                    <div class="input-group">
                        <input id="transaction_seller" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="entry.transaction.seller_or_holder.agent" sdbm-autocomplete-modal-controller="CreateNameModalCtrl" sdbm-autocomplete-modal-template="createName.html"/>
                        <div id="transaction_seller_certainty_flags" class="input-group-addon clickable" sdbm-certainty-flags="entry.transaction.seller_or_holder"><span class="glyphicon"></span></div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 control-label"><span sdbm-tooltip="entry_buyer">Buyer</span></label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <input id="transaction_buyer" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="entry.transaction.buyer.agent" sdbm-autocomplete-modal-controller="CreateNameModalCtrl" sdbm-autocomplete-modal-template="createName.html"/>
                        <div id="transaction_buyer_certainty_flags" class="input-group-addon clickable" sdbm-certainty-flags="entry.transaction.buyer"><span class="glyphicon"></span></div>
                    </div>
                </div>
            </div>

            <div ng-show="entry.transaction_type == 'sale'">

                <div class="form-group row">
                    <label for="sold" class="col-sm-2 control-label"><span sdbm-tooltip="entry_sold">Sold</span></label>
                    <div class="col-sm-2">
                        <select class="form-control" id="transaction_sold" ng-model="entry.transaction.sold" ng-options="option[0] as option[1] for option in optionsSold">
                            <option value=""></option>
                        </select>
                    </div>
                    <div ng-show="entry.transaction.sold == 'Yes'">
                        <label for="sold" class="col-sm-4 control-label">Date Sold</span></label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="transaction_date" ng-model="entry.transaction.start_date">
                        </div>
                    </div>
                </div>
                
                <div class="form-group row">
                    <label for="price" class="col-sm-2 control-label"><span sdbm-tooltip="entry_price">Price</span></label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="transaction_price" ng-model="entry.transaction.price">
                    </div>
                    <label for="currency" class="col-sm-1 control-label"><span sdbm-tooltip="entry_currency">Currency</span></label>
                    <div class="col-sm-1">
                        <select name="currency" id="transaction_currency" class="form-control" ng-model="entry.transaction.currency" ng-options="option[0] as option[1] for option in optionsCurrency">
                            <option value=""></option>
                        </select>
                    </div>
                    <label for="other-currency" class="col-sm-2 control-label"><span sdbm-tooltip="entry_other_currency">Other Currency</span></label>
                    <div class="col-sm-3">
                        <input type="text" class="form-control" id="other-currency" ng-model="entry.transaction.other_currency">
                    </div>
                </div>

            </div>

        </div>
        
    </div>

    <div class="row">
      <div class="col-sm-12">
        <legend>Manuscript Details</legend>
      </div>
    </div>

    <div class="form-group row" data-ng-repeat="entry_title in entry.entry_titles | filter: activeRecords">
        <label class="col-sm-2 control-label">
            <div class="add-link-container"><a id="add_title_{{ $index }}" class="clickable" data-ng-click="addRecord(entry.entry_titles); addRecord(entry.entry_authors)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a id="delete_title_{{ $index }}" class="clickable" data-ng-click="removeRecord(entry.entry_titles, entry_title)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
            <span sdbm-tooltip="entry_title_as_recorded">Title As Recorded</span>
      </label>
      <div class="col-sm-5">
          <div class="input-group">
              <input id="title_{{ $index }}" type="text" class="form-control" data-ng-model="entry_title.title">
              <div id="title_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_title"><span class="glyphicon"></span></div>
          </div>
      </div>
      <label class="col-sm-1 control-label">
          <span sdbm-tooltip="entry_common_title">CommonTitle</span>
      </label>
      <div class="col-sm-4">
        <input id="common_title_{{ $index }}" type="text" class="form-control" data-ng-model="entry_title.common_title">
      </div>
    </div>

    <div data-ng-repeat="entry_author in entry.entry_authors | filter: activeRecords">
    <div class="form-group row entry-author-group">
        <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_authors)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_authors, entry_author)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
            <span sdbm-tooltip="entry_author_as_recorded">Author As Recorded</span>
        </label>
      <div class="col-sm-5">
          <input id="author_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="entry_author.observed_name">
      </div>
      <label class="col-sm-1 control-label">
          <span sdbm-tooltip="entry_author">Author</span>
      </label>
      <div class="col-sm-4">
          <div class="input-group">
              <input id="author_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{ "type": "is_author" }' sdbm-autocomplete-model="entry_author.author" sdbm-autocomplete-modal-controller="CreateNameModalCtrl" sdbm-autocomplete-modal-template="createName.html"/>
              <div id="author_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_author"><span class="glyphicon"></span></div>
          </div>
      </div>
    </div>
    <div class="form-group row entry-author-group">
      <label class="col-sm-2 control-label">
          <span sdbm-tooltip="entry_author_role">Role</span>
      </label>
      <div class="col-sm-1">
          <select id="author_role_{{ $index }}" name="author_role" class="form-control" ng-model="entry_author.role" ng-options="option[0] as option[1] for option in optionsAuthorRole"></select>
      </div>
    </div>
    </div>

    <div class="form-group row" data-ng-repeat="entry_date in entry.entry_dates | filter: activeRecords">
      <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_dates)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_dates, entry_date)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
            <span sdbm-tooltip="entry_date_as_recorded">Date As Recorded</span>
      </label>
      <div class="col-sm-4-and-half">
          <div class="input-group">
              <input id="date_observed_date_{{ $index }}" type="text" class="form-control" data-ng-model="entry_date.observed_date" sdbm-approximate-date-string="date_normalized_start_{{ $index }}, date_normalized_end_{{ $index }}">
              <div id="entry_date_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_date"><span class="glyphicon"></span></div>
          </div>
      </div>

      <label class="col-sm-1-and-half control-label">
          <span sdbm-tooltip="entry_date_for_search">Date for Search</span>
      </label>
      <div class="col-sm-2">
          <input id="date_normalized_start_{{ $index }}" type="text" class="form-control" data-ng-model="entry_date.date_normalized_start">
      </div>
      <div class="col-sm-2">
          <input id="date_normalized_end_{{ $index }}" type="text" class="form-control" data-ng-model="entry_date.date_normalized_end">
      </div>
      
    </div>

    <div class="form-group row" data-ng-repeat="entry_artist in entry.entry_artists | filter: activeRecords">
      
      <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_artists)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_artists, entry_artist)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
            <span sdbm-tooltip="entry_artist_as_recorded">Artist As Recorded</span>
      </label>
      <div class="col-sm-5">
          <input id="artist_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="entry_artist.observed_name">
      </div>
      <label class="col-sm-1 control-label">
            <span sdbm-tooltip="entry_artist">Artist</span>
      </label>
      <div class="col-sm-4">
          <div class="input-group">
              <input id="artist_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{ "type": "is_artist" }' sdbm-autocomplete-model="entry_artist.artist" sdbm-autocomplete-modal-controller="CreateNameModalCtrl" sdbm-autocomplete-modal-template="createName.html"/>
              <div id="artist_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_artist"><span class="glyphicon"></span></div>
          </div>          
      </div>

    </div>

    <div class="form-group row" data-ng-repeat="entry_scribe in entry.entry_scribes | filter: activeRecords">
      
      <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_scribes)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_scribes, entry_scribe)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
          <span sdbm-tooltip="entry_scribe_as_recorded">Scribe As Recorded</span>
      </label>
      <div class="col-sm-5">
          <input id="scribe_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="entry_scribe.observed_name">
      </div>
      <label class="col-sm-1 control-label">
            <span sdbm-tooltip="entry_scribe">Scribe</span>
      </label>
      <div class="col-sm-4">
          <div class="input-group">
              <input id="scribe_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{ "type": "is_scribe" }' sdbm-autocomplete-model="entry_scribe.scribe" sdbm-autocomplete-modal-controller="CreateNameModalCtrl" sdbm-autocomplete-modal-template="createName.html"/>
              <div id="scribe_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_scribe"><span class="glyphicon"></span></div>
          </div>
      </div>

    </div>

    <div class="form-group row" data-ng-repeat="entry_language in entry.entry_languages | filter: activeRecords">
      
      <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_languages)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_languages, entry_language)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
          <span sdbm-tooltip="entry_language">Language</span>
      </label>
      <div class="col-sm-5">
          <div class="input-group">
              <input id="language_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/languages/search.json" sdbm-autocomplete-model="entry_language.language" sdbm-autocomplete-modal-controller="CreateLanguageModalCtrl" sdbm-autocomplete-modal-template="createEntityWithName.html"/>
              <div id="language_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_language"><span class="glyphicon"></span></div>
          </div>
      </div>
    </div>

    <div class="form-group row" data-ng-repeat="entry_material in entry.entry_materials | filter: activeRecords">
      
      <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_materials)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_materials, entry_material)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
          <span sdbm-tooltip="entry_material">Material</span>
      </label>
      <div class="col-sm-5">
          <div class="input-group">
              <input id="material_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="optionsMaterial" sdbm-autocomplete-model="entry_material.material" sdbm-autocomplete-assign-value-attr="true" sdbm-autocomplete-min-length="0" />
              <div id="material_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_scribe"><span class="glyphicon"></span></div>
          </div>
      </div>
    </div>

    <div class="form-group row" data-ng-repeat="entry_place in entry.entry_places | filter: activeRecords">
      
      <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_places)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_places, entry_place)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
          <span sdbm-tooltip="entry_place">Place</span>
      </label>
      <div class="col-sm-5">
          <div class="input-group">
              <input id="place_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/places/search.json" sdbm-autocomplete-model="entry_place.place" sdbm-autocomplete-modal-controller="CreatePlaceModalCtrl" sdbm-autocomplete-modal-template="createEntityWithName.html"/>
              <div id="place_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="entry_place"><span class="glyphicon"></span></div>
          </div>
      </div>
    </div>

    <div class="form-group row" data-ng-repeat="entry_use in entry.entry_uses | filter: activeRecords">
      
      <label class="col-sm-2 control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.entry_uses)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.entry_uses, entry_use)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
          <span sdbm-tooltip="entry_use">Use</span>
      </label>
      <div class="col-sm-9">
        <input id="use_{{ $index }}" type="text" class="form-control" data-ng-model="entry_use.use">
      </div>
    </div>

    <div class="form-group row">
        <label for="folios" class="col-sm-2 control-label">
            <span sdbm-tooltip="entry_folios">Folios</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="folios" data-ng-model="entry.folios">
        </div>
        <label for="lines" class="col-sm-1 control-label">
            <span sdbm-tooltip="entry_lines">Lines</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="num_lines" data-ng-model="entry.num_lines">
        </div>
        <label for="columns" class="col-sm-1 control-label">
            <span sdbm-tooltip="entry_columns">Columns</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="num_columns" data-ng-model="entry.num_columns">
        </div>
    </div>

    <div class="form-group row">
        <label for="height" class="col-sm-2 control-label">
            <span sdbm-tooltip="entry_height">Height (mm)</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="height" data-ng-model="entry.height">
        </div>
        <label for="width" class="col-sm-1 control-label">
            <span sdbm-tooltip="entry_width">Width (mm)</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="width" data-ng-model="entry.width">
        </div>
        <label for="alt_size" class="col-sm-1 control-label">
            <span sdbm-tooltip="entry_alt_size">Alt Size</span>
        </label>
        <div class="col-sm-3">
            <select name="alt_size" id="alt_size" class="form-control" data-ng-model="entry.alt_size" ng-options="option[0] as option[1] for option in optionsAltSize">
                <option value=""></option>                
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="min_fl" class="col-sm-2 control-label">
            <span sdbm-tooltip="entry_min_fl">Miniatures Full-Page</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="miniatures_fullpage" data-ng-model="entry.miniatures_fullpage">
        </div>
        <label for="min_lg" class="col-sm-1 control-label">
            <span sdbm-tooltip="entry_min_lg">Large</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="miniatures_large" data-ng-model="entry.miniatures_large">
        </div>
        <label for="min_sm" class="col-sm-1 control-label">
            <span sdbm-tooltip="entry_min_sm">Small</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="miniatures_small" data-ng-model="entry.miniatures_small">
        </div>
        <label for="min_un" class="col-sm-1 control-label">
            <span sdbm-tooltip="entry_min_un">Unspecified</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="miniatures_unspec_size" data-ng-model="entry.miniatures_unspec_size">
        </div>
    </div>

    <div class="form-group row">
        <label for="initials_historiated" class="col-sm-2 control-label">
            <span sdbm-tooltip="entry_initials_historiated">Initials Historiated</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="initials_historiated" data-ng-model="entry.initials_historiated">
        </div>
        <label for="initials_decorated" class="col-sm-1 control-label">
            <span sdbm-tooltip="entry_initials_decorated">Decorated</span>
        </label>
        <div class="col-sm-1">
            <input type="text" class="form-control" id="initials_decorated" data-ng-model="entry.initials_decorated">
        </div>
    </div>

    <div class="form-group row">
      <label for="binding" class="col-sm-2 control-label">
          <span sdbm-tooltip="entry_binding">Binding</span>
      </label>
      <div class="col-sm-9">
        <textarea class="form-control" id="manuscript_binding" rows="2" data-ng-model="entry.manuscript_binding"/></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label for="link" class="col-sm-2 control-label">
          <span sdbm-tooltip="entry_link">URL Link</span>
      </label>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="manuscript_link" data-ng-model="entry.manuscript_link">
      </div>
    </div>

    <div class="form-group row">
      <label for="other_info" class="col-sm-2 control-label">
          <span sdbm-tooltip="entry_other_info">Other information</span>
      </label>
      <div class="col-sm-9">
        <textarea class="form-control" id="other_info" rows="3" data-ng-model="entry.other_info"></textarea>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <legend>Provenance Information</legend>
      </div>
    </div>

    <div class="provenance-group-container" data-ng-repeat="prov in entry.provenance | filter: activeRecords">

    <div class="form-group row">
        <label class="col-sm-2-and-half control-label">
            <div class="add-link-container"><a class="clickable" data-ng-click="addRecord(entry.provenance)" title="Add"><span class="glyphicon glyphicon-plus"></span></a></div>
            <div class="remove-link-container"><a class="clickable" data-ng-click="removeRecord(entry.provenance, prov)" title="Remove"><span class="glyphicon glyphicon-remove"></span></a></div>
            <span sdbm-tooltip="entry_provenance_start_date_as_recorded">Start Date As Recorded</span>
        </label>
      <div class="col-sm-3-and-half">
        <input id="provenance_start_date_{{ $index }}" type="text" class="form-control" ng-model="prov.start_date" sdbm-approximate-date-string="start_date_normalized_start_{{ $index }}, start_date_normalized_end_{{ $index }}">
      </div>
      <label class="col-sm-2 control-label">
          <span sdbm-tooltip="entry_provenance_start_date_for_search">Start Date for Search</span>
      </label>
      <div class="col-sm-2">
        <input id="start_date_normalized_start_{{ $index }}" type="text" class="form-control" ng-model="prov.start_date_normalized_start">
      </div>
      <div class="col-sm-2">
        <input id="start_date_normalized_end_{{ $index }}" type="text" class="form-control" ng-model="prov.start_date_normalized_end">
      </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2-and-half control-label">
            <span sdbm-tooltip="entry_provenance_end_date_as_recorded">End Date As Recorded</span>
        </label>
      <div class="col-sm-3-and-half">
        <input id="provenance_end_date_{{ $index }}" type="text" class="form-control" ng-model="prov.end_date" sdbm-approximate-date-string="end_date_normalized_start_{{ $index }}, end_date_normalized_end_{{ $index }}">
      </div>
      <label class="col-sm-2 control-label">
          <span sdbm-tooltip="entry_provenance_end_date_for_search">End Date for Search</span>
      </label>
      <div class="col-sm-2">
        <input id="end_date_normalized_start_{{ $index }}" type="text" class="form-control" ng-model="prov.end_date_normalized_start">
      </div>
      <div class="col-sm-2">
        <input id="end_date_normalized_end_{{ $index }}" type="text" class="form-control" ng-model="prov.end_date_normalized_end">
      </div>
    </div>
    
    <div class="form-group row">
        <label class="col-sm-2-and-half control-label"><span sdbm-tooltip="entry_provenance_selling_agent_as_recorded">Selling Agent As Recorded</span></label>
      <div class="col-sm-3-and-half">
          <input id="provenance_selling_agent_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="prov.selling_agent.observed_name">
      </div>
      <label class="col-sm-2 control-label"><span sdbm-tooltip="entry_provenance_selling_agent">Selling Agent</span></label>
      <div class="col-sm-4">
          <div class="input-group">
              <input id="provenance_selling_agent_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="prov.selling_agent.agent" sdbm-autocomplete-modal-controller="CreateNameModalCtrl" sdbm-autocomplete-modal-template="createName.html"/>
              <div id="provenance_selling_agent_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="prov.selling_agent"><span class="glyphicon"></span></div>
          </div>
      </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2-and-half control-label"><span sdbm-tooltip="entry_provenance_holder_as_recorded">Holder As Recorded</span></label>
        <div class="col-sm-3-and-half">
          <input id="provenance_seller_or_holder_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="prov.seller_or_holder.observed_name">
      </div>
      <label class="col-sm-2 control-label"><span sdbm-tooltip="entry_provenance_holder">Holder</span></label>
      <div class="col-sm-4">
          <div class="input-group">
              <input id="provenance_seller_or_holder_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="prov.seller_or_holder.agent" sdbm-autocomplete-modal-controller="CreateNameModalCtrl" sdbm-autocomplete-modal-template="createName.html"/>
              <div id="provenance_seller_or_holder_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="prov.seller_or_holder"><span class="glyphicon"></span></div>
          </div>
      </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2-and-half control-label"><span sdbm-tooltip="entry_provenance_buyer_as_recorded">Buyer As Recorded</span></label>
      <div class="col-sm-3-and-half">
          <input id="provenance_buyer_observed_name_{{ $index }}" type="text" class="form-control" data-ng-model="prov.buyer.observed_name">
      </div>
      <label class="col-sm-2 control-label"><span sdbm-tooltip="entry_provenance_buyer">Buyer</span></label>
      <div class="col-sm-4">
          <div class="input-group">
              <input id="provenance_buyer_{{ $index }}" class="form-control" type="text" sdbm-autocomplete="/names/search.json" sdbm-autocomplete-params='{"type": "is_provenance_agent"}' sdbm-autocomplete-model="prov.buyer.agent" sdbm-autocomplete-modal-controller="CreateNameModalCtrl" sdbm-autocomplete-modal-template="createName.html"/>
              <div id="provenance_buyer_certainty_flags_{{ $index }}" class="input-group-addon clickable" sdbm-certainty-flags="prov.buyer"><span class="glyphicon"></span></div>
          </div>
      </div>
    </div>

    <div class="form-group row">

      <label class="col-sm-2-and-half control-label">
          <span sdbm-tooltip="entry_provenance_evidence">Evidence</span>
      </label>
      <div class="col-sm-9-and-half">
        <textarea id="provenance_comment_{{ $index }}" class="form-control" rows="2" id="comment" ng-model="prov.comment"></textarea>
      </div>
    </div>

    </div>

    <div class="row">
      <div class="col-sm-12">
        <legend>Editorial Notes</legend>
      </div>
    </div>
    
    <div class="row" ng-repeat="entry_comment in entry.entry_comments"> 
        <label class="col-sm-2 control-label">
            <span>by {{ entry_comment.comment.created_by }} at {{ entry_comment.comment.created_at }}</span>
        </label>
        <div class="col-sm-9">
            {{ entry_comment.comment.comment||"(none)" }}
        </div>
    </div>

    <div class="form-group row">
      <label for="editorial_comments" class="col-sm-2 control-label">
          <span sdbm-tooltip="entry_editorial_notes">Add Comment</span>
      </label>
      <div class="col-sm-9">
        <textarea class="form-control" rows="4" id="comment" data-ng-model="entry.new_comment"></textarea>
      </div>
    </div>

    <div class="row" style="padding-top: 20px;">
      <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <button class="btn btn-primary save-button" ng-click="save()" ng-disabled="currentlySaving">Save</button>
            <a class="btn btn-warning" href="/dashboard">Cancel</a>
        </div>
    </div>

    <div class="spacer-40px"/>

    </fieldset>

  <% if Rails.env.development? %>
  <br/><br/>
  <a href="#" data-ng-click="debug()">DEBUG: Print model to console</a>
  <% end %>

</form>

<script type="text/ng-template" id="postEntrySave.html">
    <div class="modal-header">
        <h3 class="modal-title">Successfully saved Entry record</h3>
    </div>
    <div class="modal-body form-horizontal">
        
        <p>Would you like to add another Entry for this Source?</p>

        <p style="margin-left: 2em;">

            <a ng-click="sdbmutil.redirectToEntryCreatePage(entry.source.id)" href="#">Yes</a><br/><br/>

            <a href="/dashboard">Not right now. I'll enter the rest later</a><br/><br/>

            <a ng-click="markSourceAsEntered()" href="#">No, there are no more entries to enter from this source</a><br/><br/>

            <span ng-show="!entry.manuscript_id"><a ng-click="sdbmutil.redirectToFindOrCreateManuscriptForEntryPage(entry.id)" href="#">No, but let me link to another entry</a><br/><br/></span>

            <span ng-show="entry.manuscript_id"><a ng-click="sdbmutil.redirectToManuscriptEditPage(entry.manuscript_id)" href="#">No, but let me manage the entries for SDBM_MS_{{ entry.manuscript_id }}</a><br/><br/></span>

            <a ng-click="sdbmutil.redirectToEntryEditPage(entry.id)" href="#">Return to editing this entry</a><br/><br/>

        </p>

    </div>
</script>

<%= render "shared/create_entity_with_name" %>
<%= render "shared/create_name" %>
