<% if @error %>
    <div class="panel panel-danger">
        <div class="panel-heading"><%= @error %></div>
    </div>
<% end %>

<%= form_for @entry, url: {action: "revert_confirm"} do |f| %>

    <div class="row history-heading">
        <div class="col-sm-12">
            <div class="row item">
                <div class="col-sm-11">
                    <h1>History of changes to <%= @entry.public_id %></h1>
                </div>
                <div class="col-sm-1 text-left">
                    <%= f.submit 'Undo', class: 'btn btn-warning btn-lg' %>   
        <!--                        <a href="" class="btn btn-warning btn">Undo</a> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row"><label class="col-sm-12"><h3><span>Entry Field(s)</span></h3></label></div>
    <%= render partial: "sub_history", locals: {sublist: @unique_list['Entry']} %>

    <div class="row"><label class="col-sm-12"><h3><span>Title(s)</span></h3></label></div>
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryTitle']} %>

    <div class="row"><label class="col-sm-12"><h3><span>Author(s)</span></h3></label></div>
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryAuthor']} %>

    <div class="row"><label class="col-sm-12"><h3><span>Date(s)</span></h3></label></div>
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryDate']} %>

    <div class="row"><label class="col-sm-12"><h3><span>Artist(s)</span></h3></label></div>
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryArtist']} %>

    <div class="row"><label class="col-sm-12"><h3><span>Scribe(s)</span></h3></label></div>
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryScribe']} %>

    <div class="row"><label class="col-sm-12"><h3><span>Language(s)</span></h3></label></div>   
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryLanguage']} %>
    
    <div class="row"><label class="col-sm-12"><h3><span>Material(s)</span></h3></label></div>   
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryMaterial']} %>
    
    <div class="row"><label class="col-sm-12"><h3><span>Place(s)</span></h3></label></div>   
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryPlace']} %>
    
    <div class="row"><label class="col-sm-12"><h3><span>Use(s)</span></h3></label></div>   
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryUse']} %>
    
    <div class="row"><label class="col-sm-12"><h3><span>Provenance(s)</span></h3></label></div>   
    <%= render partial: "sub_history", locals: {sublist: @unique_list['Provenance']} %>

<% end %>
<script type='text/javascript'>

$(document).ready( function () {
    $('.carousel').each( function () {
        var $this = $(this);

      $this.children('.carousel-control').show();

      if($this.find('.carousel-inner .item:first').hasClass('active')) {
        $this.children('.left.carousel-control').hide();
      } if($this.find('.carousel-inner .item:last').hasClass('active')) {
        $this.children('.right.carousel-control').hide();
      }
    });
    $('.carousel').on('slid.bs.carousel', function() {
      var $this = $(this);

      $this.children('.carousel-control').show();

      if($this.find('.carousel-inner .item:first').hasClass('active')) {
        $this.children('.left.carousel-control').hide();
      } if($this.find('.carousel-inner .item:last').hasClass('active')) {
        $this.children('.right.carousel-control').hide();
      }
    });
    // clear all checkboxes on load
    $("input[type='checkbox']").attr("checked", false);
    // only allow a single checkbox to be selected at a time!
    $("input[type='checkbox']").on("click" , function(){
        console.log($(this).parent('.carousel-inner'), $(this).parent('.carousel-inner').find("input[type='checkbox']"));
        $(this).closest('.carousel-inner').find("input[type='checkbox']").not(this).attr("checked", false);
    });
});

</script>