<h1>History of changes to <%= @entry.public_id %></h1>

<%= form_for @entry, url: {action: "revert_confirm"} do |f| %>
<ul class="list-group">
    <li class="list-group-item">
        <div class="row history-heading">
            <div class="col-sm-10">
                <div class="row">
                <div class="col-sm-2 text-right">Date</div>
                <div class="col-sm-1">User</div>
                <div class="col-sm-2">Action</div>
                <div class="col-sm-6">Changes</div>
                <div class="col-sm-1 text-center">
                    <%= f.submit 'Undo', class: 'btn btn-warning' %>   
        <!--                        <a href="" class="btn btn-warning btn">Undo</a> -->
                </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </li>
    <div class="row"><label class="col-sm-12"><h3><span>Entry Field(s)</span></h3></label></div>
    <div class="row">
        <div class="col-sm-10"><%= render partial: "sub_history", locals: {sublist: @unique_list['Entry']} %></div>
        <div class="col-sm-2">Current</div>
    </div>

    <div class="row"><label class="col-sm-12"><h3><span>Title(s)</span></h3></label></div>
    <div class="row">
        <div class="col-sm-10"><%= render partial: "sub_history", locals: {sublist: @unique_list['EntryTitle']} %></div>
        <div class="col-sm-2">Current</div>
    </div>


    <div class="row"><label class="col-sm-12"><h3><span>Author(s)</span></h3></label></div>
    <div class="row">
        <div class="col-sm-10"><%= render partial: "sub_history", locals: {sublist: @unique_list['EntryAuthor']} %></div>
        <div class="col-sm-2">Current</div>
    </div>

    <li class="list-group-item">
        <h3 class="h3">Date(s)</h3>
    </li>
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryDate']} %>
    <li class="list-group-item">
        <h3 class="h3">Artist(s)</h3>
    </li>
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryArtist']} %>
    <li class="list-group-item">
        <h3 class="h3">Scribe(s)</h3>
    </li>
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryScribe']} %>
    <li class="list-group-item">
        <h3 class="h3">Language(s)</h3>
    </li>   
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryLanguage']} %>
    <li class="list-group-item">
        <h3 class="h3">Material(s)</h3>
    </li>   
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryMaterial']} %>
    <li class="list-group-item">
        <h3 class="h3">Place(s)</h3>
    </li>   
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryPlace']} %>
    <li class="list-group-item">
        <h3 class="h3">Use(s)</h3>
    </li>   
    <%= render partial: "sub_history", locals: {sublist: @unique_list['EntryUse']} %>
    <li class="list-group-item">
        <h3 class="h3">Provenance Agent(s)</h3>
    </li>   
    <%= render partial: "sub_history", locals: {sublist: @unique_list['Provenance']} %>

</ul>
<% end %>
<script type='text/javascript'>

$(document).ready( function () {
    $('.carousel').each( function () {
        var $this = $(this);

      $this.children('.carousel-control').show();

      if($this.find('.carousel-inner .item:first').hasClass('active')) {
        $this.children('.left.carousel-control').hide();
      } if($this.find('.carousel-inner .item:last').hasClass('active')) {
        $this.children('.right.carousel-control').hide();
      }
    });
    $('.carousel').on('slid.bs.carousel', function() {
      var $this = $(this);

      $this.children('.carousel-control').show();

      if($this.find('.carousel-inner .item:first').hasClass('active')) {
        $this.children('.left.carousel-control').hide();
      } if($this.find('.carousel-inner .item:last').hasClass('active')) {
        $this.children('.right.carousel-control').hide();
      }
    });
    // clear all checkboxes on load
    $("input[type='checkbox']").attr("checked", false);
    // only allow a single checkbox to be selected at a time!
    $("input[type='checkbox']").on("click" , function(){
        console.log($(this).parent('.carousel-inner'), $(this).parent('.carousel-inner').find("input[type='checkbox']"));
        $(this).closest('.carousel-inner').find("input[type='checkbox']").not(this).attr("checked", false);
    });
});

</script>