<% content_for :head do %>
  <%= stylesheet_link_tag "extras", media: "all" %>
  <%= javascript_include_tag "extras" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.8.3/jquery.csv.js" %>
<% end %>

<div ng-controller="ImportCtrl">

  <div class="row">
    <div class="col-sm-12">
      <h1 class='text-center'>Bulk Import</h1>
    </div>
  </div>
  
  <div class="row" ng-if="!source">
    <div class="col-sm-12 text-center"><a ng-click="selectSourceModal()" class="btn btn-default" id="select_source">Select/Create a Source</a></div>
  </div>

  <div class="source-info" ng-if="source">
    <div class="source-container">
      <div class="form-group row">
        <div class="col-sm-8 label-alignment source-name">
          <a href="/sources/{{ source.id }}">SDBM_SOURCE_{{ source.id }}</a> - {{ source.display_value }} ({{ source.source_type.display_name }})
        </div>
        <div class="col-sm-4 text-right">
            <a href="" class="btn btn-danger" ng-click="selectSourceModal();">Change Source</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <p>This is the place to import data into the SDBM.  Once your file has been examined, it will be presented for your inspection.</p>
      <input type="file" class="form-control" id="file" accept=".csv" ng-upload-change="handleFile($event)" ng-disabled="!source"></input>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default" style="position: absolute; top: 75px; right: 20px; max-width: 300px;">
        <div class="panel-heading">
          <h4>Upload</h4>
        </div>
        <div class="panel-body">
          <p>
            Have you reviewed the entries and verified that your data has accurately translated to our data model?  In that case, feel free to begin your 
            <a href="" class="btn btn-default btn-sm" ng-click="save()">Upload</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-if="entries.length > 0">
    <div class="col-sm-12">
      <div class="alert alert-success text-center" style="margin-top: 10px;">{{ entries.length }} entries loaded.</div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">Select Entry (For Review)</span>
          <input type="number" ng-model="entry_index" min="0" max="{{ entries.length - 1 }}" class="form-control">
        </div>
      </div>
      <div class="">
        <h4>Title(s)</h4>
        <ul class="list-unstyled">
          <li ng-repeat="title in entries[entry_index].entry_titles_attributes">{{ title.title }}</li>
        </ul>
        <h4>Author(s)</h4>
        <ul class="list-unstyled">
          <li ng-repeat="author in entries[entry_index].entry_authors_attributes">{{ author.observed_name }}</li>
        </ul>
        <h4>Date(s)</h4>
        <ul class="list-unstyled">
          <li ng-repeat="date in entries[entry_index].entry_dates_attributes">{{ date.observed_date }}</li>
        </ul>
        <h4>Artist(s)</h4>
        <ul class="list-unstyled">
          <li ng-repeat="artist in entries[entry_index].entry_artists_attributes">{{ artist.observed_name }}</li>
        </ul>
        <h4>Scribe(s)</h4>
        <ul class="list-unstyled">
          <li ng-repeat="scribe in entries[entry_index].entry_scribes_attributes">{{ scribe.observed_name }}</li>
        </ul>
        <h4>Place(s)</h4>
        <ul class="list-unstyled">
          <li ng-repeat="place in entries[entry_index].entry_places_attributes">{{ place.observed_name }}</li>
        </ul>
        <h4>Language(s)</h4>
        <ul class="list-unstyled">
          <li ng-repeat="language in entries[entry_index].entry_languages_attributes">{{ language }}</li>
        </ul>
        <h4>Use(s)</h4>
        <ul class="list-unstyled">
          <li ng-repeat="use in entries[entry_index].entry_uses_attributes">{{ use.use }}</li>
        </ul>
        <h4>Material(s)</h4>
        <ul class="list-unstyled">
          <li ng-repeat="material in entries[entry_index].entry_materials_attributes">{{ material.observed_name }}</li>
        </ul>
        <h4>Provenance(s)</h4>
        <ul class="list-unstyled">
          <li ng-repeat="provenance in entries[entry_index].provenance_attributes">{{ provenance.observed_name }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= render "shared/select_source" %>
<%= render "shared/create_source" %>