<tr><td>Name</td>
<td>
    <%= name.name %>
</td></tr>

<% if name.viaf_id.present? %>
<tr><td>
    <a style="color: #333" href="http://www.viaf.org" target="_blank"><span class="glyphicon glyphicon-globe"></span> VIAF ID</a>
</td>
<td>
    <a href="http://viaf.org/viaf/<%= name.viaf_id %>/"><%= name.viaf_id %></a>
</td></tr>
<% end %>

<tr>
    <td>
        Start and End Dates
    </td>
    <td>
        <%= name.startdate || '?' %> to <%= name.enddate || '?' %>
    </td>
</tr>

<tr>
    <td>
        Places/Nationalities
    </td>
    <td>
        <ul class="list-unstyled">
            <% if name.name_places.count <= 0 %>
                <li class="text-muted">This name has no associated places or nationalities.</li>
            <% else %>
                <% name.name_places.order(:order).each do |name_place| %>
                <li>
                    <%= link_to place_path(name_place.place) do %>
                        <%= name_place.display_value %>
                    <% end %>
                </li>
                <% end %>
            <% end %>
        </ul>
    </td>
</tr>

<tr>
    <td>Name Type</td>
    <td><%= name.subtype || "Unknown" %></td>
</tr>

<% count_sources = name.source_agents_count %>
<% if count_sources || 0 > 0 %>
<tr><td># Sources</td>
<td>
    This agent has been used as an agent <%= link_to "#{count_sources} time".pluralize(count_sources), sources_path({agent_id: name.id}), class: "badge" %> in our sources
</td></tr>
<% end %>

<!-- FIX ME: public-facing COUNT will only show number of non-deleted entries : BUT includes deprecated records -->
<% count_authors = name.authors_count || 0 %>
<% count_artists = name.artists_count || 0 %>
<% count_scribes = name.scribes_count || 0 %>
<% has_entries = (count_authors + count_artists + count_scribes) > 0 %>

<% if (!name.is_provenance_agent) || has_entries %>                
<tr><td># Entries</td>
<td>
    <% if count_authors > 0 %>
    This name is used as an author <a class='badge' href="<%= search_by_facet_value('author', name.name) %>"><%= "#{count_authors} time".pluralize(count_authors) %></a> in our entries<br/>
    <% end %>

    <% if count_artists > 0 %>
    This name used as an artist <a class='badge' href="<%= search_by_facet_value('artist', name.name) %>"><%= "#{count_artists} time".pluralize(count_artists) %></a> in our entries<br/>
    <% end %>

    <% if count_scribes > 0 %>
    This name is used as a scribe <a class='badge' href="<%= search_by_facet_value('scribe', name.name) %>"><%= "#{count_scribes} time".pluralize(count_scribes) %></a> in our entries<br/>
    <% end %>

    <% if !has_entries %>
    No entries found containing this name as an author, artist, or scribe.
    <% end %>
</td></tr>
<% end %>

<% count_selling_agent = Entry.with_sale_agent_and_role(name, 'selling_agent').count || 0 -%>
<% count_seller_or_holder = Entry.with_sale_agent_and_role(name, 'seller_or_holder').count || 0 -%>
<% count_buyer = Entry.with_sale_agent_and_role(name, 'buyer').count || 0 -%>
<% has_transactions = (count_selling_agent + count_seller_or_holder + count_buyer) > 0 -%>

<% if has_transactions -%>
    <tr><td># Transactions</td>
    <td>

        <% if count_selling_agent > 0 %>
        This agent is used as a selling agent <a class='badge' href="<%= search_by_facet_value('sale_selling_agent', name.name) %>"><%= "#{count_selling_agent} time".pluralize(count_selling_agent) %></a> in our entries<br/>
        <% end %>

        <% if count_seller_or_holder > 0 %>
        This agent is used as a seller <a class='badge' href="<%= search_by_facet_value('sale_seller', name.name) %>"><%= "#{count_seller_or_holder} times".pluralize(count_seller_or_holder) %></a> in our entries<br/>
        <% end %>
        
        <% if count_buyer > 0 %>
        This agent is used as a buyer <a class='badge' href="<%= search_by_facet_value('sale_buyer', name.name) %>"><%= "#{count_buyer} times".pluralize(count_buyer) %> </a> in our entries
        <% end %>
    </td></tr>
<% end %>

<% count_provenance = name.provenance_count %>
<% if count_provenance > 0 %>
    <tr><td># Provenance</td>
    <td>
        This agent is used in provenance <a class='badge' href="<%= search_by_facet_value('provenance', name.name) %>"><%= "#{count_provenance} times".pluralize(count_provenance) %></a> in our entries
    </td></tr>
<% end %>
<% if name.other_info.present? %>
    <tr><td>Other Info</td>
    <td><%= name.other_info %></td></tr>
<% end %>