<%# Partial used to display name details for both Names generically and Agents (which are Names) %>

<%# Why is this in SHARED instead of in NAME?? %>
<div class="row">
    <% content_for :control_tools do %>        
        <%= render partial: 'tools', locals: {edit: false} %>
    <% end %>

    <div class="col-sm-6">

        <h3><%= name.public_id %></h3>

        <div class="text-center" style="margin-bottom: 5px;">
            <%= render partial: "ratings/rate", locals: {ratable: name} %>
        </div>

        <table class="table table-responsive sdbm-table">
            <%= render partial: "main", locals: { name: name } %>
    
            <% if name.dericci_record %>
            <tr><td>Verified De Ricci</td>
            <td>
              <%= link_to name.dericci_record.public_id, dericci_record_path(name.dericci_record), class: 'btn btn-default btn-xs' %>
            </td></tr>
            <% end %>
            <tr><td>
                Possible De Ricci     
            </td>
            <td>
                <% if name.dericci_links.group_by(&:dericci_record_id).each do |dericci_record_id, dericci_links| %>

                    <% reliability = [(100 * (dericci_links.sum(&:reliability) / 4.0)).to_i, 100].min %>
                    <% record = dericci_links.first.dericci_record %>

                    <div class="progress" data-toggle="modal" data-target="#Dericci_<%= record.id %>" style="margin-bottom: 4px;">
                      <div class="progress-bar progress-bar-<%= reliability >= 100 ? 'success' : 'info' %> progress-bar-striped" role="progressbar"
                      aria-valuenow="<%= reliability %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= reliability %>%">
                        <%= record.name %> <%= reliability %>%
                      </div>
                    </div>

                    <div class="modal fade" id="Dericci_<%= record.id %>">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <span class="h5 modal-title">
                              <%= link_to dericci_record_path(record) do %>
                                De Ricci <%= record.id %>
                              <% end %>                      
                            </span>
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p>This name has been linked to <%= link_to record.name, dericci_record_path(record) %> by </p>
                              <% dericci_links.each do |dl| %>
                                    <!-- not working (dropdown I mean) for some reason... -->
                                    <span><%= render partial: "shared/username_with_profile_link", locals: { user: dl.created_by } %>
                                    <% if dl.other_info.present? %>
                                        <em class='text-muted'>(<%= dl.other_info %>)</em>
                                    <% end %></span><br>
                              <% end %>                    
                          </div>
                          <div class="modal-footer text-center">
                            <% if current_user && current_user.role != "contributor" && reliability < 100 && !dericci_links.map(&:created_by_id).include?(current_user.id) %>
                                <%= link_to "Confirm Link", dericci_links_path(dericci_record_id: record.id, name_id: name.id, from_name: true), method: :post, class: "btn btn-default" %>
                            <% end %>

                            <% if current_user && current_user.role == "admin" %>
                                <%= link_to "Remove Links", delete_many_dericci_links_path(ids: dericci_links.map(&:id), from_name: true), method: :delete, class: "btn btn-danger" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>

                <% end.empty? %>
                    <p class="text-muted">This name is not linked to any records in the De Ricci Archives.</p>
                <% end %>
            </td></tr>
        </table>
    </div>
    <div class="col-sm-6">
        
        <h2 class="text-center"><span class="glyphicon glyphicon-comment"></span> Discussion</h2>
        <p class='text-center text-muted'>Share additional information about this name in the box below. Your comments will be displayed publicly.</p>

        <%= render partial: "comments/show_all", locals: {comments: name.comments.where(public: true), record: name} %>

    </div>

</div>