<%# Partial used to display name details for both Names generically and Agents (which are Names) %>

<%# Why is this in SHARED instead of in NAME?? %>
<div class="row">
    <% content_for :control_tools do %>        
        <%= render partial: 'tools', locals: {edit: false} %>
    <% end %>

    <div class="col-sm-6">

        <h3><%= name.public_id %></h3>

        <div class="text-left" style="margin-bottom: 5px;">
            <%= render partial: "ratings/rate", locals: {ratable: name} %>
        </div>

        <table class="table table-responsive sdbm-table">
            <%= render partial: "main", locals: { name: name } %>
    
            <% if name.dericci_record %>
            <tr><td>Verified De Ricci</td>
            <td>
              <%= link_to dericci_record_path(name.dericci_record), class: 'btn btn-default btn-xs' do %>
                <span class="glyphicon glyphicon-queen"></span> <%= name.dericci_record.name %>
              <% end %>
            </td></tr>
            <% end %>
            <tr><td>
                Possible De Ricci     
            </td>
            <td>
                <% if name.dericci_links.group_by(&:dericci_record_id).each do |dericci_record_id, dericci_links| %>

                    <% record = dericci_links.first.dericci_record %>

                    <div class="btn btn-info btn-xs" data-toggle="modal" data-target="#Dericci_<%= record.id %>" style="margin-bottom: 4px;">
                      <%= record.name %> <span class="badge"><%= dericci_links.count %></span>
                    </div>

                    <div class="modal fade" id="Dericci_<%= record.id %>">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-body">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            <p>This name has been linked to <%= link_to record.name, dericci_record_path(record) %> by </p>
                              <% dericci_links.each do |dl| %>
                                 <span class='btn btn-xs btn-default'>
                                    <%= render partial: "shared/username_with_profile_link", locals: { user: dl.created_by } %>
                                  </span>
                                  <% if dl.other_info.present? %>
                                    <span class='text-muted'> <%= dl.other_info %></span>
                                  <% else %>
                                    <span class="text-muted"> no additional information provided</span>
                                  <% end %>
                                  <br>
                              <% end %>                    
                          </div>
                          <div class="modal-footer text-center">                          
                            <% if current_user && current_user.role == "admin" %>
                                <%= link_to "Remove Links", delete_many_dericci_links_path(ids: dericci_links.map(&:id), from_name: true), method: :delete, class: "btn btn-danger" %>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>

                <% end.empty? %>
                    <p class="text-muted">This name is not linked to any records in the De Ricci Archives.</p>
                <% end %>
            </td></tr>
        </table>
    </div>
    <div class="col-sm-6">
        
        <h2 class="text-center"><span class="glyphicon glyphicon-comment"></span> Discussion</h2>
        <p class='text-center text-muted'>Share additional information about this name in the box below. Your comments will be displayed publicly.</p>

        <%= render partial: "comments/show_all", locals: {comments: name.comments.where(public: true), record: name} %>

    </div>

</div>