<%# Partial used to display name details for both Names generically and Agents (which are Names) %>

<%# Why is this in SHARED instead of in NAME?? %>
<div class="row">
    <% content_for :control_tools do %>        
        <div class="panel panel-default show-tools">
            <div class="panel-heading">
                Tools
            </div>
            <div class="panel-body">
                <ul class="nav">
                    <% if user_signed_in? %>
                        <%= render partial: "nav/bookmark_watch", locals: {model: name } %>
                        <li class="history"><a href="<%= history_name_path(name.id) %>">View change history</a></li>
                        <% if can? :edit, @model %>
                            <li class="link"><a href="<%= merge_name_path(name.id) %>">Merge</a></li>
                            <% if !name.reviewed %>
                                <li class="link">
                                    <%= link_to "Approve", name_path(name, reviewed: true), :method => :put %>
                                </li>
                            <% end %>
                        <% end %>
                        <% if !name.confirmed and can? :edit, name %>
                            <li class="link">
                                <%= link_to "Confirm", name_path(name, confirmed: true), :method => :put, :data => {:confirm => "Do you have adequate information to assert that this name refers to a real individual?"} %>
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </div>
        </div>
    <% end %>
    <div class="col-sm-6">

        <dl class="document-show-heading dl-horizontal dl-invert">
            <dt></dt>
            <dd class='h2'><%= name.public_id %></dd>
        </dl>
        <%= render partial: "main", locals: { name: name } %>

    </div>
    <div class="col-sm-5">
        
        <h2 class="text-center"><span class="glyphicon glyphicon-comment"></span> Discussion</h2>
        <p class='text-center text-muted'>Share additional information about this name in the box below. Your comments will be displayed publicly.</[>

        <%= render partial: "comments/show_all", locals: {comments: name.comments.where(public: true), record: name} %>

    </div>

</div>