<% if user_signed_in? %>
    <% disabled = edit ? 'disabled' : '' %>
    <%= render partial: "nav/bookmark_watch", locals: {model: @model } %>
    <li class="history <%= disabled %>"><a href="<%= history_name_path(@model.id) %>"><span class="glyphicon glyphicon-list-alt"></span> View change history</a></li>
    <% if can? :merge, Name %>
        <li class="link <%= disabled %>"><a href="<%= merge_name_path(@model.id) %>"><span class="glyphicon glyphicon-transfer"></span> Merge</a></li>
        <% if !@model.reviewed %>
            <li class="link <%= disabled %>">
                <%= link_to(name_path(@model, reviewed: true), :method => :put, :data => {:confirm => "Can you confirm that the name conforms to the <a href='/pages/SDBM%20Naming%20Standards' target='_blank'>SDBM Naming Standards</a>?"}) do %>
                    <span class="glyphicon glyphicon-ok"></span> Approve
                <% end %>
            </li>
        <% end %>
    <% end %>
    <% if !@model.confirmed and can? :edit, Name %>
        <li class="link <%= disabled %>">
            <%= link_to(name_path(@model, confirmed: true), :method => :put, :data => {:confirm => "Do you have adequate information to assert that this name refers to a real individual?"}) do %>
                <span class="glyphicon glyphicon-ok"></span> Confirm
            <% end %>
        </li>
    <% end %>
<% end %>