<h1>History of changes to <%= @name.public_id %></h1>

<% changesets = ModelHistory.new(@name).changesets %>
<% versions = @name.versions %>
<% if versions.count > 0 || legacy.count > 0 %>
<table class="table">
    <thead>
        <tr>
            <th width="15%">Date</th>
            <th width="15%">User</th>
            <th width="20%">Action</th>
            <th width="25%">Details</th>
            <th width="15%"></th>
            <th width="10%"></th>
        </tr>
    </thead>
    <tbody>
        <% changesets.each do |changeset| %>
        <tr>
            <td><%= changeset.date.to_formatted_s(:date_and_time) %></td>
            <td><%= changeset.user %></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
            <% changeset.versions.each do |version| %>
            <tr>
                <td></td>
                <td></td>
                <td><%= version.event.capitalize %></td>
                <td colspan="2">
                    <% version.changeset.each do |field, value| %>
                        <strong><%= field.capitalize %>:</strong> <%= "#{value[0].present? ? value[0] : '(blank)' } to #{value[1].present? ? value[1] : '(blank)'}" %><br>
                    <% end %>
                </td>
                <td>
                    <%= link_to "Undo", revert_name_path(@name, version_id: version.id), class: 'btn btn-default btn-block' %>
                </td>
            </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
<% else %>
<p>There is no history to display for this entry.</p>
<% end %>