<% content_for :breadcrumbs do %>
  <li>
    <a href="<%= names_path %>">Manage Names
    </a>
  </li>
  <li class='active'>
    <a href="<%= problems_names_path %>">Problems
    </a>
  </li>
<% end %>
<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center">Problematic Names</h1>
    <p class="text-muted">The following names have been flagged as "problems" for failing to conform to SDBM Naming Standards.  Because of this, they may be referring to multiple individuals and the intended identity cannot be determined at this time.  If you have information that would help in cleaning up these names, please help us out!  You can view the names and their respective entry uses below, and any user can leave a comment with whatever useful informaton you wish to share.  Thanks!</p>
  </div>
  <div class="col-sm-12">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th class='text-center'>As Author</th>
          <th class='text-center'>As Artist</th>
          <th class='text-center'>As Scribe</th>
          <th class='text-center'>As Provenance Agent</th>
          <th class='text-center'>As Seller</th>
          <th class='text-center'>As Buyer</th>
          <th class='text-center'>As Selling Agent</th>
          <th class='text-center'>As Source Agent</th>
        </tr>
      </thead>
      <tbody>
        <% @problems.each do |problem| %>
          <tr>
            <td><%= link_to problem.name, name_path(problem), :target => "_blank" %></td>
            <td class='text-center'>
              <a target="_blank" href="<%= search_by_facet_value('author', problem.name) %>" class="badge"><%= problem.authors_count %> <%= "entry".pluralize(problem.authors_count) %></a>
            </td>
            <td class='text-center'>
              <a target="_blank" href="<%= search_by_facet_value('artist', problem.name) %>" class="badge"><%= problem.artists_count %> <%= "entry".pluralize(problem.artists_count) %></a>
            </td>
            <td class='text-center'>
              <a target="_blank" href="<%= search_by_facet_value('scribe', problem.name) %>" class="badge"><%= problem.scribes_count %> <%= "entry".pluralize(problem.scribes_count) %></a>
            </td>
            <td class='text-center'>
              <a target="_blank" href="<%= search_by_facet_value('provenance', problem.name) %>" class="badge"><%= problem.provenance_count %> <%= "entry".pluralize(problem.provenance_count) %></a>
            </td>
            <td class='text-center'>
              <a target="_blank" href="<%= search_by_facet_value('sale_seller', problem.name) %>" class="badge">
                <%= (sellers_count = Entry.with_sale_agent_and_role(problem, 'seller').count) %> <%= "entry".pluralize(sellers_count) %>
              </a>
            </td>
            <td class='text-center'>
              <a target="_blank" href="<%= search_by_facet_value('sale_buyer', problem.name) %>" class="badge">
                <%= (buyers_count = Entry.with_sale_agent_and_role(problem, 'buyer').count) %> <%= "entry".pluralize(buyers_count) %>
              </a>
            </td>
            <td class='text-center'>
              <a target="_blank" href="<%= search_by_facet_value('sale_selling_agent', problem.name) %>" class="badge">
                <%= (selling_agents_count = Entry.with_sale_agent_and_role(problem, 'selling_agent').count) %> <%= "entry".pluralize(selling_agents_count) %>
              </a>
            </td>
            <td class='text-center'>
              <%= link_to "#{problem.source_agents_count} source".pluralize(problem.source_agents_count), sources_path({agent_id: problem.id}), class: "badge" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
