<%# copied from blacklight gem so that instructional text can be inserted %>
<% @page_title = "Search History - " + application_name %>
<div id="content" class="col-sm-9">
<h1 class='page-heading'><%=t('blacklight.search_history.title')%></h1>

<p>This page lists all search facets you have used in your current
    SDBM session. Click the <b>Save</b> button next to a search facet
    to save that search. You can delete saved searches by clicking
    <b>forget</b>.
</p>
<p>To view your saved searches, click the Saved Searches option under the My Searches dropdown in the top horizontal navigation.</p>

<%- if @searches.blank? -%>
  <h2 class='section-heading'><%=t('blacklight.search_history.no_history')%></h2>
<%- else -%>
    <%= link_to t('blacklight.search_history.clear.action_title'), clear_search_history_path, :method => :delete, :data => { :confirm => t('blacklight.search_history.clear.action_confirm') }, :class => 'btn btn-danger pull-right' %>
  <h3 class='section-heading'><%=t('blacklight.search_history.recent')%></h3>
  <ul class="list-group">
    <%-  @searches.each_with_index do |search,index| -%>
    <li class="list-group-item">
      <div class="row">
        <span class="col-xs-6"><%= link_to_previous_search(search.query_params) %></span>
        <%- if has_user_authentication_provider? -%>
          <span class="actions col-sm-6 text-right">
            <%- if current_or_guest_user && search.saved? -%>
              <!--<%= button_to t('blacklight.search_history.forget'), forget_search_path(search.id), :class => 'btn btn-default' %>-->
              <%= button_to 'Delete', forget_search_path(search.id), :class => 'btn btn-default' %>
            <%- else -%>
              <%= button_to t('blacklight.search_history.save'), save_search_path(search.id), :method => :put, :class => 'btn btn-default' %>
            <%- end -%>
          </span>
        <%- end -%>
      </div>
    </li>
  <%- end -%>
  </ul>
<%- end -%>
</div>
