<li class='<%= current_page?(dericci_games_path) ? "active" : "" %>'><%= link_to "Games", dericci_games_path %></li>
<li class='<%= current_page?(dericci_notes_path) ? "active" : "" %>'><%= link_to "Miscellaneous Notes", dericci_notes_path %></li>
<li class='<%= current_page?(dericci_sales_path) ? "active" : "" %>'><%= link_to "Dated Sales", dericci_sales_path %></li>
<li class='<%= current_page?(dericci_records_path) ? "active" : "" %>'><%= link_to "De Ricci Digitized Archive", dericci_records_path %></li>
<% if defined? @record %>
  <% if @record.id %>
    <li class='<%= current_page?( dericci_record_path(@record)) ? "active" : "" %>'><%= link_to @record.public_id, dericci_record_path(@record) %></li>
    <% if can? :edit, @record %>
      <li class='<%= current_page?(edit_dericci_record_path(@record)) ? "active" : "" %>'><%= link_to "Edit #{@record.public_id}", edit_dericci_record_path(@record) %></li>
    <% end %>
  <% else %>
    <li class='active'><%= link_to "New De Ricci Record", new_dericci_record_path %></li>
  <% end %>
<% end %>