<% content_for :head do %>
  <style>
    .huge {
      font-size: 72px;
      color: #222;
      line-height: 54px;
      letter-spacing: -2px;
      font-weight: bold;
    }
    .stats {
      font-size: 32px;
      line-height: 30px;
      color: darksalmon;
      font-weight: bold;
      font-variant: small-caps;
    }
    .btn-special {
      width: 100%;
      height: 100%;
      font-size: 72px;
      line-height: 56px;
      padding-bottom: 15px;
      color: white;
      background: #333;
      border: none;
    }
    .btn-special-sm {
      font-size: 14px;
      line-height: 14px;
      padding-bottom: 4px;
    }
  </style>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render partial: "breadcrumbs" %>
<% end %>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-5">
    <!--
    <div id="stats" style="width: 100%; height: 500px; margin-bottom: 10px;"></div>-->
    <div class="text-right huge">the</div>
    <div class="text-right huge">de ricci</div>
    <div class="text-center huge">digitized</div>
    <div class="text-left huge" style="margin-bottom: 25px;">archive</div>
    <div class="stats text-left">
      <% players = DericciGame.select(:created_by_id).distinct.count %>
      <%= players %> <%= "Player".pluralize(players) %>
    </div>
    <div class="stats text-left" style="color: darkcyan;">
      <%= DericciGame.count %> <%= "Game".pluralize(DericciGame.count) %> Played
    </div>
    <% links = DericciLink.group(:dericci_record_id, :name_id).sum(:reliability) %>
    <% reliable = links.select{ |k, v| v >= 4 }.count %>
    <% possible = links.select{ |k, v| v >= 0 && v < 4 }.count %>
    <div class="stats text-center" style="color: darkseagreen;">
      <%= reliable %> Confirmed <%= "Links".pluralize(reliable) %>
    </div>
    <div class="stats text-right" style="color: #00BCD4;">
      <%= possible %> Possible <%= "Links".pluralize(possible) %>
    </div>
    <div class="text-center stats">
      <% unlinked = DericciRecord.count - DericciRecord.includes(:dericci_links).where.not(:dericci_links => {id: nil}).count %>
      <%= unlinked %> <%= "record".pluralize(unlinked) %> still unlinked!
    </div>
    <div class="text-center huge">KEEP PLAYING!</div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-5 text-center">
    <a href="/dericci_games/new" class="btn btn-default btn-special text-center">
      <div class="glyphicon glyphicon-tower" style="font-size: 72px; display: block; margin: 15px 0px;"></div>
      Play<br>
      Game
    </a><br>
    <h3>My Current Games</h3>
    <table class="table table-responsive">
      <tbody>
        <% if @games.reverse.each do |game| %>
          <tr>
            <td>
              <%= link_to(dericci_game_path(game), class: 'btn btn-default btn-special btn-special-sm btn-sm') do %>
                <span class="glyphicon glyphicon-tower"></span>  <%= game.created_at.to_formatted_s(:long) %>
              <% end %>
            </td>
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:<%= game.completed.to_i %>%; min-width: 15%; max-width: 85%;">
                  <%= game.completed.to_i %>% Completed
                </div>
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:<%= game.skipped.to_i %>%; min-width: 15%; max-width: 85%;">
                  <%= game.skipped.to_i %>% Skipped
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:<%= game.flagged.to_i %>%; min-width: 15%; max-width: 85%;">
                  <%= game.flagged.to_i %>% Flagged
                </div>
                <% if game.skipped.to_i + game.completed.to_i <= 0 %>
                  <span class="text-muted">Not started</span>
                <% end %>
              </div>
            </td>
          </tr>
        <% end.empty? %>
          <tr>
            <td colspan="3" class="text-center text-muted">You have not played any games yet.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>