<% content_for :head do %>
  <style>
    .huge {
      font-size: 72px;
      color: #222;
      line-height: 54px;
      letter-spacing: -2px;
      font-weight: bold;
    }
    .stats {
      font-size: 32px;
      line-height: 30px;
      color: darksalmon;
      font-weight: bold;
      font-variant: small-caps;
    }
    .btn-special {
      width: 100%;
      height: 100%;
      font-size: 72px;
      line-height: 56px;
      padding-bottom: 15px;
      color: white;
      background: #333;
      border: none;
    }
    .btn-special-sm {
      font-size: 14px;
      line-height: 14px;
      padding-bottom: 4px;
    }
    .special {
      display: inline-block;
      font-size: 0.4em;
      width: 172px;
      line-height: 0.9em;
      letter-spacing: -2px;
      text-align: right;
      background: #333;
      color: white;
      margin-left: -16px;
      margin-top: 0px;
      padding-right: 8px;
    }
  </style>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

      var data = google.visualization.arrayToDataTable([
        ['Description', 'Proportion'],
        ['Possibly Linked (<%= possible = DericciRecord.where({verified_id: nil}).joins(:dericci_links).group('dericci_records.id').count.count %>)', <%= possible %>],
        ['Definitely Linked (<%= definite = DericciRecord.where.not(verified_id: nil).count %>)',  <%= definite %>],
        ['In Progress (<%= flagged = DericciRecord.joins(:dericci_record_flags).group('dericci_records.id').count.count  %>)', <%= flagged %> ],
        ['Unlinked (<%= unlinked = DericciRecord.count - (flagged + definite + possible) %>)', <%= unlinked %>],
        //['Sleep',    7]
      ]);
      console.log(data);

      var options = {
        title: 'The Wheel of Progress',
        colors: ["#AE9A4A", "#AE724A", "#7F8FA8", "#306F63"],
        titleTextStyle: { 
          color: "#222",
          fontName: "Sarala",
          fontSize: 21,
          bold: true,
          italic: false,
          align: "center"
        },
        sliceVisibilityThreshold: 0.0001,
        pieHole: 0.3,
        legend: {
          alignment: "end",
          position: "bottom",
          textStyle: {
            color: "#222",
            fontName: "Sarala",
            fontSize: 14,
            bold: false,
            italic: true           
          }
        }
      };

      var chart = new google.visualization.PieChart(document.getElementById('piechart'));

      chart.draw(data, options);
    }
  </script>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render partial: "breadcrumbs" %>
<% end %>
<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 text-center">
    <h1 class='huge'><span class="special">The De Ricci Digitized Archive</span>Name Game </h1>  
  </div>
  <div class="col-sm-3"></div>
</div>
<div class="row">
  <div class="col-sm-4">
    <div id="piechart" style="width: 100%; height: 200px;"></div>
  </div>
  <div class="col-sm-4">
    <p>The <strong>De Ricci Digitized Archive Name Game</strong> invites you to contribute to the database by matching cards from the <strong>De Ricci Digitized Archive</strong> to name records in the growing Schoenberg Database Name Authority.  To play, click <span class="btn btn-default btn-xs"><span class="glyphicon glyphicon-tower"></span> New Game</span>. You will be presented with a list of 15 names of collectors and repositories appearing in the archive.  You will be asked to perform one of the following actions:</p>
    <div class="row">
      <div class="col-xs-2 text-right">
        <span class="glyphicon glyphicon-check lead text-success"></span>
      </div>
      <div class="col-xs-10">
        <p><strong>Link To a Name</strong> - identify a name in the SDBM Name Authority and suggest that the two are linked</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 text-right">
        <span class="glyphicon glyphicon-flag lead text-danger"></span>
      </div>
      <div class="col-xs-10">
        <p><strong>Flag as Needing Review</strong> - notify admin that this record needs to be refined before it can be accurately linked, e.g.</p>
        <ul>
          <li>It contains references to multiple possible names, and needs to be broken into several records</li>
          <li>The names or information contained are not relevant or applicable to name records in the SDBM</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 text-right">
        <span class="glyphicon glyphicon-unchecked lead game-skipped"></span>
      </div>
      <div class="col-xs-10">
        <p><strong>Skip Record</strong> - if you are unsure or don't have information to conclusively link or flag a name, skip it!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-4 text-center">
    <a href="/dericci_games/new" class="btn btn-default btn-lg text-center" style="width: 100%">
      <span class="glyphicon glyphicon-tower"></span> New Game
    </a>
    <h3>My Games</h3>
    <% if @games.count >= 5  && current_user.role != "admin" && current_user.role != "super_editor" %>
      <div class="alert alert-success">You have played <%= @games.count %> games!  <%= render partial: "shared/request_advancement" %></div>
    <% end %>
    <table class="table table-responsive" style="max-height: 300px; overflow-y: scroll;">
      <tbody>
        <% if @games.reverse.each do |game| %>
          <tr>
            <td>
              <%= link_to(dericci_game_path(game), class: 'btn btn-default btn-xs') do %>
                <span class="glyphicon glyphicon-tower"></span>  <%= game.created_at.to_formatted_s(:long) %>
              <% end %>
            </td>
            <td>
              <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width:<%= game.completed.to_i %>%;">
                  <%= game.completed.to_i %>% Completed
                </div>
                <div class="progress-bar progress-bar-warning" role="progressbar" style="width:<%= game.skipped.to_i %>%;">
                  <%= game.skipped.to_i %>% Skipped
                </div>
                <div class="progress-bar progress-bar-danger" role="progressbar" style="width:<%= game.flagged.to_i %>%;">
                  <%= game.flagged.to_i %>% Flagged
                </div>
                <% if game.skipped.to_i + game.completed.to_i <= 0 %>
                  <span class="text-muted">Not started</span>
                <% end %>
              </div>
            </td>
          </tr>
        <% end.empty? %>
          <tr>
            <td colspan="3" class="text-center text-muted">You have not played any games yet.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>