<% content_for :head do %>
  <%= stylesheet_link_tag "extras" %>
  <%= javascript_include_tag "extras" %>
  <style>
    .game-nav > li > a {
      padding: 5px 15px;
      color: #333;
    }
    .game-nav > li.active > a, .game-nav > li.active > a:focus, .game-nav > li.active > a:active, .game-nav > li.active > a:hover {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      box-shadow: 2px 1px 4px #393c3e inset;
      background: #525659;
      font-size: 32px;
    }
    .game-nav > li > a.text-danger {
      color: red;
      font-weight: bold;
    }
    .game-nav {
      padding-left: 15px;
    }
    .progress {
      height: 46px;
      margin-bottom: 0px;
    }
    .progress-bar {
      line-height: 46px;
      font-size: 18px;
      font-weight: bold;
    }
    .glyphicon-blank {
      width: 14px;
    }
    .game-linked {
      color: #74c274 !important;
    }
    .game-skipped {
      color: #f0ad4e !important;
    }
    .my-btn-group {
      display: table;
      width: 100%;
      margin-bottom: 10px;
    }
    .my-btn-group .btn {
      float: none;
      display: table-cell;
    }
    .dl-dericci {
      background: #525659;
      color: white;
    }
    .dl-dericci dd {
      border: none;
    }
    .dl-dericci dt {
      color: white;
    }
  </style>
<% end %>
<% content_for :breadcrumbs do %>
  <%= render partial: "breadcrumbs" %>
<% end %>
<div class="modal fade" id="instructions">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4><span class="glyphicon glyphicon-question-sign"></span> Welcome to the De Ricci Game!</h4>
      </div>
      <div class="modal-body">
        <p>The <strong>De Ricci Game</strong> invites you to contribute to the database by matching cards from the <strong>De Ricci Digitized Archive</strong> to names in the growing Schoenberg Database Name Authority.  You will be presented with a list of 15 De Ricci records, and will be asked to perform one of the following actions:</p>
        <div class="row">
          <div class="col-xs-2 text-right">
            <span class="glyphicon glyphicon-check lead text-success"></span>
          </div>
          <div class="col-xs-10">
            <p><strong>Link To a Name</strong> - identify a name in the SDBM Name Authority and suggest that the two are linked</p>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 text-right">
            <span class="glyphicon glyphicon-flag lead text-danger"></span>
          </div>
          <div class="col-xs-10">
            <p><strong>Flag as Needing Review</strong> - notify admin that this record needs to be refined before it can be accurately linked, e.g.</p>
            <ul>
              <li>It contains references to multiple possible names, and needs to be broken into several records</li>
              <li>The names or information contained are not relevant or applicable to names in the SDBM</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2 text-right">
            <span class="glyphicon glyphicon-unchecked lead game-skipped"></span>
          </div>
          <div class="col-xs-10">
            <p><strong>Skip Record</strong> - if you are unsure or don't have information to conclusively link or flag a name, skip it!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<input type="hidden" class="hidden" id="game_id" value="<%= @game.id %>">
<div data-ng-controller="DericciGameCtrl" data-ng-cloak>
  <div class="row" style="margin-bottom: 10px;">
    <div class="col-sm-2">
      <div class="btn btn-default btn-lg text-center" data-toggle="modal" href="#instructions" data-target="#instructions" style="width: 100%;"><span class="glyphicon glyphicon-question-sign"></span> Help</div>
    </div>
    <div class="col-sm-8">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" style="width: {{ progress.complete == 100 ? 90 : progress.complete || 5 }}%">
          {{ progress.complete }}% Linked
        </div>
        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" style="width: {{ progress.skipped == 100 ? 90 : progress.skipped || 5 }}%">
          {{ progress.skipped }}% Skipped
        </div>
        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" style="width: {{ progress.flagged == 100 ? 90 : progress.flagged || 5 }}%">
          {{ progress.flagged }}% Flagged
        </div>
      </div>
    </div>
    <div class="col-sm-2 text-right"><a href="" class="btn btn-primary btn-lg" style="width: 100%;" ng-class="{ 'disabled': progress.complete + progress.skipped + progress.flagged < 100 }" ng-click="save()">Submit</a></div>
  </div>
  <div class="row">
    <div class="col-sm-5" style="padding-right: 0px;">
      <div class="my-btn-group btn-group" style="padding-right: 10px;">
        <a href="" style="width: 1px;" class="btn btn-default btn-lg" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a href="" class="btn btn-success btn-lg" ng-click="findName(current_record);"><span class="glyphicon glyphicon-search"></span> Find Name</a>
        <a href="" class="btn btn-danger btn-lg" ng-click="flag(current_record)"><span class="glyphicon glyphicon-flag"></span> Flag</a>
        <a href="" style="width: 1px;" class="btn btn-default btn-lg" ng-click="skip(current_record)"><span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>
      <ul class="game-nav nav nav-pills nav-stacked">
        <li ng-repeat="record in records" ng-class="{ 'active' : current_record == record }">
          <a href="" class="one-line" ng-click="selectRecord(record)" ng-class="{ 'game-linked': isLinked(record), 'game-skipped': record.skipped, 'text-danger' : record.flagged }">
            <span class="glyphicon glyphicon-blank" ng-class="{ 'glyphicon-check': isLinked(record), 'glyphicon-unchecked': record.skipped, 'glyphicon-flag' : record.flagged }"></span>
            {{ record.name }}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-sm-7" style="padding-left: 0px;">
      <iframe id="current-card" ng-src="{{ current_url }}" frameborder="0" style="height: 400px; width: 100%; background: #525659; margin-bottom: -5px;">Hello!</iframe>
      <div class="row">
        <div class="col-sm-12">
          <dl class="document-metadata dl-horizontal dl-invert dl-dericci">
            <dt>Name</dt>
            <dd>{{ current_record.name }}</dd>
          
            <dt>Dates</dt>
            <dd>{{ current_record.dates || "Unknown" }}</dd>

            <dt>Place</dt>
            <dd>{{ current_record.place || "Unknown" }}</dd>
       
            <dt>PDF</dt>
            <dd><a href="{{ current_record.url }}" target="_blank" class='btn btn-xs btn-default'>Hosted at the UK Senate House Archives</a></dd>

            <dt>Number of Cards</dt>
            <dd>{{ current_record.cards || "Unknown" }}</dd>
            
            <dt>File Size</dt>
            <dd>{{ current_record.size || "Unknown" }}</dd>
            
            <dt>Other Info</dt>
            <dd>{{ current_record.other_info || "None" }}</dd>

            <dt>Senate House ID#</dt>
            <dd>{{ current_record.senate_house || "Unknown" }}</dd>
          </dl>
          <div class="panel panel-default" ng-repeat="comment in current_record.comments">
            <div class="panel-body comment" ng-bind-html="comment.comment">
            </div>
            <div class="panel-footer">
              <div class="row">
                <div class="col-xs-6">
                  {{ comment.created_by }}
                </div>
                <div class="col-xs-6 text-right">
                  {{ comment.created_at }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" ng-if="current_record" ng-repeat="dericci_link in actualLinks(current_record) | filter: activeRecords" >
        <div class="col-sm-12">
          <div class="input-group" style="margin-bottom: 5px;">
            <textarea class="form-control" ng-model="dericci_link.other_info" placeholder="Add more information here, if needed..."></textarea>
            <span class="input-group-addon">
              <a target="_blank" href="/names/{{ dericci_link.name_id }}" class="">
                SDBM_NAME_{{ dericci_link.name_id }}
              </a>
              <a href="" class="" ng-click="removeLink(current_record, dericci_link)">
                <span class="glyphicon glyphicon-remove-circle"></span>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
<%= render "select_name_authority" %>