<tr>
  <td>
    <% record.dericci_record_flags.each do |flag| %>
      <% if flag.reason == DericciRecordFlag.reasons[0] %>
        <span class="glyphicon glyphicon-flag text-danger"></span>
      <% elsif flag.reason == DericciRecordFlag.reasons[1] %>
        <span class="glyphicon glyphicon-flag text-success"></span>
      <% else %>
        <span class="glyphicon glyphicon-flag text-warning"></span>
      <% end %>
    <% end %>
    <%= link_to record.name, dericci_record_path(record) %>
  </td>
  <td>
    <% if current_user %>
    <span class="btn-group">
      <%= render partial: "nav/bookmark_watch_table", locals: {model: record} %>
    </span>
    <% end %>
  </td>
  <td class="text-muted"><%= "#{record.cards} #{'card'.pluralize(record.cards)}" %></td>
  <td class="text-muted"><%= record.size %></td>
  <td>
  <% record.dericci_links.group_by(&:name_id).each do |name_id, links| %>
    <span class="btn btn-info btn-xs">
      <span class="glyphicon glyphicon-link" title="This record is linked to a name is the SDBM name authority (possible)"></span>
    </span>
  <% end %>
  <% if record.verified %>
    <span class="btn btn-xs btn-success">
      <span class="glyphicon glyphicon-link" title="This record is linked to a name is the SDBM name authority (verified)"></span>
    </span>
  <% end %>
  </td>
  <td class="text-muted text-right"><%= record.dates || "Unknown" %></td>
</tr>