<% content_for :head do %>
  <script type="text/javascript">
    $(document).ready( function() {
      $('#url-input').change(function (e) {
        $("#dericci_record_<%= @record.id %>_preview").attr('src', $('input[name="dericci_record[url]"]').val());
      });
    });
  </script>
  <style>
    .document-metadata dd {
      border: none;
    }
    .btn-checkbox:checked + label.btn {
      opacity: 0.5;
    }
  </style>
<% end %>

<% content_for :control_tools do %>
  <%= render partial: "nav/bookmark_watch", locals: {model: @record} %>
  <% if (s = Source.where(title: "De Ricci Digitized Archive").first) %>
    <li>
      <%= link_to new_entry_path(source_id: s.id, url: request.original_url ) do %>
        <span class="glyphicon glyphicon-plus"></span> Add Entry Based on De Ricci Record
      <% end %>
    </li>
  <% end %>
  <% if can? :manage, DericciRecord %>
  <li>
    <%= link_to(new_dericci_record_path) do %>
      <span class="glyphicon glyphicon-plus"></span> New De Ricci Record
    <% end %>
  </li>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render partial: "dericci_games/breadcrumbs" %>
<% end %>

<%= form_for @record do |f| %>
<div class="row">
        <%= f.fields_for :dericci_record_flags do |ff| %>
    <div class="col-sm-12">
      <div class="alert alert-danger">
          <strong><span class="glyphicon glyphicon-flag"></span> Flagged - </strong>
          <%= ff.object.reason %>
          <strong> - <%= link_to ff.object.created_by.to_s, profile_path(ff.object.created_by.username) %></strong>
          <%= ff.hidden_field :id %>
          <%= ff.check_box :_destroy, {id: "flag#{ff.object.id}", style: "display: none;", class: 'btn-checkbox'} %>
          <label for="flag<%= ff.object.id %>" class="pull-right btn btn-danger btn-xs">Remove Flag
          </label>
      </div>
    </div>
        <% end %>
</div>

<div class="row">
  <div class="col-sm-5">
    <h3><%= !@record.id ? "New" : "" %> De Ricci Record <%= @record.id %></h3>
    <dl class="document-metadata dl-horizontal dl-invert">
      <dt>Name</dt>
      <dd><%= f.text_field :name, class: 'form-control' %></dd>
    
      <dt>Dates</dt>
      <dd><%= f.text_field :dates, class: 'form-control' %></dd>

      <dt>Place</dt>
      <dd><%= f.text_field :place, class: 'form-control' %></dd>
 
      <dt>PDF</dt>
      <dd><%= f.text_field :url, class: 'form-control', id: 'url-input' %></dd>

      <dt>Number of Cards</dt>
      <dd><%= f.text_field :cards, class: 'form-control' %></dd>
      
      <dt>File Size</dt>
      <dd><%= f.text_field :size, class: 'form-control' %></dd>
      
      <dt>Other Info</dt>
      <dd><%= f.text_field :other_info, class: 'form-control' %></dd>

      <dt>Senate House ID#</dt>
      <dd><%= f.text_field :senate_house, class: 'form-control' %></dd>
      
      <dt>Verified ID#</dt>
      <dd><%= f.text_field :verified_id, class: 'form-control' %></dd>
      
      <dt>
        Out of Scope 
      </dt>
      <dd><%= f.check_box :out_of_scope, class: 'form-control' %></dd>

      <dt></dt>
      <dd><%= f.submit "#{@record.id ? 'Update' : 'Save New'} De Ricci Record", class: 'form-control' %></dd>
    </dl>

  </div>
  <div class="col-sm-7">
    <iframe src="<%= @record.url %>" frameborder="0" style="width: 100%; height: 600px;" id="dericci_record_<%= @record.id %>_preview"></iframe>
  </div>
</div>
<% end %>