<% content_for :breadcrumbs do %>
  <%= render partial: "dericci_games/breadcrumbs" %>
<% end %>
<%= form_tag dericci_records_path, :method => 'get', class: "form-inline" do %>
<div class="row" style="margin-bottom: 10px;">
  <div class="col-sm-12 text-center">
      <%= select_tag "field", options_for_select({"Name" => "name","Date" => "dates","Place" => "place"}, params[:field]), class: "form-control" %>
      <%= text_field_tag :term, params[:term], class: "form-control" %>
      <div class="input-group">
        <%= submit_tag "Search", :name => nil, class: "form-control" %>
        <div class="input-group-btn">
          <%= link_to "Clear", dericci_records_path, class: "btn btn-warning" %>
        </div>
      </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">
    <ul class="pagination">
      <% ('a'..'z').to_a.each do |letter| %>
        <li class='<%= letter == params[:letter] ? "active" : "" %>'><%= link_to letter.capitalize, params.merge(:letter => letter).except(:page) %></li>
      <% end %>
      <li class='<%= !params[:letter] ? "active" : "" %>'><%= link_to "All", params.except(:letter).except(:page) %></li>
    </ul>
  </div>
  <div class="col-sm-3">
    Showing <%= @offset %> to <%= [@offset + @count, @total].min %> of <%= @total %>
  </div>
  <div class="col-sm-6 text-center">
    <ul class="pagination">
    <% if @page > 2 %>
      <li><%= link_to "First", params.merge(:page => 0) %></li>
      <li class='disabled'><a href="" class="disabled">...</a></li>
    <% end %>
    <% @pages.each do |p| %>
      <li class="<%= p == @page ? 'active' : '' %>"><%= link_to p + 1, params.merge(:page => p) %></li>
    <% end %>
    <% if @page < @num_pages - 2 %>
      <li class='disabled'><a href="" class="disabled">...</a></li>
      <li><%= link_to "Last", params.merge(:page => @num_pages) %></li>
    <% end %>
    </ul>
  </div>
  <div class="col-sm-3 text-right">
    Show <%= select_tag "limit", options_for_select([10, 20, 50, 100], params[:limit]), class: "form-control" %>
  </div>
</div>
<% end %>
<div class="row">
  <div class="col-sm-12">
      <% if @total <= 0 %>
        <p class="text-muted text-center">No matching records found.</p>
      <% end %>
      <% @records.each do |record| %>
          <%= render partial: "show", locals: {record: record} %>
      <% end %>
  </div>
</div>