<% content_for :head do %>
  <%= stylesheet_link_tag "extras" %>
  <%= javascript_include_tag "extras" %>
  <style>
    #select-name-table thead tr {
      height: 20px;
    }
    .modal-left {
      max-width: 50%;
      box-shadow: 10px 0px 24px -5px rgba(0,0,0,0.5);
    }
    .modal-left .modal-dialog {
      margin: 0px;
      height: 100%;
      width: 100%;
      overflow: hidden;
    }
    .modal-left .modal-content {
      height: 100%;
      border-radius: 0px;
    }
    .modal-title {
      overflow: hidden;
      white-space: nowrap;
    }
    .modal-header .close {
      margin: 8px;
    }
    .modal-left .modal-body, .modal-left .modal-header {
      padding: 0px;
    }
    .modal-left .modal-header {
      padding: 10px 5px;
    }
    .modal-left .modal-body {
      height: calc(100vh - 200px);
    }
    .modal-left .modal-title {
      margin-bottom: 25px;
    }
  </style>
<% end %>

<% if current_user %>
  <% content_for :control_tools do %>
    <%= render partial: "nav/bookmark_watch", locals: {model: @record} %>
    <% if (s = Source.where(title: "De Ricci Digitized Archive").first) %>
      <li>
        <%= link_to new_entry_path(source_id: s.id, url: request.original_url ) do %>
          <span class="glyphicon glyphicon-plus"></span> Add Entry Based on De Ricci Record
        <% end %>
      </li>
    <% end %>

    <% if can? :manage, DericciRecord %>
    <li>
      <%= link_to(new_dericci_record_path) do %>
        <span class="glyphicon glyphicon-plus"></span> New De Ricci Record
      <% end %>
    </li>
    <% end %>
  <% end %>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render partial: "dericci_games/breadcrumbs" %>
<% end %>
<div class="row">
  <% @record.dericci_record_flags.each do |flag| %>
    <div class="col-sm-12">
      <div class="alert <%= (DericciRecordFlag.reasons[0] == flag.reason ? 'alert-danger' : (DericciRecordFlag.reasons[1] == flag.reason) ? 'alert-success' : 'alert-warning') %>">
        <strong><span class="glyphicon <%= DericciRecordFlag.reasons.include?(flag.reason) ? 'glyphicon-flag' : 'glyphicon-warning-sign' %>"></span> Flagged - </strong>
        <%= flag.reason %>
        <strong> - <%= link_to flag.created_by.to_s, profile_path(flag.created_by.username) %></strong>
      </div>
    </div>
  <% end %>
  <div class="col-sm-5">
    <%= hidden_field_tag :record_id, @record.id, id: "record-id" %>
    <h3>De Ricci <%= @record.id %></h3>
    <table class="table table-responsive sdbm-table">
      <tr><td>Name</td>
      <td><%= @record.name %></td></tr>
    
      <tr><td>Dates</td>
      <td><%= @record.dates || "Unknown" %></td></tr>

      <tr><td>Place</td>
      <td><%= @record.place || "Unknown" %></td></tr>
 
      <tr><td>PDF</td>
      <td><%= link_to "Hosted at the UK Senate House Archives", @record.url %></td></tr>

      <tr><td>Number of Cards</td>
      <td><%= @record.cards || "Unknown" %></td></tr>
      
      <tr><td>File Size</td>
      <td><%= @record.size || "Unknown" %></td></tr>
      
      <tr><td>Other Info</td>
      <td><%= @record.other_info || "None" %></td></tr>

      <tr><td>Senate House ID#</td>
      <td><%= @record.senate_house || "Unknown" %></td></tr>

      <% if @record.out_of_scope %>
        <tr>
          <td colSpan="2" class="text-muted">De Ricci <%= @record.id %> is out of scope for the SDBM Name Authority</td>
        </tr>
      <% else %>
        <tr>
          <td>Verified Name (Real)</td>
          <td>
            <% if @record.dericci_links.where(approved: true).group_by(&:name_id).each do |name_id, dericci_links| %>
              <% name = dericci_links.first.name %>
              <a href="" class="btn btn-default btn-xs" data-toggle="modal" data-target="#<%= name.public_id %>" style="margin-bottom: 4px;">
                <%= name.name %> <span class="badge"><%= dericci_links.count %></span>
              </a>

              <div class="modal fade" id="<%= name.public_id %>">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <p>This De Ricci record has been linked to <%= link_to name.name, name_path(name) %> by </p>
                        <% dericci_links.each do |dl| %>
                            <span class='btn btn-xs btn-default'>
                              <%= render partial: "shared/username_with_profile_link", locals: { user: dl.created_by } %>
                            </span>
                            <% if dl.other_info.present? %>
                              <span class='text-muted'> <%= dl.other_info %></span>
                            <% else %>
                              <span class="text-muted"> no additional information provided</span>
                            <% end %>
                            <br>
                        <% end %>                    
                    </div>
                    <div class="modal-footer text-center">
                      <% if current_user && current_user.role == "admin" %>
                          <%= link_to "Remove Links", delete_many_dericci_links_path(ids: dericci_links.map(&:id)), method: :delete, class: "btn btn-danger" %>
                          <%= link_to "Unverify Links", update_many_dericci_links_path(ids: dericci_links.map(&:id), approved: false), method: :put, class: "btn btn-default" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            <% end.empty? %>
                <p class="text-muted">This name is not verifiably linked to any names in the SDBM Name Authority.</p>
            <% end %>
            <div ng-controller="DericciRecordCtrl">        
              <% if can? :edit, @record %>
                <input type="hidden" id="user-id" value="<%= current_user.id %>">
                <a id="verify" href="" ng-if="!name || !name.name" ng-click="findName(record)" class="btn btn-default btn-xs">Find Verified Name <span class="glyphicon glyphicon-plus"></span></a>
                <div class="btn-group" ng-if="name && name.name">
                  <a href="" class="btn btn-warning btn-xs">{{ name.name }}</a>
                  <a href="" class="btn btn-default btn-xs" ng-click="remove()"><span class='glyphicon glyphicon-remove'></span></a>
                  <a href="" class="btn btn-success btn-xs" ng-click="save()">Save</a>
                </div>
              <% else %>
                <span class="text-muted">A verified SDBM Name has not been identified yet.</span>
              <% end %>
            </div>
          </td>
        </tr>
        <tr><td>
          Possible Names
        </td>
        <td>
          <% if @record.dericci_links.where(approved: [false, nil]).group_by(&:name_id).each do |name_id, dericci_links| %>
              <% name = dericci_links.first.name %>
              <a href="" class="btn btn-info btn-xs" data-toggle="modal" data-target="#<%= name.public_id %>" style="margin-bottom: 4px;">
                <%= name.name %> <span class="badge"><%= dericci_links.count %></span>
              </a>

              <div class="modal fade" id="<%= name.public_id %>">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                      <p>This De Ricci record has been linked to <%= link_to name.name, name_path(name) %> by </p>
                        <% dericci_links.each do |dl| %>
                            <span class='btn btn-xs btn-default'>
                              <%= render partial: "shared/username_with_profile_link", locals: { user: dl.created_by } %>
                            </span>
                            <% if dl.other_info.present? %>
                              <span class='text-muted'> <%= dl.other_info %></span>
                            <% else %>
                              <span class="text-muted"> no additional information provided</span>
                            <% end %>
                            <br>
                        <% end %>                    
                    </div>
                    <div class="modal-footer text-center">
                      <% if current_user && current_user.role == "admin" %>
                          <%= link_to "Remove Links", delete_many_dericci_links_path(ids: dericci_links.map(&:id)), method: :delete, class: "btn btn-danger" %>
                          <%= link_to "Verify Links", update_many_dericci_links_path(ids: dericci_links.map(&:id), approved: true), method: :put, class: "btn btn-default" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
          <% end.empty? %>
              <p class="text-muted">This name has no suggested possible links to any names in the SDBM Name Authority.</p>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>

    <%= render partial: "comments/show_all", locals: {comments: @record.comments.where(public: true), record: @record} %>
    <%# render partial: "show", locals: {record: @record} %>
  </div>
  <div class="col-sm-7">
    <iframe src="<%= @record.url %>" frameborder="0" style="width: 100%; height: 600px;"></iframe>
  </div>
</div>
<%= render "shared/select_name_authority" %>
<%= render "shared/create_name" %>