<%# Used for wherever a username is shown publicly (i.e. created by, commented by) %>
<% if user.present? %>
  <span class="<%= defined?(up) ? 'dropup' : 'dropdown' %>">
    <a href="" class="dropdown-toggle" data-toggle="dropdown">
      <%= user.to_s %>
    </a>
    <div class="dropdown-menu">
      <span class="dropdown-item-text text-muted"><span class="fa fa-briefcase"></span> <%= user.role %></span>
      <a class="dropdown-item" href="<%= main_app.profile_path(username: user.username) %>"><span class="fa fa-user"></span> Profile</a>
      <a class="dropdown-item" href="<%= main_app.new_private_message_path(user_id: [user.id]) %>"><span class="fa fa-envelope"></span> Send Message</a>
      <% if current_user == user %>
      <%= link_to main_app.edit_user_registration_path, class: "dropdown-item" do %><span class="fa fa-cog"></span> My Settings<% end %>
      <% end %>
    </div>
  </span>
<% else %>
  Unknown
<% end %>
