<% @details.reverse_each do |date, users| %>
  <div class="row">
    <div class="col-sm-12">
      <h4 class="text-center">
        <%= date %>
      </h4>
      <% users.each do |user_id, details| %>

      <div class="collapse show">
        <h5 class='text-center'>
            <% user = @users.select{ |u| u.id == user_id.to_i }.first %>
            <!-- using partials makes this take longer?? -->
            <% if user.present? %>
              <span class="<%= defined?(up) ? 'dropup' : 'dropdown' %>">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <%= user.to_s %>
                </a>
                <div class="dropdown-menu">
                  <span class="dropdown-item-text text-muted"><span class="fa fa-briefcase"></span> <%= user.role %></span>
                  <a class="dropdown-item" href="<%= main_app.profile_path(username: user.username) %>"><span class="fa fa-user"></span> Profile</a>
                  <a class="dropdown-item" href="<%= main_app.new_private_message_path(user_id: [user.id]) %>"><span class="fa fa-envelope"></span> Send Message</a>
                  <% if current_user == user %>
                  <%= link_to main_app.edit_user_registration_path, class: "dropdown-item" do %><span class="fa fa-cog"></span> My Settings<% end %>
                  <% end %>
                </div>
              </span>
            <% else %>
              Unknown
            <% end %>

            <span data-toggle='collapse' href='#activity_<%= date %>_<%= user_id %>'>made <%= "#{details.count} change".pluralize(details.count) %></span>
          </span>
        </h5>
        
        <div class="">
          <% details.reverse_each do |transaction_id, detail| %>
          <div class="card activity">
            <div class="card-header">
              <%= Activity.where(transaction_id: transaction_id).first.created_at.to_formatted_s(:long) %>
            </div>
            <div class="card-body text-muted" style="overflow: hidden; text-overflow: ellipsis;">
              <div class="row">
                <div class="col-12">
                  <%= sanitize simple_format detail[:details] %>
                </div>                
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>