<%# copied from blacklight gem so that instructional text can be inserted %>
<% @page_title = "Saved Searches - " + application_name %>
<div class="col-sm-1"></div>
<div id="content" class="col-md-10">

<h1 class='page-heading'><%= t('blacklight.saved_searches.title') %></h1>

<p>This page lists all search facets you have saved in current and past sessions. You can delete saved searches by clicking <b>delete</b>. To delete every saved search, click the <b>Clear Saved Searches</b> button.</p>

<p>There are two ways to save your searches:</p>

<ol>
  <li><strong>Search</strong> for entries.</li>
  <li>Click the <strong>Save Search</strong> button located in the top right corner of the search results.</li>
</ol>

<div class=>- or -</div>

<ol>
    <li><b>Search</b> for entries.</li>
    <li>Click the <b>History</b> link, located in the top horizontal navigation.</li>
    <li>Click the <b>save</b> button next to each search you wish to save.</li>
</ol>

<%- if current_or_guest_user.blank? -%>
  
  <h3 class='section-heading'><%= t('blacklight.saved_searches.need_login') %></h3>
  
<%- elsif @searches.blank? -%>
  
  <h3 class='section-heading'><%= t('blacklight.saved_searches.no_searches') %></h3>
  
<%- else -%>
    <%= link_to t('blacklight.saved_searches.clear.action_title'), clear_saved_searches_path, :class => "btn btn-danger pull-right", :method => :delete, :data => { :confirm => t('blacklight.saved_searches.clear.action_confirm') } %>
    <h3 class='h3 section-heading'><%= t('blacklight.saved_searches.list_title') %></h3>
  
  <ul class="list-group">
    <%- @searches.each do |search| -%>
      <li class='list-group-item row'>
        <div class='col-sm-10'><%= link_to_previous_search(search.query_params) %></div>
        <div class='col-sm-2 text-right'><%= button_to 'Delete', forget_search_path(search.id), :class => 'btn btn-default' %></div>
      </li>
    <%- end -%>
  </ul>

<%- end -%>
</div>
