<ul class="list-group">
  <% if notifications.count <= 0 %>
    <li class="list-group-item row text-muted text-center">No notifications to display.</li>
  <% end %>
  <% notifications.each do |notification| %>
      <li class="row list-group-item <%= !notification.active ? '' : 'read' %>" id="notification_<%= notification.id %>" data-id="<%= notification.id %>">
        <% if notification.title %>
          <div class="col-xs-12 one-line">
            <% if notification.notified %>
              <% 
                if notification.notified.class == User
                  url = main_app.profile_path(notification.notified.username)
                elsif notification.notified_type == "Thredded::Post"
                  url = Thredded::UrlsHelper.post_permalink_path(notification.notified)
                else      
                  url = main_app.polymorphic_url(notification.notified)
                end
              %>
              <%= link_to url, :title => notification.title do %>
                <% if notification.active %>
                  <span class="glyphicon glyphicon-exclamation-sign" style="color: #2196F3"></span>
                  <span class="title"><%= notification.title %></span>
                <% else %>
                  <span class="title"><%= notification.title %></span>
                <% end %>
              <% end %>
            <% else %>
              <span class="title text-muted"><span class="glyphicon glyphicon-warning-sign text-warning"></span> <%= notification.title %></span>
            <% end %>
          </div>
          <div class="col-xs-12 text-right text-info one-line">
            <%= notification.created_at.to_formatted_s(:long) %>
            <span class="glyphicon glyphicon-ok-circle" data-id="<%= notification.id %>"></span>
          </div>
        <% end %>
      </li>
  <% end %>
</ul>
<script>
  $('.read').click(function (e) {
    var id = $(this).data("id");
    $.ajax({url: "/notifications/" + id + ".json", type: "PUT", data: {active: false}}).done(function (result) {
      $('#notification_' + id + ' .glyphicon-exclamation-sign').remove();
      $('#notification_' + id).addClass('text-muted');
      $('#notifications-dropdown-control').attr('new-notifications', Number($('#notifications-dropdown-control').attr('new-notifications')) - 1);
      if ($('#notifications-dropdown-control').attr('new-notifications') <= 0) {
        $('#notifications-dropdown-control').removeClass('notifications-count');
      }
    });
  });
</script>