<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
        
        <div class="row">
            <div class="col-sm-12">
                <h2><%= @author.get_public_id %></h2>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-12" colspan="2"><b>Author Details</b></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="col-sm-2 text-right record-label">Name</td>
                    <td class="col-sm-10">
                        <%= @author.name %>
                    </td>
                </tr>

                <% if @author.viaf_id.present? %>
                <tr>
                    <td class="col-sm-2 text-right record-label">VIAF ID</td>
                    <td class="col-sm-10">
                        <a href="http://viaf.org/viaf/<%= @author.viaf_id %>/"><%= @author.viaf_id %></a>
                    </td>
                </tr>
                <% end %>

                <tr>
                    <td class="col-sm-2 text-right record-label"># Entries</td>
                    <td class="col-sm-10">
                        This author has <a href="<%= search_by_facet_value('author_facet', @author.name) %>"><%= Entry.with_author(@author).count %> entries</a> in the database.
                    </td>
                </tr>

                <tr>
                    <td class="col-sm-2 text-right record-label"></td>
                    <td class="col-sm-10">
                        TODO: Other details will be displayed here eventually.
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

</div>
