<div class="row">
    <div class="col-sm-3">
        <h1 style="font-size: 50px;">Sign-Up</h1>
    </div>
    <div class="col-sm-9 text-right" style="font-size: 25px;">
        <ul class="nav nav-pills">
            <li class='active'><a href="#faq" data-toggle="pill">1: Complete FAQ</a></li>
            <li class='disabled'><a href="#signup">2: Create Account</a></li>
        </ul>
    </div>
    <div class="col-sm-12">
        <div class="tab-content">
            <!-- FAQ -->
            <div class="faq tab-pane fade in active" id="faq">
                <h3 class='text-info text-center'>
                    read through each question and <input type="checkbox" class="faq checkbox" checked disabled id="democheckbox"><label for="democheckbox"></label> to confirm that you have read it.
                </h3>
                
                <div class="scroll-container-hide-scrollbars" style="height: calc(100vh - 190px); overflow: hidden;">
                <div class="scroll-container" style="overflow-y: scroll; padding-right: 20px; height: 100%; width: calc(100% + 20px);">
                
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="h4">I have access to a source for manuscript data currently not included in the database. How do I add this content?</span></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-10">
                                <p>You can enter the data yourself if you have an SDBM user account by selecting “Add New Entry” from your Dashboard, then “Create New Source.”</p>
                            </div>
                            <div class="col-xs-2 text-right">
                                <input type="checkbox" class="faq checkbox" id="faq1"><label for="faq1"></label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><span class="h4">Does the Schoenberg Database of Manuscripts (SDBM) own the manuscripts it describes?</span></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-10">
                                <p>No, the SDBM does not own any manuscripts. We gather data about any manuscript produced before 1600 CE and composed of five or more folios, regardless of geographic location or institutional affiliation. We may at some point change the date and folio limits if the user community believes this is the right course of action. Let us know what you think!</p>
                            </div>
                            <div class="col-xs-2 text-right">
                                <input type="checkbox" class="faq checkbox" id="faq2"><label class='bg-primary' for="faq2"></label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="h4">Why does the data seem so messy?</span></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-10">
                                <p>Larry Schoenberg created his personal database as an Excel file in 1997, then created an Access database as the spreadsheet grew and he added more fields. These early formats required character limits, thus frequently forcing him to abbreviate data. As he began sharing his spreadsheet with friends, the user base and scope of the project grew. In 2009, data standards were created and refined and fields were added with the intention of improving information quality. It has been and remains impossible for SDBM staff to go back through all early entries to update the data to current standards. We provide warning labels on those entries that were created prior to the development of the New SDBM.

                                Also, people just make mistakes sometimes. You can help us improve data quality by commenting on entries and adding Personal Observations to the database.</p>
                            </div>
                            <div class="col-xs-2 text-right">
                                <input type="checkbox" class="faq checkbox" id="faq3"><label for="faq3"></label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="h4">I disagree with the data provided in an entry. How do I change it?</span></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-10">
                                <p>There are many ways to help us improve data. While you can never edit another user’s entry, we do encourage you to create a Personal Observation if you have knowledge of a manuscript that is different from data recorded in an entry. If you notice an error in the way that data may have been transcribed from a source, you can leave a comment at the bottom of the description to notify us of the problem. You can also email us at sdbm@pobox.upenn.edu if you prefer to keep your comments private, though you will miss out on potential conversations with other users. Keep in mind that the SDBM aims to reproduce data exactly as it is given in a source (e.g. an auction catalogue).</p>
                            </div>
                            <div class="col-xs-2 text-right">
                                <input type="checkbox" class="faq checkbox" id="faq4"><label for="faq4"></label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="h4">Some entries are linked together but there is no way they can be the same manuscript, in my informed opinion. Why is that?</span></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-10">
                                <p>Again, people make mistakes. Help us fix them by editing the links or notifying us.</p>
                            </div>
                            <div class="col-xs-2 text-right">
                                <input type="checkbox" class="faq checkbox" id="faq5"><label for="faq5"></label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="h4">I am looking at a Manuscript Record in which all of the linked entries contain exactly the same data across fields. How can this be, since, for example, one source catalog dates to the 16th-century, before the metric system had been invented, and yet an entry associated with this catalog gives dimensions in millimeters?
                    </span></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-10">
                                <p>At one point in the history of the SDBM, it was determined that all linked entries should contain the same data. We no longer do this because there is no way to determine which source has the “right” data. If you find an instance of this, please help us fix it!</p>
                            </div>
                            <div class="col-xs-2 text-right">
                                <input type="checkbox" class="faq checkbox" id="faq6"><label for="faq6"></label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="h4">Why can’t I find a particular major sale or a collection catalogue? Why is it not represented in the database?
                    </span></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-10">
                                <p>It is entirely possible that a sale of great significance has not been entered because we have not had access to a catalog. Up until the New SDBM was created, we have relied on a handful of researchers limited to certain locations. This is why we decided to open it up to the user-community.</p>
                                <p>It may also be that the catalog has been entered in such a way as to make it difficult to locate within the database. If you are having trouble finding something, email us at sdbm@pobox.upenn.edu.</p>
                            </div>
                            <div class="col-xs-2 text-right">
                                <input type="checkbox" class="faq checkbox" id="faq7"><label for="faq7"></label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="h4">Why are there no images?
                    </span></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-10">
                                <p>We do not include images of manuscripts because we do not own the manuscripts, nor do we include images of sources and other evidence because this allows us to keep the data light and ensure sustainability. The user has the option to add URLs in Entries that point to images of the manuscript described or other source evidence.</p>
                            </div>
                            <div class="col-xs-2 text-right">
                                <input type="checkbox" class="faq checkbox" id="faq8"><label for="faq8"></label>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="h4">Whom do I contact to get a reproduction of a manuscript described in the database?
                    </span></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-10">
                                <p>Unfortunately, we can’t help you out with this (see the previous question). If an Entry or a Manuscript Record includes current location data, contact the institution described there. If no current location information exists, try using data recorded in the provenance history to track its current location.</p>
                            </div>
                            <div class="col-xs-2 text-right">
                                <input type="checkbox" class="faq checkbox" id="faq9"><label for="faq9"></label>
                            </div>
                        </div>
                    </div>
                </div>
                 
                <div class="panel panel-default">
                    <div class="panel-heading"><span class="h4">Finally, why do many fields (e.g., Seller, Buyer, Author, Place, Language, Provenance Agent, etc.) have an “As Recorded” subfield and a “Find in Name Authority” subfield ?</span></div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-10">
                                <p>The “As recorded” field allows you to enter a name exactly as it is recorded in your source, and allows us to capture variations in the way a name is recorded across multiple sources. The authority field is there to link the record to a Name, Place, or Language Authority List maintained by the SDBM staff. It is our goal to make our Authority Lists linkable to other authorities such as the Virtual International Authority File (VIAF). For more information on VIAF, go to <a href="http://viaf.org/">http://viaf.org/</a>.</p>
                            </div>
                            <div class="col-xs-2 text-right">
                                <input type="checkbox" class="faq checkbox" id="faq10"><label for="faq10"></label>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
                </div>

            </div>
            <!-- Sign-up form -->
            <div id="signup" class="tab-pane fade">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group text-center">
                            <h3>Create New Account:</h3>
                            <p class="text-success text-center" id="faq-success" style='display: none;'>Thank you! You may now register a new account.</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <% if Rails.configuration.sdbmss_allow_user_signup %>
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                        
                        <%= f.invisible_captcha :fullname %>

                        <fieldset id="faq-required" disabled>
                            <div class="form-group">
                                <%= devise_error_messages! %>
                            </div>
                            <div class="form-group">
                                <%= f.label :username, class: "control-label" %><br />
                                <%= f.text_field :username, class: "form-control", autofocus: true %>
                            </div>
                            <div class="form-group">
                                <%= f.label :email, class: "control-label" %><br />
                                <%= f.email_field :email, class: "form-control" %>
                            </div>
                            <div class="form-group">
                                <%= f.label :biography, class: "control-label" %>
                                <br>
                                <span class="text-info">
                                    <strong>Required:</strong> A brief note about yourself and why you are interested in using the SDBM helps us to prevent the creation of fake user accounts.
                                </span>
                                <%= f.text_area :bio, :class => 'form-control', :required => true %>
                            </div>
                            <div class="form-group">
                                <%= f.label :password, class: "control-label" %>
                                <% if @validatable %>
                                <em>(<%= @minimum_password_length %> characters minimum)</em>
                                <% end %><br />
                                <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
                            </div>
                            <div class="form-group">
                                <%= f.label :password_confirmation, class: "control-label" %><br />
                                <%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
                            </div>
                            <div class="form-group">
                                <p>
                                    <%= check_box_tag "Agreement", nil, false, class: "", required: true, disabled: true, id: "check_agreement" %>
                                    I have read and agree to the <a href="/user_agreement" id="agreement">User Agreement</a>
                                </p>
                            </div>
                            <div class="form-group">
                                <div class="actions">
                                    <%= f.submit "Sign up", class: "btn btn-default", disabled: true, id: "submit_signup" %>
                                </div>
                            </div>
                        </fieldset>
                        <% end %>
                        <% else %>
                        <div class="form-group">
                            <span style="color: red;">Sorry, new user signup is disabled at this time.</span>
                        </div>
                        <% end %>
                        <div class="form-group">
                            <%= render "devise/shared/links" %>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <p>Welcome to the New SDBM! By signing up, you are becoming a
                        member of an engaged user-community devoted to the study and
                        research of manuscripts produced before the age of
                        print. Whether a professional or citizen scholar, you, as a
                        member of this community, can</p>

                        <ul>
                            <li>contribute data from the sources the SDBM has traditionally relied upon (e.g. auction and sale catalogs, institutional catalogs, published inventories, etc)</li>
                            <li>create your own personal observations of a manuscript and where it may have been or is now</li>
                            <li>link entries to show the transmission of a manuscript from one location to the next</li>
                        </ul>
                        
                        <p>We also hope you will take the opportunity to engage in
                        virtual conversations with other users and give us feedback to
                        help us build and shape this open-access resource.</p>

                        <p>To start contributing data, simply fill out the
                        information below. Once you've logged in, instructions on each page and pop-up
                        tooltips will guide you in adding and editing data. For more detailed instructions, consult our user-manual or watch the video tutorials. For definitions of our data fields, mouse over the field labels to see tooltips.</p>

                        <p>
                            <a href="/static/docs/sdbm_user_manual.pdf" target="_blank">User Manual</a><br/>
                            <a href="https://www.youtube.com/channel/UCsVZp-1724xPIW8MwIdKoyg/videos">Video Tutorials</a><br>
                        </p>
                        
                        <p>Note: We will never sell or distribute your personal
                        information. You will have the option to make your email
                        address publicly available or not.</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

</div>
<div id="user_agreement" style="display: none;">
    <%= render partial: "shared/user_agreement" %>
</div>
<script type="text/javascript">

    /**
     * This code handles the forced-checkbox feature of the FAQ on initial login, including using localStorage to remember user progress *
     */

    if (localStorage && localStorage.checkedData) {
        var checkedData = localStorage.checkedData.split(',');
        checkedData.forEach( function (e) {
            $('#' + e).prop('checked', true);
        });
        completeFAQ();
    }

    $("#agreement").click( function (e) {
        e.preventDefault();
        SDBM.showModal("#modal", {title: "User Agreement", body: $('#user_agreement').html() });
        $("button[data-dismiss]").click(function (e) {
            $("#check_agreement").prop('disabled', false);
        });
        return false;
    });

    $("#check_agreement").change( function (e) {
        $("#submit_signup").prop('disabled', !this.checked);
    })

    $('.checkbox').change( function (e) {
        var total = 0;
        var t = $(this).closest('.panel-default');//.next('.panel-default').offset().top - $('.scroll-container').offset().top; 
        var list = t.prevAll().andSelf();
        list.each( function (i, e) {
            total += $(e).outerHeight(true);
        });     
        $('.scroll-container').animate({ scrollTop: total }, 500);

        var checked = $('.checkbox:checked');//.map( function (e) { return $(this).prop('id') });
        var checkedData = [];
        for (var i = 0; i < checked.length; i++) {
            checkedData.push($(checked[i]).prop('id'));
        }
        if (localStorage) localStorage.checkedData = checkedData;

        completeFAQ();
    });

    function completeFAQ() {
        var remaining = $('.checkbox').length - $('.checkbox:checked').length;
        if( remaining == 0) {

            $('#faq-required').prop('disabled', false);
            $('#faq-warning').hide();
            $('#faq-success').show();
            $('a[href="#signup"]').attr("data-toggle", "pill");
            $('a[href="#signup"]').parent('li').removeClass('disabled').addClass('active');
            $('a[href="#faq"]').parent('li').removeClass('active');
            $('#signup').addClass('in active');
            $('#faq').removeClass('in active');
        } else {
            $('#faq-required').prop('disabled', true);
            $('#faq-warning').show();
            $('#faq-warning #count').text(remaining + " remaining.");
            $('#faq-success').hide();
            $('a[href="#signup"]').attr("data-toggle", "");
            $('a[href="#signup"]').parent('li').removeClass('active').addClass('disabled');
            //$('a[href=#faq]').parent('li').removeClass('active');
            $('#signup').removeClass('in active');
            $('#faq').addClass('in active');
        }
    }
</script>