<% if can? :edit, entry %>
<%= form_tag('/entries/add_to_group', method: :post) do %>
<div class="input-group" style="max-width: 500px; display: inline-flex;">
  <%= hidden_field_tag 'ids[]', [entry.id] %>
  <% groups = Group.joins(:group_users).where(:group_users => {user: current_user, role: "Manager"}) %>
  <% if groups.count > 0 %>
  <div class="input-group-prepend">
    <input type="submit" value="Add" class='btn btn-outline-secondary'/>
  </div>
  <select class='custom-select' name="group_id">
    <% groups.each do |group| %>
      <option value="<%= group.id %>"><%= group.name %></option>
    <% end %>
  </select>
  <% else %>
  <div class="input-group-prepend">
    <input type="submit" value="Add" class='btn btn-outline-secondary disabled' disabled/>
  </div>
  <select name="" id="" class="custom-select disabled" disabled>
    <option value="nil">You have no user groups.</option>
  </select>
  <% end %>
</div>
<label class="fw-bold ms-3">
  Make Editable?
  <%= check_box_tag :editable, true, class: "ms-1" %>
</label>
<% end %>
<% else %>
  <!-- -->
<% end %>