<% content_for :head do %>
    <%= stylesheet_link_tag "extras", media: "all" %>
    <%= javascript_include_tag "extras" %>
<% end %>

<% if entry.nil? %>
<p>Error: couldn't retrieve model object from database for Solr document id = <%= document.id %></p>
<% else %>

<div class="<%= entry.draft ? 'text-muted' : '' %>">

<% if entry.source.source_type.name == SourceType::OBSERVATION %>
    <p>Is this personal observation useful? <%= render partial: "ratings/rate", locals: {ratable: entry} %></p>
    <div><%= render partial: "ratings/rated", locals: {ratable: entry} %></div>
    <div style="padding-top: 10px;"></div>
<% end %>

<div class="alert alert-info">
    <span class="glyphicon glyphicon-info-sign"></span> <strong>Note:</strong> This entry records a mention or observation of a manuscript in a source. Do not assume that the manuscript is held by the University of Pennsylvania Libraries.
</div>

<% if entry.deprecated %>
    <div class="alert alert-danger">
        <span class="glyphicon glyphicon-ban-circle"></span>
        This entry has been <strong>deprecated</strong>. The data on this page is considered incorrect or unreliable and should <strong>NOT</strong> be cited or used.
        <% if (superceded_by = entry.superceded_by).present? %>
            <br/>The following entry supercedes it: <a href="<%= entry_path superceded_by %>"><%= superceded_by.public_id %></a>
        <% end %>
    </div>
<% end %>

<% if !entry.approved %>
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Warning:</strong> This entry has not been approved yet.  The data may be incorrect or unreliable, or may not conform to the general data standards.
    </div>
<% end %>

<% if entry.draft %>
    <div class="alert text-muted alert-warning" style="background: #f8f8f8; border-color: #eee; position: relative;">
        This entry is a draft and has not yet been published.
        <% if can? :edit, entry %>
            <%= link_to(entry_path(entry.id, draft: false, cumulative_updated_at: entry.cumulative_updated_at), :method => :patch, :title => "Publish?", :class => "btn btn-sm btn-default pull-right publish-btn", :data => {:confirm => "Are you sure you wish to publish this entry?  It will become publicly viewable from this point forward."}) do %>
            <span class="glyphicon glyphicon-file"></span>
          <% end %>
        <% end %>
    </div>
<% end %>

<% if entry.unverified_legacy_record %>
    <div class="alert alert-danger">
        This Entry was imported from the previous SDBM into the New SDBM on October 15, 2015. Its data may contain flaws due to incompatibility with the new data model or because data entry did not conform to current data entry standards that require that data submitted to the New SDBM reflect data provided by a Source <a href="https://sdbm.library.upenn.edu/static/docs/sdbm_data_model_explanation.pdf">(read more)</a>. We advise users to confirm data with the identified source when possible.
    </div>
<% end %>

<%= render partial: "shared/entry_manuscripts", locals: { entry: entry } %>

<% entry.supercedes.each do |e| %>
    <p class="text-warning">This entry supercedes the following deprecated Entry: <%= link_to e.public_id, entry_path(e), class: "text-warning bg-warning" %>.</p>
<% end %>

<!-- in the future, if you want this to be more open ended (any type of source), just remove the 'source_type' field -->
<p>Do you have additional information about the manuscript described here?
    <% if entry.manuscript %>
        <%= link_to "Create A Personal Observation", new_source_path({create_entry: 1, manuscript_id: entry.manuscript.id, source_type: 4}) %>
    <% else %>
        <%= link_to "Create A Personal Observation", new_source_path({create_entry: 1, new_manuscript: true, original_entry: entry.id, source_type: 4}) %>
    <% end %>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-sm-12" colspan="2"><b>Source</b></th>
        </tr>
    </thead>
    <tbody>
        <% if (source = entry.source).present? %>
        <tr>
            <td class="col-sm-2 text-right record-label">Source</td>
            <td class="col-sm-10">
                <%= link_to source.display_value, source_path(source) %> (<%= source.source_type.display_name %>)
            </td>
        </tr>
        <% end %>

        <% if entry.catalog_or_lot_number.present? %>
        <tr>
            <td sdbm-tooltip="entry_cat_lot_no" class="col-sm-2 text-right record-label">Cat./Lot #</td>
            <td class="col-sm-10">
                <%= entry.catalog_or_lot_number %>
            </td>
        </tr>
        <% end %>

        <% if entry.institution.present? %>
        <tr>
            <td sdbm-tooltip="entry_institution" class="col-sm-2 text-right record-label">Institution/Collection</td>
            <td class="col-sm-10">
                <%= entry.institution %>
            </td>
        </tr>
        <% end %>

    </tbody>
</table>

<% if (sale = entry.get_sale).present? %>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-sm-12" colspan="2"><b>Transaction Information</b></th>
        </tr>
    </thead>

    <tbody>

        <% if (selling_agents = sale.sale_agents.where(role: "selling_agent")).present? %>
        <tr>
            <td class="col-sm-2 text-right record-label" sdbm-tooltip="entry_sale_agent">Selling Agent(s)</td>
            <td class="col-sm-10">
                <% selling_agents.each do |selling_agent| %>
                    <% if selling_agent.agent %>
                    <a href="<%= name_path(selling_agent.agent) %>">
                        <%= selling_agent.display_value %>
                    </a>
                    <%= selling_agent.certainty_flags %>
                    <br>
                    <% else %>
                        <%= selling_agent.display_value %> <%= selling_agent.certainty_flags %>
                    <% end %>
                <% end %>
            </td>
        </tr>
        <% end %>

        <% if (sellers_or_holders = sale.sale_agents.where(role: "seller_or_holder")).present? %>
        <tr>
            <td class="col-sm-2 text-right record-label" sdbm-tooltip="entry_sale_agent">Seller(s)</td>
            <td class="col-sm-10">
                <% sellers_or_holders.each do |seller_or_holder| %>
                    <% if seller_or_holder.agent %>
                        <a href="<%= name_path(seller_or_holder.agent) %>">
                            <%= seller_or_holder.display_value %>
                        </a>
                        <%= seller_or_holder.certainty_flags %>
                        <br>
                    <% else %>
                        <%= seller_or_holder.display_value %> <%= seller_or_holder.certainty_flags %>
                    <% end %>
                <% end %>
            </td>
        </tr>
        <% end %>

        <% if (buyers = sale.sale_agents.where(role: "buyer")).present? %>
        <tr>
            <td class="col-sm-2 text-right record-label" sdbm-tooltip="entry_sale_agent">Buyer(s)</td>
            <td class="col-sm-10">
                <% buyers.each do |buyer| %>
                    <% if buyer.agent %>
                        <a href="<%= name_path(buyer.agent) %>">
                            <%= buyer.display_value %>
                        </a>
                        <%= buyer.certainty_flags %>
                        <br>
                    <% else %>
                        <%= buyer.display_value %> <%= buyer.certainty_flags %>
                    <% end %>
                <% end %>
            </td>
        </tr>
        <% end %>

        <% if sale.sold.present? %>
        <tr>
            <td class="col-sm-2 text-right record-label" sdbm-tooltip="entry_sold">Sold</td>
            <td class="col-sm-10">
                <%= sale.sold %>
            </td>
        </tr>
        <% end %>

        <% if sale.date %>
        <tr>
            <td class="col-sm-2 text-right record-label">Date Sold</td>
            <td class="col-sm-10">
                <%= format_fuzzy_date(sale.date) %>
            </td>
        </tr>
        <% end %>

        <% if sale.get_complete_price_for_display.present? %>
        <tr>
            <td class="col-sm-2 text-right record-label" sdbm-tooltip="entry_price">Price</td>
            <td class="col-sm-10">
                <%= sale.get_complete_price_for_display %>
            </td>
        </tr>
        <% end %>

    </tbody>
</table>

<% end %>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-sm-12" colspan="12"><b>Manuscript Details</b></th>
        </tr>
    </thead>

    <tbody>

        <% if (entry_titles = entry.entry_titles.order(:order)).present? %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_common_title">Titles</td>
            <td class="col-sm-10" colspan="10">
                <% entry_titles.each do |entry_title| %>
                    <%= entry_title.display_value %>  <%= entry_title.certainty_flags %><br/>
                <% end %>
            </td>
        </tr>
        <% end %>

        <% if (entry_authors = entry.entry_authors.order(:order)).present? %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_author">Authors</td>
            <td class="col-sm-10" colspan="10">
                <% entry_authors.each do |entry_author| %>
                    <%= render partial: "shared/entry_author", object: entry_author %>
                    <br/>
                <% end %>
            </td>
        </tr>
        <% end %>

        <% if (entry_dates = entry.entry_dates.order(:order)).present? %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2">Manuscript Dates</td>
            <td class="col-sm-10" colspan="10">
                <% entry_dates.each do |entry_date| %>
                    <%= entry_date.display_value %>  <%= entry_date.certainty_flags %><br/>
                <% end %>
            </td>
        </tr>
        <% end %>

        <% if (entry_artists = entry.entry_artists.order(:order)).present? %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_artist">Artists</td>
            <td class="col-sm-10" colspan="10">
                <% entry_artists.each do |entry_artist| %>
                    <%= render partial: "shared/entry_artist", object: entry_artist %>
                    <br/>
                <% end %>
            </td>
        </tr>
        <% end %>

        <% if (entry_scribes = entry.entry_scribes.order(:order)).present? %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_scribe">Scribes</td>
            <td class="col-sm-10" colspan="10">
                <% entry_scribes.each do |entry_scribe| %>
                    <%= render partial: "shared/entry_scribe", object: entry_scribe %>
                    <br/>
                <% end %>
            </td>
        </tr>
        <% end %>

        <% if (entry_languages = entry.entry_languages.order(:order)).present? %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_language">Languages</td>
            <td class="col-sm-10" colspan="10">
                <% entry_languages.each do |entry_language| %>
                    <%= render partial: "shared/language", locals: {entry_language: entry_language} %>
                    <br />
                <% end %>
            </td>
        </tr>
        <% end %>

        <% if (entry_materials = entry.entry_materials.order(:order)).present? %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_material">Materials</td>
            <td class="col-sm-10" colspan="10">
                <% entry_materials.each do |entry_material| %>
                    <%= entry_material.display_value %> <%= entry_material.certainty_flags %><br>
                <% end %>
            </td>
        </tr>
        <% end %>

        <% if (entry_places = entry.entry_places.order(:order)).present? %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_place">Places</td>
            <td class="col-sm-10" colspan="10">
                <% entry_places.each do |entry_place| %>
                    <%= render partial: "shared/place", locals: {entry_place: entry_place} %>
                    <br />
                <% end %>
            </td>
        </tr>
        <% end %>

        <% if (entry_uses = entry.entry_uses.order(:order)).present? %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_use">Manuscript Uses</td>
            <td class="col-sm-10" colspan="10">
                <% entry_uses.each do |entry_use| %>
                <%= entry_use.use %><br/>
                <% end %>
            </td>
        </tr>
        <% end %>

        <% if entry.folios || entry.num_lines || entry.num_columns %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_folios">Folios</td>
            <td class="col-sm-2" colspan="2">
                <%= entry.folios||'' %>
            </td>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_lines">Lines</td>
            <td class="col-sm-2" colspan="2">
                <%= entry.num_lines||'' %>
            </td>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_columns">Columns</td>
            <td class="col-sm-2" colspan="2">
                <%= entry.num_columns||'' %>
            </td>
        </tr>
        <% end %>

        <% if entry.height || entry.width || entry.alt_size %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_height">Height</td>
            <td class="col-sm-2" colspan="2">
                <%= entry.height||'' %>
            </td>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_width">Width</td>
            <td class="col-sm-2" colspan="2">
                <%= entry.width||'' %>
            </td>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_alt_size">Alt Size</td>
            <td class="col-sm-2" colspan="2">
                <%= entry.alt_size||'' %>
            </td>
        </tr>
        <% end %>

        <% if entry.miniatures_fullpage || entry.miniatures_large || entry.miniatures_small %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_min_fl">Full-Page Miniatures</td>
            <td class="col-sm-2" colspan="2">
                <%= entry.miniatures_fullpage||'' %>
            </td>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_min_lg">Large Miniatures</td>
            <td class="col-sm-2" colspan="2">
                <%= entry.miniatures_large||'' %>
            </td>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_min_sm">Small Miniatures</td>
            <td class="col-sm-2" colspan="2">
                <%= entry.miniatures_small||'' %>
            </td>
        </tr>
        <% end %>

        <% if entry.miniatures_unspec_size %>
        <tr>
            <td class="col-sm-8" colspan="8"></td>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_min_un">Unspec. Size Miniatures</td>
            <td class="col-sm-2" colspan="2">
                <%= entry.miniatures_unspec_size %>
            </td>
        </tr>
        <% end %>

        <% if entry.initials_historiated || entry.initials_decorated %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_initials_historiated">Hist. Initials</td>
            <td class="col-sm-2" colspan="2">
                <%= entry.initials_historiated %>
            </td>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_initials_decorated">Decor. Initials</td>
            <td class="col-sm-2" colspan="2">
                <%= entry.initials_decorated %>
            </td>
            <td class="col-sm-4" colspan="4"></td>
        </tr>
        <% end %>

        <% if entry.manuscript_binding %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_binding">Binding</td>
            <td class="col-sm-10" colspan="10">
                <%= entry.manuscript_binding %>
            </td>
        </tr>
        <% end %>

        <% if entry.manuscript_link %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_link">URL</td>
            <td class="col-sm-10" colspan="10">
                <%= link_to(entry.manuscript_link, SDBMSS::Util.link_protocol(entry.manuscript_link)) %>
            </td>
        </tr>
        <% end %>

        <% if entry.other_info %>
        <tr>
            <td class="col-sm-2 text-right record-label" colspan="2" sdbm-tooltip="entry_other_info">Other Info</td>
            <td class="col-sm-10" colspan="10">
                <%= simple_format(entry.other_info) %>
            </td>
        </tr>
        <% end %>

    </tbody>

</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-sm-12" colspan="2" sdbm-tooltip="entry_provenance"><b>Provenance Information</b></th>
        </tr>
    </thead>

    <tbody>
        <% if (provenance_all = entry.provenance.order(:order)).present? %>
        <% provenance_all.each do |provenance| %>
        <tr>
            <td class="col-sm-2 text-right record-label">
                <% if provenance.start_date.present? %>
                    <%= format_fuzzy_date(provenance.start_date) %> <span class="text-muted"> (Start) </span>
                <% end %>
                <% if provenance.end_date.present? %>
                    <%= format_fuzzy_date(provenance.end_date) %> <span class="text-muted"> (End) </span>
                <% end %>
                <% if provenance.associated_date.present? %>
                    <span class="text-muted"><%= provenance.associated_date.split("\t").join(", ") %> (Associated)</span>
                <% end %>
                <% if !provenance.start_date.present? && !provenance.end_date.present? && !provenance.associated_date.present? %>
                    <span class="text-muted">(No Date)</span>
                <% end %>
            </td>
            <td class="col-sm-10">
                <%= render partial: "shared/provenance_name", locals: { provenance: provenance } %>
            </td>
        </tr>

        <% end %>

        <% else %>
        <tr>
            <td class="col-sm-2"></td>
            <td class="col-sm-10">There is no provenance information in this entry.</td>
        </tr>
        <% end %>
    </tbody>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-sm-12" colspan="2"><b>About This Entry Record</b></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="col-sm-2 text-right record-label">Created</td>
            <td class="col-sm-10">
                by <%= render partial: "shared/username_with_profile_link", locals: { user: entry.created_by } %>
                on <%= entry.created_at.to_formatted_s(:date_and_time) %>
            </td>
        </tr>
        <% if entry.updated_at.present? && entry.updated_at != entry.created_at %>
        <tr>
            <td class="col-sm-2 text-right record-label">Last Updated</td>
            <td class="col-sm-10">
                by <%= render partial: "shared/username_with_profile_link", locals: { user: entry.updated_by } %>
                on <%= entry.updated_at %>
            </td>
        </tr>
        <% end %>
        <% editors = ModelHistory.new(entry).editors %>
        <% if editors.length > 0 %>
        <tr>
            <td class="col-sm-2 text-right record-label">Editors</td>
            <td class="col-sm-10">
                <% editors.each_with_index do |editor, index| %>
                    <%= render partial: "shared/username_with_profile_link", locals: { user: editor } %><% if index != editors.size - 1 %>, <% end %>
                <% end %>
            </td>
        </tr>
        <% end %>
        <tr>
            <td class="col-sm-2 text-right record-label">User Groups</td>
            <td class="col-sm-10">
                <div class="row">
                    <div class="col-sm-6">
                        <% if entry.groups.count <= 0 %>
                            <span class="text-muted">This entry is not being worked on by any user groups at the moment.</span>
                        <% else %>
                            <span>This entry is being edited by </span>
                        <% end %>
                        <span class="list-inline">
                        <% entry.group_records.each do |group_record| %>
                            <li>
                                <%= link_to group_record.group.name, group_path(group_record.group) %>
                                <% if group_record.editable %>
                                    <span class="text-muted">(Editable)</span>
                                <% end %>
                                <% if can? :edit, group_record.group %>
                                    <%= link_to remove_from_group_entries_path(ids: [entry.id], group_id: group_record.group.id), :method => :post, :format => :html do %>
                                      <span class="glyphicon glyphicon-remove"></span>
                                    <% end %>
                                <% end %>
                            </li>
                        <% end %>
                        </span>
                    </div>
                    <div class="col-sm-6 text-right">
                        <%= render partial: "entries/group_form", locals: {entry: entry} %>
                    </div>
                </div>
            </td>
        </tr>

    </tbody>

</table>

<div id="loading-message" style="display: none">
    <img id="spinner" alt="working..." src="<%= asset_path "spinner.gif" %>"/> Loading, please wait...
</div>

<% if @suggestions && @suggestions.length > 0 %>
<table id="similar-entries-table" class="table table-striped" style="width: 100%; overflow: hidden;">
    <thead>
        <tr>
            <th class="col-sm-12" colspan="2"><b>There are <span id="total-similar-entries"></span> other entries that might describe the same manuscript as this entry. Here are the top candidates:</b></th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td class="col-sm-12">
                <div id="similar-entries">
                    <% @suggestions.each do |suggestion| %>
                        <%= link_to entry_path(suggestion) do %>
                            <% if @linked.include? suggestion.id %>
                                <span class="glyphicon glyphicon-plus"></span>
                            <% end %>
                            <%= suggestion.public_id %> - <%= suggestion.entry_titles.map(&:title).join(", ") %>
                        <% end %>
                        <br>
                    <% end %>
                </div>
                <br/>
                To link these entries, use the <a href="<%= linking_tool_by_entry_path(entry.id) %>">Linking tool</a>.
            </td>
        </tr>
    </tbody>
</table>
<% end %>

<%= render partial: "comments/show_all", locals: {comments: entry.comments.where(public: true), record: entry} %>

<div class="spacer-40px"></div>

<% end %>

</div>