 
    <% if sublist %>
    <% sublist.each_with_index do |ul, index| %>
        <% if ul.count > 0 %>
        <div class="row">
            <div class="col-sm-12">
                <div id="myCarousel<%= ul[0].item_type %><%= index %>" class="carousel slide"><!-- data-interval='false' data-wrap='false'>-->
                          <div class="carousel-inner" role="listbox">
                            <% ul.reverse.each do |version| %>
                                <% formatter = EntryVersionFormatter.new(version) %>
                                <% if formatter.simple_details.count > 0 %>
                                    <div class="item <%= version == ul.first ? 'active' : '' %> <%= version.event == 'destroy' ? 'bg-danger' : ( version.event == 'create' ? 'bg-success' : 'bg-info') %>">
                                        <% muted = (version.event == 'create' && !version.item) || (version.event == 'destroy' && version.item) %> 
                                        <div class='row <%= muted ? "text-muted" : "" %>'>
                                            <div class="col-sm-2 text-right"><%= version.created_at.to_formatted_s(:long) %></div>
                                            <div class="col-sm-1">
                                                <% if User.exists? version.whodunnit %>
                                                    <%= User.find(version.whodunnit) %>
                                                <% else %>
                                                    <span class="text-muted">Unknown</span>
                                                <% end %>
                                            </div>
                                            <div class='col-sm-2'><span class=""><%= formatter.action %></span></div>
                                            <div class='col-sm-5'>
                                                <% formatter.simple_details.each do |detail| %>
                                                    <%= sanitize simple_format(detail), tags: %w(b) %><br>
                                                <% end %>
                                            </div>
                                            <div class='col-sm-2 text-left'>
                                                <% if can? :edit, @entry %>
                                                    <%= link_to "Undo", revert_confirm_entry_path(@entry, :version_id => [version.id]), :method => 'patch', class: "btn-undo btn btn-default #{muted ? 'disabled' : ''}", disabled: muted %>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            <% end %>
                          </div>                  

                      <!-- Left and right controls -->
                      <a class="left carousel-control" href="#myCarousel<%= ul[0].item_type %><%= index %>" role="button"><!-- data-slide="prev">-->
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel<%= ul[0].item_type %><%= index %>" role="button"><!-- data-slide="next">-->
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                      </a>
                </div>
            </div>
        </div>
        <% end %>
    <% end %>
    <% end %>