<table class="table">  
  <% if groups.count > 0 %>
  <thead>
    <tr>
      <th>Name</th>
      <th>Users</th>
      <th>Records</th>
      <th>Public</th>
      <th></th>
    </tr>
  </thead>
  <% end %>
  <tbody>
    <% if groups.count <= 0 %>
    <tr>
      <td class="text-center" colspan="4">  No groups to display.</td>
    </tr>
    <% end %>
    <% groups.each do |group| %>
    <tr>
      <td><%= link_to group.name, group_path(group) %></td>
      <td><%= group.users.count %></td>
      <td><%= group.entries.count %></td>
      <td><%= group.public %></td>
      <td class='text-right col-sm-4'>
        <div class="btn-group">
        <% if can?(:edit, group) %>
            <%= link_to(group_path(group, format: 'html'),  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs') do %>
              <span class="glyphicon glyphicon-remove"></span> Delete
            <% end %>
            <%= link_to(edit_group_path(group), class: 'btn btn-success btn-xs') do %>
              <span class="glyphicon glyphicon-edit"></span> Manage
            <% end %>
        <% end %>

        <% if not group.users.include? current_user %>
            <p class='text-center'>
                <%= link_to(add_to_group_accounts_path(ids: [current_user.id], group_id: group.id), :method => :post) do %>
                    <span class="glyphicon glyphicon-pencil"></span> Request Membership
                <% end %>
            </p>
        <% end %>
        
        <% if (group_user = group.group_users.where(user_id: current_user).first) %>
          <% if group_user.confirmed %>
            <% destroy_group_word = "Leave Group" %>
          <% else %>
            <% if group_user.created_by == current_user %>
              <% destroy_group_word = "Cancel Request" %>
            <% else %>
              <% destroy_group_word = "Reject Invitation" %>
              <%= link_to "Accept Invitation", group_user_path(group_user, group_user: {confirmed: true}), :method => :put, class: "btn btn-default btn-xs" %></li>
            <% end %>
          <% end %>
          <%= link_to destroy_group_word, group_user_path(group_user), :method => :delete, data: { confirm: "Are you sure you would like to leave this group?" }, class: "btn btn-xs btn-default" %>
        <% end %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
