<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">
    <h2 class="text-center">User Groups</h2>
    <p>Groups provide a workspace for gathering related data within the SDBM, as well as a meeting point for collaboration between users. Once a group is created, you can add specific <b>Entries</b> to the group page, as well as invite other users to join you. Groups include a discussion area for messages between users about the group work. Any user can create a group within the database.</p>
    <p>If you create a new group, you automatically become the manager of that group. You may invite other users to the group, and elevate them to manager status if desired. As a manager, you can also elevate the user permission level for users within the group. For example, if you are the manager of a group and invite a user with only <b>Contributor</b> level permissions, you can elevate them to <b>Editor</b> level within the group. This would allow that user to perform more advanced tasks, such as editing, on the entries included in the group. The elevated status for invited users is only applicable to entries within that group, not within the entire database.</p>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-10">

    <% if @groups_requests.count > 0 %>
      <h3 class="h3 text-center">
        Group Requests
      </h3>
      <%= render partial: "table", locals: {groups: @groups_requests } %>
    <% end %>
    
    <% if @groups_invites.count > 0 %>
      <h3 class="h3 text-center">
        Invites
      </h3>
      <%= render partial: "table", locals: {groups: @groups_invites } %>
    <% end %>

    <h3 class="h3 text-center">
      Manager Of
    </h3>
    <div class='text-center'>
      <%= link_to(new_group_path) do %>
        <span class="glyphicon glyphicon-plus"></span> Add New
      <% end %>
    </div>
    <%= render partial: "table", locals: {groups: @groups_admin } %>
    
    <h3 class="h3 text-center">
      Member Of
    </h3>
    <%= render partial: "table", locals: {groups: @groups_member } %>
  
  </div>
</div>