<% content_for :breadcrumbs do %>
  <li class="list-group-item breadcrumb active"><a href="/groups">Manage Groups</a></li>
<% end %>

<div class="row">
  <div class="col-sm-12">

    <% if @groups_requests.count > 0 %>
      <h1 class="h1 text-center">
        Group Requests
      </h1>
      <%= render partial: "table", locals: {groups: @groups_requests } %>
    <% end %>
    
    <% if @groups_invites.count > 0 %>
      <h1 class="h1 text-center">
        Invites
      </h1>
      <%= render partial: "table", locals: {groups: @groups_invites } %>
    <% end %>

    <h1 class="h1 text-center">
      Manager Of
    </h1>
    <div class='text-center'>
      <%= link_to(new_group_path) do %>
        <span class="glyphicon glyphicon-plus"></span> Add New
      <% end %>
    </div>
    <%= render partial: "table", locals: {groups: @groups_admin } %>
    
    <h1 class="h1 text-center">
      Member Of
    </h1>
    <%= render partial: "table", locals: {groups: @groups_member } %>
  
  </div>
</div>