<% content_for :breadcrumbs do %>
  <li class="active"><a href="">Manage Groups</a></li>
<% end %>

<div class="row">
  <div class="col-sm-12">
    <%= render partial: "pages/partial", locals: {page_name: "Groups Instructions" } %>
  </div>
</div>
<div class="row">
    <div class="col-sm-4">
      <span class="h4">
        Public Groups
      </span>
    </div>
    <div class="col-sm-4 text-center"></div>
    <div class="col-sm-4 text-right"></div>
    <div class="col-sm-12">
      <%= render partial: "table", locals: {groups: Group.where(public: true) } %>
    </div>

    <% if @groups_requests.count > 0 %>
      <div class="col-sm-4">
        <span class="h4">
          Group Requests
        </span>
      </div>
      <div class="col-sm-4 text-center"></div>
      <div class="col-sm-4 text-right"></div>
      <div class="col-sm-12">
        <%= render partial: "table", locals: {groups: @groups_requests } %>
      </div>
    <% end %>
    
    <% if @groups_invites.count > 0 %>    
      <div class="col-sm-4">
        <span class="h4">
          Invites
        </span>
      </div>
      <div class="col-sm-4 text-center"></div>
      <div class="col-sm-4 text-right"></div>
      <div class="col-sm-12">
        <%= render partial: "table", locals: {groups: @groups_invites } %>
      </div>
    <% end %>

    <div class="col-sm-4">
      <span class="h4">
        Manager Of
      </span>
    </div>
    <div class="col-sm-4 text-center"></div>
    <div class="col-sm-4 text-right">
        <%= link_to(new_group_path, class: "btn btn-default btn-xs") do %>
          <span class="glyphicon glyphicon-plus"></span> Add New
        <% end %>
    </div>
    <div class="col-sm-12">
      <%= render partial: "table", locals: {groups: @groups_admin } %>
    </div>
    

    <div class="col-sm-4">
      <span class="h4">
        Member Of
      </span>      
    </div>
    <div class="col-sm-4 text-center"></div>
    <div class="col-sm-4 text-right"></div>  
    <div class="col-sm-12">
      <%= render partial: "table", locals: {groups: @groups_member } %>
    </div>
  
  </div>
</div>