<div class="row">
  <div class="col-sm-4 form-inline">
    <h3>New Group</h3>
    <%= form_for :group, url: {action: "create"} do |f| %>
      <%= f.label :name, {class: "control-label"} %>
      <%= f.text_field :name, {class: "form-control"} %><br>
      <%= f.label :public, {class: "control-label"} %>
      <%= f.check_box :public, {class: "form-control"} %><br>
      <%= f.submit "Save Group", {class: "form-control"} %>
    <% end %>
  </div>
</div>