<%= render partial: "manage_models/breadcrumbs", locals: {edit: false} %>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-4" style="padding: 0px 15px;">
        <h2>
            <span class="glyphicon glyphicon-education"></span>
            <%= @model.name %>
        </h2>
        <!--
        <span class="text-muted">Created By: <%# render partial: "shared/username_with_profile_link", locals: { user: @model.created_by } %></span>
        -->
        <p><%= @model.description %></p>

        <div class="list-inline">
            <li class='h4'>Admin</li>
        <% @model.admin.each do |user| %>
            <li><%= render partial: "shared/username_with_profile_link", locals: { user: user } %>   </li>
        <% end %>
        <% if @model.users.count <= 0 %>
            <li class='text-muted'>There are no users in this group at the moment.</li>
        <% end %>
        </div>

        <div class="list-inline">
            <li class='h4'>Members</li>
        <% @model.members.each do |user| %>
            <li><%= render partial: "shared/username_with_profile_link", locals: { user: user } %>   </li>
        <% end %>
        <% if @model.users.count <= 0 %>
            <li class='text-muted'>There are no users in this group at the moment.</li>
        <% end %>
        </div>

        <h4>Invite Users</h4>
        <%= form_tag('/accounts/add_to_group.html', method: :post) do %>
          <div class="input-group">
            <%= hidden_field_tag :group_id, @model.id %>
            <%= render partial: "shared/user_select_form", locals: {users: User.all} %>
            <div class="input-group-btn">
              <input type='submit' class="btn btn-default" value="Invite" />
            </div>
          </div>
        <% end %>
    

        <h4>Entries</h4>
        <% @model.entries.each do |entry| %>
            <p>
                <%= link_to "#{entry.public_id} - #{entry}", entry_path(entry) %>
            </p>
        <% end %>
        <% if @model.entries.count <= 0 %>
            <p class='text-muted'>This group does not have permission to edit any entries at the moment.</p>
        <% end %>

    </div>
    <div class="col-sm-6">        
        <h2 class='text-center'><span class="glyphicon glyphicon-comment"></span> Discussion</h2>
        <p class='text-muted text-center'>Leave a comment to contribute to the ongoing discussion.</p>
        <%= render partial: "comments/show_all", locals: {comments: @model.comments.where(public: true), record: @model} %>
    </div>
    <div class="col-sm-1"></div>    
</div>