<%= render partial: "manage_models/breadcrumbs", locals: {edit: false} %>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-5" style="padding: 0px 15px; background: white; box-shadow: 2px 3px 7px #eee;">
        <h2>
            <span class="glyphicon glyphicon-education"></span>
            <%= @model.name %>
        </h2>
        <span class="text-muted">Created By: <%= render partial: "shared/username_with_profile_link", locals: { user: @model.created_by } %></span>
        
        <p><%= @model.description %></p>
        <h4>Members</h4>
        <ul class="list-inline">
        <% @model.users.each do |user| %>
            <li><%= render partial: "shared/username_with_profile_link", locals: { user: user } %>   </li>
        <% end %>
        <% if @model.users.count <= 0 %>
            <li class='text-muted'>There are no users in this group at the moment.</li>
        <% end %>
        </ul>

        <h4>Entries</h4>
        <% @model.entries.each do |entry| %>
            <p>
                <%= link_to "#{entry.public_id} - #{entry}", entry_path(entry) %>
            </p>
        <% end %>
        <% if @model.entries.count <= 0 %>
            <p class='text-muted'>This group does not have permission to edit any entries at the moment.</p>
        <% end %>

    </div>
    <div class="col-sm-5">        
        <h2 class='text-center'><span class="glyphicon glyphicon-comment"></span> Discussion</h2>
        <p class='text-muted text-center'>Leave a comment to contribute to the ongoing discussion.</p>
        <%= render partial: "comments/show_all", locals: {comments: @model.comments.where(public: true), record: @model} %>
    </div>
    <div class="col-sm-1"></div>    
</div>