<h3>Recent Activity</h3>
<table class="table table-striped">
<% @activities.each do |activity_item| %>
    <tr>
        <td>
            <div><%= activity_item.created_at.to_formatted_s(:date_and_time) %></div>
            <div style="margin-left: 20px;">
            <%= activity_item.user_id.present? ? User.find(activity_item.user_id).username : "Unknown user" %> <%= activity_item.event + (activity_item.event.end_with?("e") ? "" : "e") + "d" %>
                <a href="<%= send ("edit_" + activity_item.item_type.underscore + "_path").to_s, activity_item.item_id %>"><%= activity_item.item_type %> <%= activity_item.item_id %></a></div>
        </td>
    </tr>
<% end %>
</table>
