<div id="control-panel">
  <div class="bookmarks-collapse collapse in">
    <div style="padding: 10px;">
      <div class="text-center">
        <strong class="h3" style="font-variant: small-caps;">Control Panel <span class="glyphicon glyphicon-wrench"></span> </strong>
        <br><br>
      </div>
    </div>
    <div class="vertical-breadcrumbs">
      <ul class="breadcrumbs list-group">
        <li class="breadcrumb list-group-item <%= current_page?('/dashboard') ? 'active' : '' %>">
          <a href="<%= dashboard_path %>"><span class="glyphicon glyphicon-dashboard"></span> Dashboard
          </a>
        </li>
        <%= yield :breadcrumbs %>
      </ul>
    </div>

    <div class="control-panel-top">
      <%= yield :control_tools %>
    </div>

    <div class="panel panel-default control-panel-bottom">
      <div class="panel-heading">Controls</div>
      <div class="panel-body">
        <ul class="nav">
            <% if content_for? :add_entry %>
              <li class="dropdown">
                <a href="" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span> Add New Entry <span class="caret"></span></a>
            <% else %>
              <li>
                  <a href="/entries/new"><span class="glyphicon glyphicon-plus"></span> Add New Entry</a>
            <% end %>
            <ul class="dropdown-menu" role="menu">
              <%= yield :add_entry %>
            </ul>
          </li>
          <li>
              <a href="/bookmarks"><span class="glyphicon glyphicon-bookmark"></span> Bookmarks</a>
          </li>
          <li>
              <a href="/downloads"><span class="glyphicon glyphicon-export"></span> Exports</a>
          </li>
          <li>
              <a href="/groups"><span class="glyphicon glyphicon-globe"></span> Groups</a>
          </li>          
          <li>
              <a href="/watches"><span class="glyphicon glyphicon-eye-open"></span> Watched Records</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
