<div id="control-panel" class="collapse width in">
  <div class="scroll-box">
    <% if current_user %>
    <div class="panel panel-default">
        <div class="panel-heading" style="white-space: nowrap">
            <div class="user-icon">
              <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="user-info">
              <span class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_user.to_s %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="<%= main_app.profile_path(username: current_user.username) %>"><span class="glyphicon glyphicon-user"></span> My Profile</a></li>
                  <li><a href="<%= main_app.private_messages_path %>"><span class="glyphicon glyphicon-envelope"></span> My Messages</a></li>
                  <li><%= link_to main_app.edit_user_registration_path do %> <span class="glyphicon glyphicon-cog"></span> My Settings <% end %></li>
                  <% if current_user && !current_user.to_s.blank? %>
                    <li>
                      <%= link_to(main_app.destroy_user_session_path, :onclick => "localStorage.clear();") do %>
                        <span class="glyphicon glyphicon-log-out"></span> <%= t('blacklight.header_links.logout') %>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </span><br>
              <span class="text-muted" sdbm-tooltip="user_levels">User Level: <em><%= current_user.role %></em></span>
            </div>
        </div>
        <div class="panel-body">
          <ul class="nav">
            <%= render partial: "nav/notifications" %>
            <li>
              <a href="<%= main_app.dashboard_path %>"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a>
            </li>
            <li>
                <a href="/bookmarks"><span class="glyphicon glyphicon-bookmark"></span> Bookmarks</a>
            </li>
            <li>
                <a href="/downloads"><span class="glyphicon glyphicon-export"></span> Exports</a>
            </li>
            <li>
                <a href="/groups"><span class="glyphicon glyphicon-globe"></span> Groups</a>
            </li>          
            <li>
                <a href="/watches"><span class="glyphicon glyphicon-eye-open"></span> Watched Records</a>
            </li>
          </ul>
        </div>
    </div>

    <div class="control-panel-top">
      <div class="panel panel-default show-tools">
        <div class="panel-heading"><span class="h4">Tools</span></div>
        <div class="panel-body">
          <ul class="nav">
            <% if content_for? :add_entry %>
              <!--<li class="divider"></li>-->
              <%= yield :add_entry %>
            <% else %>
            <li class="dropdown">
              <a href="" data-toggle="dropdown"><span class="glyphicon glyphicon-plus"></span> Add New Entry <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li>
                  <a href="/entries/new">From a Source</a>
                </li>
                <li>
                  <%= link_to "Based on Personal Observation", main_app.new_source_path({create_entry: 1, source_type: 4}) %>
                </li>
              </ul>
            </li>
            <% end %>
            <%= yield :control_tools %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

    <% if !current_user %>
    <div class="panel panel-default">
      <div class="panel-heading one-line">
        <span class="h4">
          <span class="glyphicon glyphicon-log-in"></span> Login
        </span>
      </div>
      <div class="panel-body" style="padding: 10px;">
        <%= render partial: 'devise/sessions/new', locals: {resource: User.new, resource_name: 'user', devise_mapping: Devise.mappings[:user]} %>      
        <%= link_to "Sign up", new_registration_path('user') %><br />
        <%= link_to "Forgot your password?", new_password_path('user') %><br />
      </div>
    </div>
    <% end %>
    <div>
      <a href="https://www.neh.gov/" target="_blank"><%= image_tag 'neh_logo_horizlarge.png', class: "img", style: "width: 200px; margin: 10px;" %></a>
    </div>
  </div>
</div>