<% if current_user %>
<div class="panel-group collapse" id="my_bookmarks">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="h3">Bookmarks</h3>
    </div>
  </div>
  <% bookmarks.each do |name, bookmark_group| %>  
  <div class="panel panel-default">
    <div class="panel-heading">
      <a data-toggle="collapse" data-parent="#my_bookmarks" href="#collapse<%= name %>">
        <h4 class="panel-title">
          <%= name %>
        </h4>
      </a>
    </div>
    <div id="collapse<%= name %>" class="panel-collapse collapse">
      <ul class='list-group'>
      <% bookmark_group.each do |b| %>
        <% @model = b.document_type.find(b.document_id) %>
        <li class="list-group-item">
          <h4 class="list-group-item-heading"><%= link_to @model.public_id, polymorphic_path(@model), :target => "_blank" %></h4>
          <p class="list-group-item-text"><%= @model.to_s %></p>
          <%= link_to bookmark_path(b), method: :delete, class: "remove-bookmark control-bookmark" do %>
            <span class="glyphicon glyphicon-remove"></span>
          <% end %>
        </li>
      <% end %>  
      </ul>
    </div>
  </div>
  <% end %>
</div>
<% end %>