<%# Partial used to display name details for both Names generically and Agents (which are Names) %>
<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default show-tools">
            <div class="panel-heading">
                Tools
            </div>
            <div class="panel-body">
                <ul class="nav">
                    <% if user_signed_in? %>
                        <% if can?(:edit, name) %>
                            <li class="edit_name">
                                <a href="<%= edit_name_path(name.id) %>">Edit this name agent</a>
                            </li>
                        <% end %>
                        <li class="history"><a href="<%= history_name_path(name.id) %>">View change history</a></li>
                        <li class="link"><a href="<%= names_path %>">Return to list</a></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        
        <div class="row">
            <div class="col-sm-12">
                <h1><%= name.public_id %></h1>
            </div>
        </div>

        <% if !name.reviewed %>
        <div class="row">
            <div class="col-sm-12">
                NOTE: This name record was recently created and has not yet been reviewed.
            </div>
        </div>
        <% end %>

        <%= render partial: "shared/name_main", locals: { name: name } %>

    </div>

</div>
