<div class="page-header">
  <div class="row">
    <div class="col-sm-11">
      <h1>Revert to Old Version</h1>
      <%= link_to @model.public_id, polymorphic_path(@model)   %>
    </div>
    <div class="col-sm-1">
      <% if @changed.present? %>
        <%= link_to (@overwrite ? 'Duplicate?' : 'Overwrite?'), params.merge(:overwrite => !@overwrite), class: 'btn btn-info' %>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-warning">
      <div class="panel-heading">Current Version</div>
      <div class="panel-body">
        <% if @changeset.present? %>
          <ul class="list-group">
          <% @changeset.each do |field, value| %>
            <% if @model.send(field) %>
              <li class="list-group-item">
                <strong><%= field %>:</strong> <%= @model.send(field) %><br>
              </li>
            <% end %>
          <% end %>
          </ul>
        <% elsif @current.present? %>
          <h3 class="h3"><%= @version.item_type.pluralize.gsub(@model.model_name.name, '') %></h3>
          <ul class="list-group">
            <% @current.each do |c| %>
              <li class="list-group-item <%= @overwrite && c.id == @changed.id ? 'list-group-item-warning' : '' %>">
                <% c.to_fields.each do |field, value| %>
                  <strong><%= field.to_s.gsub(/_/, ' ').capitalize %>: </strong><%= value %><br>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <span class="label label-warning">No change detected.</span>
        <% end %>
      </div>
      <div class="panel-footer"><%= @model.public_id %></div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">Version #<%= @version.id %></div>
      <div class="panel-body">
        <% if @changeset.present? %>
          <ul class="list-group">
          <% @changeset.each do |field, value| %>
            <li class="list-group-item">
                <strong><%= field %>:</strong> <%= value[0] %><br>
            </li>
          <% end %>
          </ul>
        <% elsif @current.present? %>
          <h3 class="h3"><%= @version.item_type.pluralize.gsub(@model.model_name.name, '') %></h3>
          <ul class="list-group">
            <% @current.each do |c| %>
              <li class="list-group-item <%= @overwrite && c.id == @changed.id ? 'list-group-item-success' : '' %>">
                <% if c.id == @changed.id && @overwrite %>
                  <% @changed.to_fields.each do |field, value| %>
                    <strong><%= field.to_s.gsub(/_/, ' ').capitalize %>: </strong><%= value %><br>
                  <% end %>
                <% else %>
                  <% c.to_fields.each do |field, value| %>
                    <strong><%= field.to_s.gsub(/_/, ' ').capitalize %>: </strong><%= value %><br>
                  <% end %>
                <% end %>
              </li>
            <% end %>
            <% if !@overwrite %>
              <li class="list-group-item list-group-item-success">
                <% @changed.to_fields.each do |field, value| %>
                    <strong><%= field.to_s.gsub(/_/, ' ').capitalize %>: </strong><%= value %><br>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <span class="label label-warning">No change detected.</span>
        <% end %>
      </div>
      <div class="panel-footer"><%= @model.public_id %></div>
    </div>
  </div>
</div>