<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h1>Revert to Old Version</h1>
      <%= link_to @model.public_id, polymorphic_path(@model)   %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <% @currents.each do |current| %>
      <div class="panel panel-primary">
        <div class="panel-heading">Current</div>
        <div class="panel-body">
          <ul class="list-group">
            <% current.each do |field, value| %>
              <li class="list-group-item"><%= field %>, <%= value[0] %></li>
            <% end %>
          </ul>
        </div>
        <div class="panel-footer"></div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-6">
    <!-- form with invisible field for each change -->
    <%= form_for @model, url: {action: "revert"} do |f| %>
      
    <% @versions.each do |v| %>
      <%= hidden_field_tag "version_id[]", v.id %>
    <% end %>

    <% @changes.each do |change| %>
      <div class="panel panel-danger">
        <div class="panel-heading">Reversion</div>
        <div class="panel-body">
          <ul class="list-group">
            <% change[:diff].each do |field, value| %>
              <li class="list-group-item"><%= field %>, <%= value[1] %></li>
            <% end %>        
          </ul>
        </div>
        <div class="panel-footer"></div>
      </div>
    <% end %>

    <%= f.submit 'Restore', class: 'btn btn-warning' %>
    <% end %>
  </div>
</div>