<div class="row">
  <div class="col-sm-1 text-right">
    <% if truncate %>
      <a href="/private_messages/<%= message.id %>">Read</a><br>
    <% end %>
    <%= link_to 'Delete',  private_message_path(message, format: 'html'),  method: :delete, format: 'json', data: { confirm: 'Are you sure?' } %>
  </div>
  <div class="col-sm-8">
    <h4 class="list-group-item-heading"> <%= message.title %></h4>
    <p class="list-group-item-body">
      <% if truncate && message.message.length > 100 %>
        <%= sanitize simple_format(message.message).at(0..100) + "...", tags: %w(code b i br strong em a), attributes: %w(href) %>
      <% else %>
        <%= sanitize simple_format(message.message), tags: %w(code b i br strong em a), attributes: %w(href) %>
      <% end %>
    </p>
  </div>
  <div class="col-sm-3 text-right">
    <span class="h4">
      <%= message.created_at.to_formatted_s(:long) %>
      <% if message.sent_by %>
        <br><small>From 
          <% message.sent_by.each do |sent_by| %>
            <%= render partial: "shared/username_with_profile_link", locals: { user: sent_by } %>
          <% end %>
        </small>
      <% end %>
      <% if message.sent_to %>
        <br><small>To 
        <% message.sent_to.each do |sent_to| %>
        <%= render partial: "shared/username_with_profile_link", locals: { user: sent_to } %>
        <% end %>
        </small>
      <% end %>
    </span>
  </div>
</div>