<li class="list-group-item">
  <div class="row">
    <div class="col-sm-9">
      <h4 class="list-group-item-heading"><%= message.title %></h4>
      <p class="list-group-item-body">
        <%= message.message %>
      </p>
      <div><%= link_to 'Delete Message',  private_message_path(message, format: 'html'),  method: :delete, class: "btn btn-xs btn-danger", format: 'json', data: { confirm: 'Are you sure?' } %></div>
    </div>
    <div class="col-sm-3 text-right">
      <span class="h4">
        <%= message.created_at.to_formatted_s(:long) %>
        <br><small>From: <%= message.sent_by.to_s %></small>
        <br><small>To: <%= message.sent_to.to_s %></small>
      </span>
    </div>
  </div>
</li>