<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-9">
        
        <div class="row">
            <div class="col-sm-12">
                <h1><%= @agent.public_id %></h1>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-12" colspan="2"><b>Provenance Agent Details</b></th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td class="col-sm-2 text-right record-label">Name</td>
                    <td class="col-sm-10">
                        <%= @agent.name %>
                    </td>
                </tr>

                <% if @agent.viaf_id.present? %>
                <tr>
                    <td class="col-sm-2 text-right record-label">VIAF ID</td>
                    <td class="col-sm-10">
                        <a href="http://viaf.org/viaf/<%= @agent.viaf_id %>/"><%= @agent.viaf_id %></a>
                    </td>
                </tr>
                <% end %>

                <tr>
                    <td class="col-sm-2 text-right record-label"># Transactions</td>
                    <td class="col-sm-10">
                        This agent is the selling agent in <a href="<%= search_by_facet_value('transaction_selling_agent', @agent.name) %>"><%= Entry.with_transaction_agent_and_role(@agent, 'selling_agent').count %> entries</a>.<br/>
                        This agent is the seller in <a href="<%= search_by_facet_value('transaction_seller', @agent.name) %>"><%= Entry.with_transaction_agent_and_role(@agent, 'seller_or_holder').count %> entries</a>.<br/>
                        This agent is the buyer in <a href="<%= search_by_facet_value('transaction_buyer', @agent.name) %>"><%= Entry.with_transaction_agent_and_role(@agent, 'buyer').count %> entries</a>.
                    </td>
                </tr>

                <tr>
                    <td class="col-sm-2 text-right record-label"># Provenance</td>
                    <td class="col-sm-10">
                        This agent is found in the provenance of <a href="<%= search_by_facet_value('provenance', @agent.name) %>"><%= @agent.events.provenance.count %> entries</a>.
                    </td>
                </tr>

                <tr>
                    <td class="col-sm-2 text-right record-label"># Sources</td>
                    <td class="col-sm-10">
                        <!-- there's no view of sources, so no link here. -->
                        This agent is found in <%= @agent.source_agents_count %> sources.
                    </td>
                </tr>

                <tr>
                    <td class="col-sm-2 text-right record-label"></td>
                    <td class="col-sm-10">
                        TODO: Other details will be displayed here eventually.
                    </td>
                </tr>

            </tbody>
        </table>

    </div>

</div>
