<%#
  OVERRIDE Blacklight Advanced Search v7.0.0 to fix BS3 => BS4:
    pull-left/pull-right → float-start/float-end,
    btn-secondary → btn-outline-secondary
%>
      <div class="sort-buttons float-start">
        <%= label_tag(:sort, t('blacklight_advanced_search.form.sort_label'), :class => "form-label") %>
        <%- sort_fields = active_sort_fields.values.map { |field_config| [sort_field_label(field_config.key), field_config.key] } %>
        <%= select_tag(:sort, options_for_select(sort_fields, h(current_sort_field && current_sort_field.key)), :class => "form-control sort-select") %>
        <%= hidden_field_tag(:search_field, blacklight_config.advanced_search[:url_key]) %>
      </div>

      <div class="submit-buttons float-end">
        <%= link_to t('blacklight_advanced_search.form.start_over'), blacklight_advanced_search_engine.advanced_search_path, :class =>"btn btn-outline-secondary advanced-search-start-over" %>

        <%= submit_tag t('blacklight_advanced_search.form.search_btn'), :class=>'btn btn-primary advanced-search-submit', :id => "advanced-search-submit", :name => nil %>
      </div>
