<%#
  OVERRIDE Blacklight 7.11: Replace .try(:key) with &.key to avoid
  SystemStackError caused by OpenStruct shadowing Object#try! in Ruby 2.6+.
  Fixed in BL 7.15.0 (603f2e8), but we're on 7.11.1.
%>

<h2><%= t 'blacklight.search.zero_results.title' %></h2>
<div id="documents" class="noresults">
  <h3><%= t 'blacklight.search.zero_results.modify_search' %></h3>
  <ul>
    <li><%= t 'blacklight.search.zero_results.use_fewer_keywords' %></li>

    <%- if params[:q] and params[:search_field] and params[:search_field] != blacklight_config.default_search_field&.key -%>
      <li><%= t 'blacklight.search.zero_results.search_fields', :search_fields => search_field_label(params) %> -
      <%= link_to t('blacklight.search.zero_results.search_everything', field: blacklight_config.default_search_field.label), url_for(search_state.params_for_search(search_field: blacklight_config.default_search_field.key)) %>
      </li>
    <%- end %>

  </ul>
</div>
