<%#
  OVERRIDE Blacklight 9.0.0: populates content_for blocks used by the SDBMSS control panel
    (:breadcrumbs, :add_entry, :control_tools) instead of BL9's content_for(:sidebar).
%>
<% presenter = document_presenter(@document) %>
<%= render 'show_main_content', presenter: presenter %>

<% content_for :breadcrumbs do %>
  <%= render partial: "breadcrumbs", locals: {edit: false} %>
<% end %>

<% if !@entry.deprecated %>
  <% content_for :add_entry do %>
    <% if @entry.manuscript %>
      <li>
        <%= link_to(new_source_path({create_entry: 1, manuscript_id: @entry.manuscript.id, source_type: 4})) do %>
          <span class="fas fa-fw fa-plus"></span> Create Linked Personal Observation
        <% end %>
      </li>
    <% else %>
      <li>
        <%= link_to(new_source_path({create_entry: 1, new_manuscript: true, original_entry: @entry.id, source_type: 4})) do %>
          <span class="fas fa-fw fa-plus"></span> Create Linked Personal Observation
        <% end %>
      </li>
      <li class='divider'></li>
    <% end %>
  <% end %>
<% end %>

<% content_for :control_tools do %>
  <%= render presenter.view_config.sidebar_component.new(presenter: presenter) %>
  <% if @entry.source && (!["provenance_observation", "observation"].include?(@entry.source.source_type.name) || @entry.source.created_by == current_user) %>
    <li class='divider'></li>
    <li>
      <%= link_to (new_entry_path(source_id: @entry.source)) do %>
        <span class="fas fa-fw fa-plus"></span> Add Entry From <%= @entry.source.public_id %>
      <% end %>
    </li>
  <% end %>
<% end %>
