<div class="row">
  <div class="col-sm-12">
    <%= render partial: "pages/partial", locals: {page_name: "Watches Instructions" } %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-hover">
    <thead>      
      <tr>
        <td class="text-left">
          <%= render partial: "shared/pagination", locals: {page: @page, pages: (@total / @per_page.to_f).ceil, model_class: Watch, action: nil } %>
        </td>
        <td class="text-right col-sm-2">
          <%= link_to delete_many_watches_path(ids: @watches.map(&:id)), :method => :delete, id: "Unwatch_All", class: "btn btn-default btn-sm" do %>
            <span class="glyphicon glyphicon-eye-close"></span> Unwatch All (On Page)
          <% end %>
        </td>
      </tr>
    </thead>
    <tbody>
    <% if @watches.count <= 0 %>
      <tr>
        <td class="text-center text-muted">You are not watching any records.</td>
      </tr>
    <% end %>
    <% @watches.sort { |w1, w2| w1.watched_type <=> w2.watched_type }.each do |watch| %>
      <tr>
        <td>
          <% if defined? watch.watched.public_id %>
            <%= link_to watch.watched.public_id, polymorphic_url(watch.watched) %>
          <% end %>
          <%= watch.watched.to_s %>
        </td>
        <td class='text-right col-sm-2'>
          <%= link_to watch_path(watch), :method => :delete, class: 'watch-delete btn btn-default btn-xs' do %>
            <span class="glyphicon glyphicon-eye-close"></span> Unwatch
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
    </table>
  </div>
</div>