<div class="ml-auto mobile-left">
  <ul class="nav navbar-nav">
    <!-- INTERACTIVE TUTORIAL -->
    <!--<li><a href="" class="fa fa-question-circle" onclick="t.restart();"></a></li>-->
    <!--<li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">The New SDBM <span class="caret"></span></a>-->
    <!--</li>-->

    <li class="nav-item dropdown">
        <a href="#" class='nav-link dropdown-toggle' data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-info-circle"></span> <span class="">About</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
            <%= link_to "Home", main_app.root_path, class: "dropdown-item" %>
            <% Page.where(category: 'about').each do |page| %>
              <%= link_to page.name, main_app.page_path(page.name), class: "dropdown-item" %>
            <% end %>
            <a href="/community" class="dropdown-item">Community Statistics</a>
        </div>
    </li>

    <li class="nav-item dropdown">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-question-circle"></span>
          <span class="">Help</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" role="menu">
          <% Page.where(category: 'help').each do |page| %>
            <%= link_to page.name, main_app.page_path(page.name), class: "dropdown-item" %>
          <% end %>
          <a href="https://www.youtube.com/channel/UCsVZp-1724xPIW8MwIdKoyg/videos" class="dropdown-item">Video Tutorials</a>
          <%= mail_to "sdbm@pobox.upenn.edu", "Email Us", encode: "hex", class: "dropdown-item" %>
        </div>
    </li>
  </ul>

  <!-- this is no longer used as the login space -->
  <% if false && has_user_authentication_provider? %>
    <ul class="nav navbar-nav" id="user-nav">
      <% if current_user && !current_user.to_s.blank? %>
      <li>
        <%= link_to(main_app.destroy_user_session_path, :onclick => "localStorage.clear();") do %>
          <span class="fa fa-sign-out"></span> <%= t('blacklight.header_links.logout') %>
        <% end %>
      </li>
      <% else %>
      <li>
        <%= link_to(main_app.new_user_session_path) do %>
          <span class="fa fa-sign-in"></span> <%= t('blacklight.header_links.login') %>
        <% end %>
      </li>
      <% end %>
    </ul>
  <% end %>
  <!-- and can probably be removed entirely -->
</div>
