<li class="breadcrumb list-group-item">
  <a href="<%= polymorphic_path(@model.class) %>">Manage <%= @model.class.name.pluralize %>
  </a>
</li>
<% if @model.id %>
    <li class="list-group-item breadcrumb <%= current_page?(polymorphic_path(@model)) ? 'active' : '' %>">
      <a href="<%= polymorphic_path(@model) %>"><%= @model.public_id %></a>
    </li>
  <% if can? :edit, @model %>
    <li class="list-group-item breadcrumb <%= current_page?(action: 'edit') ? 'active' : '' %>">
      <a href="<%= polymorphic_path(@model) %>/edit">Edit <%= @model.public_id %></a>
    </li>
    <% if current_page?("#{polymorphic_path(@model)}/history") %>
      <li class="list-group-item breadcrumb active">
        <a href="<%= polymorphic_path(@model) %>/history">Change History for <%= @model.public_id %></a>
      </li>
    <% end %>
    <% if current_page?("#{polymorphic_path(@model)}/merge") %>
      <li class="list-group-item breadcrumb active">
        <a href="<%= polymorphic_path(@model) %>/merge">Merging <%= @model.public_id %></a>
      </li>
    <% end %>
  <% end %>
<% else %>
  <li class="breadcrumb list-group-item active">
    <a href="new_polymorphic_path(@model.class)">New <%= @model.class %></a>
  </li>
<% end %>