<%= javascript_include_tag "extras" %>
<%= stylesheet_link_tag "extras", media: "all" %>

<% model_id = @model.respond_to?(:public_id) ? @model.send(:public_id) : model_class.to_s + " record #" + @model.id.to_s %>

<% @page_title = "Edit #{model_id} - " + application_name %>

<h1>Editing <%= model_id %></h1>

<%= render 'form' %>

<%= render 'links' %>
