<% content_for :head do %>
<%= javascript_include_tag "extras" %>
<%= stylesheet_link_tag "extras", media: "all" %>
<%= render partial: "index_js" %>
<style type="text/css">
 input[type="checkbox"] { margin: 0; }
</style>
<% end %>

<% content_for :control_tools do %>
    <% if can? :manage, model_class %>
    <li>
        <% if resource_name == "entries" || resource_name == "names" %>
            <a href="" id="mark-as-approved"><span class="glyphicon glyphicon-ok"></span> Mark as approved</a>                            
        <% else %>
            <a href="" id="mark-as-reviewed"><span class="glyphicon glyphicon-ok"></span> Mark as reviewed</a>
        <% end %>
    </li>
    <% end %>
    <% if resource_name == "entries" %>
    <li>
        <a href="#group_modal" data-toggle="modal" data-target="#group_modal">
            <span class="glyphicon glyphicon-globe"></span> Add/Remove Groups
        </a>
    </li>
    <% end %>
<% end %>

<div id="manage_records_info" class="modal fade panel-body" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Manage Your <%= resource_name.pluralize.capitalize %></h4>
            </div>
            <div class="modal-body">
                <%= render partial: "instructions" %>
                <li class="list-group-item list-group-item-warning">Unapproved records shown in yellow.</li>
                <% if model_class.column_names.include?('entries_count') || model_class.column_names.include?('authors_count') %>
                    <li class="list-group-item list-group-item-danger">Counters may include deleted records.</li>
                <% end %>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-default" style="margin: 0px 0px 9px 0px;">
    <%= form_tag(request.path, method: :get, class: 'search-form') do %>
    <a class='navbar-brand' href="#manage_records_info" data-toggle="modal" data-target="#manage_records_info">
    <% if @page_title %>
            <%= @page_title %>
    <% else %>
        <% if !can? :index, model_class %>
            <% @page_title = "Manage your " + resource_name.pluralize + " - " + application_name %>
            Manage Your <%= resource_name.pluralize.capitalize %>
        <% elsif resource_name == "manuscripts" %>
            <% @page_title = "Manage " + resource_name.singularize + " records - " + application_name %>            
            Manage <%= resource_name.singularize.capitalize %> Records
        <% else %>
            <% @page_title = "Manage " + resource_name.pluralize + " - " + application_name %>            
            Manage <%= resource_name.capitalize %>
        <% end %>
    <% end %>                    
        <span class="glyphicon glyphicon-info-sign"></span>
    </a>
    <!---->
    <%= render partial: "search_form" %>
    <% end %>
</nav>      

<table id="search_results" class="sdbm-table table dataTable table-striped table-bordered nowrap compact" width="100%" cellspacing="0">
    <thead>
        <tr>
        </tr>
    </thead>
</table>

<div class="container">
<!--
<div style="text-align: right">
    <a id="export-csv" href="#">Export search results as csv</a>
</div>-->

<%= render partial: "index_extra" %>

<script type="text/javascript">

// FIX ME: better place for this?
// this sets the options for our manage table search bars (i.e. if searching on ID, have different options than a fulltext name search)

function setOptions (p) {
    var t = p.find("select[name=search_field]");
    var updateOptions = function (e) {
        var type = t.find("option:selected").attr("type");
        p.find(".option").hide();
        //p.find(".option").attr("selected", false);
        p.find("." + type + "_option").show();
        var results = p.find('.' + type + '_option:selected');
        if (results.length > 0) {
            // nothing -> if there's already a 'valid' selected filter option
        } else {
            p.find("." + type + "_option").first().attr("selected", true);            
            // redundancy for FIREFOX, set value as well as 'selected'
            var val = p.find("." + type + "_option").first().val();
            p.find("select[name=search_option]").val(val);
        }
    };
    p.find("select[name=search_option]").change( function () {
        if ($(this).val() == "blank" || $(this).val() == "not blank") {
            $(this).closest('.search-block').find('input[name=search_value]').val("").attr('disabled', true);
        } else {
            $(this).closest('.search-block').find('input[name=search_value]').attr('disabled', false);
        }
    });
    t.change(updateOptions);
    updateOptions();
}
$("#addSearch").click( function (e) {
    // fix me: add something here to dynamically change table height -> 

    var p = $('.search-block').eq(0).clone();
    p.find("input", "select").val("");
    p.find('.form-submission').remove();
    $(".search-fieldset").append(p);
    p.find(".search-remove").click( function (e) {
        //var p = $(this).closest('.search-block');
        if ($('.search-block').length > 1) {
            $(".search-fieldset").find(p).remove();            
        } else {                                    // otherwise, clear all the fields
            p.find("input").each(function (e) {
                $(this).val("");
            })
            p.find("select[name=search_field]").find("option").first().attr("selected", true).change();
        }
    });
    setOptions(p);
});
$(document).ready( function () {
    
    var p = $('.search-block').eq(0);
    p.find(".search-remove").click( function (e) {
        if ($('.search-block').length > 1) {     // if there are others, remove it
            p = $(this).closest('.search-block');
            $(".search-fieldset").find(p).remove();
        } else {                                    // otherwise, clear all the fields
            p.find("input").each(function (e) {
                $(this).val("");
            })
            p.find("select[name=search_field]").find("option").first().attr("selected", true).change();
        }
    });
    setOptions(p);
});

</script>

</div>