<% content_for :head do %>
<%= stylesheet_link_tag "extras", media: "all" %>
<%= javascript_include_tag "extras" %>
<%= render partial: "index_js" %>
<style type="text/css">
 input[type="checkbox"] { margin: 0; }
</style>
<% end %>

<% if @page_title %>
    <h1><%= @page_title %></h1>
<% else %>
<% if !can? :manage, model_class %>
    <% @page_title = "Manage your " + resource_name.pluralize + " - " + application_name %>
    <h1>Manage Your <%= resource_name.pluralize.capitalize %></h1>
<% else %>
    <% @page_title = "Manage " + resource_name.pluralize + " - " + application_name %>
    <h1>Manage all <%= resource_name.singularize %> records</h1>
<% end %>
<% end %>

<%= render partial: "instructions" %>

<%= render partial: "search_form" %>

<table id="search_results" class="sdbm-table table dataTable table-striped table-bordered nowrap compact" width="100%" cellspacing="0">
    <thead>
        <tr>
        </tr>
    </thead>
</table>

<div style="text-align: right">
    <a id="export-csv" href="#">Export search results as csv</a>
</div>

<%= render partial: "index_extra" %>
