<%= javascript_include_tag "extras" %>
<%= stylesheet_link_tag "extras", media: "all" %>

<h1>New <%= resource_name.singularize.capitalize %></h1>

<%= render 'form' %>

<%= link_to 'Return to Listing', models_path %>
