<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @model.name %>
</p>

<%= link_to 'Edit', edit_model_path(@model) %> | 
<%= link_to 'Change History', polymorphic_path([:history, @model]) %> | 
<%= link_to 'Return to Listing', models_path %>
