<% content_for :breadcrumbs do %>
  <%= render partial: "breadcrumbs", locals: {edit: false} %>
<% end %>

<% content_for :control_tools do %>
  <%= render partial: "tools" %>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <dl class="document-show-heading dl-horizontal dl-invert">
        <dt></dt>
        <dd class='h2'><%= @model.public_id %></dd>
    </dl>

    <dl class="document-metadata dl-horizontal dl-invert">
      <dt>Name</dt>
      <dd>
          <%= @model.name %>
      </dd>
      <dt># Entries</dt>
      <dd>
          This <%= @model.class.to_s.underscore %> was used in <a href="<%= search_by_facet_value(@model.class.to_s.underscore, @model.name) %>" class="badge"><%= SDBMSS::Util.to_many(@model.entries_count, "entry") %></a>
      </dd>
    </dl>

    <%= render partial: "shared/user_info", locals: {model: @model} %>

  </div>
</div>