
<ul class="navbar-left navbar-nav nav me-auto">
    <li>
        <% if can? :review, model_class %>
            <label>
                <%= check_box_tag :unreviewed_only, 1, params[:unreviewed_only] %> Limit to records needing review
            </label>
            <label>
                <%= check_box_tag :inactive_only, 1, params[:inactive_only] %> Include inactive accounts
            </label>
        <% end %>
    </li>
</ul>


<div class="navbar-right d-flex flex-row flex-nowrap align-items-center">
    <ul class="nav float-start navbar-nav">
        <li>
            <a href="" class="text-nowrap" id="addSearch">
                <span class="fa fa-plus"></span> add term
            </a>
        </li>
    </ul>
    
    <div class="search-form form-inline search-fieldset flex-column float-start navbar-form">
        <div class="input-group search-block">
            <div class="input-group-append">
                <button type='button' class="btn btn-warning search-remove"> <span class="fa fa-times"></span> </button>
            </div>
            <%= text_field_tag :search_value, params[:search_value], size: 18, placeholder: "Enter your search term...", class: "form-control" %>
            <select class="form-control" name="search_field">
            <% Array(@search_fields).each do |field| %>
                <option value="<%= field[1] %>" type="<%= @fields.include?(field) ? 'field' : (@filters.include?(field) ? 'filter' : 'date') %>"><%= field[0] %></option>
            <% end -%>
            </select>
            <select class="form-control" name="search_option">
            <% Array(@filter_options).each do |option| %>
                <option value="<%= option %>" class="option filter_option">
                    <% if option == 'with' %>
                        <%= "Equals" %>
                    <% elsif option == 'without' %>
                        <%= "Does Not Equal" %>
                    <% else %>
                        <%= option.humanize %>
                    <% end %>
                </option>
            <% end %>
            <% Array(@field_options).each do |option| %>
                <option value="<%= option %>" class="option field_option"><%= option.humanize %></option>
            <% end %>
            <% Array(@date_options).each do |option| %>
                <option value="<%= option %>" class="option date_option"><%= option.humanize %></option>
            <% end %>
            </select>
        </div>
    </div>

    <div class="navbar-form float-start form-inline">
        <div class="input-group form-submission d-flex flex-nowrap align-items-center">
            <select name="op" id="search_op" class="form-control">
                <option value="AND">All</option>
                <option value="OR">Any</option>
            </select>
            <div class="input-group-append">
                <button id="search_submit" type="submit" class="btn btn-primary">
                    <span class="hide-mobile">Search</span>
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>
    </div>
</div>