<% # main container for facets/limits menu -%>
<% if has_facet_values?  %>
<div id="facets" class="facets sidenav">

  <div class="top-panel-heading panel-heading">
    <button type="button" class="facets-toggle" data-toggle="collapse" data-target="#facet-panel-collapse">
      <span class="sr-only">Toggle facets</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <h4 class='facets-heading'>

    	<%= t('blacklight.search.facets.title') %>
    </h4>
  </div>

  <div id="facet-panel-collapse" class="collapse panel-group">
    <% if request.fullpath == "/" %>
        <%= render_facet_partials_home(4, :before) %>
      <div style="margin-top: 5px;" class="more-facets collapse">
        <%= render_facet_partials_home(4, :after) %>    
      </div>
      <a style="margin-top: 5px;" data-toggle='collapse' data-target='.more-facets' class='btn btn-default collapse in more-facets'>Show More...</a>
      <a style="margin-top: 5px;" data-toggle='collapse' data-target='.more-facets' class='btn btn-default collapse more-facets'>Hide...</a>
    <% else %>
      <!-- New Facet Display (above/in sidebar) -->
      <% if params[:f] and params[:f].count > 0 %>
      <div class="panel panel-default facet_limit facet_limit-active">
        <div class="collapse-toggle panel-heading" data-toggle="collapse" data-target="#selected-facets">
          <h5 class="panel-title facet-field-heading">
            Selected Filters
          </h5>
        </div>
        <div id="selected-facets" class="panel-collapse facet-content collapse in">
          <div class="panel-body">
            <ul class="list-unstyled facet-values">
              <%= render_constraints_filters_side(params) %>
            </ul>
          </div>
        </div>
      </div>
      <% end %>

      <%= render_facet_partials %>
    <% end %>
  </div>
</div>
<% end %>