<% content_for :head do %>
<style>
    header {
        position: relative;
    }
</style>
<script type="text/javascript">
    $(window).load(function(){
        $('#Welcome').modal('show');
    });
</script>
<% end %>

<div class="row">
    <div class="col-sm-12">
        <p>
            The Schoenberg Database of Manuscripts  aggregates observations of pre-modern manuscripts drawn from over 12,000 auction and sales catalogues, inventories, catalogues from institutional and private collections, and other sources that document sales and locations of these books from around the world.
        </p>
    </div>
    <div class="col-sm-12">
        <h3 class="text-center home-emphasis">
            Search the Database
            <br><small>Everyone is invited to search the database.  Use the search bar below, or click the <b>facets</b> to the right.</small>
        </h3>
        <div class="panel panel-search">
            <div class="panel-body">
                <%= render partial: "search_form" %>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <h3 class="text-center">
            <span class="home-emphasis">Join Our Community!</span>
            <small> and gain access to all of the SDBM's 
                <strong class="home-emphasis">NEW INTERACTIVE FEATURES</strong>
            </small>
        </h3>
        <ul>
            <li><strong>Contribute Data</strong>, including your own personal observations of a manuscripts or group of manuscripts.</li>
            <li><strong>Engage With Other Users</strong> to facilitate research and conversations about both the history of manuscript transmission and the data gathered in the process of recording this history.</li>
            <li><strong>Manage Your Contributions</strong>, track your search history, bookmark, tag and download your results.</li>
            <li><strong>Email or Download Search Results</strong> or export the entire contents of the SDBM for your own use under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 Unported License</a></li>
        </ul>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-home">
            <div class="panel-heading">
                <span class="h4">New Features</span>
            </div>
            <div class="panel-body">
                <ul>
                    <li>VIAF-based Name Authority</li>
                    <li>Enhanced Provenance data</li>
                    <li>Create Groups to collaborate with other users</li>
                    <li>Communicate with other users via private messages or public forum</li>
                    <li>Browse the<a href="/dericci_records"> Seymour de Ricci Bibliotheca Britannica Manuscripta Digitized Archive</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-home">
            <div class="panel-heading">
                <span class='h4'>Recent Forum Discussion</span>
            </div>
            <div class="panel-body">
                <% Thredded::Post.order('id DESC').last(10).each do |post| %>
                    <% post_user_link = link_to(post.user.username, main_app.profile_path(post.user.username)) %>
                    <% topic = post.to_model.postable %>
                    <header>
                      <%= image_tag post.avatar_url, class: 'thredded--post--avatar' if post.user %>
                      <h3 class="thredded--post--user-and-topic">
                        <%=
                          topic_link = link_to(topic.title, thredded.post_permalink_path(post))
                          if topic.first_post == post.to_model
                            t 'thredded.users.user_started_topic_html', user_link: post_user_link, topic_link: topic_link
                          else
                            t 'thredded.users.user_posted_in_topic_html', user_link: post_user_link, topic_link: topic_link
                          end
                        %>
                      </h3>
                      <p class="thredded--post--created-at"><%= time_ago_in_words post.created_at %></p>
                    </header>

                    <div class="text-muted"><%= render 'thredded/posts_common/content', post: post %></div>
                <% end %>
                <% if Thredded::Post.count <= 0 %>
                    <div class="text-center text-muted">There is no recent discussion to display.</div>
                <% end %>                
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="Welcome">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header text-center">
            <span class="h3">Recent Changes to the New SDBM</span>
        </div>
        <div class="modal-body">
            <p>
                As of April 1, 2017, thanks to input from the user community, we have made a number of changes to the design and functionality of the database.  We hope this improves your experience.  If you have questions or comments on the new changes, please post in the <a href="/forum" target="_blank">community forum</a>.  We appreciate your feedback and support!
            </p>
            <p>Thanks,</p>
            <p class="text-muted"> - The SDBM Team</p>
        </div>
    </div>
</div>
</div>