<% content_for :breadcrumbs do %>
  <li class="breadcrumb list-group-item active">
    <a href="">Catalog</a>
  </li>
<% end %>

<div id="content" class="<%= main_content_classes %>">
  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home' %>
  <% else %>
    <%= render 'search_results' %>
  <% end %>
</div>

<div id="sidebar" class="<%= sidebar_classes %>">
  <%= render 'search_sidebar' %>
</div>