<div class="row">
  <div class="col-sm-12">
    <h1 class="text-center home-emphasis">Welcome to The New Schoenberg Database of Manuscripts</h1>
  </div>
  <div class="col-sm-4">
    <h3 class="home-emphasis">About</h3>
    <ul class="nav nav-pills nav-stacked pills-home">
      <% Page.where(category: "about").each do |page| %>
        <li><%= link_to page.name, page_path(page) %></li>
      <% end %>
    </ul>
    <h3 class="home-emphasis">Help</h3>
    <ul class="nav nav-pills nav-stacked pills-home">
      <% Page.where(category: "help").each do |page| %>
        <li><%= link_to page.name, page_path(page) %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-sm-8">
    <p>The <b>Schoenberg Database of Manuscripts</b> aggregates observations of premodern manuscripts drawn from over 12,000 auction and sales catalogues, inventories, catalogues from institutional and private collections, and other sources that document sales and locations of these books from around the world. Using 36 possible fields, entries in the Schoenberg Database of Manuscripts (SDBM) record data from observations made in these sources and assist researchers in locating and identifying particular manuscripts, establishing provenance, and aggregating descriptive information about specific classes or types of manuscripts.</p>
    <h3 class="text-center home-emphasis">
        Search the Database
    </h3>
    <div class="panel panel-search">
        <div class="panel-body">
            <%= render partial: "search_form" %>
        </div>
    </div>
    <p>The New Schoenberg Database of Manuscripts, in development since 2014, allows you -- the members of its user community -- to become active, contributing partners in its development. Users can add entries, comment on other users entries, aggregate entries to created “manuscript records,” and help us build an authority file of persons and institutions associated with the movement of manuscripts across time and place.</p>
  </div>
  <div class="col-sm-12">
    <div class="well">  
    Your original linked contained query information that may be valuable to you <a href="#params" class="btn btn-default btn-small" data-toggle="collapse" data=target="#params">Expand Query</a>

    <div class="collapse" id="params">
      <table class="table table-responsive table-striped" style="margin-top: 10px;">
        <tbody>
          <% params.except(:controller, :action, :format).each do |key, value| %>
            <tr>
              <th><%= key %></th>
              <td class='text-right'><%= value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    </div>
  </div>
</div>