<!-- I had to override the blacklight class anyway, just to make the "tools" not appear for deprecated records... -->
<%= render_document_main_content_partial %>
<!--<div id="content" class="<%= show_content_classes %>">
</div>-->
<% content_for :breadcrumbs do %>
  <%= render partial: "breadcrumbs", locals: {edit: false} %>
<% end %>

<% if !@entry.deprecated %>

    <% content_for :control_tools do %>
      <%= render_document_sidebar_partial %>
    <% end %>

    <% content_for :add_entry do %>
        <li>
            <%= link_to "Add a New Entry", new_entry_path %>
            <%= link_to "Add A New Entry for this Source", new_entry_path(source_id: @entry.source) %>
            <% if @entry.manuscript %>
            <%= link_to "Create A Personal Observation for this Manuscript", new_source_path({create_entry: 1, manuscript_id: @entry.manuscript.id, source_type: 4}) %>
            <% end %>
        </li>
    <% end %>

<% end %>