
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="row col-sm-offset-4 col-sm-4">
    <div class="form-group">
        <%= f.label :login, class: "control-label" %>
        <%= f.text_field :login, class: "form-control" %>
    </div>
</div>

<div class="row col-sm-offset-4 col-sm-4">
    <div class="form-group">
        <%= f.label :password, class: "control-label" %>
        <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
</div>

<% if devise_mapping.rememberable? -%>
<div class="row col-sm-offset-4 col-sm-4">
    <div class="form-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "control-label" %>
    </div>
</div>
<% end -%>

<div class="row col-sm-offset-4 col-sm-4">
    <div class="form-group">
        <%= f.submit "Log in", class: "btn btn-default" %>
    </div>
</div>
<% end %>

<div class="row col-sm-offset-4 col-sm-4">
<%= render "devise/shared/links" %>
</div>
