<%= form_tag("/comments/#{comment.id}", method: :patch, class: 'hide comment-toggle' ) do %>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= hidden_field_tag 'id', comment.id %>
      <%= hidden_field_tag 'commentable_id', comment.commentable_id %>
      <%= hidden_field_tag 'commentable_type', comment.commentable_type %>
      <div class="input-group textarea-group">
        <%= text_area_tag 'comment', comment.comment, class: "form-control", rows: 5 %>
        <div class="input-group-btn textarea-group-btn">
          <%= submit_tag 'Confirm', class: 'btn btn-default textarea-btn' %>
        </div>
      </div>
    </div>
  </div>
<% end %>