<%# Partial used to display name details for both Names generically and Agents (which are Names) %>

<% content_for :breadcrumbs do %>
    <% if can? :manage, User %>
        <li class="breadcrumb-item">
            <a href="/accounts">Manage Accounts</a>
        </li>
    <% else %>
        <li class="breadcrumb-item">
            <a href="/community">Community</a>
        </li>
    <% end %>
        <li class="breadcrumb-item active"><a href=""><%= @user %></a></li>
    <% if @user == current_user %>
      <li class="breadcrumb-item"><%= link_to main_app.edit_user_registration_path do %>My Settings <% end %></li>
    <% elsif can?(:edit, @user) %>
        <li class="breadcrumb-item edit_name">
            <a href="<%= edit_account_path(@user) %>">
                Edit User: <%= @user.username %>
            </a>
        </li>
    <% end %>
<% end %>

<% if can? :manage, User %>
<% content_for :control_tools do %>
    <% if user_signed_in? %>
        <% if can?(:edit, @user) %>
            <li class="edit_name">
                <a href="<%= edit_account_path(@user) %>">Edit User: <%= @user.username %></a>
            </li>
        <% end %>
    <% end %>
<% end %>
<% end %>


<div class="row">
    <div class="col-sm-4">
        <div class="user-icon" style="width: 45%;">
            <%= image_tag "https://www.gravatar.com/avatar/#{Digest::MD5.hexdigest(@user.email.downcase)}?s=128&d=mm", class: 'img img-fluid dashboard-profile-picture' %>
        </div>
        <div class="user-info">
            <span class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <%= @user.to_s %>
                </a>
                <div class="dropdown-menu">
                  <span class="dropdown-item-text text-muted"><em><span class="fa fa-fw fa-briefcase"></span> <%= @user.role %></em></span>
                  <a class="dropdown-item" href="<%= new_private_message_path(user_id: [@user.id]) %>"><span class="fa fa-fw fa-envelope"></span> Send Message</a>
                  <% if current_user == @user %>
                  <%= link_to edit_user_registration_path, class: "dropdown-item" do %><span class="fa fa-fw fa-cog"></span> My Settings<% end %>
                  <% end %>
                </div>
            </span>
            <p class="text-muted" sdbm-tooltip="user_levels">User Level: <em><%= @user.role %></em></p>
            <p class="text-info"><%= @display[:email] %></p>
            <% if current_user == @user && @user.role != "admin" && @user.role != "super_editor" %>
                <p><%= render partial: "shared/request_advancement" %></p>
            <% end %>
        </div>

        <p class="text-muted"><%= @display[:biography] %></p>
        <strong><%= @display[:institution] %></strong>
        <div class='text-center text-muted' style="border-top: 1px solid #ddd; margin-top: 8px; padding-top: 8px;">
            <span class="fa fa-clock-o"></span> Last Active <%= @display[:last_seen] %>
        </div>

    </div>
    <div class="col-sm-8">
        <ul class="ajax-tabs nav nav-tabs custom-tabs">
            <li class="nav-item"><a class="nav-link active" data-toggle='tab' href="#contributions">Contributions</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle='tab' href="#activity" href="">Activity</a></li>
            <% if can? :edit, @user %>
                <li class="nav-item"><a class="nav-link" data-toggle='tab' href="#analytics" href="">Analytics</a></li>
            <% end %>
        </ul>

        <div class="tab-content">
            <div id="activity" class="tab-pane fade">
                <div id="activity-content">
                </div>
                <%# render partial: "activities/list", locals: {collapsed: true} %>
            </div>
            <div class="tab-pane fade show active" id="contributions">
                <%= render partial: "tiles", locals: {records: @user.entries.where(draft: false).last(10).reverse } %>
            </div>
            <div class="tab-pane fade" id="analytics">
                <%= render partial: "analytics" %>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
$(document).ready( function () {

    var loading = false;

    load_activity("/activities/show_all.json?user=<%= @user.id %>", 0);
    /*$("#activity-pane").load("/activities/show_all?watched=true",function(result){
        loading = false;
    });*/
});
</script>
