<%# Partial used to display name details for both Names generically and Agents (which are Names) %>

<% content_for :breadcrumbs do %>
    <% if can? :manage, User %>
        <li class=" ">
            <a href="/accounts">Manage Accounts</a>
        </li>
    <% else %>
        <li class="">
            <a href="/community">Community</a>
        </li>
    <% end %>
        <li class="  active"><a href=""><%= @user %></a></li>
    <% if @user == current_user %>
      <li><%= link_to main_app.edit_user_registration_path do %>My Settings <% end %></li>
    <% elsif can?(:edit, @user) %>
        <li class="edit_name">
            <a href="<%= edit_account_path(@user) %>">
                Edit User: <%= @user.username %>                
            </a>
        </li>
    <% end %>
<% end %>

<% if can? :manage, User %>
<% content_for :control_tools do %>
    <% if user_signed_in? %>
        <% if can?(:edit, @user) %>
            <li class="edit_name">
                <a href="<%= edit_account_path(@user) %>">Edit User: <%= @user.username %></a>
            </li>
        <% end %>
    <% end %>
<% end %>
<% end %>


<div class="row">
    <div class="col-sm-4">
        <div class="user-icon" style="width: 45%;">
            <%= image_tag Thredded.avatar_url.call(@user), class: 'img img-responsive dashboard-profile-picture' %>
        </div>
        <div class="user-info">
            <span class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" >
                  <%= @user.to_s %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" style="background: white !important;">
                  <li><em style="padding: 20px;" class='text-muted'><span class="glyphicon glyphicon-briefcase"></span> <%= @user.role %></em></li>
                  <li><a href="<%= new_private_message_path(user_id: [@user.id]) %>"><span class="glyphicon glyphicon-envelope"></span> Send Message</a></li>
                  <% if current_user == @user %>
                  <li><%= link_to edit_user_registration_path do %> <span class="glyphicon glyphicon-cog"></span> My Settings <% end %></li>
                  <% end %>                  
                </ul>
            </span>
            <p class="text-muted" sdbm-tooltip="user_levels">User Level: <em><%= @user.role %></em></p>
            <p class="text-info"><%= @display[:email] %></p>
            <% if current_user == @user && @user.role != "admin" && @user.role != "super_editor" %>
                <p><%= render partial: "shared/request_advancement" %></p>
            <% end %>
        </div>

        <p class="text-muted"><%= @display[:biography] %></p>
        <strong><%= @display[:institution] %></strong>
        <div class='text-center text-muted' style="border-top: 1px solid #ddd; margin-top: 8px; padding-top: 8px;">
            <span class="glyphicon glyphicon-time"></span> Last Active <%= @display[:last_seen] %>
        </div>

    </div>
    <div class="col-sm-8">
        <ul class="ajax-tabs nav nav-tabs custom-tabs">
            <li class='active'><a data-toggle='tab' href="#contributions">Contributions</a></li>
            <li><a data-toggle='tab' href="#activity" href="">Activity</a></li>
            <% if can? :edit, @user %>
                <li><a data-toggle='tab' href="#analytics" href="">Analytics</a></li>
            <% end %>
        </ul>

        <div class="tab-content">
            <div id="activity" class="tab-pane fade">
                <div id="activity-content">
                </div>
                <%# render partial: "activities/list", locals: {collapsed: true} %>
            </div>
            <div class="tab-pane fade in active" id="contributions">
                <%= render partial: "tiles", locals: {records: @user.entries.where(draft: false).last(10).reverse } %>
            </div>            
            <div class="tab-pane fade" id="analytics">
                <%= render partial: "analytics" %>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript'>
$(document).ready( function () {

    var loading = false;

    load_activity("/activities/show_all.json?user=<%= @user.id %>", 0);
    /*$("#activity-pane").load("/activities/show_all?watched=true",function(result){
        loading = false;    
    });*/
});
</script>