<% if @model.id %>
  <li class="breadcrumb-item">
    <a href="<%= polymorphic_path(@model.class) %>">Manage <%= @model.class.name.pluralize %>
    </a>
  </li>
  <% if defined? last_search %>
    <li class="breadcrumb-item">
      <a href="<%= polymorphic_path(@model.class, last_search: true) %>">Return to Latest Search
      </a>
    </li>
  <% end %>
    <li class="breadcrumb-item <%= current_page?(polymorphic_path(@model)) ? 'active' : '' %>">
      <a href="<%= polymorphic_path(@model) %>"><%= @model.public_id %></a>
    </li>
  <% if can? :edit, @model %>
    <li class="breadcrumb-item <%= current_page?(action: 'edit') ? 'active' : '' %>">
      <a href="<%= polymorphic_path(@model) %>/edit">Edit <%= @model.public_id %></a>
    </li>
    <% if current_page?("#{polymorphic_path(@model)}/history") %>
      <li class="breadcrumb-item active">
        <a href="<%= polymorphic_path(@model) %>/history">Change History for <%= @model.public_id %></a>
      </li>
    <% end %>
    <% if current_page?("#{polymorphic_path(@model)}/merge") %>
      <li class="breadcrumb-item active">
        <a href="<%= polymorphic_path(@model) %>/merge">Merging <%= @model.public_id %></a>
      </li>
    <% end %>
  <% end %>
<% end %>
