<% content_for :head do %>
  <%= javascript_include_tag "data" %>
  <style>
    .huge {
      font-size: 72px;
      color: #ae724a;
      line-height: 54px;
      letter-spacing: -2px;
      font-weight: bold;
    }
    .stats {
      font-size: 32px;
      line-height: 30px;
      color: darksalmon;
      font-weight: bold;
      font-variant: small-caps;
    }
    .btn-special {
      width: 100%;
      height: 100%;
      font-size: 72px;
      line-height: 56px;
      padding-bottom: 15px;
      color: white;
      background: #333;
      border: none;
    }
    .btn-special-sm {
      font-size: 14px;
      line-height: 14px;
      padding-bottom: 4px;
    }
    .special {
      display: inline-block;
      font-size: 0.4em;
      width: 172px;
      line-height: 0.9em;
      letter-spacing: -2px;
      text-align: right;
      background: #306f63;
      box-shadow: 4px 4px 0px #ae724a;
      color: white;
      margin-left: -16px;
      margin-top: 0px;
      padding-right: 8px;
    }
    .chart {
      float: left;
      width: 400px;
      padding: 15px;
    }
    #piechart {
      height: 100%;
      margin-top: -35px;
    }
    .indent {
      padding-left: 25px;
    }
    .main-content h4 {
      text-align: center;
      font-weight: bold;
      padding: 8px;
    }
    .progress {
      margin-bottom: 0px;
    }
    .progress-bar-success {
      background-color: #AE9A4A;
    }
    .progress-bar-warning {
      background-color: #306F63;
    }
    .progress-bar-danger {
      background-color: #7F8FA8;
    }
    .table td {
      padding: 2px;
    }
    h4.banner {
      box-shadow: none;
      border-radius: 5px 0px 5px 0px;
      width: calc(100% - 20px);
      text-align: center;
      margin-top: 2px;
      color: white;
      padding: 8px;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  <script>

    $(document).ready(function () {

      var chart = new Chart(document.getElementById("piechart").getContext('2d'),
        {
          type:"doughnut",
          data:
          {
            "labels": ["Out of Scope", "Possibly Linked","Definitely Linked","Flagged", "Unlinked"],
            "datasets": [
              {
                "label":"My First Dataset",
                "data":[
                  <%= (@outofscope = DericciRecord.where({out_of_scope: true}).count) %>,
                  <%= (@possible = DericciRecord.where({verified_id: nil}).joins(:dericci_links).group('dericci_records.id').count.count) %>,
                  <%= (@definite = DericciRecord.where.not(verified_id: nil).count) %>,
                  <%= (@flagged = DericciRecord.joins(:dericci_record_flags).group('dericci_records.id').count.count)  %>,
                  <%= DericciRecord.count - (@flagged + @definite + @possible) %>
                ],
                "backgroundColor":["#8BC311", "#56C34A", "#AE724A", "#7F8FA8", "#306F63"]
              }]
          }, 
          options: {
            title: {
              display: true,
              text: "The Wheel of Progress"
            }
          }
        });

    });

  </script>
<% end %>

<% content_for :breadcrumbs do %>
  <%= render partial: "breadcrumbs" %>
<% end %>
<div class="row">
  <div class="col-sm-12 text-center">
    <h1>The De Ricci Digitized Archive Name Game</h1>  
  </div>
  <div class="col-sm-12 text-center">
    <!-- request advancement -->
    <% if @games.count >= 10  && current_user.role != "admin" && current_user.role != "super_editor" %>
      <div class="alert alert-success">You have played <%= @games.count %> games!  <%= render partial: "shared/request_advancement" %></div>
    <% end %>
    <!-- -->
    <%= link_to new_dericci_game_path, class: 'btn btn-sm btn-default', id: "new-game" do %>
      <span class="glyphicon glyphicon-tower"></span> Start a <strong>New Game</strong>
    <% end %>

    <% completed = @games.select { |g| g.completed.to_i + g.skipped.to_i + g.flagged.to_i >= 100 } %>
    <% inprogress = @games.select { |g| g.completed.to_i + g.skipped.to_i + g.flagged.to_i < 100 } %>
    <a data-toggle="collapse" data-target="#completed-games" class="btn btn-sm btn-default">Completed Games <span class="badge"><%= completed.count %></span> <span class="caret"></span></a>
    <a data-toggle="collapse" data-target="#in-progress" class="btn btn-sm btn-default">In Progress <span class="badge"><%= inprogress.count %></span> <span class="caret"></span></a>
    <%= render partial: "list", locals: {title: "In Progress", games: inprogress } %>
    <%= render partial: "list", locals: {title: "Completed Games", games: completed } %>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="chart">
      <canvas height="480" width="480" id="piechart"></canvas>
      <h4 class='banner' style="background: #009688;"><%= (users_count = DericciGame.group(:created_by).count.count) %> <%= "user".pluralize(users_count) %> <%= "has".pluralize(users_count) %> played the Name Game</h4>
      <h4 class='banner' style="background: #8BC311;"><%= @outofscope %> De Ricci <%= "Record".pluralize(@outofscope) %> identified as Out of Scope</h4>
      <h4 class='banner' style="background: #56C34A;"><%= @possible %> De Ricci <%= "Record".pluralize(@possible) %> have Potential Links</h4>
      <h4 class='banner' style="background: #00bcd4;"><%= @flagged %> De Ricci <%= "Record".pluralize(@flagged) %> have been Flagged for further work</h4>
      <h4 class='banner' style="background: #002cd4;"><%= @definite %> De Ricci <%= "Record".pluralize(@definite) %> are definitively linked to an SDBM Name</h4>
    </div>
    <div>
      <%= render partial: "pages/partial", locals: {page_name: "De Ricci Game Description" } %>
    </div>

  </div>
  <div class="col-sm-12">
    <%= render partial: "instructions", locals: {newgame: true} %>
  </div>
  <div class="col-sm-12">
    <%= render partial: "pages/partial", locals: {page_name: "De Ricci Game Results" } %>
  </div>
  <div class="col-sm-12">
    <%= render partial: "pages/partial", locals: {page_name: "De Ricci Game FAQ" } %>        
  </div>
</div>