<p>
  <%= link_to new_entry_path do %>
    <span class="glyphicon glyphicon-plus"></span> Add New Entry
  <% end %>
</p>
<p><%= link_to "Manage Entries", entries_path %></p>
<p><%= link_to "Manage Sources", sources_path %></p>
<p><%= link_to "Manage Manuscripts", manuscripts_path %></p>
<p><%= link_to "Manage Comments", comments_path %></p>
<p><%= link_to "Manage Name", names_path %></p>
<p><%= link_to "Manage Places", places_path %></p>
<p><%= link_to "Manage Languages", languages_path %></p>
<p><%= link_to "Manage Users", accounts_path %></p>
<p><%= link_to "Recent Activity", activities_path %></p>