<div class="row">
    <div class="col-sm-offset-4 col-sm-4 form-group">
        <h2>Forgot your password?</h2>
    </div>
</div>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
<div class="row">
    <div class="col-sm-offset-4 col-sm-4 form-group">
        <%= devise_error_messages! %>
    </div>
</div>
  
<div class="row">
    <div class="col-sm-offset-4 col-sm-4 form-group">
    <%= f.label :email, class: "control-label" %><br />
    <%= f.email_field :email, class: "form-control", autofocus: true %>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-4 col-sm-4 form-group">
        <div class="actions">
            <%= f.submit "Send me reset password instructions", class: "btn btn-default" %>
        </div>
    </div>
</div>
<% end %>

<div class="row">
    <div class="col-sm-offset-4 col-sm-4 form-group">
        <%= render "devise/shared/links" %>
    </div>
</div>
