<% collapsed ||= false %>
<% if @activities.count <= 0 %>
  <div class="row">
    <div class="col-sm-10 text-muted text-center">
      <p>There is no recent activity to display.</p>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-sm-10 text-muted text-center">
      <p class="">Showing only last 7 days of activity.</p>
    </div>
  </div>
<% end %>
<% @details.each do |date, users| %>
  <div class="row">
    <div class="col-sm-10">
      <% users.each do |user_id, details| %>

      <div class="collapse in">
        <h5 class='text-center'>
            <% user = @users.select{ |u| u.id == user_id.to_i }.first %>
            <!-- using partials makes this take longer?? -->
            <% if user.present? %>
              <span class="<%= defined?(up) ? 'dropup' : 'dropdown' %>">
                <a href="" class="dropdown-toggle" data-toggle="dropdown">
                  <%= user.to_s %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li><em style="padding: 20px;" class='text-muted'><span class="glyphicon glyphicon-briefcase"></span> <%= user.role %></em></li>
                  <li><a href="<%= main_app.profile_path(username: user.username) %>"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                  <li><a href="<%= main_app.new_private_message_path(user_id: [user.id]) %>"><span class="glyphicon glyphicon-envelope"></span> Send Message</a></li>
                  <% if current_user == user %>
                  <li><%= link_to main_app.edit_user_registration_path do %> <span class="glyphicon glyphicon-cog"></span> My Settings <% end %></li>
                  <% end %>
                </ul>
              </span>
            <% else %>
              Unknown
            <% end %>

            <span data-toggle='collapse' href='#activity_<%= date %>_<%= user_id %>'>modified <%= "#{details.count} record".pluralize(details.count) %> <span class="caret"></span>
          </span>
        </h5>
        
        <div class="collapse activity_date_<%= date %> <%= collapsed ? '' : 'in' %>" id="activity_<%= date %>_<%= user_id %>">
          <% details.each do |transaction_id, detail| %>
          <div class="panel panel-default activity">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <%= (activity = @activities.select{ |a| a.transaction_id == transaction_id }.first).format_event %>
                  <% link_text = SDBMSS::IDS.get_public_id_for_model(activity.item_type, activity.item_id) %>
                  <% if !link_text %>
                    <% link_text = "#{activity.item_type} ##{activity.item_id}" %>
                  <% end %>
                  <% if activity.event != 'destroy' %>
                    <a href="/<%= activity.item_type.pluralize.underscore %>/<%= activity.item_id %>" target="_blank"><%= link_text %></a>
                  <% else %>
                    <span class="text-danger"><%= link_text %></span>
                  <% end %>
                </div>
                <div class="col-xs-6 text-right">
                  <span class="text-muted"><%= activity.created_at.to_formatted_s(:long) %></span>
                </div>
              </div>
            </div>
            <div class="panel-body text-muted" style="overflow: hidden; text-overflow: ellipsis;">
              <div class="row">
                <div class="col-xs-12">
                  <%# detail_list.each do |detail| %>
                    <% if detail[:version].event == "destroy" %>
                      <span class="text-danger">(Record was deleted.)</span>
                    <% else %>
                      <%= sanitize simple_format detail[:details] %>
                    <% end %>
                  <%# end %>
                </div>                
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col-sm-2">
      <div class='h4' data-toggle='collapse' href='.activity_date_<%= date %>'>
        <span class="caret"></span>
        <%= date %>
      </div>
    </div>
  </div>
<% end %>