<% collapsed ||= false %>
<% if @activities.count <= 0 %>
  <div class="row">
    <div class="col-sm-12 text-muted text-center">There is no recent activity to display.</div>
  </div>
<% end %>
<div class="col-sm-10">
  <p class="text-muted text-center">Showing only last 7 days of activity.</p>
</div>
<% @activities.each_with_index do |(date, activities), index| %>
  <div class="row" style="border-bottom: 1px solid #eee; padding-bottom: 10px;">
    <div class="col-sm-10">
      <div class="collapse in">
      <% activities.group_by { |a| a.user }.each do |user, user_activities| %>
        <h5 class='text-center'>
            <%= render partial: "shared/username_with_profile_link", locals: { user: user } %>
              <span data-toggle='collapse' href='#activity_<%= date %>_<%= user.id %>'>modified <%= "#{user_activities.count} record".pluralize(user_activities.count) %> <span class="caret"></span></span>
        </h5>
        <div class="collapse activity_date_<%= date %> <%= (collapsed && index > 0) ? '' : 'in' %>" id="activity_<%= date %>_<%= user.id %>">
        <% user_activities.each do |activity| %>
          <div class="panel panel-default activity">
            <div class="panel-heading">
              <div class="row">
                <div class="col-xs-6">
                  <%= activity.format_event %>
                  <% link_text = SDBMSS::IDS.get_public_id_for_model(activity.item_type, activity.item_id) %>
                  <% if !link_text %><% link_text = "#{activity.item_type} ##{activity.item_id}" %><% end %>
                  <% if activity.event != 'destroy' %>
                    <a href="<%= activity.link %>" target="_blank"><%= link_text %></a>
                  <% else %>
                    <span class="text-danger"><%= link_text %></span>
                  <% end %>
                </div>
                <div class="col-xs-6 text-right">
                  <%= activity.created_at.strftime("%l:%M %P") %>
                </div>
              </div>
            </div>
            <div class="panel-body text-muted">
              <div class="row">
                <div class="col-xs-12">
                  <% version = PaperTrail::Version.where(transaction_id: activity.transaction_id) %>
                  <% if version.count > 0 %>
                    <%= render partial: 'activities/version', locals: {version: EntryVersionFormatter.new(version)} %>
                  <% elsif activity.event == 'destroy' %>
                    (Record was deleted)
                  <% else %>
                     No changes to display
                  <% end %>
                </div>
                <!--
                <div class="col-xs-2 text-right">
                  <%# if (r = current_user.ratings.where(ratable_type: "Activity", ratable_id: activity.id).first) %>
                    <%# render partial: "ratings/delete", locals: {rating: r } %>
                  <%# else %>
                    <%# render partial: "ratings/create", locals: {ratable: activity } %>
                  <%# end %>
                </div>
              -->
              </div>
            </div>
          </div>
        <% end %>
        </div>
      <% end %>
      </div>
    </div>
    <div class="col-sm-2">
      <div class='h4' data-toggle='collapse' href='.activity_date_<%= date %>'>
        <span class="caret"></span>
        <% days = (Date.today - date).to_i %>
        <% if days == 0 %>
          Today
        <% elsif days == 1 %>
          Yesterday
        <% elsif days < 7  %>
          <%= date.strftime("%A") %>
        <% else %>
          <%= date.to_formatted_s(:long) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>