<h3>Recent Activity</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <%= form_tag({:controller => "activities", :action => "index"}, :method => "get", :class => "form-inline") do %>
                <%= label_tag 'Search:' %>  
                <%= text_field 'users[username]', "", class: 'form-control', placeholder: 'Username', value: (params[:users][:username] if params[:users] ) %>
                <%= select_tag :event, options_for_select(['', 'update', 'create', 'destroy'], params[:event]), class: 'form-control', placeholder: 'Event' %>
                <%= select_tag :item_type, options_for_select(['', 'Entry', 'Name', 'Source', 'Language', 'Place', 'Manuscript'], params[:item_type]), class: 'form-control', placeholder: 'Record Type'%>
                <%= submit_tag "Filter", class: 'form-control btn-info' %>
                <%= link_to "Clear", activities_path, class: "btn btn-warning" %>
                <div class="label label-primary pull-right"><%= @total %></div>
            <% end %>
        </div>
    </div>
</div>
<div class='panel-group'>
    <%= render partial: "activities/more" %>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        <a id="loadMore" class='btn btn-default'>Load More...</a>
    </div>
</div>
<script>
    var page = 1;
    var total_pages = <%= @num_pages %>;
    $('#loadMore').click(function (e) {
        page += 1;
        query = window.location.href.split("?")[1]
        $.get("?" + query + '&more=true&page=' + page, function (result) {
            var more = $(result);
            more.hide();
            $('.panel-group').append(more);
            more.slideDown();
            $('html, body').animate({
                scrollTop: $("#loadMore").offset().top
            }, 500);
        })
    });
</script>