<h3>Recent Activity</h3>
<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <!-- FIX ME: figure out some way to search by username! -->
            <%= form_tag({:controller => "activities", :action => "index"}, :method => "get", :class => "form-inline") do %>
                Search: 
                <%= text_field 'users[username]', "", class: 'form-control', placeholder: 'Username', value: (params[:users][:username] if params[:users] ) %>
                <%= select_tag :event, options_for_select(['', 'update', 'create', 'destroy'], params[:event]), class: 'form-control', placeholder: 'Event' %>
                <%= select_tag :item_type, options_for_select(['', 'Entry', 'Name', 'Source', 'Language', 'Place', 'Manuscript'], params[:item_type]), class: 'form-control', placeholder: 'Record Type'%>
                <%= submit_tag "Filter", class: 'form-control' %>
            <% end %>
        </div>
    </div>
</div>
<div class='panel-group'>
<% @activities.each_with_index do |activity_list, index| %>
    <%= render partial: "activities/show", locals: {activity_list: activity_list, index: index} %>
<% end %>
</div>
<div class="label label-primary"><%= @total %></div>
<a id="loadMore" class='btn btn-default'>Load More</a>
<script>
    $('#loadMore').click(function (e) {
        $.get('/activities?format=json&page=2', function (result) {
            $('.panel-group').append(result);
            // FIX ME: load as json, then fill with new list elements (panels?) in a subtle, quick animation
        })
    });
</script>
<!--
<nav>
  <ul class="pagination">
    <li class="<% if @page == 1 %>disabled<% end %>">
        <% if @page > 1 %><a href="<%= activities_path page: @page - 1 %>" aria-label="Previous"><% end %>
            <span aria-hidden="true">&laquo;</span>
        <% if @page > 1 %></a><% end %>
    </li>
    <% @num_pages.times do |page| %>
    <li><a href="<%= activities_path page: page + 1 %>"><%= page + 1 %></a></li>
    <% end %>
    <li class="<% if @page == @num_pages %>disabled<% end %>">
        <% if @page < @num_pages %><a href="<%= activities_path page: @page + 1 %>" aria-label="Next"><% end %>
            <span aria-hidden="true">&raquo;</span>
        <% if @page < @num_pages %></a><% end %>
    </li>
  </ul>
</nav>
-->