<%= form_for(@model, html: { class: "form-horizontal" }) do |f| %>
  <%= render partial: "errors" %>
  <div class="field form-group row">
      <%= f.label :name, "Common Name", class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
          <%= f.text_field :name, :class => 'form-control', :placeholder => "e.g. Archimedes Palimpsest, Book of Kells" %>
      </div>
  </div>
  <div class="field form-group row">
      <%= f.label :location, "Last Known Location", class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
          <%= f.text_field :location, :class => 'form-control' %>
      </div>
  </div>
  <div class="field form-group row">
      <%= f.label :entries, class: "col-sm-2 control-label" %>
      <div class="col-sm-6 label-alignment">
          <p>This manuscript record has the following entries linked to it:</p>
          <ul>
              <% @model.entries.each do |entry| %>
                  <li><a href="<%= url_for entry %>"><%= entry.public_id %></a>: <%= entry.entry_titles.map(&:title).join("; ") %></li>
              <% end %>
          </ul>
      </div>
  </div>
  <div class="actions row">
      <div class="col-sm-4 col-sm-offset-2">
          <%= f.submit :class => 'btn btn-primary' %>
      </div>
  </div>
<% end %>
<br/>
