<% content_for :head do %>
<%= stylesheet_link_tag "extras", media: "all" %>
<style>
    .side {
      width: 0%;
    }
    .entries, .proposed {
      transition: width 0.7s;
    }
    .proposal {
      overflow: hidden;
    }
    #proposed-history {
      position: fixed;
    }
</style>
<% if user_signed_in? %>
<script type="text/javascript">
    var thing;

 $(document).ready(function() {

     $("#new_comment").submit(function(event) {
         event.preventDefault();
         $.post($("#new_comment").attr("action"), $("#new_comment").serialize(), function() {
             window.location = "/manuscripts/" + <%= @manuscript.id %>;
         })
          .fail(function (jqXHR, textStatus, errorThrown) {
              var errorString = SDBM.parseRailsErrors($.parseJSON(jqXHR.responseText).errors).join("; ");
              alert(errorString);
          });
     });

    $('#clearProvenance').click( function (e) {
        $('#sortable-history').find('.provenance').remove();
        $('.placeholder').show();
    });

    $(function() {
        $( "#sortable-history" ).sortable({
          revert: true,
          //axis: 'y',
          stop: function(event, ui) {
            $('.placeholder').hide();
            $('#sortable-history > .provenance').each( function (p) {
                thing = p;
                $(this).find('.order_field').val($('.provenance').index($(this)));
                $(this).find('.provenance_remove').show();
                $('.provenance_remove').click( function (e) {
                    var p = $(this).closest('.provenance');
                    $("#sortable-history").find(p).remove();
                    if ($("#sortable-history").find(".provenance").length <= 0) {
                        $('.placeholder').show();
                    }
                });
            });
          }
        });
        $( ".provenance" ).draggable({
          connectToSortable: "#sortable-history",
          helper: "clone",
          //axis: 'y',
          revert: "invalid",
          start : function(event, ui) {
            ui.helper.width($(this).width());
          },
          zIndex: 1000
          //containment: "#provenanceContainer"
        });
        $( "ul, li" ).disableSelection();
    });

    $("#collapse-all").click( function () {
        $(this).toggleClass("glyphicon-chevron-down");
        $(this).toggleClass("glyphicon-chevron-left");
    });

    $(".toggle-propose-history").click( function () {
        $('.entries').toggleClass('col-sm-12').toggleClass('col-sm-6');
      $('.proposed').toggleClass('side');
    });
/*
    $('.panel-collapse').on('shown.bs.collapse', function () { $('#collapse-all').removeClass('glyphicon-collapse-down').addClass('glyphicon-collapse-up') });
    $('.panel-collapse').on('hidden.bs.collapse', function () { $('#collapse-all').removeClass('glyphicon-collapse-up').addClass('glyphicon-collapse-down') });*/

    $("#createSource").on("ajax:success", function (e, data, status, xhr) {
        var source_id = data.id;
        $("#source_id").val(source_id);
        $('#proposed-history').collapse('show');
    }).on("ajax:error", function (e, xhr, status, error) { console.log("ERROR!", error); });

    var manuscriptTitle, manuscriptLocation;
    $("#toggle-manuscript-edit").click( function () {
        $('.manuscript-info').removeClass('manuscript-info-show');
        $(this).hide();
        $('.manuscript-info-buttons').show();
        manuscriptTitle = $('input[name="manuscript[title]"]').val();
        manuscriptLocation = $('input[name="manuscript[location]"]').val();
    });

    $('.cancel-manuscript-edit').click( function () {
        $('.manuscript-info-buttons').hide();
        $('.manuscript-info').addClass('manuscript-info-show');
        $("#toggle-manuscript-edit").show();
        $('input[name="manuscript[title]"]').val(manuscriptTitle);
        $('input[name="manuscript[location]"]').val(manuscriptLocation);
    });

 });

</script>
<% end %>
<% end %>

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-7">
                <%= form_for (@manuscript), html: {class: "form-inline"} do |f| %>
                    <% if can? :edit, @manuscript %>
                        <span class="btn btn-success pull-right" id="toggle-manuscript-edit">Edit</span>
                        <span class="manuscript-info-buttons pull-right input-group" style="display: none;">
                            <%= f.submit "Update", class: "form-control" %>
                            <a href="" class="input-group-addon cancel-manuscript-edit">Cancel</a>
                        </span>
                    <% end %>
                    <div class='h1'>
                        <%= @manuscript.public_id %>
                        <br>
                        <span class='small'><strong sdbm-tooltip="manuscript_location">Last Known Location </strong> 
                            <% if can? :edit, @manuscript %>
                                <%= f.text_field :location, class: "form-control manuscript-info manuscript-info-show" %>
                            <% else %>
                                <span class="manuscript-edit-input"><%= @manuscript.location || "Unknown" %></span>
                            <% end %>
                        </span><br>
                        <ul class="small manuscript-titles"><strong sdbm-tooltip='manuscript_title'>Title(s) </strong>
                            <% if can? :edit, @manuscript %>
                                <%= f.text_field :name, class: "form-control manuscript-info manuscript-info-show" %>
                            <% else %>
                                <% if @manuscript.name %>
                                    <span class="manuscript-edit-input"><%= @manuscript.name %></span>
                                <% end %>
                            <% end %>
                            <br>
                            <% @manuscript_titles.each do |title| %>
                                <span class='label label-info label-tag'><%= title %></span>
                            <% end %>
                        </ul>
                    </div>
                    <% end %>
                <% if current_user %>
                    <%= hidden_field_tag "username", current_user.username, id: "username" %> 
                <% end %>
            </div>
            <div class="col-sm-5">
                <div class="panel panel-default text-right">
                    <div class="panel-heading"><span class="h3">Tools</span></div>
                    <div class="panel-body">
                        <ul class="list-inline">
                            <li>
                                <a class='btn btn-sm btn-info' data-ajax-modal="trigger" href="/manuscripts/<%= @manuscript.id %>/citation">Cite</a>
                            </li>
                            <% if can? :link, @manuscript %>
                            <li>
                              <a onclick="addBookmark(<%= @manuscript.id %>, 'Manuscript');" class="btn btn-sm btn-default bookmark-link" in_bookmarks="/manuscripts/<%= @manuscript.id %>"><span class="glyphicon glyphicon-bookmark"></span></a>
                            </li>
                            <li class="manage_entry">
                                <a class='btn btn-sm btn-primary' href="<%= linking_tool_by_manuscript_path(@manuscript.id) %>">Link <%= @manuscript.public_id %></a>
                            </li>
                            <li>
                                <a sdbm-tooltip="manuscript_propose_history" href="#proposed-history" data-toggle="collapse" class="toggle-propose-history btn btn-sm btn-warning">Propose History</a>
                            </li>
                            <% end %>
                        </ul>
                        <p class='text-muted'><!--This manuscript record aggregates entries
                        citing a manuscript that has been mentioned in sources
                        or observations. -->Do not assume that the manuscript is
                        held by the University of Pennsylvania Libraries.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 entries" id="provenanceContainer">
        <div class="well">
            <span class="h3">
                <div class="row">
                    <div class="col-sm-8">
                            Entry Provenance<br>
                            <small>this Manuscript has <%= @manuscript.entries.count %> entries</small>
                    </div>
                    <div class="col-sm-4 text-right">
                        <span id="collapse-all" data-toggle="collapse" data-target=".panel-collapse" class="glyphicon glyphicon-chevron-down"></span>
                    </div>
                </div>
            </span>
        </div>

        <% @manuscript.entries.sort { |a, b| a.source.date.to_s <=> b.source.date.to_s }.each_with_index do |entry, index| %>
        <div class="panel panel-provenance <%= entry.source.source_type_id == 8 ? 'panel-warning' : 'panel-default' %>">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="h4"><a href="<%= url_for entry %>"><%= entry.public_id %></a></span>
                    </div>
                    <div class="col-sm-8" data-toggle="collapse" href="#entry_provenance_<%= index %>">
                        <span class="h4"><%= entry.source_id == 34611 ? "This provenance is based on a personal observation of the SDBM" : entry.source.display_value %></span>
                    </div>
                    <div class="col-sm-1">
                        <a class="glyphicon glyphicon-chevron-down pull-right"></a>
                    </div>
                </div>
            </div>
            <div class="collapse in panel-collapse list-group" id="entry_provenance_<%= index %>">
                    <% if entry.provenance.count <= 0 %>
                        <li class="list-group-item">This entry does not have any recorded provenance</li>
                    <% end %>
                    <% entry.provenance.each do |provenance| %>
                        <li class="list-group-item provenance">
                            <div class="row">
                                <% if provenance.observed_name %>
                                    <%= hidden_field_tag "provenance_attributes[][observed_name]", provenance.observed_name %>
                                <% end %>
                                <%= hidden_field_tag "provenance_attributes[][acquisition_method]", provenance.acquisition_method %>
                                <%= hidden_field_tag "provenance_attributes[][start_date_normalized_start]", provenance.start_date_normalized_start %>
                                <%= hidden_field_tag "provenance_attributes[][end_date_normalized_end]", provenance.end_date_normalized_end %>
                                <%= hidden_field_tag "provenance_attributes[][provenance_agent_id]", provenance.provenance_agent_id %>
                                <%= hidden_field_tag "provenance_attributes[][associated_date]", provenance.associated_date %>
                                <%= hidden_field_tag "provenance_attributes[][start_date]", provenance.start_date %>
                                <%= hidden_field_tag "provenance_attributes[][end_date]", provenance.end_date %>
                                <%= hidden_field_tag "provenance_attributes[][direct_transfer]", provenance.direct_transfer %>
                                <%= hidden_field_tag "provenance_attributes[][comment]", provenance.comment %>
                                <%= hidden_field_tag "provenance_attributes[][order]", 0, class: "order_field" %>
                                <div class="col-sm-1">
                                    <span class="glyphicon glyphicon-remove provenance_remove"></span>
                                    <!--<span class="glyphicon glyphicon-move"></span>--></div>
                                <div class="col-sm-8">
                                    <%= provenance.provenance_agent ? provenance.provenance_agent.name : "No Name Agent" %>
                                    <% if provenance.observed_name && (!provenance.provenance_agent || provenance.provenance_agent.name != provenance.observed_name) %>
                                       <br><span class="small">(as <%= provenance.observed_name %>)</span>
                                    <% end %>
                                </div>
                                <div class="col-sm-3">
                                    <% if provenance.start_date.present? || provenance.end_date.present? %>
                                        <%= format_fuzzy_date(provenance.start_date) %>
                                        <% if provenance.start_date.present? && provenance.end_date.present? %><br/>to<br/><% end %>
                                        <%= format_fuzzy_date(provenance.end_date) %>
                                    <% else %>
                                        (No date)
                                    <% end %>
                                </div>
                            </div>
                        </li>
                    <% end %>
            </div>
        </div>
        <% end %>
    </div>

    <!-- Provenance history 'worksheet' -->

    <!-- FIX ME: fixed scrolling disables correct width, can scroll 'under' comments section, transition a little weird -->

    <div class="col-sm-6 proposed side">
        <%= form_tag({:controller => "entries", :format => "html", :action => "compose"}, :method => "post", :class => "form-inline") do %>
        <%= hidden_field_tag "transaction_type", "no_transaction" %>
        <%= hidden_field_tag "manuscript_id", @manuscript.id %>
        <div class="collapse panel panel-default panel-provenance" id="proposed-history">
            <div class="panel-heading">
                <div class="h4">
                    Proposed History
                    <span class="pull-right toggle-propose-history" href="#proposed-history" data-toggle="collapse">
                        <span class="glyphicon glyphicon-remove"></span>
                    </span>
                </div>
            </div>
            <ul class="list-group" id="sortable-history">
                <li class="list-group-item placeholder">Drag provenance here to begin creating provenance list</li>
            </ul>
            <div class="panel-footer">
                <%= submit_tag "Create", class: 'form-control btn-info', data: {confirm: "Are you sure you would like to create a new Observation?"} %>
                <a id="clearProvenance" class="btn btn-default">Clear</a>
            </div>
        </div>
        <% end %>
    </div>

    <div class="col-sm-12">

        <h4>Share additional information about this manuscript in the box below. Your comments will be displayed publicly.</h4>

        <p>If you have significant knowledge of this manuscript, please create a Personal Observation entry (link to create new source page?) instead of leaving a comment. Use this option when you wish to contribute data on multiple aspects of this manuscript. Once you create your Personal Observation, you can link it to this Manuscript Record, where your data will be included in the composite information displayed on this page. This option is especially useful if you have information regarding provenance agents. Once you link your Personal Observation to the Manuscript Record, you can add the provenance agents from your entry into the Proposed History.</p>

        <% if (comments = @manuscript.comments.where(public: true)).present? %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-12" colspan="2"><b>Comments</b></th>
                </tr>
            </thead>
            <tbody>
                <% comments.each do |comment| %>
                <tr>
                    <td class="col-sm-2 text-right record-label">
                        By <%= render partial: "shared/username_with_profile_link", locals: { user: comment.created_by } %><br/>
                        At <%= comment.created_at.to_formatted_s(:date_and_time) %>
                    </td>
                    <td class="col-sm-10">
                        <%= comment.comment||"(none)" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <% end %>

        <% if user_signed_in? %>
        <% comment = Comment.new %>
        <% manuscript_comment = comment.manuscript_comments.build %>
        <% manuscript_comment.manuscript_id = @manuscript.id %>
        <%= form_for(comment, format: :json) do |f| %>
        <input type="hidden" name="return_url" value="<%= manuscript_path @manuscript %>"/>
        <%= f.fields_for :manuscript_comments do |manuscript_comment| %>
            <%= manuscript_comment.hidden_field :manuscript_id %>
        <% end %>
        <div class="row">
            <div class="col-sm-12 form-group">
                <h4>Leave a comment</h4>
                <%= f.text_area :comment, class: "form-control", rows: 5 %>
            </div>
<!--            <div class="col-sm-12 checkbox">
                <label>
                    <%= f.check_box :is_correction %> I am leaving a comment that notes a correction to this record
                </label>
            </div>-->
            <div class="col-sm-12 text-right">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
        <% end %>
        <% end %>

        <div class="spacer-40px"></div>

    </div>
</div>