<% content_for :head do %>
<%= stylesheet_link_tag "extras", media: "all" %>
<style>    
    .proposed {
        width: 50%;
        transition: width 1s;
    }
    .side {
        width: 0%;
    }
    .mss-workspace .inner-container {
        position: relative;
    }
    .mss-entries .inner-container {
        max-height: calc(100vh - 20px);
        padding-right: 20px;
        overflow: auto;
    }
    #proposed-history li.list-group-item {
        width: calc(100% - 20px) !important;
        margin: 10px;
    }
    .ui-draggable {
        /*z-index: 1000;*/
    }
</style>
<% if user_signed_in? %>
<script type="text/javascript">
    //var thing;

 $(document).ready(function() {

    $('#clearProvenance').click( function (e) {
        $('#sortable-history').find('.provenance').remove();
        $('.placeholder').show();
    });

    $(function() {
        $( "#sortable-history" ).sortable({
          //revert: true,
          //axis: 'y',
          stop: function(event, ui) {
            $('.placeholder').hide();
            $('#sortable-history > .provenance').each( function (p) {
                //thing = p;
                $(this).find('.order_field').val($('.provenance').index($(this)));
                $(this).find('.provenance_remove').show();
                $('.provenance_remove').click( function (e) {
                    var p = $(this).closest('.provenance');
                    $("#sortable-history").find(p).remove();
                    if ($("#sortable-history").find(".provenance").length <= 0) {
                        $('.placeholder').show();
                    }
                });
            });
          }
        });
        $( ".provenance" ).draggable({
          connectToSortable: "#sortable-history",
          helper: "clone",
          //axis: 'y',
          //revert: "invalid",
          //start : function(event, ui) {
            //ui.helper.width($(this).width());
          //},
          //containment: "#provenanceContainer"
        });
        $( "ul, li" ).disableSelection();
    });

    $(".toggle-propose-history").click( function () {
        $('.entries').toggleClass('col-sm-12').toggleClass('col-sm-6');
        $('.proposed').toggleClass('side');
    });

    $("#createSource").on("ajax:success", function (e, data, status, xhr) {
        var source_id = data.id;
        $("#source_id").val(source_id);
        $('#proposed-history').collapse('show');
    }).on("ajax:error", function (e, xhr, status, error) { console.log("ERROR!", error); });

 });

</script>
<% end %>
<% end %>

<% content_for :breadcrumbs do %>
    <%= render partial: "breadcrumbs" %>
<% end %>

<% content_for :control_tools do %>
    <%= render partial: "tools" %>
<% end %>

<% content_for :add_entry do %>
    <li>
        <%= link_to(new_source_path({create_entry: 1, manuscript_id: @manuscript.id, source_type: 4})) do %>
            <span class="glyphicon glyphicon-plus"></span> Create Linked Personal Observation
        <% end %>
    </li>
    <li class="divider"></li>
<% end %>

<div class="row">
    
    <div class="sdbmss-form <%= @manuscript.location ? 'col-sm-7' : 'col-sm-12' %>">
        <legend class="mobile-center">
            <span><%= @manuscript.public_id %></span>
        </legend>
    </div>
    <div class="col-sm-12">
        <%= render partial: "pages/partial", locals: {page_name: "Manuscript Instructions"} %>
        <p>
            <a class="btn btn-default btn-xs" data-ajax-modal="trigger" rel="nofollow" href="/manuscripts/<%= @manuscript.id %>/citation">Cite</a>
        </p>
    </div>
    <% if @manuscript.location %>
    <div class='col-sm-5'> 
            <div class="panel panel-default">
                <div class="panel-body text-muted">
                    <span class='h3'>Last Known Location </span><br>
                    <p>This field existed in a previous version of the SDBM, but our new data model does not support it. When more recent data is available you will see a Most Recently Observed Location below.</p>
                    <p class='text-center'><b><%= @manuscript.location %></b></p>
                    <p>Can you verify this information? <%= link_to "Create A Personal Observation", new_source_path({create_entry: 1, manuscript_id: @manuscript.id, source_type: 4}) %></p>
                </div>
            </div>
    </div>
    <% end %>
    <div class="col-sm-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="h4">Associated Title(s)</span>
            </div>
            <div class="panel-body" style="height: 190px; overflow-y: scroll;">
                <ul class="list-unstyled">
                <% @manuscript_titles.each do |title| %>
                    <li class='associated_title' title="<%= title %>"><%= title %></li>
                <% end %>
                </ul>                
            </div>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="panel panel-success">
            <div class="panel-heading">
                <span class="h4">Most Recently Observed Location</span>
            </div>
            <div class="panel-body" style="height: 190px; overflow-y: scroll">
                <dl class="document-metadata">
                    <% if @location %>
                        <dt class='text-success'>Entry</dt>
                        <dd>
                            <%= link_to @location.public_id, entry_path(@location) %><br>
                        </dd>
                    <% end %>
                    <% if @location_source %>
                        <dt class='text-success'>Source</dt>
                        <dd>
                            <%= link_to @location_source, source_path(@location_source) %><br>
                        </dd>
                    <% end %>
                    <% if @location_name %>
                        <dt class='text-success'>Location</dt>
                        <dd><%= link_to @location_name, name_path(@location_name) %></dd>
                    <% end %>
                    <% if not @location %>
                        No entry containing verifiable location information exists.
                    <% end %>
                </dl>
            </div>
        </div>
    </div>
    <div class="col-sm-12 text-center" style="margin-bottom: 20px;">
        Do you have more recent information?
         <%= link_to "Create A Personal Observation", new_source_path({create_entry: 1, manuscript_id: @manuscript.id, source_type: 4}) %>
    </div>
</div>

<div class="row" id="provenance_list">
    <div class="col-sm-12">
        <table class="table">
            <tbody>
                <tr>
                    <td class="mss-entries">
                        <div class="inner-container">                            
                            <div class="row" data-toggle="collapse" data-target=".panel-collapse">
                                <div class="col-sm-12 mobile-center">
                                    <h3>Associated Entries With Provenance Data
                                        <span class="caret" style="font-size: 24px;"></span>
                                    <small>(this Manuscript Record has <%= @manuscript.entries.count %> <%= "entry".pluralize(@manuscript.entries.count) %>)</small>
                                    </h3>
                                </div>
                            </div>
                            <br>                        
                            <% @entries.each_with_index do |entry, index| %>
                            <div class="panel panel-provenance <%= entry.source.source_type_id == 8 ? 'panel-warning' : 'panel-default' %>">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <span class="h4">
                                                <a href="<%= url_for entry %>" title="<%= entry.public_id %>"><%= entry.public_id %></a>
                                            </span><br>
                                            <span class="h5"><%= entry.source_id == 34611 ? "This provenance is based on a personal observation of the SDBM" : entry.source.display_value %></span>
                                            <% if (type = entry.entry_manuscripts.where(manuscript_id: @manuscript.id).last.relation_type) != "is" %>
                                            <div class="text-muted">
                                                (<%= type %>)
                                            </div>
                                            <% end %>
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            <p>Is this link correct? <%= render partial: "ratings/rate", locals: {ratable: @manuscript.entry_manuscripts.where(entry: entry).first } %></p>
                                            <div><%= render partial: "ratings/rated", locals: {ratable: @manuscript.entry_manuscripts.where(entry: entry).first } %></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="collapse in panel-collapse list-group" id="entry_provenance_<%= index %>">
                                    <ul class="list-group">                            
                                        <% if entry.provenance.count <= 0 %>
                                            <li class="list-group-item">This entry does not have any recorded provenance</li>
                                        <% end %>
                                        <% entry.provenance.order(:order).each do |provenance| %>
                                            <li class="list-group-item provenance">
                                                <div class="row">
                                                    <% if provenance.observed_name %>
                                                        <%= hidden_field_tag "provenance_attributes[][observed_name]", provenance.observed_name %>
                                                    <% end %>
                                                    <%= hidden_field_tag "provenance_attributes[][acquisition_method]", provenance.acquisition_method %>
                                                    <%= hidden_field_tag "provenance_attributes[][start_date_normalized_start]", provenance.start_date_normalized_start %>
                                                    <%= hidden_field_tag "provenance_attributes[][end_date_normalized_end]", provenance.end_date_normalized_end %>
                                                    <%= hidden_field_tag "provenance_attributes[][provenance_agent_id]", provenance.provenance_agent_id %>
                                                    <%= hidden_field_tag "provenance_attributes[][associated_date]", provenance.associated_date %>
                                                    <%= hidden_field_tag "provenance_attributes[][start_date]", provenance.start_date %>
                                                    <%= hidden_field_tag "provenance_attributes[][end_date]", provenance.end_date %>
                                                    <%= hidden_field_tag "provenance_attributes[][direct_transfer]", provenance.direct_transfer %>
                                                    <%= hidden_field_tag "provenance_attributes[][comment]", provenance.comment %>
                                                    <%= hidden_field_tag "provenance_attributes[][order]", 0, class: "order_field" %>
                                                    <div class="col-xs-9">
                                                        <%= provenance.provenance_agent ? provenance.provenance_agent.name : "No Name Agent" %>
                                                        <% if provenance.observed_name && (!provenance.provenance_agent || provenance.provenance_agent.name != provenance.observed_name) %>
                                                           <br><span class="small">(as <%= provenance.observed_name %>)</span>
                                                        <% end %>
                                                    </div>
                                                    <div class="col-xs-3 text-right">
                                                        <% if provenance.start_date.present? || provenance.end_date.present? %>
                                                            <%= format_fuzzy_date(provenance.start_date) %>
                                                            <% if provenance.start_date.present? && provenance.end_date.present? %><br/>to<br/><% end %>
                                                            <%= format_fuzzy_date(provenance.end_date) %>
                                                        <%# FIX ME: redundant code from entries/_show.html.erb %>
                                                        <% elsif provenance.associated_date.present? %>
                                                            <%= provenance.associated_date.split("\t").join(", ") %>
                                                        <% else %>
                                                            (No date entered)
                                                        <% end %>
                                                    </div>
                                                    <span class="glyphicon glyphicon-remove provenance_remove"></span>
                                                </div>
                                            </li>
                                        <% end %>
                                    </ul>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </td>
                    <td class="mss-workspace proposed side">
                        <div class="inner-container">
                            <%= form_tag({:controller => "entries", :format => "html", :action => "compose"}, :method => "post", :class => "form-inline") do %>
                            <%= hidden_field_tag "transaction_type", "no_transaction" %>
                            <%= hidden_field_tag "manuscript_id", @manuscript.id %>
                            <div class="collapse panel panel-warning panel-provenance" id="proposed-history">
                                <div class="panel-heading mobile-center">
                                    <span class="h4">
                                        <a href="" style='color: #222;'>
                                          <span class="glyphicon glyphicon-header"></span>
                                          Construct History<span sdbm-tooltip="manuscript_propose_history"></span>
                                        </a>
                                        <span class="pull-right toggle-propose-history" href="#proposed-history" data-toggle="collapse">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </span>
                                    </span>
                                </div>
                                <ul class="list-group" id="sortable-history">
                                    <li class="list-group-item placeholder">Drag provenance here to begin creating provenance list</li>
                                </ul>
                                <div class="panel-footer text-center">
                                    <div class="input-group">
                                        <%= submit_tag "Create", class: 'form-control btn-info', data: {confirm: "Are you sure you would like to create a new Observation?"} %>
                                        <span class="input-group-btn">
                                            <a id="clearProvenance" class="btn btn-default">Clear</a>                    
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-sm-12">
        <h4>Do you have more data about this Manuscript Record?  <%= link_to "Create A Personal Observation", new_source_path({create_entry: 1, manuscript_id: @manuscript.id, source_type: 4}) %> to record your information.
            <br><small>Once you create your <strong>Personal Observation</strong>, your data will be included in the links displayed above.</small>
        </h4>
    </div>

    <div class="col-sm-12">
        <%= render partial: "comments/show_all", locals: {comments: @manuscript.comments.where(public: true), record: @manuscript} %>
    </div>

</div>