<div class="row">
    <div class="col-sm-3">
        <div class="panel panel-default show-tools">
            <div class="panel-heading">
                Tools
            </div>
            <div class="panel-body">
                <ul class="nav">
                    <% if user_signed_in? %>
                    <li class="edit_entry">
                        <a href="<%= edit_manuscript_path(@manuscript.id) %>">Edit this manuscript</a>
                    </li>

                    <li class="manage_entry">
                        <a href="<%= linking_tool_by_manuscript_path(@manuscript.id) %>">Linking tool for <%= @manuscript.public_id %></a>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        
        <div class="row">
            <div class="col-sm-12">
                <h2><%= @manuscript.public_id %></h2>
            </div>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-12" colspan="2">Manuscript Details</th>
                </tr>
            </thead>
            <tbody>

                <% if @manuscript.name.present? %>
                <tr>
                    <td class="col-sm-2 text-right record-label">Name</td>
                    <td class="col-sm-10">
                        <%= @manuscript.name %>
                    </td>
                </tr>
                <% end %>

                <% if @manuscript.location.present? %>
                <tr>
                    <td class="col-sm-2 text-right record-label">Last Known Location</td>
                    <td class="col-sm-10">
                        <%= @manuscript.location %>
                    </td>
                </tr>
                <% end %>

                <tr>
                    <td class="col-sm-2 text-right record-label"># Entries</td>
                    <td class="col-sm-10">
                        This manuscript has <a href="<%= search_advanced_url('manuscript' => @manuscript.public_id) %>"><%= @manuscript.entries.count %> entries</a> in the database.
                        <br/>
                        <% @manuscript.entries.each do |entry| %>
                            <a href="<%= url_for entry %>"><%= entry.public_id %></a>: <%= entry.display_value %><br/>
                        <% end %>
                    </td>
                </tr>

            </tbody>
        </table>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-12" colspan="2"><b>Composite provenance</b></th>
                </tr>
            </thead>
            <tbody>

                <% @manuscript.all_provenance.each do |provenance| %>
                <tr>
                    <td class="col-sm-2 text-right record-label"><%= format_fuzzy_date(provenance.start_date)||"(no date)" %></td>
                    <td class="col-sm-10">
                        <a href="<%= url_for provenance.entry %>"><%= provenance.entry.public_id %></a>:
                        <%= render partial: "shared/event", object: provenance  %>
                    </td>
                </tr>
                <% end %>

            </tbody>
        </table>

        <% if (comments = @manuscript.comments.where(public: true)).present? %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-12" colspan="2"><b>Comments</b></th>
                </tr>
            </thead>
            <tbody>
                <% comments.each do |comment| %>
                <tr>
                    <td class="col-sm-2 text-right record-label">
                        By <%= render partial: "shared/username_with_profile_link", locals: { user: comment.created_by } %><br/>
                        At <%= comment.created_at.to_formatted_s(:date_and_time) %>
                    </td>
                    <td class="col-sm-10">
                        <%= comment.comment||"(none)" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>
        <% end %>

        <% if user_signed_in? %>
        <%= form_for @manuscript_comment do |f| %>
        <%= f.hidden_field :manuscript_id %>
        <%= f.fields_for :comment do |comment_form| %>
        <input type="hidden" name="return_url" value="<%= manuscript_path @manuscript %>"/>
        <div class="row">
            <div class="col-sm-12 form-group">
                <h4>Leave a comment</h4>
                <%= comment_form.text_area :comment, class: "form-control", rows: 5 %>
            </div>
            <div class="col-sm-12 checkbox">
                <label>
                    <%= comment_form.check_box :is_correction %> I am leaving a comment that notes a correction to this record
                </label>
            </div>
            <div class="col-sm-12 text-right">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
        <% end %>
        <% end %>
        <% end %>

    </div>

</div>
