<% content_for :head do %>
<%= stylesheet_link_tag "extras", media: "all" %>
<style>
    .side {
      width: 0%;
    }
    .entries, .proposed {
      transition: width 0.7s;
    }
    .proposal {
      overflow: hidden;
    }
    
    #proposed-history.affix {
      position: fixed !important;
      top: 10px;
    }

    #proposed-history.affix-bottom, #proposed-history.affix-top {
        position: absolute;
    }
</style>
<% if user_signed_in? %>
<script type="text/javascript">
    var thing;

 $(document).ready(function() {

     $("#new_comment").submit(function(event) {
         event.preventDefault();
         $.post($("#new_comment").attr("action"), $("#new_comment").serialize(), function() {
             window.location = "/manuscripts/" + <%= @manuscript.id %>;
         })
          .fail(function (jqXHR, textStatus, errorThrown) {
              var errorString = SDBM.parseRailsErrors($.parseJSON(jqXHR.responseText).errors).join("; ");
              alert(errorString);
          });
     });

    $('#clearProvenance').click( function (e) {
        $('#sortable-history').find('.provenance').remove();
        $('.placeholder').show();
    });

    $(function() {
        $( "#sortable-history" ).sortable({
          revert: true,
          //axis: 'y',
          stop: function(event, ui) {
            $('.placeholder').hide();
            $('#sortable-history > .provenance').each( function (p) {
                thing = p;
                $(this).find('.order_field').val($('.provenance').index($(this)));
                $(this).find('.provenance_remove').show();
                $('.provenance_remove').click( function (e) {
                    var p = $(this).closest('.provenance');
                    $("#sortable-history").find(p).remove();
                    if ($("#sortable-history").find(".provenance").length <= 0) {
                        $('.placeholder').show();
                    }
                });
            });
          }
        });
        $( ".provenance" ).draggable({
          connectToSortable: "#sortable-history",
          helper: "clone",
          //axis: 'y',
          revert: "invalid",
          start : function(event, ui) {
            ui.helper.width($(this).width());
          },
          zIndex: 1000
          //containment: "#provenanceContainer"
        });
        $( "ul, li" ).disableSelection();
    });

    $("#collapse-all").click( function () {
        $(this).toggleClass("glyphicon-chevron-down");
        $(this).toggleClass("glyphicon-chevron-left");
    });

    $(".toggle-propose-history").click( function () {
        $('.entries').toggleClass('col-sm-12').toggleClass('col-sm-6');
      $('.proposed').toggleClass('side');
    });
/*
    $('.panel-collapse').on('shown.bs.collapse', function () { $('#collapse-all').removeClass('glyphicon-collapse-down').addClass('glyphicon-collapse-up') });
    $('.panel-collapse').on('hidden.bs.collapse', function () { $('#collapse-all').removeClass('glyphicon-collapse-up').addClass('glyphicon-collapse-down') });*/

    $("#createSource").on("ajax:success", function (e, data, status, xhr) {
        var source_id = data.id;
        $("#source_id").val(source_id);
        $('#proposed-history').collapse('show');
    }).on("ajax:error", function (e, xhr, status, error) { console.log("ERROR!", error); });

    var manuscriptTitle, manuscriptLocation;
    $("#begin-manuscript-edit").click( function () {
        $('#edit-manuscript').show();//removeClass('hide');
        $('.manuscript-details').hide();//addClass('hide');
    });

    $('#cancel-manuscript-edit').click( function () {
        $('#edit-manuscript').hide();//addClass('hide');
        $('.manuscript-details').show();//removeClass('hide');
    });

 });

</script>
<% end %>
<% end %>

<div class="row">
    
    <div class="col-sm-7 sdbmss-form">

        <legend>
            <span><%= @manuscript.public_id %></span>
        </legend>
        <p>This <b>Manuscript Record</b> is a linking node that collects entries referring to the same physical manuscript for easy access and study.  You can use this space to determine current location and provenance, to create your own <b>Personal Observation</b> about this manuscript, or to leave a comment about this manuscript.  You can also construct your own provenance history based on prior entries by clicking the <b>Construct History</b> button in the <b>Tools</b> menu.</p>
        <p>If you believe links have been made in error, contact us or simply leave a comment below.</p>
    </div>
    <div class='col-sm-5'> 
        <div class="panel panel-default">
            <div class="panel-heading"><span class="h3">Suggested Manuscript Details</span></div>
            <div class="panel-body">
                <div class="row manuscript-details" id="confirmed-manuscript" >
                    <div class="col-xs-4 text-right">
                        <strong>Common Name</strong><br>
                        <strong>URL</strong>
                    </div>
                     <div class="col-xs-6" style='overflow: hidden; text-overflow: ellipsis'>
                        <% if @manuscript.name %>
                            <a class='manuscript-url' href="<%= @manuscript.url %>" target="_blank"><%= @manuscript.name %></a>
                        <% else %>
                            <span class='manuscript-url' >No common title saved.</span>
                        <% end %>
                        <br>
                        <% if @manuscript.url %>
                            <a class='manuscript-url' href="<%= @manuscript.url %>" target="_blank"><%= @manuscript.url %></a>
                        <% else %>
                            <span class='manuscript-url'>No link saved.</span>
                        <% end %>
                    </div>
                    <div class="col-xs-2 text-right">
                        <% if can? :manage, @manuscript %>
                            <a href="" id="begin-manuscript-edit" class='manuscript-url btn btn-default'>Edit</a>
                        <% end %>
                    </div>
                </div>
                <div class="row form-inline" id="edit-manuscript" style="display: none;">
                    <div class="col-sm-12">
                    <% if can? :manage, @manuscript %>
                        <%= form_for @manuscript do |f| %>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-sm-4 text-right">
                                <%= f.label :common_title, class: "control-label" %>
                            </div>
                            <div class="col-sm-8">
                                <%= f.text_field :name, class: "form-control", placeholder: "Common title..." %>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 5px;">
                            <div class="col-sm-4 text-right">
                                <%= f.label :url, class: "control-label" %>
                            </div>
                            <div class="col-sm-8">
                                <%= f.text_field :url, class: "form-control", placeholder: "Enter url..." %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <%= f.submit "OK", class: "form-control btn btn-success" %>
                                <button type="button" id="cancel-manuscript-edit" class="form-control">Cancel</button>
                            </div>
                        </div>
                        <% end %>
                    <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="panel panel-default">
            <div class="panel-heading split-heading">
                <div class="row">
                    <div class="col-sm-7 full-column"><span class="h4">Associated Title(s)</span></div>
                    <div class="col-sm-5 full-column bg-success text-success"><span class="h4">Most Recently Observed Location</span></div>
                </div>
            </div>
            <div class="panel-body" style="height: 190px;">
                <div class="row" style="height: 100%">
                    <div class="col-sm-7" style="height: 100%; overflow-y: scroll;">
                        <ul class="list-unstyled">
                        <% @manuscript_titles.each do |title| %>
                            <li class='associated_title' title="<%= title %>"><%= title %></li>
                        <% end %>
                        </ul>
                    </div>
                    <div class="col-sm-5 dl-inline">
                        <dl class="document-metadata dl-horizontal">
                            <% if @location %>
                                <dt class='text-success'>Entry</dt>
                                <dd>
                                    <%= link_to @location.public_id, entry_path(@location) %><br>
                                </dd>
                                <dt class='text-success'>Source</dt>
                                <dd>
                                    <%= link_to @location_source, source_path(@location_source) %><br>
                                </dd>
                                <dt class='text-success'>Location</dt>
                                <dd><%= link_to @location_name, name_path(@location_name) %></dd>
                            <% else %>
                                No entry containing verifiable location information exists.
                            <% end %>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-12 text-right">
                        Do you have more recent information?
                         <%= link_to "Create A Personal Observation", new_source_path({create_entry: 1, manuscript_id: @manuscript.id, source_type: 4}) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-default show-tools">
            <div class="panel-heading"><span class="h4">Tools</span></div>
            <div class="panel-body" style="height: 210px;">
                <ul class='nav'>
                    <li>
                        <a data-ajax-modal="trigger" href="/manuscripts/<%= @manuscript.id %>/citation">Cite</a>
                    </li>
                    <% if can? :link, @manuscript %>
                    <li class="manage_entry">
                        <a href="<%= linking_tool_by_manuscript_path(@manuscript.id) %>">Linking Tool for <%= @manuscript.public_id %></a>
                    </li>
                    <li>
                        <a href="#proposed-history" class='toggle-propose-history' data-toggle="collapse">Construct History<span sdbm-tooltip="manuscript_propose_history"></span></a>
                    </li>
                    <li>
                        <a href="" onclick="addBookmark(<%= @manuscript.id %>, 'Manuscript');" in_bookmarks="/manuscripts/<%= @manuscript.id %>"><span class="glyphicon glyphicon-bookmark"></span> Bookmark</a>
                      </li>  
                    <% end %>
                </ul>
            </div>
            <!--<div class="panel-footer text-right">
                <p class="text-muted">Do not assume this manuscript is held by the University of Pennsylvania Libraries</p>            
            </div>-->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 entries" id="provenanceContainer">
        <div class="h3">
            <div class="row" data-toggle="collapse" data-target=".panel-collapse">
                <div class="col-sm-8">
                    Associated Entries With Provenance Data    
                    <small>(this Manuscript Record has <%= @manuscript.entries.count %> entries)</small>
                </div>
                <div class="col-sm-4 text-right">
                    <span id="collapse-all" class="glyphicon glyphicon-chevron-down"></span>
                </div>
            </div>
        </div>
        <br>
    
        <% @entries.each_with_index do |entry, index| %>
        <div class="panel panel-provenance <%= entry.source.source_type_id == 8 ? 'panel-warning' : 'panel-default' %>">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="h4"><a href="<%= url_for entry %>"><%= entry.public_id %></a></span>
                    </div>
                    <div class="col-sm-9" data-toggle="collapse" href="#entry_provenance_<%= index %>">
                        <span class="h4"><%= entry.source_id == 34611 ? "This provenance is based on a personal observation of the SDBM" : entry.source.display_value %></span>
                        <a class="glyphicon glyphicon-chevron-down pull-right" data-toggle="collapse" href="#entry_provenance_<%= index %>"></a>
                    </div>
                </div>
            </div>
            <div class="collapse in panel-collapse list-group" id="entry_provenance_<%= index %>">
                    <% if entry.provenance.count <= 0 %>
                        <li class="list-group-item">This entry does not have any recorded provenance</li>
                    <% end %>
                    <% entry.provenance.order(:order).each do |provenance| %>
                        <li class="list-group-item provenance">
                            <div class="row">
                                <% if provenance.observed_name %>
                                    <%= hidden_field_tag "provenance_attributes[][observed_name]", provenance.observed_name %>
                                <% end %>
                                <%= hidden_field_tag "provenance_attributes[][acquisition_method]", provenance.acquisition_method %>
                                <%= hidden_field_tag "provenance_attributes[][start_date_normalized_start]", provenance.start_date_normalized_start %>
                                <%= hidden_field_tag "provenance_attributes[][end_date_normalized_end]", provenance.end_date_normalized_end %>
                                <%= hidden_field_tag "provenance_attributes[][provenance_agent_id]", provenance.provenance_agent_id %>
                                <%= hidden_field_tag "provenance_attributes[][associated_date]", provenance.associated_date %>
                                <%= hidden_field_tag "provenance_attributes[][start_date]", provenance.start_date %>
                                <%= hidden_field_tag "provenance_attributes[][end_date]", provenance.end_date %>
                                <%= hidden_field_tag "provenance_attributes[][direct_transfer]", provenance.direct_transfer %>
                                <%= hidden_field_tag "provenance_attributes[][comment]", provenance.comment %>
                                <%= hidden_field_tag "provenance_attributes[][order]", 0, class: "order_field" %>
                                <div class="col-sm-8">
                                    <%= provenance.provenance_agent ? provenance.provenance_agent.name : "No Name Agent" %>
                                    <% if provenance.observed_name && (!provenance.provenance_agent || provenance.provenance_agent.name != provenance.observed_name) %>
                                       <br><span class="small">(as <%= provenance.observed_name %>)</span>
                                    <% end %>
                                </div>
                                <div class="col-sm-3">
                                    <% if provenance.start_date.present? || provenance.end_date.present? %>
                                        <%= format_fuzzy_date(provenance.start_date) %>
                                        <% if provenance.start_date.present? && provenance.end_date.present? %><br/>to<br/><% end %>
                                        <%= format_fuzzy_date(provenance.end_date) %>
                                    <% else %>
                                        (No date)
                                    <% end %>
                                </div>
                                <div class="col-sm-1 text-right">
                                    <span class="glyphicon glyphicon-remove provenance_remove"></span>
                                </div>
                            </div>
                        </li>
                    <% end %>
            </div>
        </div>
        <% end %>
    </div>

    <!-- Provenance history 'worksheet' -->

    <!-- FIX ME: fixed scrolling disables correct width, can scroll 'under' comments section, transition a little weird -->

    <div class="col-sm-6 proposed side">
        <%= form_tag({:controller => "entries", :format => "html", :action => "compose"}, :method => "post", :class => "form-inline") do %>
        <%= hidden_field_tag "transaction_type", "no_transaction" %>
        <%= hidden_field_tag "manuscript_id", @manuscript.id %>
        <div class="collapse panel panel-warning panel-provenance" id="proposed-history" data-spy="affix" data-offset-top="490" data-offset-bottom="400">
            <div class="panel-heading">
                <div class="h4">
                    Construct History Workspace
                    <span class="pull-right toggle-propose-history" href="#proposed-history" data-toggle="collapse">
                        <span class="glyphicon glyphicon-minus"></span>
                    </span>
                </div>
            </div>
            <ul class="list-group" id="sortable-history">
                <li class="list-group-item placeholder">Drag provenance here to begin creating provenance list</li>
            </ul>
            <div class="panel-footer">
                <%= submit_tag "Create", class: 'form-control btn-info', data: {confirm: "Are you sure you would like to create a new Observation?"} %>
                <a id="clearProvenance" class="btn btn-default">Clear</a>
            </div>
        </div>
        <% end %>
    </div>

    <div class="col-sm-12">

        <h4>Do you have more data about this Manuscript Record?  <%= link_to "Create A Personal Observation", new_source_path({create_entry: 1, manuscript_id: @manuscript.id, source_type: 4}) %> to record your information.
            <br><small>Use this option when you wish to contribute data on <strong>multiple aspects</strong> of this manuscript.  Once you create your <strong>Personal Observation</strong>, your data will be included in the links displayed above.</small>
        </h4>

        <% if (comments = @manuscript.comments.where(public: true)).present? %>
            <%= render partial: "comments/show_all", locals: {comments: comments} %>
        <!--
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="col-sm-12" colspan="2"><b>Comments</b></th>
                </tr>
            </thead>
            <tbody>
                <% comments.each do |comment| %>
                <tr>
                    <td class="col-sm-2 text-right record-label">
                        By <%= render partial: "shared/username_with_profile_link", locals: { user: comment.created_by } %><br/>
                        At <%= comment.created_at.to_formatted_s(:date_and_time) %>
                    </td>
                    <td class="col-sm-10">
                        <%= comment.comment||"(none)" %>
                    </td>
                </tr>
                <% end %>
            </tbody>
        </table>-->
        <% end %>

         <% if user_signed_in? %>
            <%= render partial: "comments/form", locals: { record: @manuscript } %>
        <% end %>

        <div class="spacer-40px"></div>

    </div>
</div>