<% content_for :head do %>
<style>
  .nav .pagination a {
    padding: 4px 12px;
  }
</style>
<% end %>
<div class="row">
  <div class="col-sm-12">

    <h3 class="text-center h3">Private Messages</h3>

    <div class="nav nav-tabs">
      <li class="<%= title == 'INBOX' ? 'active' : '' %>">
        <%= link_to(private_messages_path, class: "") do |l| %>
          INBOX <span class="glyphicon glyphicon-inbox"></span>
        <% end %>
      </li>
      <li class="<%= title == 'SENT' ? 'active' : '' %>">
        <%= link_to(private_messages_path(sent_by: true), class: "") do |l| %>
          SENT <span class="glyphicon glyphicon-send"></span>
        <% end %>
      </li>
      <% if @chain %>
      <li class='active'>
        <a href=""><%= @chain.messages.first.title %>(...)</a>
      </li>
      <% end %>
      
      <li class="<%= title == 'NEW' ? 'active' : '' %>">
        <%= link_to(new_private_message_path, class: "") do |l| %>
          <span class="glyphicon glyphicon-envelope"></span> NEW
        <% end %>
      </li>
      <% if defined?(@chains) %>
        <ul class="pagination navbar-right">
          <% (@total.to_f / @per_page).ceil.times do |p| %>
            <li class="<%= @page == p ? 'active' : '' %>">
              <% if @sent_by %>
                <%= link_to (p + 1), private_messages_path(page: p, sent_by: true) %>
              <% else %>
                <%= link_to (p + 1), private_messages_path(page: p) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>    
    </div>
  </div>
</div>

<!--
<div class="row">
  <div class="col-sm-12">
    <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
    </ul>
    </nav>
  </div>
</div>-->