<% content_for :head do %>
<%= stylesheet_link_tag "extras", media: "all" %>
<%= javascript_include_tag "extras" %>

<style>
    #main-container.container-fluid .row { padding-left: 15px; padding-right: 15px; }

    #search_results th, td { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
    #search_results td { padding-top: 4px; padding-bottom: 4px; }
    #search_results { font-size: 12px; }
    #search_results tbody tr.selected { background-color: #b0bed9; }
</style>
<script>

$(document).ready(function() {

    // TODO: hack to remove search nav; figure out a more elegant way
    $("#search-navbar").remove();

    $("input[name='search_value']").val("");

    var table_height_buffer = 360;
    
    var getViewportHeight = function() {
        return $(window).height();
    };

    var datatable_params_to_blacklight_params = function (dt_params) {
        //console.log(dt_params);

        // TODO: Blacklight might only support ordering by 1 column?
        var sort;
        if(dt_params.order.length > 0) {
            var order = dt_params.order[0]
            // TODO: figure out elegant mapping of column indexes to names
            if(order.column === 1) {
                sort = "entry_id";
            } else if(order.column === 3) {
                sort = "cat_or_lot_number";
            }
            if(sort) {
                sort += " " + order.dir;
            }
        }
        if(!sort) {
            sort = "entry_id desc";
        }

        // translate dataTables params into ones that Blacklight search expects
        var blacklight_params = {
            draw: dt_params.draw,
            page: (dt_params.start / dt_params.length) + 1,
            per_page: dt_params.length,
            utf8: String.fromCharCode(0x2713),
            search_field: "advanced",
            sort: sort
        };
        blacklight_params[$("select[name='search_field']").val()] = $("input[name='search_value']").val();
        return blacklight_params;
    };
    
    var table = $('#search_results').DataTable({
        ajax: function (data, callback, settings) {
            $("#spinner").show();
            $.ajax({
                url: '/admin_search.json',
                data: datatable_params_to_blacklight_params(data),
                success: function(data, textStatus, jqXHR) {
                    if(!data.error) {
                        $(".dataTables_scrollBody").scrollTop(0);
                        // when paging, we probably don't want to reset horiz scroll
                        // $(".dataTables_scrollBody").scrollLeft(0);
                        callback(data);
                    } else {
                        alert("An error occurred fetching search results: " + data.error);
                    }
                },
                error: function() {
                    // TODO: fill this out
                    alert("An error occurred fetching search results");
                },
                complete: function() {
                    $("#spinner").hide();
                }
            });
        },
        columnDefs: [
            {
                "targets": 0,
                "data": null,
                "render": function (data, type, full, meta) {
                    return '<a href="/entries/' + full[1] + '" target="_blank">View</a>' +
                        ' <a href="/entries/' + full[1] + '/edit" target="_blank">Edit</a>' +
                        ' <a href="/TODO" target="_blank">Delete</a>';
                }
            }
        ],
        language: {
            "emptyTable": "No records found for search query."
        },
        lengthMenu: [50, 100, 200, 500],
        order: [[ 1, "desc" ]],
        scrollX: true,
        scrollY: (getViewportHeight() - table_height_buffer) + "px",
        scrollCollapse: true,
        // extensions get activated via sDom codes
        sDom: 'C<"clear"><"H"lr>JRt<"F"ip>',
        serverSide: true
    });

    // this extension for fixed columns tends to mess up table redraws
    // (col headers get misaligned with col data), so we've disabled
    // it for now...
    /*
    new $.fn.dataTable.FixedColumns(table, {
        "leftColumns": 2
    });
    */
    
    $('#search_results tbody').on('click', 'tr', function (event) {
        // don't select if a link inside table was clicked
        if(event.target.tagName !== 'A') {
            $(event.currentTarget).toggleClass('selected');
        }
    });

    $('#search_submit').click(function() {
        table.ajax.reload();
    });

    $('#width-toggle').click(function() {
        var old_class, new_class;
        if($("#main-container").hasClass("container")) {
            old_class = "container";
            new_class = "container-fluid";
        } else {
            old_class = "container-fluid";
            new_class = "container";
        }
        $("#main-container").removeClass(old_class);
        $("#main-container").addClass(new_class);
        return false;
    });
    
    // TODO: this doesn't work
    // $(window).bind('resize', function () {
    //     console.log("RESIZED!");
    //     var NewHeight = getViewportHeight() - table_height_buffer;
    //     var oSettings = table.settings();
    //     console.log(table.settings());
    // next line is wrong: figure out where scrollY is stored?
    //     oSettings.oScroll.sY = NewHeight + "px";
    //     table.fnDraw();
    // });

});

</script>
<% end %>

<form class="form-horizontal">
    <div class="row form-group">
        <label class="col-sm-1 control-label" style="text-align: left">Search</label>
        <div class="col-sm-4">
            <input class="form-control" name="search_value" value="" size="70" type="text">
        </div>
        <div class="col-sm-2">
            <select class="form-control" name="search_field">

            <%- search_fields_for_advanced_search.each do |key, field_def| -%>
            <div class="form-group advanced-search-field">
                <option value="<%= key %>"><%= field_def.label %></option>
            </div>
            <%- end -%>

            </select>
        </div>
        <div class="col-sm-1">
            <button id="search_submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-sm-1">
            <img id="spinner" style="display: none;" src="<%= asset_path "spinner.gif" %>"/>
        </div>
        <div class="col-sm-2">
        </div>
        <div class="col-sm-1" style="text-align: right">
            <a href="#" id="width-toggle">Expand</a>
        </div>
    </div>
</form>

<table id="search_results" class="table table-striped table-bordered" width="100%" cellspacing="0">
    <thead>
        <tr>
            <!-- TODO: figure out how to get datatables to initialize
            with reasonable static widths; widget seems to
            automatically resize for data, which is not what we
            want. this might require dynamically resizing after init
            is finished? 
              -->
            <th>Actions</th>
            <th width="50">ID</th>
            <th>Manuscript</th>
            <th width="200">Source</th>
            <th width="80">Cat or Lot #</th>
            <th width="80">Entry Date</th>
            <th>Seller Agent</th>
            <th>Seller</th>
            <th>Buyer</th>
            <th>Sold</th>
            <th>Price</th>
            <th width="200">Title</th>
            <th width="200">Author</th>
            <th width="200">Date</th>
            <th width="200">Artist</th>
            <th width="200">Scribe</th>
            <th width="200">Language</th>
            <th width="200">Material</th>
            <th width="200">Use</th>
            <th>Folios</th>
            <th width="70">Columns</th>
            <th width="60">Lines</th>
            <th width="60">Height</th>
            <th width="60">Width</th>
            <th width="60">Alt Size</th>
            <th width="60">Min Fl</th>
            <th width="60">Min Lg</th>
            <th width="60">Min Sm</th>
            <th width="60">Min Un</th>
            <th width="60">Init Hist</th>
            <th width="60">Init Dec</th>
            <th width="60">Binding</th>
            <th width="60">URL</th>
            <th width="60">Other Info</th>
            <th>Provenance</th>
            <th width="60">Added On</th>
            <th width="60">Added By</th>
            <th width="60">Last Modified</th>
            <th width="60">Last Modified By</th>
            <th width="60">Is Approved</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
