<%# unforunately, this is slightly modified copy of blacklight.html.erb; there's no way to shoehorn 'ng-app' into that layout -%>
<!DOCTYPE html>
<html lang="en" class="no-js" data-ng-app="sdbmApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    
    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(:format => 'xml') %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "extras" %>
    <% if Rails.env.development? || Rails.env.staging? %>
      <%= javascript_include_tag "development" %>
    <% end %>
    <!-- disable animations when running tests -->
    <% if Rails.env.test? %>
      <style type="text/css">
        div, a, span, footer, header, ul, .modal, .modal-title, .fade, .collapse, .modal-open {
            -webkit-transition: none !important;
            -moz-transition: none !important;
            -ms-transition: none !important;
            -o-transition: none !important;
            transition: none !important;
        }
/*        div.modal.fade.ng-isolate-scope.in {
          display: none !important;
        }*/

        .modal-backdrop, .fade {
          display: none !important;
        }
        .fade.in {
          display: block !important;
        }
      </style>
      <script type='text/javascript'>
        $(".fade").removeClass("fade");
      </script>
    <%end%>

    <%= csrf_meta_tags %>
    <%= content_for(:head) %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>
  <body data-spy="scroll" data-target="#entry_breadcrumbs" data-offset="50" class="<%= render_body_class %>">
  <% if current_user %>
    <%= render partial: 'shared/control_panel' %>
  <% end %>

  <div class="main-content bookmarks-collapse collapse <%= current_user ? '' : 'in' %>">
    <%= render :partial => 'shared/header_navbar' %>

    <%# this is from blacklight %>
    <%= render partial: 'shared/ajax_modal' %>

    <div id="main-container" class="container">
      <%= render :partial=>'/flash_msg', layout: 'shared/flash_messages' %>

      <div class="row">
        <div class="col-sm-12">
          <%= yield %>
        </div>
      </div>
    </div>
    <%# this is SDBM-specific modal code %>
    <%= render :partial => 'shared/modal' %>
    
    <%= render :partial => 'shared/footer' %>
  </div>
  <%# if request.path != "/bookmarks" && current_user %>
    <!--<div class="sidebar bg-primary bookmarks-collapse collapse"  ng-controller="ManageBookmarks">
      <%#= render partial: "bookmarks/navbar" %>
        <%#= render partial: "/shared/my_bookmarks" %>
    </div>-->
  <%# end %>
  <div class="alerts-absolute"></div>
  </body>
</html>
