<% url = @model.persisted? ? account_path(@model) : accounts_path %>
<%= form_for(@model, url: url, html: { class: "form-horizontal" }) do |f| %>
  <%= render partial: "errors" %>

  <div class="field form-group row">
      <%= f.label :username, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
          <%= f.text_field :username, :class => 'form-control' %>
      </div>
  </div>
  <div class="field form-group row">
      <%= f.label :fullname, "Full Name", class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
          <%= f.text_field :fullname, :class => 'form-control' %>
      </div>
  </div>
  <div class="field form-group row">
      <%= f.label :institutional_affiliation, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
          <%= f.text_field :institutional_affiliation, :class => 'form-control' %>
      </div>
  </div>
  <div class="field form-group row">
      <%= f.label :email, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
          <%= f.email_field :email, :class => 'form-control' %>
      </div>
  </div>
  <div class="field form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4 checkbox">
          <label>
              <%= f.check_box :email_is_public %> Email address is publicly visible
          </label>
      </div>
  </div>
  <div class="field form-group row">
      <%= f.label :password, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
          <%= f.password_field :password, :class => 'form-control' %>
      </div>
      <div class="col-sm-4 label-alignment">
          Leave blank to leave password unchanged
      </div>
  </div>
  <div class="field form-group row">
      <%= f.label :password_confirmation, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
          <%= f.password_field :password_confirmation, :class => 'form-control' %>
      </div>
  </div>
  <div class="field form-group row">
      <%= f.label :bio, class: "col-sm-2 control-label" %>
      <div class="col-sm-4">
          <%= f.text_area :bio, :class => 'form-control' %>
      </div>
  </div>
  <div class="field form-group row">
      <%= f.label :role, class: "col-sm-2 control-label" %>
      <div class="col-sm-2">
          <%= f.collection_select :role, User::ROLES, :to_s, :to_s, {}, { :class => 'form-control' } %>
      </div>
  </div>
  <div class="field form-group row">
      <%= f.label :active, "Active", class: "col-sm-2 control-label" %>
      <div class="col-sm-4 checkbox">
          <label>
              <%= f.check_box :active %> User is allowed to log in
          </label>
      </div>
  </div>
  <div class="actions row">
      <div class="col-sm-4 col-sm-offset-2">
          <%= f.submit :class => 'btn btn-primary' %>
      </div>
  </div>
<% end %>
